<section id="create-franchise">
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>

  <!-- Блок с названием. -->
  <div class="gar-card row title-block" > 
    <div class="gar-row title">
      Название*
    </div>

    <!-- <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-5"> 
      <div class="file-input-wrapper">
        <label class="form-label">Логотип</label>
        <input type="file" (change)="uploadFranchiseLogoAsync($event)" id="franchise-logo" class="form-control d-none" />
        <label for="franchise-logo" style="height: 70px; font-size: 2.25rem; border-radius: 10px;" class="form-control d-flex align-items-center justify-content-center">
          <img src="./../../../../assets/images/plus.svg" alt="gobizy plus icon" />
        </label>
      </div>  
    </div> -->

    <div class="gar-card">
      <div class="block-two">
        <!-- <label class="form-label">Название</label><br> -->
        <!-- <input type="text" class="control-big-input" pInputText placeholder="Название" [(ngModel)]="logoName"
          name="logoName" />  -->
        <gar-input-text [(ngModel)]="userName" title="Название франшизы"></gar-input-text> 
      </div>
      <hr class="hr">
    </div>
      
  </div>

  <!-- Блок с галереей. -->
  <div class="car-card row photos">
 
    <div class="gar-row title">Фотографии</div>
    <gar-img-uploader (upload)="uploadImages($event)"></gar-img-uploader>

    <div class="gar-card block-gallery">
        <div class="w-100">
          <!-- <span *ngIf="!aNamesFranchisePhotos.length">Фотографии не загружены</span> -->
          <div class="gar-row" *ngIf="!aNamesFranchisePhotos.length">Фотографии не загружены</div>
          <p-galleria [(value)]="aNamesFranchisePhotos" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '100%'}" [numVisible]="4" thumbnailsPosition="left">
            <ng-template pTemplate="item" let-item>
              <img src="{{item}}" />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item *ngIf="aNamesFranchisePhotos.length > 1">
              <div class="p-grid p-nogutter p-justify-center">
                <img src="{{item}}" />
              </div>
            </ng-template>
          </p-galleria>
        </div>
    </div>

     <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 photos-contact">
      <div>
        <h6>Ваша карточка для связи</h6>
        <strong>{{fio}}</strong>

        <div>
          <label>Пример: владелец ННН</label><br>
          <input type="text" class="control-input-gallery" pInputText placeholder="Пример: владелец" [(ngModel)]="lead"
            name="lead" />
        </div>

        <div class="photos-buttons">
          <p-button label="Стать франчайзи онлайн через гарант" styleClass="p-button-link" [disabled]="true"></p-button>
          <p-button label="Начать чат с представителем" styleClass="control-button-blue" [disabled]="true"></p-button>
        </div>
      </div>
    </div>  -->
  </div>

  <!-- Ключевые финансовые данные. -->
  <div class="gar-grid_wrap">
    <div class="gar-row title">Ключевые финансовые данные*</div>
    <div class="gar-row financial">
    <div class="gar-row box">
    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Общие инвестиции</strong>
        <span>включая паушальный взнос</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="generalInvest"
            name="generalInvest" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Паушальный взнос</strong>
        <span>зависит от выбранного пакета</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="lumpSumPayment"
            name="lumpSumPayment" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Роялти</strong>
        <span>от валовой выручки</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="royalty" name="royalty" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>
    </div>
    <div class="gar-row box">
    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Окупаемость</strong>
        <span>средняя и планируемая</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="payback" name="payback" />
          <span class="ms-2">мес.</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Месячная прибыль</strong>
        <span>планируемая чистая прибыль</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="profitMonth"
            name="profitMonth" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Срок запуска</strong>
        <span>средний срок открытия бизнеса</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="launchDate"
            name="launchDate" />
          <span class="ms-2">дн.</span>
        </div>
      </div>
    </div>
    </div>
  </div>

      <hr class="hr">

  </div>

  <!-- Основная информация о компании. -->
  <section class="section"> 
    <div class="gar-grid main"> 
  
        <div class="gar-grid main-info">
          <div class="gar-card textarea">
        <div class="gar-row title">Краткая информация о франшизе*</div>
        <div class="gar-row item">Описание деятельности</div>
        <textarea class="control-textarea" pInputTextarea [autoResize]="true"
          placeholder="Опишите деятельность" [(ngModel)]="activityDetail"></textarea>
          </div>
      
          <!-- Дополнительные факты. -->
          <div class="gar-card additional-facts">   
        <div class="gar-row title-item additional-item">Дополнительные факты*</div>
        <span>0 из 4</span>
        <div class="gar-grid additional">

            <div class="gar-card additional-facts-block">
              <label>Год основания</label><br>
              <span>компании</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="baseDate"
                name="baseDate" />
            </div>



            <div class="gar-card additional-facts-block">
              <label>Год запуска</label><br>
              <span>франчайзинга</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="yearStart"
                name="yearStart" />
            </div>



            <div class="gar-card additional-facts-block">
              <label>Количество точек</label><br>
              <span>в России</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="dotCount"
                name="dotCount" />
            </div>



            <div class="gar-card additional-facts-block">
              <label>Собственных</label><br>
              <span>предприятий</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="businessCount"
                name="businessCount" />
            </div>

        </div>
          </div>
        </div>
          <div class="gar-card right">
          <h6>Входит в инвестиции*</h6>
          <span>1 из 10</span>
          <div class="main-info-form" *ngFor="let item of ainvestIn">
          <div>
            <label>Стоимость</label><br>
            <input type="number" class="control-input-franch-price" pInputText *ngIf="item.isHideInvest"
            [value]="item.Price" name="priceInvest" placeholder="- ₽" />
            <input type="number" class="control-input-franch-price" pInputText *ngIf="!item.isHideInvest"
            [(ngModel)]="priceInvest" name="priceInvest" placeholder="- ₽" />
          </div>

            <!-- <gar-input-number mode="currency" title="" [(ngModel)]="priceInvest"></gar-input-number>  -->

        <div>
          <label>Название</label><br>
          <input type="text" class="control-input-name" placeholder="Пример: оборудование" pInputText
            *ngIf="item.isHideInvest" [value]="item.Name" name="nameInvest" />
          <input type="text" class="control-input-name" placeholder="Пример: оборудование" pInputText
            *ngIf="!item.isHideInvest" [(ngModel)]="nameInvest" name="nameInvest" />
        </div>
        <div class="gar-card buttons">
          <gar-button class="button" role="primary" (click)="onAddInveest(priceInvest, nameInvest)">Добавить
            пункт</gar-button>
          <gar-button class="button">Удалить пункт</gar-button>
        </div>
      </div>
          </div>
          <p>Данный раздел обязателен для заполнения. Подойдите к заполнению данного раздела тщательно, так как при продаже
          онлайн через сервис гарант данные разделы способствуют разбиению на этапы.</p>

    </div>
  <hr class="hr">
  </section>

  <!-- Описание особенности франшизы. -->
  <div class="gar-card row franchise-specifications">
    <div class="gar-row title page">Описание особенности франшизы</div>
    <div class="gar-card">
      <div class="franchise-specifications-block">
        <div>
          <input type="text" class="franch-details" placeholder="Укажите ключевую особенность в 1-2 предложения"
            pInputText [(ngModel)]="featureFranchise" name="featureFranchise" />
        </div>

        <div class="d-flex flex-column">
          <strong>Прикрепить финансовую модель .xlsx</strong>
          <span class="size">до 5 мб</span>
          <input type="file" (change)="uploadFinModelAsync($event)" id="attach-file" class="d-none" />
          <label for="attach-file" class="d-flex align-items-center">
            <span class="me-2">
              <img src="../../../../assets/images/franchise-pages/attach.svg" alt="gobizy attach file icon" />
            </span>
            <span>Прикрепить</span>
          </label>
        </div>
      </div>

      <div>
        <p>Вы можете не загружать финансовую модель, однако это может повредить доверию. Если вы не хотите загружать
          презентацию, просто пропустите данный этап.</p>
      </div>
    </div>
      <hr class="hr">
  </div>

  <!-- Основная информация о франшизе. -->
  <div class="gar-card row main-franchise-info">
    <div class="gar-card franchise-info">
      <div>
        <h6>Основная информация о франшизе*</h6>
        <span>Описание франшизы</span>
        <!-- Блок с 6 иконками -->
        <div class="gar-row icons">
          <div class="gar-card icon">&#x392;</div>
          <div class="gar-card icon">&#x192;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x25C4;</div>
          <div class="gar-card icon">&#x25BA;</div>
        </div>
        <div>
          <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
            placeholder="Опишите франшизу" [(ngModel)]="defailsFranchise" name="defailsFranchise"></textarea>
        </div>
        <!-- Блок загрузить фото -->
        <div class="gar-card photo-upload">
          <gar-button role="secondary" class="cross">&#x2716;</gar-button>
        </div>
      </div>
    </div>
    <div class="gar-card present">
      <div class="form">
        <h6>Добавить презентацию</h6>
        <div class="block-details-franch d-flex flex-column">
          <strong>Прикрепить документ .pdf</strong>
          <span>до 20 мб</span>
          <input type="file" (change)="uploadPresentAsync($event)" id="upload-present-async" class="d-none">
          <label for="upload-present-async" class="d-flex align-items-center">
            <span class="me-2">
              <img src="../../../../assets/images/franchise-pages/attach.svg" alt="gobizy attach file icon" />
            </span>
            <span>Прикрепить</span>
          </label>
        </div>
      </div>
        <p>Загружать презентацию не обязательно. Однако, это способствует повышению конверсии и глубинной
          заинтересованности в проекте. Если вы не хотите загружать презентацию, просто пропустите данный этап.</p>
    </div>

      <hr class="hr">
  </div>

  <!-- Пример расчета прибыли. -->
<section class="section">
  <div class="row income-calculation">
  
    <div class="gar-card">
      <div>
        <h6>Пример расчета прибыли*</h6>
        <span>Описание расчета</span>
        <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
          placeholder="Опишите расчет" [(ngModel)]="paymentDetails" name="paymentDetails"></textarea>
      </div>
    </div>

    <!-- Ключевые финансовые показатели. -->
    <div class="gar-card">
      <div class="block-details-franch">
        <div class="gar-row">Ключевые финансовые показатели</div>
        <div class="gar-card top-form">
          <label>Название</label>
          <!-- <input type="text" placeholder="Пример: расчет прибыль 1 кофейни" pInputText [(ngModel)]="namesIndicators"
            name="namesIndicators" /> -->
            <gar-input-text title="Пример: расчет прибыль 1 кофейни" pInputText [(ngModel)]="namesIndicators"></gar-input-text>
        </div>

        <div class="gar-row box-wrapper">
          <div class="gar-card top-form-card">
            <div class="fin-indicator-first">
              <div>
                <label>Например: средний чек</label>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator1" name="finIndicator1" />
                  <!-- <gar-input-text class="input-price" title="Название" [(ngModel)]="finIndicator1"></gar-input-text> -->
              </div>

              <div>
                <label>Процент или финансы</label>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial1" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <label>Например: рентабельность</label>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator2" name="finIndicator2" />
              </div>

              <div>
                <label>Процент или финансы</label>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial2" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <label>Например: средняя выручка</label>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator3" name="finIndicator3" />
              </div>

              <div>
                <label>Процент или финансы</label>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial3" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <label>Например: товарная наценка</label>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator4" name="finIndicator4" />
              </div>

              <div>
                <label>Процент или финансы</label>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial4" name="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <hr class="hr">
      </div>
    </div>
  </div>
</section>
  <!-- Обучение и поддержка. -->
  <section>
    <!-- <div class="row education-and-support"> -->
    <div class="gar-card">
      <div class="gar-row title">Обучение и поддержка*</div>
      <span>Описание обучения</span>
      <div class="gar-card">
        <!-- Блок с 6 иконками -->
        <div class="gar-row icons">
          <div class="gar-card icon">&#x392;</div>
          <div class="gar-card icon">&#x192;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x25C4;</div>
          <div class="gar-card icon">&#x25BA;</div>
        </div>
        <textarea class="control-textarea-franch" pInputTextarea [autoResize]="true"
          placeholder="Опишите обучение" [(ngModel)]="educationDetails" name="educationDetails"></textarea>
      </div>

      <!-- <div class="upload-file-education"> -->
      <div class="gar-card">
        <label>Добавить фотографию</label>
        <input type="file" (change)="uploadEducationPhotosAsync($event)" id="upload-file-education" class="form-control" />
        <!-- <div>
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"></p-fileUpload>
        </div> -->
      </div>
    </div>
      <hr class="hr">
    <!-- </div> -->
  </section>
  <!-- Пакеты франшизы. -->
  <div class="row franchise-packages">
    <div class="gar-card">
      <div class="gar-row icons">
        <!-- <div class="align-items-center"> -->
          <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
          <label for="packs" class="control-label-checkbox">Пакеты франшизы</label>
        <!-- </div> -->
      </div>

      <p>Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет пакетов вы можете отключить
        данный раздел галочкой слева от названия.</p>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 package" *ngFor="let item of aPacks">
      <!-- Блок с пакетами франшизы. -->
      <div class="franchise-packages-block">
        <div class="d-flex">
          <div class="block-pack">
            <div class="block-top-pack">
              <div>
                <input type="text" class="control-big-input" pInputText
                  placeholder="Название пакета, например: “Базовый”" [value]="item.Name" *ngIf="item.IsHidePack"
                  name="packName" />
                <input type="text" class="control-big-input" pInputText
                  placeholder="Название пакета, например: “Базовый”" *ngIf="!item.IsHidePack" [(ngModel)]="packName"
                  name="packName" />
              </div>

              <div>
                <div class="d-flex justify-content-between">
                  <span>
                    <img src="../../../../assets/images/franchise-pages/tick.svg" alt="gobizy tick icon" />
                  </span>
                  <input type="text" class="control-big-input" pInputText placeholder="Описание" [value]="item.Text"
                    *ngIf="item.IsHidePack" name="packDetails" />
                  <input type="text" class="control-big-input" pInputText placeholder="Описание" [(ngModel)]="packDetails"
                    *ngIf="!item.IsHidePack" name="packDetails" />
                </div>

                <div class="mt-3 d-grid">
                  <button class="btn btn-primary">Добавить пункт</button>
                </div>
              </div>
            </div>

            <div class="block-bottom-pack">
              <div>
                <label class="title-small">Паушальный взнос:</label><br>
                <input type="text" class="control-big-input" pInputText [value]="item.LumpSumPayment"
                  *ngIf="item.IsHidePack" name="packLumpSumPayment" placeholder="₽" />
                <input type="text" class="control-big-input" pInputText [(ngModel)]="packLumpSumPayment"
                  *ngIf="!item.IsHidePack" name="packLumpSumPayment" placeholder="₽" />
              </div>

              <div>
                <label class="title-small">Роялти:</label><br>
                <input type="text" class="control-big-input" pInputText [value]="item.Royalty" *ngIf="item.IsHidePack"
                  name="royaltyPack" placeholder="%" />
                <input type="text" class="control-big-input" pInputText [(ngModel)]="royaltyPack"
                  *ngIf="!item.IsHidePack" name="royaltyPack" placeholder="%" />
              </div>

              <div>
                <label class="title-small">Всего инвестиций:</label><br>
                <input type="text" class="control-big-input" pInputText [value]="item.Royalty" *ngIf="item.IsHidePack"
                  name="totalInvest" placeholder="₽" />
                <input type="text" class="control-big-input" pInputText [(ngModel)]="totalInvest"
                  *ngIf="!item.IsHidePack" name="totalInvest" placeholder="₽" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="add-package">
        <button class="add-package-button"
          (click)="onAddPack(packName, packDetails, packLumpSumPayment, royaltyPack, totalInvest)">Добавить
          пакет</button>
      </div>
    </div>

    <div class="col-12">
      <hr class="hr">
    </div>
  </div>

  <!-- Видео о франшизе. -->
  <div class="row franchise-video-section">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 title-section">
      <div class="p-field-checkbox control-checkbox">
        <div class="d-flex align-items-center">
          <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
          <label for="packs" class="control-label-checkbox">Видео о франшизе</label>
        </div>
      </div>
    </div>

    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
      <p>Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет видео вы можете отключить
        данный раздел галочкой слева от названия. Однако видео положительно влияет на вовлеченность.</p>
    </div>

    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
      <div class="video-link">
        <label>Ссылка на видео</label><br>
        <input type="text" class="control-big-input" placeholder="https://" pInputText [(ngModel)]="videoLink"
          name="videoLink" />
      </div>
    </div>

    <div class="col-12">
      <hr class="hr">
    </div>
  </div>

  <!-- продажа через гарант. -->
  <div class="row sale-through-garant">
    <div class="col-xxl-8 col-xl-8 col-lg-12">
      <div class="switch-garant">
        <span>
          <strong>Продажа через гарант</strong>
          <span>?</span>
        </span>
        <p-inputSwitch [(ngModel)]="isGarant" (click)="onCheckedGarant()"></p-inputSwitch>
      </div>
    </div>

    <div class="col-xxl-8 col-xl-8 col-lg-12">
      <div class="d-flex buttons">
        <div>
          <button class="control-button-white">Отменить и сохранить в черновиках</button>
        </div>

        <div class="block-two">
          <button class="control-button-blue" (click)="onCreateFranchiseAsync()">Оплатить размещение и
            опубликовать</button>
        </div>
      </div>
    </div>
  </div>
</section>
