<section class="card service">
  <div
    [ngClass]="{ 'container-fluid': isLaptop || isHD || isFullHD }"
    class="service-any-root"
  >
    <div class="row service-any-row">
      <div
        class="service-any-img"
        [ngClass]="{
          'is-laptop': isLaptop,
          'col-lg-5': isLaptop,
          'col-xl-7': isHD,
          'col-xxl-5': isFullHD
        }"
      >
        <ng-container *ngIf="!isSmall">
          <img
            class="img-fluid service-img service-img--large"
            src="../../../../assets/images/franchise-landing/desk.png"
            alt="Стол"
          />
        </ng-container>
        <ng-container *ngIf="isSmall">
          <img class="img-fluid service-img service-img--small" src="" alt="" />
        </ng-container>
      </div>
      <div
        class="service-content"
        [ngClass]="{
          'is-hd': isHD,
          'is-laptop': isLaptop,
          'is-sm': isSmall,
          'col-lg-7': isLaptop,
          'col-xl-5': isHD,
          'col-xxl-7': isFullHD
        }"
      >
        <div class="card-body service-body" [ngClass]="{ 'is-sm': isSmall }">
          <h5
            class="card-title service-title"
            [ngClass]="{
              'is-sm': isSmall,
              'is-laptop': isLaptop,
              'is-hd': isHD
            }"
          >
            Создание
          </h5>
          <div
            class="card-text service-subtitle"
            [ngClass]="{
              'is-sm': isSmall,
              'is-laptop': isLaptop,
              'is-hd': isHD
            }"
          >
            и упаковка франшиз
          </div>
          <div class="card-text service-subtitle-note" *ngIf="!isSmall">
            с бесплатным размещением в каталоге
          </div>
          <div
            class="card-text service-subtitle-note"
            *ngIf="isSmall"
            [ngClass]="{ 'is-sm': isSmall }"
          >
            с бесплатным <br />
            размещением в каталоге
          </div>
          <button
            class="btn btn-primary service-button"
            [ngClass]="{ 'is-sm': isSmall, 'is-hd': isHD }"
          >
            Бесплатная консультация
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Секция статистика по достигнутым результатам -->
<section
  class="statistics"
  [ngClass]="{ 'is-hd': isHD, 'is-laptop': isLaptop }"
>
  <div class="row statistics__gallery">
    <div
      class="statistics__item"
      [ngClass]="{
        'md-item': isSmall || isLaptop || isHD,
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'80'"
        [cTitle]="'франшиз'"
        [cSubtitle]="'упаковали'"
        [cText]="'и создали с нуля'"
      ></app-statistics-card>
    </div>
    <div
      class="statistics__item"
      [ngClass]="{
        'md-item': isSmall || isLaptop || isHD,
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'25'"
        [cTitle]="'сфер бизнеса'"
        [cSubtitle]="'проработано'"
        [cText]="'за время работы'"
      ></app-statistics-card>
    </div>
    <div
      class="statistics__item"
      [ngClass]="{
        'md-item': isSmall || isLaptop,
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'60 млн'"
        [cTitle]="'заработали'"
        [cSubtitle]="'клиентам после'"
        [cText]="'создания франшиз'"
      ></app-statistics-card>
    </div>
    <div
      class="statistics__item"
      [ngClass]="{
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'14'"
        [cTitle]="'человек будут'"
        [cSubtitle]="'работать над вашим'"
        [cText]="'проектом'"
      ></app-statistics-card>
    </div>
  </div>
</section>
<!-- Компонент обратной связи -->
<app-feedback
  *ngIf="!isSmall"
  [title]="'Азамат Булатов'"
  [subtitle]="'сооснователь проекта'"
  [tooltip]="'Лично ответственный за каждую упакованную франшизу'"
  [imagePath]="
    '../../../../assets/images/franchise-landing/template_person6 1.png'
  "
  [bgColor]="'rgba(0, 0, 0, 0.9)'"
  [isBgColor]="true"
  [hasConsultant]="false"
></app-feedback>
<app-feedback
  *ngIf="isSmall"
  [title]="'Азамат Булатов'"
  [subtitle]="'сооснователь проекта'"
  [tooltip]="'Лично ответственный за каждую упакованную франшизу'"
  [imagePath]="
    '../../../../assets/images/franchise-landing/template_person6 1.png'
  "
  [bgColor]="'rgba(0, 0, 0, 0.9)'"
  [isBgColor]="true"
  [hasConsultant]="true"
></app-feedback>
<!-- Секция совершения сделки -->
<section
  class="creating-deal"
  [ngClass]="{ 'is-sm': isSmall, 'is-laptop': isLaptop, 'is-hd': isHD }"
>
  <h5 class="alert alert-light creating-deal-section-title">
    4 простых шага для безопасной сделки онлайн
  </h5>
  <div class="row creation-deal-any-row">
    <div
      class="creating-deal-any-card"
      [ngClass]="{
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <div class="card creating-deal-card">
        <div class="card-header creating-deal-card-header">
          <img
            class="card-img-top creating-deal-img"
            src="../../../../assets/images/service-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body creating-deal-content">
          <div class="card-text creating-deal-content-title">
            Бесплатное размещение<br />
            в каталоге
          </div>
          <div class="card-text creating-deal-content-subtitle">
            на срок от 3 до 12 месяцев.<br />
            срок размещения зависит от выбранного пакета
          </div>
          <div class="card-text creating-deal-content-body">
            После покупки любого из пакетов<br />
            вы получите бесплатное<br />
            размещение в сервисе.
          </div>
          <button
            class="btn btn-dark creating-deal__action"
            routerLink="/catalog-franchise"
          >
            Упаковать франшизу
          </button>
        </div>
      </div>
    </div>
    <div
      class="creating-deal-any-card"
      [ngClass]="{
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <div class="card creating-deal-card">
        <div class="card-header creating-deal-card-header">
          <img
            class="card-img-top creating-deal-img"
            src="../../../../assets/images/service-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body creating-deal-content">
          <div class="card-text creating-deal-content-title">
            Книга продаж и обучение<br />
            вашего менеджера
          </div>
          <div class="card-text creating-deal-content-subtitle">
            в любом выбранном пакете, вне зависимости<br />
            от стоимости
          </div>
          <div class="card-text creating-deal-content-body">
            Помощь с обучением вашего<br />
            менеджера, составление<br />
            книги продаж
          </div>
          <button
            class="btn btn-dark creating-deal__action"
            routerLink="/catalog-franchise"
          >
            Обучить менеджера
          </button>
        </div>
      </div>
    </div>
    <div
      class="creating-deal-any-card"
      [ngClass]="{
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <div class="card creating-deal-card">
        <div class="card-header creating-deal-card-header">
          <img
            class="card-img-top creating-deal-img"
            src="../../../../assets/images/service-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body creating-deal-content">
          <div class="card-text creating-deal-content-title">
            Проверка<br />
            товарного знака
          </div>
          <div class="card-text creating-deal-content-subtitle">
            полная и оперативная проверка<br />
            товарного знака
          </div>
          <div class="card-text creating-deal-content-body">
            Бесплатная и быстрая<br />
            проверка товарного знака<br />
            франшизы
          </div>
          <button
            class="btn btn-dark creating-deal__action"
            routerLink="/catalog-franchise"
          >
            Начать сделку
          </button>
        </div>
      </div>
    </div>
    <div
      class="creating-deal-any-card"
      [ngClass]="{
        'col-lg-6': isLaptop || isHD,
        'col-xl-3': isFullHD
      }"
    >
      <div class="card creating-deal-card">
        <div class="card-header creating-deal-card-header">
          <img
            class="card-img-top creating-deal-img"
            src="../../../../assets/images/service-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body creating-deal-content">
          <div class="card-text creating-deal-content-title">
            Функция управляющей<br />
            компании
          </div>
          <div class="card-text creating-deal-content-subtitle">
            Отдельный пакет по упаковке<br />
            с полным делегированием
          </div>
          <div class="card-text creating-deal-content-body">
            Все функции по продаже и<br />
            открытию франшиз мы возьмем<br />
            на себя
          </div>
          <button
            class="btn btn-dark creating-deal__action"
            routerLink="/catalog-franchise"
          >
            Нанять УК
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Наше предложение-->
<app-business-list *ngIf="!isSmall"></app-business-list>
<!-- Гарант -->
<app-garant></app-garant>
<!--  -->
<!-- Секция пакеты услуг -->
<section
  class="package"
  [ngClass]="{ 'is-sm': isSmall, 'is-laptop': isLaptop }"
>
  <h5 class="alert alert-light package-common-title">
    Пакеты на создание франшиз упаковки
  </h5>
  <div [ngClass]="{ row: !isSmall }" class="package-root">
    <div class="package-any-list">
      <div class="card package-list">
        <img
          class="package-img img-fluid"
          src="../../../../assets/images/franchise-landing/fast-start 1.png"
          alt="Пакет из 7 инструментов"
        />
        <div class="card-header package-title package-title--dark">
          Пакет "Быстрый старт"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            Если у Вас за порогом стоит потенциальный<br />
            покупатель или Вы хотите просто<br />
            протестировать нишу, то этот пакет именно для<br />
            Вас!
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Аудит бизнеса и анализ конкурентов
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка состава франшизы:<br />
              определение стоимости франшизы,<br />
              создание уникального предложения и<br />
              концепции франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка пакетов франшизы<br />
              и определение их стоимости
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Создание финансовой модели<br />
              франшизы (инвестиции в запуск,<br />
              доходность и окупаемость)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка договора коммерческой<br />
              концессии/лицензионный договор
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Презентация франшизы (маркетинг кит)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">Книга продаж Вашей франшизы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Обучение и аттестация Вашего<br />
              менеджера по продажам
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Внедрение CRM системы для аналитики<br />
              продаж франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Разработка фирменного стиля<br />
              компании
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Руководство по запуску франшизы<br />
              (франчбук)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Разработка стратегии: «Каналы продаж<br />
              франшизы»
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Настройка рекламной компании, для<br />
              запуска продаж Вашей франшизы либо<br />
              размещение в ТОП-овом каталоге<br />
              франшиз;
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Внедрение системы записи звонков
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Контроль качества звонков менеджера,<br />
              нашим руководителем отдела продаж
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Совместная обработка звонков<br />
              и возникших вопросов<br />
              у клиента
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">Настройка CRM-системы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Гарантированное сопровождение и<br />
              доведение до первых продаж<br />
              франшизы;
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок:</span>
              <span class="package-total-result">20 рабочих дней</span>
            </li>
            <li
              class="list-group-item package-price-item"
              [ngClass]="{ 'is-sm': isSmall }"
            >
              <span class="package-total-note">Бесплатный бонус</span>
              <span class="package-total-result"
                >проверка торгового<br />
                знака</span
              >
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">350 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">
                Упаковать франшизу
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="package-any-list">
      <div class="card package-list">
        <img
          class="img-fluid"
          src="../../../../assets/images/franchise-landing/fast-start 2.png"
          alt="Пакет из 15 инструментов"
        />
        <div class="card-header package-title package-title--primary">
          Пакет "Франшиза под ключ"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            Этот пакет для Вас, если Вам нужен полный<br />
            комплекс услуг необходимых для продажи<br />
            франшизы и запуска вашего Вашего<br />
            франчайзи.
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Аудит бизнеса и анализ конкурентов
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка состава франшизы:<br />
              определение стоимости франшизы,<br />
              создание уникального предложения и<br />
              концепции франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка пакетов франшизы<br />
              и определение их стоимости
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Создание финансовой модели<br />
              франшизы (инвестиции в запуск,<br />
              доходность и окупаемость)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка договора коммерческой<br />
              концессии/лицензионный договор
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Презентация франшизы (маркетинг кит)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">Книга продаж Вашей франшизы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Обучение и аттестация Вашего<br />
              менеджера по продажам
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Внедрение CRM системы для аналитики<br />
              продаж франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка фирменного стиля<br />
              компании
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Руководство по запуску франшизы<br />
              (франчбук)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Разработка стратегии: «Каналы продаж<br />
              франшизы»
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Настройка рекламной компании, для<br />
              запуска продаж Вашей франшизы либо<br />
              размещение в ТОП-овом каталоге<br />
              франшиз;
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Внедрение системы записи звонков
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Контроль качества звонков менеджера,<br />
              нашим руководителем отдела продаж
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Совместная обработка звонков<br />
              и возникших вопросов<br />
              у клиента
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">Настройка CRM-системы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Гарантированное сопровождение и<br />
              доведение до первых продаж<br />
              франшизы;
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок:</span>
              <span class="package-total-result">30 рабочих дней</span>
            </li>
            <li
              class="list-group-item package-price-item"
              [ngClass]="{ 'is-sm': isSmall }"
            >
              <span class="package-total-note">Бесплатный бонус</span>
              <span class="package-total-result"
                >консультирование<br />
                в течение полугода</span
              >
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">480 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">
                Упаковать франшизу
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="package-any-list">
      <div class="card package-list">
        <img
          class="img-fluid"
          src="../../../../assets/images/franchise-landing/fast-start 3.png"
          alt="Пакет из 25 инструментов"
        />
        <div class="card-header package-title package-title--dark">
          Пакет "Доведение до продаж"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            В рамках пакета быстрый старт вы<br />
            получаете полностью упакованный<br />
            бизнес во франшизу + обученного<br />
            менеджера.
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Аудит бизнеса и анализ конкурентов
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка состава франшизы:<br />
              определение стоимости франшизы,<br />
              создание уникального предложения и<br />
              концепции франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка пакетов франшизы<br />
              и определение их стоимости
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Создание финансовой модели<br />
              франшизы (инвестиции в запуск,<br />
              доходность и окупаемость)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка договора коммерческой<br />
              концессии/лицензионный договор
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Презентация франшизы (маркетинг кит)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">Книга продаж Вашей франшизы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Обучение и аттестация Вашего<br />
              менеджера по продажам
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Внедрение CRM системы для аналитики<br />
              продаж франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка фирменного стиля<br />
              компании
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Руководство по запуску франшизы<br />
              (франчбук)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка стратегии: «Каналы продаж<br />
              франшизы»
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Настройка рекламной компании, для<br />
              запуска продаж Вашей франшизы либо<br />
              размещение в ТОП-овом каталоге<br />
              франшиз;
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Внедрение системы записи звонков
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Контроль качества звонков менеджера,<br />
              нашим руководителем отдела продаж
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Совместная обработка звонков<br />
              и возникших вопросов<br />
              у клиента
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">Настройка CRM-системы</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Гарантированное сопровождение и<br />
              доведение до первых продаж<br />
              франшизы;
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок:</span>
              <span class="package-total-result">35 рабочих дней</span>
            </li>
            <li
              class="list-group-item package-price-item"
              [ngClass]="{ 'is-sm': isSmall }"
            >
              <span class="package-total-note">Бесплатный бонус</span>
              <span class="package-total-result"
                >обучение вашего<br />
                менеджера</span
              >
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">750 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">
                Упаковать франшизу
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-feedback
  *ngIf="!isSmall"
  [title]="'Управляющая компания'"
  [subtitle]="'Особый пакет'"
  [tooltip]="'Условия обсуждаются индивидуально. От 1500р'"
  [imagePath]="'../../../../assets/images/franchise-landing/Layer_7_1 1.png'"
  [bgColor]="'rgba(0, 0, 0, 0.9)'"
  [isBgColor]="true"
  [hasConsultant]="false"
></app-feedback>
<app-feedback
  *ngIf="isSmall"
  [title]="'Управляющая компания'"
  [subtitle]="'Особый пакет'"
  [tooltip]="'Условия обсуждаются индивидуально. От 1500р'"
  [imagePath]="'../../../../assets/images/franchise-landing/Layer_7_1 1.png'"
  [bgColor]="'rgba(0, 0, 0, 0.9)'"
  [isBgColor]="true"
  [hasConsultant]="true"
></app-feedback>
<!-- Популярные франшизы -->
<ng-container>
  <div class="gar-carousel-title">Популярные франшизы</div>
  <gar-carousel
    [items]="aPopularFranchises"
    [template]="cardComponent"
  ></gar-carousel>
</ng-container>
<!-- Новые объявления готового бизнеса -->
<ng-container>
  <div class="gar-carousel-title">Новые объявления готового бизнеса</div>
  <gar-carousel
    [items]="aBusinessList"
    [template]="cardComponent"
  ></gar-carousel>
</ng-container>
<!-- Бизнес блог. -->
<app-business-blog *ngIf="isHD || isFullHD"></app-business-blog>
<!-- Мобильная версия Бизнес блог. -->
<ng-container *ngIf="isSmall || isLaptop">
  <div class="gar-carousel-title">Бизнес блог</div>
  <gar-carousel [items]="aBlogs" [template]="cardComponent"></gar-carousel>
  <div class="gar-carousel-button">
    Больше статей
    <div class="any-chevron">
      <svg
        _ngcontent-vyo-c133=""
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        class="bi bi-caret-right-fill category__redirect-icon"
      >
        <path
          _ngcontent-vyo-c133=""
          d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
        ></path>
      </svg>
    </div>
  </div>
</ng-container>
<!-- Компонент Новости -->
<app-news></app-news>
<!-- Списки категорий -->
<app-category-list></app-category-list>
