/*@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";*/
.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    padding-left: 64px;
    padding-right: 0;
  }
  &__description {
    padding: 0;
  }
  &__title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
  }
  &__business {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
  }
  &__franchise {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
    text-align: left;
  }
  &__btn-action {
    width: 305px;
    font-size: 20px;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .deal {
    padding-top: 32px;
    padding-bottom: 24px;
    &__location {
      display: block;
    }
    &__img-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 112px;
    }
    &__content {
      width: 100%;
      padding: 0;
    }
    &__description {
      padding-left: 24px;
      padding-right: 24px;
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
    &__business {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    &__franchise {
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 24px;
    }
    &__btn-action {
      width: 100%;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .deal {
      &.is-laptop &__img-wrapper {
        display: flex;
        justify-content: center;
      }
      &.is-laptop &__content {
        padding-left: 32px;
      }
      &.is-laptop &__title {
        font-size: 64px;
        line-height: 75px;
      }
      &.is-laptop &__business {
        font-size: 44px;
        line-height: 51.5px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .deal {
      &.is-hd &__content {
        padding-left: 44px;
      }
      &.is-hd &__title {
        font-size: 74px;
        line-height: 75px;
      }
      &.is-hd &__business {
        font-size: 44px;
        line-height: 52px;
      }
    }
  }
}

:host .statistics {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        position: relative;
        height: 150px;
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          top: 0;
          height: 100%;
          //font-size: 3.62vw;
          font-size: 96px;
          line-height: 112.5px;
        }
      }
      & .p-panel-content {
        height: 150px;
        border: none;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: 0 0 64px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  :host .statistics {
    &__item {
      margin-bottom: 16px;
      & ::ng-deep .p-panel {
        & .p-panel-header {
          height: 79.5px;
          & .p-panel-title {
            width: 105px;
            font-size: 32px;
            line-height: 37px;
          }
        }
        & .p-panel-content {
          height: 79.5px;
        }
      }
    }
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .statistics {
      &.is-laptop &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header {
            height: 170.5px;
          }
          & .p-panel-content {
            height: 170.5px;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    .statistics {
      &.is-hd &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header,
          & .p-panel-content {
            height: 150px;
          }
        }
      }
    }
  }
}

.checklist {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 48px;
    line-height: 38px;
    margin: 74px 0 32px;
  }
  &__header {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    height: 42px;
    font-size: 12px;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__description {
    height: 63px;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .checklist {
    &__head {
      font-size: 24px;
      line-height: 28px;
    }
    &__action {
      width: 100%;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {

  }
}

::ng-deep {
  @media all and (min-width: 1200px) {
    .checklist {
      &.is-hd &__title {
        font-size: 20px;
      }
      &.is-hd &__description {
        font-size: 15px;
      }
    }
  }
}

.packs {
  display: flex;
  gap: 24px;
  width: 1440px;
  height: 2869px;

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin-top: 80px;
    margin-bottom: 32px;
  }

  &-item {
    width: 463px;
    height: 2869px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      width: 463px;
      height: 76px;
      padding: 24px;
      border: 0;
      color: #ffffff;
      background-color: #1653b4;
      margin-bottom: 16px;
      text-align: start;
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 431px;
      height: 63px;
      line-height: 21px;
      color: #2c2c2c;
      margin: 0 16px 32px 16px;
    }

    &__list {
      width: 463px;
      height: 1730px;
      padding: 0;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin-left: 16px;
        margin-bottom: 32px;
      }
    }

    &__yes {
      display: inline-block;
      width: 56px;
      height: 56px;
      background: url(../../../../assets/images/franchise-landing/yes2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/yes1.png) center
          no-repeat;
    }

    &__no {
      display: inline-block;
      width: 56px;
      height: 56px;
      background: url(../../../../assets/images/franchise-landing/no2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/no1.png) center
          no-repeat;
    }

    &__tool {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 349px;
      line-height: 21px;
      color: #000000;
      margin-left: 26px;
      margin-right: 16px;
    }

    &-bottom {
      width: 463px;
      height: 326px;
      background-color: #f1f6ff;

      &__title {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-top: 24px;
        margin-left: 16px;
        margin-bottom: 33px;
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-left: 16px;
        margin-bottom: 33px;
      }

      &__price {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-left: 16px;
        margin-bottom: 33px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 21px;
        width: 431px;
        height: 61px;
        border: none;
        border-radius: 4px;
        padding: 20px 16px;
        margin: 0;
        background-color: #1f75fe;
        margin-left: 16px;
      }
    }
  }
}

.special {
  display: flex;
  gap: 172px;
  width: 1440px;
  height: 816px;
  border-radius: 24px;
  padding: 64px 117px 64px 64px;
  background-color: #1a1a1a;
  margin-top: 80px;

  &-content {
    width: 650px;
    height: 636px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      color: #ffffff;
      width: 650px;
      line-height: 112px;
      margin-bottom: 16px;
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
      width: 650px;
      line-height: 75px;
      margin-bottom: 16px;
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #dadada;
      width: 650px;
      line-height: 28px;
      margin-bottom: 48px;
    }

    &__inputs {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
    }

    &__label {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      color: #dadada;
      margin-bottom: 8px;
    }

    &__input {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      color: #7a7a7a;
      width: 291px;
      height: 69px;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 24px 40px 24px 24px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      line-height: 28px;
      width: 398px;
      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 24px 28px;
      margin: 0;
      background-color: #1f75fe;
    }
  }
}
