/*@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";*/

.creation-franchise {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img {
    margin-top: 67px;
  }
  &__title {
    font-size: 5vw;
    line-height: 112.5px;
    margin-bottom: 8px;
  }
  &__business {
    font-size: 3.33vw;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &__franchise {
    font-size: 1.25vw;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
  }
  &__btn-action {
    font-size: 1.25vw;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

::ng-deep {
  @media all and (min-width: 1401px) {
    .creation-franchise {
      &.is-xxl &__title {
        font-size: 96px;
        line-height: 112px;
      }
      &.is-xxl &__business {
        font-size: 64px;
        line-height: 75px;
      }
      &.is-xxl &__franchise {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

.responsibility {
  position: relative;
  margin-top: 74px;
  &__request {
    border-radius: 24px;
    padding-top: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
  }
  &__title,
  &__subtitle,
  &__note {
    border: none;
    color: #fff;
    padding: 0;
  }
  &__title {
    font-size: 5vw;
    line-height: 112px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 3.18vw;
    line-height: 75px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 1.25vw;
    line-height: 28px;
    margin-bottom: 48px;
  }
  &__tooltip {
    color: #dadada;
    font-size: 0.83vw;
    line-height: 14px;
  }
  &__field {
    width: 291px;
    padding-left: 0;
    padding-right: 16px;
    margin-bottom: 32px;
  }
  &__field:last-child {
    padding-right: 0;
  }
  &__control {
    padding: 24px 40px 24px 24px;
    border-radius: 8px;
    max-height: 69px;
    font-size: 1.25vw;
    line-height: 21px;
  }
  &__headmaster {
    position: absolute;
    width: 622px;
    right: 0;
    bottom: 0;
    margin-right: -140px;
  }
  &__action {
    padding-left: 0;
  }
  &__submit {
    border-radius: 4px;
    padding: 24px 32px;
    font-size: 1.67vw;
    line-height: 28px;
  }
}

::ng-deep {
  @media all and (min-width: 1401px) {
    .responsibility {
      &.is-xxl &__title {
        font-size: 96px;
        line-height: 112px;
      }
      &.is-xxl &__subtitle {
        font-size: 60px;
        line-height: 75px;
      }
      &.is-xxl &__note {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-xxl &__input-field {
        max-width: 295px;
      }
      &.is-xxl &__input-text {
        font-size: 12px;
        line-height: 14px;
      }
      &.is-xxl &__submit {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

.bonuses-list {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.67vw;
    line-height: 38px;
    margin: 74px 0 32px;
  }
  &__header {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding-bottom: 0;
    height: 102px;
  }
  &__title {
    font-size: 1.05vw;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 0.63vw;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__step {
    font-size: 0.94vw;
    line-height: 12px;
    margin-bottom: 24px;
    padding-top: 0;
  }
  &__description {
    font-size: 0.89vw;
    line-height: 17px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
  }
  &__action {
    font-size: 0.94vw;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

::ng-deep {
  @media all and (min-width: 1401px) {
    .bonuses-list {
      &.is-xxl &__head {
        font-size: 48px;
        line-height: 56px;
      }
      &.is-xxl &__title {
        font-size: 22px;
        line-height: 28px;
      }
      &.is-xxl &__subtitle {
        font-size: 12px;
        line-height: 14px;
      }
      &.is-xxl &__step,
      &.is-xxl &__description,
      &.is-xxl &__action {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.packs {
  display: flex;
  gap: 24px;
  width: 1440px;
  height: 2869px;

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin-top: 80px;
    margin-bottom: 32px;
  }

  &-item {
    width: 463px;
    height: 2869px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      width: 463px;
      height: 76px;
      padding: 24px;
      border: 0;
      color: #ffffff;
      background-color: #1653b4;
      margin-bottom: 16px;
      text-align: start;
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 431px;
      height: 63px;
      line-height: 21px;
      color: #2c2c2c;
      margin: 0 16px 32px 16px;
    }

    &__list {
      width: 463px;
      height: 1730px;
      padding: 0;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin-left: 16px;
        margin-bottom: 32px;
      }
    }

    &__yes {
      display: inline-block;
      width: 56px;
      height: 56px;
      background: url(../../../../assets/images/franchise-landing/yes2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/yes1.png) center
          no-repeat;
    }

    &__no {
      display: inline-block;
      width: 56px;
      height: 56px;
      background: url(../../../../assets/images/franchise-landing/no2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/no1.png) center
          no-repeat;
    }

    &__tool {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 349px;
      line-height: 21px;
      color: #000000;
      margin-left: 26px;
      margin-right: 16px;
    }

    &-bottom {
      width: 463px;
      height: 326px;
      background-color: #f1f6ff;

      &__title {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-top: 24px;
        margin-left: 16px;
        margin-bottom: 33px;
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-left: 16px;
        margin-bottom: 33px;
      }

      &__price {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #000000;
        padding-left: 16px;
        margin-bottom: 33px;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        color: #ffffff;
        line-height: 21px;
        width: 431px;
        height: 61px;
        border: none;
        border-radius: 4px;
        padding: 20px 16px;
        margin: 0;
        background-color: #1f75fe;
        margin-left: 16px;
      }
    }
  }
}

.special {
  display: flex;
  gap: 172px;
  width: 1440px;
  height: 816px;
  border-radius: 24px;
  padding: 64px 117px 64px 64px;
  background-color: #1a1a1a;
  margin-top: 80px;

  &-content {
    width: 650px;
    height: 636px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      color: #ffffff;
      width: 650px;
      line-height: 112px;
      margin-bottom: 16px;
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
      width: 650px;
      line-height: 75px;
      margin-bottom: 16px;
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #dadada;
      width: 650px;
      line-height: 28px;
      margin-bottom: 48px;
    }

    &__inputs {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
    }

    &__label {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      color: #dadada;
      margin-bottom: 8px;
    }

    &__input {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      color: #7a7a7a;
      width: 291px;
      height: 69px;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 24px 40px 24px 24px;
      // margin-bottom: 32px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #ffffff;
      line-height: 28px;
      width: 398px;
      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 24px 28px;
      margin: 0;
      background-color: #1f75fe;
    }
  }
}

.three-cards {
  margin-top: 80px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

::ng-deep .three-cards-wrapper .p-card {
  width: 464px;
  height: 335px;
  background-color: white;
  // border-radius: 4px;
  // padding: 24px;

  &-body {
    width: 464px;
    height: 335px;
    margin: 0;
    padding: 0;
  }

  &-header {
    display: none;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }

  &-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    line-height: 21px;
    background-color: #f1f1f1;
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    // width: 342.8px;
    min-height: 48px;
    margin: 0;
    padding: 0;
    padding-left: 24px;

    // margin-left: 8px;
    padding-bottom: 68px;
    // line-height: 16px;
    background-color: #f1f1f1;

    p {
      padding-right: 97.19px;
      line-height: 16.41px;
    }
  }

  &-footer {
    background-color: #f1f1f1;
    padding-bottom: 44.78px;

    .btn {
      margin-left: 24px;
      min-width: 93px;
      background-color: #1f1f1f;
    }
  }
}

.card-business .btn-dark {
  margin-top: 0;
}

.popular-item-blog {
  width: 342px;
  height: 208px;
}

::ng-deep .popular-item-blog-wrapper1 .p-card {
  width: 342px;
  height: 208px;
  border-radius: 0;

  &-header {
    width: 342px;
    height: 162px;
    margin-bottom: 25px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    line-height: 21px;
  }

  &-content {
    display: none;
  }
}

::ng-deep .popular-item-blog-wrapper2 .p-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 208px;
  border-radius: 0;
  padding: 24px;
  background-color: #f1f1f1;

  &-header {
    display: none;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    color: #2c2c2c;
    line-height: 21px;
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #646464;

    .d-flex {
      gap: 10px;

      .image {
        position: relative;
        width: 32px;

        img {
          position: absolute;
          right: 0;
          top: -16px;
        }
      }
    }
  }
}

.news {
  &-item {
    margin-bottom: 25px;
    border-bottom: 0.5px solid #c4c4c4;

    img {
      margin-right: 8px;
    }
  }

  &-title {
    font-weight: 400;
    margin-bottom: 9.5px;
  }

  &-bottom-line {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #646464;
    margin-bottom: 25px;
  }
}

.category-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2c2c2c;
}
