<section class="card deal" [ngClass]="{ 'is-xxl': isXxl }">
  <div class="container-fluid">
    <div class="row deal__location">
      <div class="col-lg-6 col-xl-6 col-xxl-6 deal__img-wrapper">
        <img
          class="img-fluid deal__img"
          src="../../../../assets/images/franchise-landing/desk.png"
          alt="Стол"
        />
      </div>
      <div class="col-lg-6 col-xl-6 col-xxl-6 deal__content">
        <div class="card-body deal__description">
          <h5 class="card-title deal__title">Создание</h5>
          <div class="card-text deal__business">и упаковка франшиз</div>
          <div class="card-text deal__franchise">
            с бесплатным размещением в каталоге
          </div>
          <button class="btn btn-primary deal__btn-action">
            Бесплатная консультация
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="survey" [ngClass]="{ 'is-xxl': isXxl }">
  <div class="row survey__result">
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="80" styleClass="p-mt-4">
        <div>
          франшиз <br />
          упаковали <br />
          и создали с нуля
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="25" styleClass="p-mt-4">
        <div>
          сфер бизнеса <br />
          проработано <br />
          за время работы
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="65 млн" styleClass="p-mt-4">
        <div>
          заработали <br />
          клиентам после <br />
          создания франшиз
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="14" styleClass="p-mt-4">
        <div>
          человек будут <br />
          работать над вашим <br />
          проектом
        </div>
      </p-panel>
    </div>
  </div>
</section>
<section class="consulting" [ngClass]="{ 'is-xxl': isXxl }">
  <form class="bg-primary consulting__request">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-xxl-9">
          <div class="alert alert-light consulting__title">Азамат Булатов</div>
          <div class="alert alert-light consulting__subtitle">
            сооснователь проекта
          </div>
          <div class="alert alert-light consulting__note">
            Лично ответственный за каждую упакованную франшизу
          </div>
          <div class="mb-3 row">
            <div class="col-6 consulting__input-field">
              <label for="userName" class="form-label consulting__input-text"
                >Имя</label
              >
              <input
                type="text"
                class="form-control consulting__input"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div class="col-6 consulting__input-field">
              <label class="form-label consulting__input-text"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div class="col-6">
              <button
                class="btn btn-primary consulting__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <img
          class="img-fluid consulting__assistant"
          src="../../../../assets/images/franchise-landing/template_person6 1.png"
          alt="Сооснователь"
        />
      </div>
    </div>
  </form>
</section>
<section class="checklist" [ngClass]="{ 'is-xxl': isXxl }">
  <h5 class="alert alert-light checklist__head">Бонусы от GoBizy</h5>
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">
            Бесплатное размещение<br />
            в каталоге
          </div>
          <div class="card-text checklist__subtitle">
            на срок от 3 до 12 месяцев.<br />
            срок размещения зависит от выбранного пакета
          </div>
          <div class="card-text checklist__description">
            После покупки любого из пакетов<br />
            вы получите бесплатное<br />
            размещение в сервисе.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-franchise"
          >
            Упаковать франшизу
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">
            Книга продаж и обучение<br />
            вашего менеджера
          </div>
          <div class="card-text checklist__subtitle">
            в любом выбранном пакете, вне зависимости<br />
            от стоимости
          </div>
          <div class="card-text checklist__description">
            Помощь с обучением вашего<br />
            менеджера, составление<br />
            книги продаж
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-franchise"
          >
            Обучить менеджера
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">
            Проверка<br />
            товарного знака
          </div>
          <div class="card-text checklist__subtitle">
            полная и оперативная проверка<br />
            товарного знака
          </div>
          <div class="card-text checklist__description">
            Бесплатная и быстрая<br />
            проверка товарного знака<br />
            франшизы
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-franchise"
          >
            Начать сделку
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">
            Функция управляющей<br />
            компании
          </div>
          <div class="card-text checklist__subtitle">
            Отдельный пакет по упаковке<br />
            с полным делегированием
          </div>
          <div class="card-text checklist__description">
            Все функции по продаже и<br />
            открытию франшиз мы возьмем<br />
            на себя
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-franchise"
          >
            Нанять УК
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-business-list></app-business-list>
<app-garant></app-garant>
<section class="pack-services">
  <h5 class="packs-header">Пакеты на создание франшиз упаковки</h5>
  <div class="packs">
    <div class="packs-item">
      <div class="packs-item__image">
        <img
          src="../../../../assets/images/franchise-landing/fast-start 1.png"
          alt="Пакет из 7 инструментов"
        />
      </div>
      <button class="packs-item__title">Пакет “Быстрый старт”</button>
      <div class="packs-item__text">
        Если у Вас за порогом стоит потенциальный покупатель или Вы хотите
        просто протестировать нишу, то этот пакет именно для Вас!
      </div>
      <ul class="packs-item__list">
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Аудит бизнеса и анализ конкурентов</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка состава франшизы: определение стоимости франшизы,
            создание уникального предложения и концепции франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка пакетов франшизы и определение их стоимости</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Создание финансовой модели франшизы (инвестиции в запуск,
            доходность и окупаемость)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка договора коммерческой концессии/лицензионный
            договор</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Презентация франшизы (маркетинг кит)</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Разработка сайта для продажи франшизы (до 10 страниц)</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool">Книга продаж Вашей франшизы</span>
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Обучение и аттестация Вашего менеджера по продажам</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Внедрение CRM системы для аналитики продаж франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Разработка фирменного стиля компании</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Руководство по запуску франшизы (франчбук)</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Разработка стратегии: «Каналы продаж франшизы»</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Настройка рекламной кампании, для запуска продаж Вашей франшизы
            либо размещение в ТОП-овом каталоге франшиз;</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool">Внедрение системы записи звонков</span>
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Контроль качества звонков менеджера, нашим руководителем отдела
            продаж</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Совместная обработка звонков и возникающих вопросов у клиента</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool">Настройка CRM-системы</span>
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Гарантированное сопровождение и доведение до первых продаж
            франшизы;</span
          >
        </li>
      </ul>
      <div class="packs-item-bottom">
        <p class="packs-item-bottom__title">Срок: 20 рабочих дней</p>
        <p class="packs-item-bottom__text">
          Бесплатный бонус: проверка торгового знака + консультирование по
          окончанию упаковки в течение 6 месяцев + обучение и прокачка Вас и
          Вашего менеджера;
        </p>
        <p class="packs-item-bottom__price">Стоимость пакета: 350 000 ₽</p>
        <button class="packs-item-bottom__button">
          Упаковать франшизу за 350 000 ₽
        </button>
      </div>
    </div>
    <div class="packs-item">
      <div class="packs-item__image">
        <img
          src="../../../../assets/images/franchise-landing/fast-start 2.png"
          alt="Пакет из 15 инструментов"
        />
      </div>
      <button class="packs-item__title">Пакет “Франшиза под ключ”</button>
      <div class="packs-item__text">
        Этот пакет для Вас, если Вам нужен полный комплекс услуг необходимых для
        продажи франшизы и запуска Вашего франчайзи.
      </div>
      <ul class="packs-item__list">
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Аудит бизнеса и анализ конкурентов</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка состава франшизы: определение стоимости франшизы,
            создание уникального предложения и концепции франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка пакетов франшизы и определение их стоимости</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Создание финансовой модели франшизы (инвестиции в запуск,
            доходность и окупаемость)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка договора коммерческой концессии/лицензионный
            договор</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Презентация франшизы (маркетинг кит)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка сайта для продажи франшизы (до 10 страниц)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool">Книга продаж Вашей франшизы</span>
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Обучение и аттестация Вашего менеджера по продажам</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Внедрение CRM системы для аналитики продаж франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка фирменного стиля компании</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Руководство по запуску франшизы (франчбук)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка стратегии: «Каналы продаж франшизы»</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Настройка рекламной кампании, для запуска продаж Вашей франшизы
            либо размещение в ТОП-овом каталоге франшиз;</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool">Внедрение системы записи звонков</span>
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Контроль качества звонков менеджера, нашим руководителем отдела
            продаж</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Совместная обработка звонков и возникающих вопросов у клиента</span
          >
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool">Настройка CRM-системы</span>
        </li>
        <li>
          <div class="packs-item__no"></div>
          <span class="packs-item__tool"
            >Гарантированное сопровождение и доведение до первых продаж
            франшизы;</span
          >
        </li>
      </ul>
      <div class="packs-item-bottom">
        <p class="packs-item-bottom__title">Срок: 30 рабочих дней</p>
        <p class="packs-item-bottom__text">
          Бесплатный бонус: проверка торгового знака + консультирование по
          окончанию упаковки в течение 6 месяцев + обучение и прокачка Вас и
          Вашего менеджера;
        </p>
        <p class="packs-item-bottom__price">Стоимость пакета: 480 000 ₽</p>
        <button class="packs-item-bottom__button">
          Упаковать франшизу за 480 000 ₽
        </button>
      </div>
    </div>

    <div class="packs-item">
      <div class="packs-item__image">
        <img
          src="../../../../assets/images/franchise-landing/fast-start 3.png"
          alt="Пакет из 25 инструментов"
        />
      </div>
      <button class="packs-item__title">Пакет “Доведение до продаж”</button>
      <div class="packs-item__text">
        В рамках которого вы получаете полностью упакованный бизнес во франшизу
        + обученного менеджера.
      </div>
      <ul class="packs-item__list">
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Аудит бизнеса и анализ конкурентов</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка состава франшизы: определение стоимости франшизы,
            создание уникального предложения и концепции франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка пакетов франшизы и определение их стоимости</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Создание финансовой модели франшизы (инвестиции в запуск,
            доходность и окупаемость)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка договора коммерческой концессии/лицензионный
            договор</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Презентация франшизы (маркетинг кит)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка сайта для продажи франшизы (до 10 страниц)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool">Книга продаж Вашей франшизы</span>
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Обучение и аттестация Вашего менеджера по продажам</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Внедрение CRM системы для аналитики продаж франшизы</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка фирменного стиля компании</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Руководство по запуску франшизы (франчбук)</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Разработка стратегии: «Каналы продаж франшизы»</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Настройка рекламной кампании, для запуска продаж Вашей франшизы
            либо размещение в ТОП-овом каталоге франшиз;</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool">Внедрение системы записи звонков</span>
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Контроль качества звонков менеджера, нашим руководителем отдела
            продаж</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Совместная обработка звонков и возникающих вопросов у клиента</span
          >
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool">Настройка CRM-системы</span>
        </li>
        <li>
          <div class="packs-item__yes"></div>
          <span class="packs-item__tool"
            >Гарантированное сопровождение и доведение до первых продаж
            франшизы;</span
          >
        </li>
      </ul>
      <div class="packs-item-bottom">
        <p class="packs-item-bottom__title">Срок: 35 рабочих дней</p>
        <p class="packs-item-bottom__text">
          Бесплатный бонус: проверка торгового знака + консультирование по
          окончанию упаковки в течение 6 месяцев + обучение и прокачка Вас и
          Вашего менеджера;
        </p>
        <p class="packs-item-bottom__price">Стоимость пакета: 750 000 ₽</p>
        <button class="packs-item-bottom__button">
          Упаковать франшизу за 750 000 ₽
        </button>
      </div>
    </div>
  </div>
</section>
<!-- <section class="consulting" [ngClass]="{ 'is-xxl': isXxl }">
  <form class="bg-primary consulting__request">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-xxl-9">
          <div class="alert alert-light consulting__title">Управляющая <br />
            компания</div>
          <div class="alert alert-light consulting__subtitle">
            Особый пакет
          </div>
          <div class="alert alert-light consulting__note">
            Условия обсуждаются индвидуально. <br />
      От 1 500 000 ₽
          </div>
          <div class="mb-3 row">
            <div class="col-6 consulting__input-field">
              <label for="userName" class="form-label consulting__input-text"
                >Имя</label
              >
              <input
                type="text"
                class="form-control consulting__input"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div class="col-6 consulting__input-field">
              <label class="form-label consulting__input-text"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div class="col-6">
              <button
                class="btn btn-primary consulting__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <img
          class="img-fluid consulting__assistant"
          src="../../../../assets/images/franchise-landing/Layer_7_1 1.png"
          alt="Фото управляющего"
        />
      </div>
    </div>
  </form>
</section> -->
<section class="special">
  <div class="special-content">
    <div class="special-content__title">
      Управляющая <br />
      компания
    </div>
    <div class="special-content__subtitle">Особый пакет</div>
    <div class="special-content__text">
      Условия обсуждаются индвидуально. <br />
      От 1 500 000 ₽
    </div>
    <div class="special-content__inputs">
      <label class="special-content__label"
        >Имя
        <input
          class="special-content__input"
          type="text"
          name="name"
          placeholder="Введите имя"
        />
      </label>
      <label class="special-content__label"
        >Номер телефона
        <input
          class="special-content__input"
          type="tel"
          name="telephone"
          placeholder="Введите номер телефона"
        />
      </label>
    </div>
    <button class="special-content__button">Обратиться за консультацией</button>
  </div>
  <div class="special-image">
    <img
      src="../../../../assets/images/franchise-landing/Layer_7_1 1.png"
      alt="Фото управляющего"
    />
  </div>
</section>
<!-- Популярные франшизы -->
<app-franchise-list></app-franchise-list>
<!-- Новые объявления готового бизнеса -->
<div class="business-ad" [ngClass]="{ 'is-xxl': isXxl }">
  <h5 class="alert alert-light business-ad__title">
    Новые объявления готового бизнеса
  </h5>
  <div class="row">
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card business-ad__detail">
                  <div class="card-body business-ad__data">
                    <div class="card-title business-ad__description">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__data-title">
                      <span class="business-ad__tooltip">{{ item.text }}</span>
                      <span class="business-ad__tooltip"
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text business-ad__price">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card business-ad__detail">
                  <div class="card-body business-ad__data">
                    <div class="card-title business-ad__description">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__data-title">
                      <span class="business-ad__tooltip">{{ item.text }}</span>
                      <span class="business-ad__tooltip"
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text business-ad__price">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card business-ad__detail">
                  <div class="card-body business-ad__data">
                    <div class="card-title business-ad__description">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__data-title">
                      <span class="business-ad__tooltip">{{ item.text }}</span>
                      <span class="business-ad__tooltip"
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text business-ad__price">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card business-ad__detail">
                  <div class="card-body business-ad__data">
                    <div class="card-title business-ad__description">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__data-title">
                      <span class="business-ad__tooltip">{{ item.text }}</span>
                      <span class="business-ad__tooltip"
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text business-ad__price">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<!-- Бизнес блог. -->
<div class="business-blog" [ngClass]="{ 'is-xxl': isXxl }">
  <h5 class="alert alert-light business-blog__title">Бизнес блог</h5>
  <div class="row">
    <div
      class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3"
      *ngFor="let item of aBlogs"
    >
      <div class="card business-blog__content">
        <div class="card-header business-blog__blog-img">
          <img
            [src]="item.url"
            class="img-fluid business-blog__img"
            [alt]="item.title"
          />
        </div>
        <div class="card-body business-blog__description">
          <div class="card-title business-blog__blog-title">
            {{ item.title }}
          </div>
          <div class="card-text business-blog__text"></div>
          <span class="business-blog__note"
            >читать ~{{ item.position }} минут</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Компонент Новости -->
<app-news></app-news>
<!-- Списки категорий -->
<!-- <div class="category">
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-xxl-6 category__category-item">
      <div class="container-fluid">
        <div class="alert alert-light category__category-title">
          Категории готового бизнеса
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-xl-6 col-xxl-6"
            *ngFor="let item of this.aBusinessCategories"
          >
            <div class="alert alert-light category__category-detail">
              <span class="category__category-name">{{
                item.categoryName
              }}</span>
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-chevron-right category__list-icon"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6 col-xxl-6">
            <div class="btn btn-outline-primary category__redirect">
              <span class="category__redirect-text">Весь готовый бизнес</span>
              <span class="category__redirect-attr">
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-caret-right-fill category__redirect-icon"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-6">
      <div class="container-fluid">
        <div class="alert alert-light category__category-title">
          Категории франшиз
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-xl-6 col-xxl-6"
            *ngFor="let item of this.aFranchiseCategories"
          >
            <div class="alert alert-light category__category-detail">
              <span class="category__category-name">{{
                item.categoryName
              }}</span>
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-chevron-right category__list-icon"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div class="col-lg-6 col-xl-6 col-xxl-6">
            <div class="btn btn-outline-primary category__redirect">
              <span class="category__redirect-text">Все франшизы</span>
              <span class="category__redirect-attr">
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-caret-right-fill category__redirect-icon"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->