.service {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  &-any-root {
    padding-left: 0;
  }
  &-any-row {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
  }
  &-any-img {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  &-img {
    width: 100%;
  }
  &-content {
    padding-left: 64px;
    padding-right: 0;
  }
  &-body {
    padding: 0;
  }
  &-title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
  }
  &-subtitle {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
  }
  &-subtitle-note {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
    text-align: left;
  }
  &-button {
    width: 45%;
    font-size: 20px;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

.service {
  &-content.is-sm {
    padding-left: 0;
    padding-right: 0;
  }
  &-body.is-sm {
    margin: 1rem;
    padding-left: 24px;
    padding-right: 24px;
  }
  &-title.is-sm {
    font-size: 32px;
    line-height: 37.5px;
    margin-bottom: 8px;
    font-weight: 700;
    text-align: center;
  }
  &-subtitle.is-sm {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
  }
  &-subtitle-note.is-sm {
    text-align: center;
  }
  &-button.is-sm {
    width: 100%;
    height: 78px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    padding: 0;
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .service {
      &-any-img.is-laptop {
        display: flex;
        justify-content: center;
      }
      &-content.is-laptop {
        padding-left: 32px;
      }
      &-title.is-laptop {
        font-size: 64px;
        line-height: 75px;
      }
      &-subtitle.is-laptop {
        font-size: 44px;
        line-height: 51.5px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .service {
      &-content.is-hd {
        padding-left: 44px;
      }
      &-title.is-hd {
        font-size: 74px;
        line-height: 75px;
      }
      &-subtitle.is-hd {
        font-size: 44px;
        line-height: 52px;
      }
      &-button.is-hd {
        width: 60%;
      }
    }
  }
}

:host .statistics {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        position: relative;
        height: 150px;
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          top: 0;
          height: 100%;
          font-size: 96px;
          line-height: 112.5px;
        }
      }
      & .p-panel-content {
        height: 150px;
        border: none;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: 0 0 64px;
      }
    }
    &.md-item {
      margin-bottom: 16px;
    }
  }
}

@media all and (max-width: 576px) {
  :host .statistics {
    &__item {
      & ::ng-deep .p-panel  {
        & .p-panel-header {
          & .p-panel-title {
            font-size: 32px;
            line-height: 38px;
          }
        }
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .statistics {
      &.is-laptop &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header {
            height: 170.5px;
          }
          & .p-panel-content {
            height: 170.5px;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    .statistics {
      &.is-hd &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header,
          & .p-panel-content {
            height: 150px;
          }
        }
      }
    }
  }
}

.creating-deal {
  &-section-title {
    border: none;
    padding: 0;
    font-size: 48px;
    line-height: 38px;
    margin: 74px 0 32px;
    font-weight: 600;
    color: #000;
  }
  &-card-header {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &-content-title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
    font-weight: 600;
  }
  &-content-subtitle {
    height: 42px;
    font-size: 12px;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &-content-body {
    height: 63px;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
  }
  &-any-card:first-child &-card {
    background: #f5f8fa;
  }
  &-card {
    border: none;
  }
  &-img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

.creating-deal {
  &.is-sm &-section-title {
    font-size: 24px;
    line-height: 28px;
    max-width: 335px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  &.is-sm &-card-header {
    padding-top: 16px;
    padding-left: 16px;
  }
  &.is-sm &-content {
    padding: 25px 21px 16px 16px;
  }
  &.is-sm &-content-body {
    font-size: 18px;
    line-height: 21px;
    max-width: 275px;
    & br {
      display: none;
    }
  }
  &.is-sm &__action {
    width: 100%;
    height: 53px;
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .creating-deal {
      &.is-laptop &-section-title {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-laptop &-content-body {
        max-width: 45%;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 1200px) {
    .creating-deal {
      &.is-hd &-content-title {
        font-size: 20px;
      }
      &.is-hd &-content-body {
        font-size: 15px;
        max-width: 45%;
      }
    }
  }
}

$columnGap: 24px;
.package {
  margin-top: 74px;
  &-common-title {
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
    margin-bottom: 32px;
    border: none;
    padding: 0;
  }
  &-root {
    display: flex;
    flex-wrap: wrap;
    grid-gap: $columnGap;
  }
  &-any-list {
    width: calc(33% - #{$columnGap/2});
  }
  &-list {
    border: none;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &-title {
    border: none;
    padding: 32px 24px;
    color: #fff;
    border-radius: 8px 8px 0 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    &--dark {
      background: #2c2c2c;
    }
    &--primary {
      background: #0d6efd;
    }
  }
  &-content {
    padding: 24px 9px 24px 24px;
    &-title {
      color: #7a7a7a;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 33px;
    }
  }
  &-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-reach-icon {
    width: 56px;
    height: 56px;
    &--yes {
      background: url(../../../../assets/images/franchise-landing/yes2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/yes1.png) center
          no-repeat;
    }
    &--no {
      background: url(../../../../assets/images/franchise-landing/no2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/no1.png) center
          no-repeat;
    }
  }
  &-service {
    margin-bottom: 18.5px;
    &-text {
      color: #2c2c2c;
      font-size: 18px;
      line-height: 21px;
      width: 80%;
      text-align: left;
    }
  }
  &-total-price {
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &-price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  &-price-item:first-child {
    padding: 0 0 24px;
  }
  &-total-note {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }
  &-total-result {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
  }
  &-submit {
    width: 100%;
    font-size: 21px;
    line-height: 25px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
    border-radius: 66px;
  }
}

.package {
  &.is-sm {
    margin-top: 24px;
  }
  &.is-sm &-common-title {
    max-width: 300px;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  &.is-sm &-root {
    display: block;
  }
  &.is-sm &-content {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0;
  }
  &.is-sm &-total-price {
    padding-bottom: 8px;
  }
  &.is-sm &-price-item {
    padding-bottom: 16px;
  }
  &-price-item.is-sm {
    display: block;
  }
  &.is-sm &-total-result {
    display: block;
    & br {
      display: none;
    }
  }
  &.is-sm &-total-note {
    display: block;
    margin-bottom: 16px;
  }
  &.is-sm &-submit {
    font-size: 24px;
    line-height: 28px;
  }
}

@media all and (max-width: 576px) {
  .package {
    &-title {
      padding: 16px 8px;
    }
    &-any-list {
      width: auto;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .package {
      &.is-laptop &-root {
        grid-gap: 8px;
      }
      &.is-laptop &-any-list {
        width: calc(50% - 8px);
      }
    }
  }
}

.gar-carousel {
  &-title {
    margin-top: 24px;
    margin-bottom: 16.27px;
    max-width: 255px;
    font-size: 19px;
    line-height: 22px;
    color: #2c2c2c;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background: #f1f6ff;
    color: #2c2c2c;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 24px;
    border-radius: 8px;
    & .any-chevron {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 40px;
      margin-left: 12px;
      background: #1f75fe;
      & svg {
        fill: #fff;
      }
    }
  }
}
