@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";
@import 'design';

strong {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 16px;
}

.garant {
  margin-top: 80px;

  @include ul-xl {
    margin-top: 74px;
  }

  @include xl-lg {
    margin-top: 64px;
  }

  @include lg-md {
    margin-top: 36px;
  }

  @include md {
    margin-top: 24px;
  }
}

.d-flex {
  display: flex;
  gap: 24px;

  &--short {
    gap: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  margin-left: 8px;
  min-width: 125px;
  height: 53px;
  padding: 15px;
  border-radius: 12px;

  &-wrapper {
    display: flex;
    gap: 16px;
  }

  &--aside {
    margin-left: 0;
    width: 163px;
    height: 69px;
  }
}

.header {
  display: flex;
  // gap: 90px;
  max-width: 1440px;
  // min-height: 496px;
  border-radius: 24px;
  padding: 64px 0 64px 64px;
  background-color: #f5f8fa;
  margin-top: 80px;
  margin-bottom: 16px;
  @include phone {
    max-width: 100%;
    flex-wrap: wrap-reverse;
    padding: 24px;
  }
  @include tablet-small {
    flex-wrap: nowrap;
    padding: 32px 0 32px 32px;
  }
  

  &-content {
    width: 624px;
    // height: 368px;
    @include phone {
      width: 100%;
    }
    @include tablet-small {
      // width: 429px;
      position: absolute;
    }
    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      color: #2c2c2c;
      line-height: 113px;
      margin-bottom: 8px;

      
      @include phone {
        width: 140px;
        margin: auto;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        
      }
      @include tablet-small {
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
      }
      @include desktop {
        font-size: 96px;
        line-height: 112px;
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 59px;
      font-weight: 700;
      color: #2c2c2c;
      line-height: 75px;
      margin-bottom: 16px;

      @include tablet-small {
        text-align: inherit;
        font-weight: 700;
        font-size: 44px;
        line-height: 52px;
      }
      @include phone {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;;
        text-align: center;
      }
      @include desktop {
        font-size: 64px;
        line-height: 75px
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.1rem;
      font-weight: 400;
      color: #7a7a7a;
      line-height: 28px;
      margin-bottom: 52px;

      
      @include phone {
        font-weight: 700;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
      }
      @include tablet-small {
        width: 300px;
      }
      @include desktop {
        width: 423px;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.3rem;
      font-weight: 500;
      color: #ffffff;
      line-height: 28px;
      width: 359px;
      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 10px;
      margin: 0;
      background-color: #1f75fe;
      @include lg-md {
        width: 333px;
        font-size: 24px;
      }

      @include md {
        width: 273px;
        padding: 8px 16px;
      }
      @include phone {
        height: 76px;
        width: 272px;
        border-radius: 4px;
        
      }
      @include tablet-small {
        padding: 1px;
        width: 333px;
      }
    }
  }

  &-image {
    @include tablet-small {
      display: block;
      height: 100%;
      overflow: hidden;
      margin: 2% 0px 52px 50%
    }
    @include desktop {
      margin: 2% 0 52px 52%;
    }
    &__deck {
      display: none;
      height: 100%;
      @include tablet-small {
        display: block;
      }
    }
  }

  &-image1 {
    display: none;
  }

   &-image2 {
    margin-bottom: 20px;
    height: 80px;
    @include tablet-small {
      display: none;
    }
   }
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  @include tablet {
    grid-gap: 12px;
  }
 

  &-item {
    display: flex;
    flex-wrap: wrap;
    width: 24.3%;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: #f5f8fa;

    @include phone {
      width: 100%;
    }
    @include tablet-small {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
    @include tablet {
      width: 49%;
      margin-bottom: 4px;
      padding: 31px;
    }
    @include desktop {
      width: 24%;
    }

    &__number {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 4.4rem;
      font-weight: 700;
      color: #2c2c2c;
      height: 113px;
      text-align: center;
      align-self: center;

    }

    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #7a7a7a;
      text-align: center;
      height: 84px;
    }

    &__unit {
      font-size: 2.5rem;
      margin-left: 1rem;
      height: 24px;
    }
  }
}

.founder {
  display: flex;
  gap: 32px;
  max-width: 1440px;
  min-height: 623px;
  border-radius: 24px;
  padding: 64px 0 64px 64px;
  background-color: #1b1b1b;
  margin-top: 80px;
  // @include xl-lg {
  //   justify-content: space-between;
  //   padding: 64px 0 0px 37px;
  // }
  @include phone {
    flex-wrap: wrap;
    padding: 24px;
    min-height: 907px;
  }
  @include tablet-small {
    padding: 32px 0 0 32px;
  }
  &-image {
    width: 30%;
    @include tablet-small {
      transform: translate(-262px, 32px);
    }
    &__azamat {
      display: none;
    }
    &__azamat1 {
      // transform: translate(229px, 0); //хз как лучше так или череж марджин
      margin-left: 34%;
      height: 90%;
      margin-top: 31px;
      @include tablet {
        margin-left: 49%;
      }
      @include desktop {
        margin-left: 60%;
      }
    }
    @include phone  {
      width: 100%;
      &__azamat1  {
        display: none;
      }
      &__azamat {
        display: block;
        
      }
    }
  }

  &-content {
    width: 730px;
    height: 495px;
    @include phone {
      width: 100%;
      margin-bottom: 20px;
    }
    @include tablet-small {
      position: absolute;
      z-index: 22;
      width: 46%;
    }
    @include tablet {
      width: 55%;
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 96px;
      font-weight: 700;
      color: #ffffff;
      line-height: 113px;
      margin-bottom: 16px;
      @include phone {
        font-size: 32px;
        line-height: 38px;
      }
      @include tablet-small {
        font-size: 58px;
        line-height: 75px;
        margin-bottom: 2px;
      }
      @include tablet {
        font-size: 64px;
        line-height: 75px;
        margin-bottom: 16px;
      }
      @include desktop {
        font-size: 96px;
        line-height: 112px;
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 64px;
      font-weight: 700;
      color: #ffffff;
      line-height: 75px;
      margin-bottom: 16px;
      @include phone {
        font-size: 24px;
        line-height: 28px;
      }
      @include tablet-small {
        font-size: 44px;
        line-height: 52px;
      }
      @include tablet {
        margin-bottom: 16px;
      }
      @include desktop {
        font-size: 64px;
        line-height: 75px
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #7a7a7a;
      max-width: 730px;
      line-height: 28px;
      margin-bottom: 48px;
      @include phone {
        font-size: 16px;
        line-height: 19px;
      }
      @include tablet-small {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
      }
      @include tablet {
        margin-bottom: 48px;
      }
    }

    &__inputs {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
      @include phone {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 24px;
      }
      @include tablet-small {
        flex-wrap: wrap;
      }
      @include tablet {
        margin-bottom: 54px;
      }
    }
    ::ng-deep.p-inputtext{
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #7a7a7a;
      width: 291px;
      // height: 69px;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 18px;
      @include phone {
        width: 270px;
      }
    }
    &__label {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      color: #dadada;
      //margin-bottom: 8px;
    }

    &__input {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #7a7a7a;
      width: 291px;
      // height: 69px;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 18px 40px 18px 24px;
      @include phone {
        width: 100%;
        font-size: 18px;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: #1F75FE;
      line-height: 28px;
      max-width: 398px;
      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 24px 28px;
      margin: 0;
      background: #ffffff;
      @include phone {
        width: 100%;
        font-size: 16px;
        padding: 24px 20px;
      }
      @include tablet-small {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 24px 9px;
        gap: 10px;        
        width: 291px;
        height: 70px;        
        background: #FFFFFF;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        color: #1F75FE;
      }
      @include tablet {
        background: #1F75FE;
        color: #ffffff;
      }
      @include desktop {
        width: 338px;
      }
    }
  }
  
}

.bonuses {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  @include phone {
    grid-row-gap: 10px;
  }
  

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 32px;
    @include phone {
      font-size: 24px;
    }
  }

  &-item {
    width: 23%;
    // height: 427px;
    padding: 24px;
    background-color: #f5f8fa;
    @include xl-lg {
      width: 49.2%;
      margin-bottom: 15px;
    }
    @include phone {
      width: 100%;
      padding: 16px;
    }
    @include tablet-small {
      width: 48.5%;
      margin-bottom: 18px;
    }
    @include desktop {
      width: 23%;
    }

    &__image {
      width: 294px;
      height: 103px;
      // margin-top: 24px;
      // margin-left: 24px;
      // margin-right: 24px;
      margin-bottom: 24px;
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-size:23px;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 4px;
      @include phone {
        width: 100%;
      }
      @include tablet-small {
        font-size: 24px;
      }
      @include tablet {
        width: 290px;
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #646464;
      height: 28px;
      line-height: 14px;
      // line-height: 14px;
      // margin-left: 24px;
      // margin-right: 24px;
      margin-bottom: 14px;
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 78px;
      color: #2c2c2c;
      margin-bottom: 14px;
      @include phone {
        margin-top: 20px;
      }
    }

    &__button {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      margin:auto;
      height: 53px;
      padding: 5px;
      border: 0;
      border-radius: 4px;
      color: #ffffff;
      background-color: #1f1f1f;
      @include tablet {
        width: 59%;
        font-size: 18px;
        margin-left: 0;
      }
      @include desktop {
        width: 100%;
      }
    }
  }
}

.title-franchise {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2c2c2c;
}

.popular-list {
  flex-wrap: wrap;
  width: 1074px;
  padding: 16px;
}

::ng-deep .p-card {
  width: 331.33px;
  height: 359px;
  border-radius: 4px;

  &-header {
    width: 331.33px;
    height: 162px;
    margin-bottom: 24px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    margin: 0;
    padding: 0;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    margin-bottom: 8px;
  }

  &-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    margin-bottom: 24px;
    line-height: 14px;
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    margin-bottom: 24px;
    line-height: 21px;
  }

  &-footer {
    margin: 0;
    padding: 0;
  }
}

::ng-deep .card-line-wrapper .p-card {
  width: 1440px;
  height: 194.5px;
  border-radius: 4px;
  padding: 24px;
  background-color: #f1f6ff;

  &-header {
    position: relative;
    display: block;
    width: 1392px;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    height: 21px;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    strong {
      color: #000000;
    }

    .close {
      position: absolute;
      right: 2px;
      top: -2px;
      width: 16px;
      height: 16px;
      color: #646464;
      font-size: 16px;

      span {
        display: block;
        width: 16px;
        height: 16px;
        color: #646464;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    line-height: 16px;
  }

  &-footer {
    .btn {
      margin: 0;

      &-dark {
        background-color: #1f1f1f;
      }

      &-default {
        width: 147px;
      }
    }
  }
}

.packs {
  display: flex;
  gap: 24px;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: space-between;
  @include phone {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  @include tablet {
    flex-wrap: nowrap;
    grid-gap: 12px;
  }

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    @include phone{
      font-size: 19px;
    }
  }

  &-item {
    width: 30%;
    min-width: 325px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
    @include phone {
      width: 100%;
    }
    @include tablet-small {
      margin-bottom: 35px;
      width: 48%;
    }
    @include tablet {
      width: 31%;
    }
    &__image--pack {
      width: 100%;
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.25rem;
      border-radius: 8px 8px 0px 0px;
      width: 100%;
      padding: 24px;
      border: 0;
      color: #ffffff;
      background-color: #1653b4;
      margin-bottom: 16px;
      text-align: start;
      @include phone {
        font-size: 22px;
        padding: 17px;
      }
      @include tablet-small {
        font-size: 20px;
      }
      @include tablet {
        font-size: 18px;
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      max-width: 431px;
      padding: 10px;
      line-height: 21px;
      color: #2c2c2c;
      margin: 0 16px 32px 16px;
      @include phone {
        padding: 5px;
      }
      @include tablet-small {
        padding: 0;
        margin: 0 16px 32px 0;
      }
      @include tablet {
        font-size: 17px;
      }
    }

    &__list {
      width: 463px;
      // height: 1730px;
      padding: 0;
      @include phone {
        width: 100%;
      }
      @include tablet-small {
        width: 100%;
      }

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin-left: 16px;
        margin-bottom: 32px;
      }
    }

    &__yes {
      display: inline-block;
      width: 56px;
      height: 56px;
      // background: url(../../../../assets/images/franchise-landing/yes2.png)
      //     center no-repeat,
      //   url(../../../../assets/images/franchise-landing/yes1.png) center
      //     no-repeat;
    }

    &__no {
      display: inline-block;
      width: 56px;
      height: 56px;
      // background: url(../../../../assets/images/franchise-landing/no2.png)
      //     center no-repeat,
      //   url(../../../../assets/images/franchise-landing/no1.png) center
      //     no-repeat;
    }

    &__tool {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      width: 349px;
      line-height: 21px;
      color: #000000;
      margin-left: 26px;
      margin-right: 16px;
      @include tablet-small {
        margin-left: 16px;
        max-width: 292px;
      }
    }

    &-bottom {
      max-width: 463px;
      background: #ffffff;
      box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
      padding: 16px;

      &__title {
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        line-height: 21px;
        color: #2C2C2C;
        padding-top: 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px dashed #DADADA;
        padding-bottom: 24px;

        @include phone {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
        }
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #000000;         
      }
      &__text1 {
        margin-bottom: 24px;
        padding-bottom: 20px;
        border-bottom: 1px dashed #DADADA;
      }

      &__price {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 21px;
        padding-bottom: 24px;
        border-bottom: 1px dashed #DADADA;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        color: #2C2C2C;
      }

      &__button {
        width: 100%;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        line-height: 21px;
        border: none;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
        border-radius: 66px;
        padding: 24px;
        margin: auto;
        background-color: #1f75fe;
        
      }
    }
  }
}

.special {
  display: flex;
  flex-wrap:wrap;
  max-width: 1440px;
  border-radius: 24px;
  padding: 64px 117px 64px 64px;
  background-color: #1a1a1a;
  @include phone {
    width: 100%;
    padding: 24px 24px 0px;
    margin-bottom: 24px;
  }
  @include tablet-small {
    padding: 32px 0 0 32px;
    flex-wrap: nowrap;
  }
  @include tablet {
    padding: 32px 32px 0 32px;
  }
  @include desktop {
    padding: 64px 64px 0 64px;
  }

  &-content {
    max-width: 100%;
    @include phone  {
      margin-bottom: 24px;
    }


    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      color: #ffffff;
      max-width: 650px;
      line-height: 112px;
      margin-bottom: 16px;
      @include phone {
        font-size: 32px;
        line-height: 38px;
      }
      @include tablet-small {
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
      }
      @include desktop {
        max-pwidth: 100%;
        font-size: 96px;
        line-height: 112px
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
      max-width: 650px;
      line-height: 75px;
      margin-bottom: 16px;
      @include phone {
        font-size: 24px;
        line-height: 28px;
        
      }
      @include tablet-small {
        font-size: 44px;
        line-height: 52px;
      }
      @include desktop {
        font-size: 64px;
        line-height: 75px
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #dadada;
      max-width: 650px;
      line-height: 28px;
      margin-bottom: 48px;
      @include phone {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        line-height: 19px;
        height: 76px;
        justify-content: space-between;
      }
      @include tablet-small {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        max-width: 430px;
        margin-bottom: 32px;
      }
    }

    &__inputs {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
      @include phone {
        flex-wrap: wrap;
      }
      @include tablet-small {
        flex-direction: column;
        max-width: 291px;
      }
      @include tablet {
        max-width: 100%;
        flex-direction: row;
      }
    }

    &__label {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      color: #dadada;
      margin-bottom: 8px;
      @include phone {
        width: 100%;
        font-size: 12px;
      }
      @include desktop {
        width: 291px;
      }
    }

    &__input {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #7a7a7a;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 24px;
      @include phone {
        width: 100%;
        padding: 20px;
      }
      @include tablet-small {
        width: 100%;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: #ffffff;
      line-height: 28px;

      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 24px;
      margin: 0;
      background-color: #1f75fe;
      @include phone {
        min-width: 272px;
        font-size: 16px;
        padding: 11px;
      }
      @include tablet-small {
        margin-bottom: 40px;
        padding: 12px;
        font-size: 19px;
      }
    }
  }
  &-image {
    width: 100%;
    overflow: hidden;
    &__photo {
      width: 100%;
      @include tablet-small {
        transform: translate(10px, 92px);
      }
    }
    &__photo2 {
      margin-left: 51%;
      margin-top: 3%;
      height: 600px;
      @include phone {
      height: 504px;
      // transform: translate(-107px, 54px);}
      }
      @include tablet-small {
        height: 650px;
        position: absolute;
        margin-left: 34%;
        margin-top: 6%;
      }
      @include tablet {
            height: 550px;
            margin-left: 50%;
            margin-top: 2.6%;
      }
      @include desktop {
        height: 650px;
        margin-left: 50%;
        margin-top: 1.5%;
      }
     
    }
  }
}

.three-cards {
  margin-top: 80px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

::ng-deep .three-cards-wrapper .p-card {
  width: 464px;
  height: 335px;
  background-color: white;
  // border-radius: 4px;
  // padding: 24px;

  &-body {
    width: 464px;
    height: 335px;
    margin: 0;
    padding: 0;
  }

  &-header {
    display: none;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
  }

  &-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    line-height: 21px;
    background-color: #f1f1f1;
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    // width: 342.8px;
    min-height: 48px;
    margin: 0;
    padding: 0;
    padding-left: 24px;

    // margin-left: 8px;
    padding-bottom: 68px;
    // line-height: 16px;
    background-color: #f1f1f1;

    p {
      padding-right: 97.19px;
      line-height: 16.41px;
    }
  }

  &-footer {
    background-color: #f1f1f1;
    padding-bottom: 44.78px;

    .btn {
      margin-left: 24px;
      min-width: 93px;
      background-color: #1f1f1f;
    }
  }
}

.card-business .btn-dark {
  margin-top: 0;
}

.popular-item-blog {
  width: 342px;
  height: 208px;
}

::ng-deep .popular-item-blog-wrapper1 .p-card {
  width: 342px;
  height: 208px;
  border-radius: 0;

  &-header {
    width: 342px;
    height: 162px;
    margin-bottom: 25px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
    line-height: 21px;
  }

  &-content {
    display: none;
  }
}

::ng-deep .popular-item-blog-wrapper2 .p-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 208px;
  border-radius: 0;
  padding: 24px;
  background-color: #f1f1f1;

  &-header {
    display: none;
  }

  &-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    color: #2c2c2c;
    line-height: 21px;
  }

  &-content {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #646464;

    .d-flex {
      gap: 10px;

      .image {
        position: relative;
        width: 32px;

        img {
          position: absolute;
          right: 0;
          top: -16px;
        }
      }
    }
  }
}

.news {
  &-item {
    margin-bottom: 25px;
    border-bottom: 0.5px solid #c4c4c4;

    img {
      margin-right: 8px;
    }
  }

  &-title {
    font-weight: 400;
    margin-bottom: 9.5px;
  }

  &-bottom-line {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #646464;
    margin-bottom: 25px;
  }
}

.category-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2c2c2c;
}
