.business-blog {
  margin-top: 74px;
  &__title {
    background: transparent;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
    margin-bottom: 32px;
  }
  &__item {
    display: none;
  }
  &__item:nth-child(n+2) {
    display: flex;
  }
  &__content {
    width: 100%;
    border: none;
  }
  &__blog-img {
    padding: 0;
    border: none;
  }
  &__description {
    padding-top: 16px;
    padding-left: 0;
    padding-bottom: 0;
  }
  &__img {
    width: 100%;
    border-radius: 8px;
  }
  &__blog-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
    font-weight: 600;
    background: #ffdf37;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &__note {
    font-size: 12px;
    line-height: 14px;
    color: #646464;
  }
  &__elem-nav {
    border: none;
    background: #f1f6ff;
    border-radius: 8px;
    height: 100%;
  }
  &__elem-relation {
    display: flex;
    justify-content: space-between;
    padding-top: 88px;
  }
  &__nav-title {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }
  &__nav-text {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 16px;
    max-width: 238px;
  }
  &__icon-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 13px;
  }
  &__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    background: #1f75fe;
    border-radius: 50%;
  }
}

@media all and (max-width: 576px) {
  .business-blog {
    margin-top: 23.5px;
    &__title {
      font-size: 19px;
      line-height: 22px;
    }
    &__blog-title {
      font-size: 17px;
      line-height: 20px;
    }
    &__item.is-hide {
      display: none;
    }
    &__note {
      font-size: 11px;
      line-height: 13px;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    $typeDeviceWatched: "is-laptop";
    .business-blog {
      &.#{$typeDeviceWatched} {
        .business-blog {
          &__item {
            display: none;
          }
          &__item:nth-child(n+3) {
            display: flex;
          }
          &__elem-relation {
            display: block;
          }
          &__text-group {
            display: block;
            text-align: center;
          }
          &__icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &__nav-title {
            margin-bottom: 18px;
          }
          &__nav-text {
            display: none;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    $typeDeviceWatched: "is-hd";
    .business-blog {
      &.#{$typeDeviceWatched} {
        .business-blog {
          &__item {
            display: none;
          }
          &__item:nth-child(n+2) {
            display: flex;
          }
          &__nav-text {
            font-size: 13px;
          }
        }
      }
    }
  }
}