/* Поле ввода */
.gar-input {
  display: flex;
  min-width: 193px;
  > * {
    width: 100%;
    > * {
      width: 100%;
    }
  }
  /* input-number */
  &.gar-input-number {
    & .p-inputnumber-input {
      height: 48px;
      background-color: $clrLightBlue;
      border-color: $clrLightBlue;
      color: $clrBlack;
      padding: $input-padding;
      border-radius: $input-border-radius;
      @include typo("secondary");
    }
  }
  /* input-text */
  &.gar-input-text {
    & .p-inputtext {
      height: 69px;
      color: $clrBlack;
      border: 1px solid $clrBlack;
      border-radius: calc(#{$input-border-radius} + 2px);
      padding: $input-padding;
      @include typo("regular");
    }
  }
  /* select */
  &.gar-select {
    & .p-dropdown {
      height: 48px;
      background-color: $clrLightBlue;
      border-color: $clrLightBlue;
      border-radius: $input-border-radius;
      & .p-inputtext {
        color: $clrBlack;
        padding: $input-padding;
        @include typo("secondary");
      }
      & .p-dropdown-trigger {
        transition: all 0.3s;
        & .p-dropdown-trigger-icon:before {
          content: ' ';
          background: url('/assets/icons-source/smart-drop-down.svg');
          display: block;
          height: 9px;
          width: 11px;
        }
      }
      &.p-dropdown-open {
        & .p-dropdown-trigger {
          transform: rotate(180deg);
        }
      }
    }
  }
}
