/* Поле ввода */
.gar-input {
  display: flex;
  > * {
    width: 100%;
    > * {
      width: 100%;
    }
  }
  /* input-number */
  &.gar-input-number {
    & .p-inputnumber-input {
      height: 48px;
      background-color: $clrLightBlue;
      border-color: $clrLightBlue;
      color: $clrBlack;
      padding: $input-padding;
      border-radius: $input-border-radius;
      @include typo("secondary");
    }
  }
  /* input-text */
  &.gar-input-text {
    & .p-inputtext {
      height: 68px;
      color: $clrBlack;
      border: 1px solid $clrBlack;
      border-radius: calc(#{$input-border-radius} + 2px);
      padding: $input-padding;
      @include typo("regular");
    }
  }
}
