// стили для компонента Новости Делового Мира
.news {
    &__title {
      font-size: 24px;
      line-height: 28.13px;
      background: transparent;
      border: none;
      padding-top: 0;
      padding-left: 0;
      color: #2c2c2c;
    }
    &__item {
      display: flex;
      background: #fff;
      border: none;
      flex-flow: column;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    &__icon-box {
      display: flex;
      width: 100%;
      margin-bottom: 9.5px;
    }
    &__img-text {
      font-size: 18px;
      line-height: 21px;
      color: #000;
      font-weight: 600;
      padding-left: 8px;
    }
    &__list-info {
      display: inline-block;
      width: 100%;
      text-align: left;
    }
    &__item-info {
      display: inline-block;
      border-bottom: none;
      padding: 0 16px 0 0;
    }
    &__item-info:last-child {
      padding-right: 0;
    }
  }
  
  @media only screen and (max-width: 980px) {
    .news {
      &__title {
        font-size: 19px;
        line-height: 22.27px;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin: 0 0 16px 0;
      }
      &__icon-img {
        width: 24px;
        height: 24px;
      }
      &__img-box,
      &__hot-content {
        width: 100%;
      }
      &__item {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;
      }
      &__list-info {
        margin-top: -33px;
        margin-bottom: 25px;
      }
      &__item-info {
        font-size: 12px;
        line-height: 14px;
      }
      &__content {
        display: flex;
        flex-flow: column;
      }
    }
  }
  
  @media only screen and (min-width: 540px) and (max-width: 980px) {
    .news {
      &__img-box {
        margin-bottom: 16px;
      }
      &__img-text {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 539px) {
    .news {
      &__img-text {
        font-size: 17px;
        line-height: 19.92px;
      }
    }
  }