<div class="business-ad" [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }">
  <h5 class="alert alert-light business-ad__title">
    Новые объявления готового бизнеса
  </h5>
  <div class="row">
    <div
      class="business-ad__carousel-item"
      [ngClass]="{
        'col-lg-4': isLaptop || isHD,
        'col-xxl-3': isFullHD
      }"
    >
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div class="business-ad__detail">
                <div class="card business-ad__data">
                  <div class="card-body business-ad__description">
                    <div class="card-title business-ad__text">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.text }}</span>
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.countDays }}</span>
                      <span>{{ item.dayDeclination }} назад</span>
                    </div>
                    <div class="card-text business-ad__price">
                      <span>от {{ item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div
      class="business-ad__carousel-item"
      [ngClass]="{
        'col-lg-4': isLaptop || isHD,
        'col-xxl-3': isFullHD
      }"
    >
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div class="business-ad__detail">
                <div class="card business-ad__data">
                  <div class="card-body business-ad__description">
                    <div class="card-title business-ad__text">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.text }}</span>
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.countDays }}</span>
                      <span>{{ item.dayDeclination }} назад</span>
                    </div>
                    <div class="card-text business-ad__price">
                      <span>от {{ item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div
      class="franchise__carousel-item"
      [ngClass]="{
        'col-lg-4': isLaptop || isHD,
        'col-xxl-3': isFullHD
      }"
    >
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div class="business-ad__detail">
                <div class="card business-ad__data">
                  <div class="card-body business-ad__description">
                    <div class="card-title business-ad__text">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.text }}</span>
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.countDays }}</span>
                      <span>{{ item.dayDeclination }} назад</span>
                    </div>
                    <div class="card-text business-ad__price">
                      <span
                        >от {{ item.price }} ₽</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div
      class="franchise__carousel-item"
      [ngClass]="{
        'col-lg-4': isLaptop || isHD,
        'col-xxl-3': isFullHD
      }"
    >
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div class="business-ad__detail">
                <div class="card business-ad__data">
                  <div class="card-body business-ad__description">
                    <div class="card-title business-ad__text">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.text }}</span>
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.countDays }}</span>
                      <span>{{ item.dayDeclination }} назад</span>
                    </div>
                    <div class="card-text business-ad__price">
                      <span
                        >от {{ item.price }} ₽</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
