<div class="profile-sidebar">
  <h2 class="gar-row title">Управление аккаунтом</h2>

  <div class="profile-sidebar__main">
    <div class="profile-sidebar__data">
      <div class="profile-sidebar__data-label">ФИО</div>
      <div class="profile-sidebar__data-value">{{profileData.firstName}} {{profileData.lastName}}</div>
    </div>

    <div class="profile-sidebar__data">
      <div class="profile-sidebar__data-label">В качестве</div>
      <div class="profile-sidebar__data-value">{{role}}</div>
    </div>

    <div class="profile-sidebar__info">
      <div class="profile-sidebar__data">
        <div class="profile-sidebar__data-label">Количество объявлений</div>
        <div class="profile-sidebar__data-value">{{countAd}}</div>
      </div>

      <div class="profile-sidebar__data">
        <div class="profile-sidebar__data-label">На сайте</div>
        <div class="profile-sidebar__data-value">{{countTimeSite}}</div>
      </div>
    </div>

    <nav class="profile-sidebar__menu">
      <ng-container *ngFor="let item of aProfileMenu">
        <a
          routerLink="/{{item.navigationLink}}"
          *ngIf="!item.isHide"
          routerLinkActive="-active"
          class="profile-sidebar__menu-link"
          (click)="menuClick.emit();"
        >
          <span>{{item.navigationText}}</span>

          <gar-icon name="arrow-right"></gar-icon>
        </a>
      </ng-container>
    </nav>
  </div>
</div>
