<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h5>Управление аккаунтом</h5>

  <div class="block-left">
    <div class="d-flex">
      <div>
        <p-avatar image="../../../assets/images/nophoto.jpg" styleClass="" shape="circle"></p-avatar>
      </div>

      <div class="block-fio">
        <small class="title">ФИО</small><br>
        <strong>{{profileData.firstName}} {{profileData.lastName}}</strong><br>
        <small class="title space-top-24">В качестве</small><br>
        <strong>{{role}}</strong>
      </div>
    </div>

    <hr class="hr-margin-top-30">

    <span>Количество объявлений {{countAd}}</span><br>
    <!-- <span>Количество сделок через гарант</span><br> -->
    <span>На сайте {{countTimeSite}}</span>

    <hr class="hr-margin-top-30">

    <div class="block-profile-menu">
        <ul *ngFor="let item of aProfileMenu">
            <li><a href="{{item.navigationLink}}" *ngIf="!item.isHide">{{item.navigationText}}</a></li>
        </ul>
    </div>
  </div>
</body>

</html>