@import 'design';

.profile-sidebar {
  &__main {
    background-color: $clrWhite;
    border-radius: $border-radius;
    padding: $gridGap / 3 * 2;
    box-shadow: $box-shadow-card;
  }

  &__data {
    display: flex;
    padding: $gridGap / 3 * 2;

    &-label {
      @include typo('secondary');

      flex: 1;
      color: $clrDarkGray;
    }
  }

  &__info {
    border: solid $clrLightGray;
    border-width: 1px 0;
  }

  &__menu {
    @include tablet {
      margin-top: calc(#{$gridGap} / 3 * 4);
    }

    &-link {
      @include typo('regular');

      display: flex;
      align-items: center;
      gap: calc(#{$gridGap} / 2);

      color: $clrBlack;
      text-decoration: none;
      padding: $gridGap 0;
      transition: $timeFast;
      transition-property: color, background-color;

      @include tablet {
        display: block;
        padding: $gridGap / 3 * 2;
      }

      &:not(:first-child) {
        border-top: 1px solid $clrLightGray;

        @include tablet {
          border: none;
        }
      }

      &.-active,
      &:hover {
        text-decoration: underline;
        
        @include tablet {
          color: $clrBlue;
          text-decoration: none;
          background-color: rgba($clrLightGray, .2);
          border-radius: calc(#{$border-radius} / 2);
        }
      }

      span {
        flex: 1;
      }

      gar-icon {
        width: 9px;
        height: 16px;

        fill: $clrMidGray;

        @include tablet {
          display: none;
        }
      }
    }
  }
}