<div class="gar-row title">Уведомления</div>

<div class="profile-notices">
  <div class="profile-notice" *ngFor="let item of aNotifyData">
    <div class="profile-notice__title">{{item.notifyTitle}}</div>
  
    <div class="profile-notice__description">{{item.notifyDescription}}</div>
  
    <div class="profile-notice__buttons gar-grid">
      <div>
        <gar-button role="primary">Подробнее</gar-button>
      </div>
  
      <div>
        <gar-button role="secondary">Скрыть</gar-button>
      </div>
    </div>
  </div>
</div>
