<div class="block-garant d-flex justify-content-between mt-70">
    <!-- Левый блок. -->
    <div class="col-3">
      <h5>{{oInitData.blockLeftTitle}}</h5>
  
      <div class="left-panel-first mt-32">  
        <div>Сделка проходит между</div>
        <hr>
  
        <div>
          <div>
            <strong>{{oInitData.fullName}}</strong>
            <br>
            {{oInitData.role}}
          </div>
  
          <hr>
  
          <div>
            <strong>{{oInitData.otherUserFullName}}</strong>
            <br>
            {{oInitData.otherUserRole}}
          </div>
        </div>
      </div>     
  
      <div class="left-panel-first mt-32">  
        <div>{{oInitData.blockLeftSumTitle}}</div>
        <hr>
  
        <div>
          <div>
            {{oInitData.totalAmount}} ₽
          </div>
  
          <hr>
  
          <div>
            <strong>{{oInitData.mainItemTitle}}</strong>
          </div>
  
          <hr>
  
          <div>
            <img [src]="oInitData.imageUrl">
          </div>
  
          <div>
            {{oInitData.itemTitle}}
          </div>
        </div>
      </div>   
  
      <div class="left-panel-first mt-32">  
        <strong>Согласованный список этапов и стоимость</strong>      
  
        <div *ngFor="let item of aInvestInclude; let i = index">
          <div>
            {{item.Name}}
          </div>
  
          <div>
            <!-- Стоимость этапа<br> -->
            {{item.Price}} ₽
          </div>
  
          <hr>
        </div>
      </div>   
  
      <div class="left-panel-first mt-32">  
        <div>{{oInitData.blockDocumentsTemplatesName}}</div>      
        <small>{{oInitData.blockDocumentsTemplatesDetail}}</small>
      </div>   
  
      <div class="left-panel-first mt-32">  
        <div>{{oInitData.documentBlockTitle}}</div>   
        <div *ngFor="let item of aDocumants">
          {{item}}
        </div>   
  
        <!-- <small *ngIf="aDocumants.length == 0">Документов еще нет</small> -->
      </div>   
    </div>
  
    <!-- Правый блок. -->
    <div class="col-9">
      <h5>{{oInitData.blockRightTitle}}</h5>
  
      <!-- Область с чатом. -->
      <div class="right-panel-first mt-32">  
        <div class="">
          <!-- <h5>Чат с {{fio}}</h5> -->
          <div class="">
    
            <div class="d-flex justify-content-between">        
              <div class="d-flex">
                <!-- <img class="space-intgr mr-16" src="{{chatItemUrl}}"> -->
                
                <div>
                  Предмет чата:<br>
                  {{chatItemName}}
                </div>
              </div>
    
              <div>
                Начало чата: {{dateStartDialog}}
              </div>
            </div>
    
            <hr>
    
            <div class="block-chat">
              <div class="" *ngFor="let item of aMessages">
                <div class="block-messages">
                  <div class="message" [ngClass]="{messageEnd:item.isMyMessage}">
                    {{item.message}}
                  </div>
                </div>
              </div>
            </div>
    
            <div>
              <textarea class="area-message" rows="2" cols="30" pInputTextarea [autoResize]="true"
                placeholder="Введите сообщение" [(ngModel)]="message" (keydown.enter)="onSendMessageAsync()"></textarea>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div class="block-black">
        <div>{{oInitData.blackBlockTitle}}</div>
  
        <div class="content">
          {{oInitData.blackBlockText}}
        </div>
  
       <div class="d-flex align-items-center">
        <div>
          <button class="control-button-blue-small">{{oInitData.blackBlueButtonText}}</button>
        </div>
  
        <div class="ml-3">        
          <button class="control-button-black-contur-small">{{oInitData.blackButtonText}}</button>
        </div>
       </div>
      </div> -->
  
      <!-- Область с этапами. -->
      <!-- <div class="right-panel-second mt-32">          
      <div>
        {{oInitData.contractTitle}}
      </div>     
  
      <hr>
  
      <div>
        {{oInitData.contractDetail}}
      </div>  
      
      <div>
        <small>{{oInitData.contractText}}</small>
      </div>   
  
      <div *ngIf="attachmentVendorFileName == '' || attachmentVendorFileName == null">
        <input type="file" (change)="onAttachmentVendorDocument($event)">  
      </div>
  
      <div *ngIf="attachmentVendorFileName !== '' && attachmentVendorFileName !== null">
        {{attachmentVendorFileName}}
      </div>
  
      <p-messages severity="warn" *ngIf="isSend">
        <ng-template pTemplate>
          <div class="p-ml-2">Договор на согласовании у продавца. После согласования вы получите подписанный скан.</div>
        </ng-template>
      </p-messages>
  
      <div class="d-flex">
        <div class="mr-16" *ngIf="!isApproveVendorDocment && oInitData.isOwner" (click)="onSendDocumentVendorAsync()">
          <button class="control-button-blue-small">
            {{oInitData.buttonActionTextContract}}
          </button>
        </div>
  
        <div class="mr-16" *ngIf="!isApproveVendorDocment && !oInitData.isOwner" (click)="onApproveVendorDocumentAsync()">
          <button class="control-button-blue-small">
            {{oInitData.buttonActionTextContract}}
          </button>
        </div>
  
        <div class="mr-16" *ngIf="!isApproveVendorDocment && !oInitData.isOwner">
          <button class="control-button-red-small">
            {{oInitData.buttonRejectDocumentText}}
          </button>
        </div>      
  
        <div class="" *ngIf="isApproveVendorDocment && oInitData.isOwner">
          <button class="control-button-green-small" [disabled]="true">
            {{oInitData.buttonActionText}}
          </button>
        </div>
  
        <div class="" *ngIf="isApproveVendorDocment && !oInitData.isOwner">
          <button class="control-button-green-small" [disabled]="true">
            {{oInitData.buttonActionText}}
          </button>
        </div>
      </div>      
    </div> -->
  
    <!-- Блок от продавца. -->
    <!-- <div class="right-panel-second mt-32">          
     <div>{{oInitData.blockRightStatusTitle}}</div>
  
     <hr>
  
     <div>{{oInitData.buttonActionText}}</div>
  
     <small>{{oInitData.blockCustomerComment}}</small>    
  
     <hr> -->
  
     <!-- Договор от покупателя. -->
    <!-- <div class="d-flex">
      <div class="mr-16">
        <div *ngIf="attachmentCustomerFileName == '' || attachmentCustomerFileName == null">
          <input type="file" (change)="onAttachmentCustomerDocument($event)">  
        </div>       
  
        <div *ngIf="attachmentCustomerFileName !== '' && attachmentCustomerFileName !== null">
          {{attachmentCustomerFileName}}
        </div>
  
        <button class="control-button-blue-small mr-16" 
                *ngIf="oInitData.isOwner && isApproveVendorDocment && !isApproveCustomerDocument"
                (click)="onApproveCustomerDocumentAsync()">
          {{oInitData.buttonApproveDocumentText}}
        </button>
  
        <button class="control-button-red-small" 
                *ngIf="isApproveVendorDocment && oInitData.isOwner && !isApproveCustomerDocument">
          {{oInitData.buttonRejectDocumentText}}
        </button>
      </div>
    </div>
    </div> -->
  
    <div class="d-flex justify-content-end"
      *ngIf="oInitData.continueButtonText !== '' && oInitData.continueButtonText !== null">
      <button class="control-button-blue-small">{{oInitData.continueButtonText}}</button>
    </div>
    </div>
  </div>