[hidden] {
  display: none !important; }

/*
text
*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  body {
    margin-left: 24px;
    margin-right: 24px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  body {
    margin-left: 240px;
    margin-right: 240px; } }
/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px), only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px), only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/ }
/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) and (max-width: 640px) {
  /* Styles */ }
.div-link {
  display: flex;
  align-items: center;
  margin-right: -9rem; }
  .div-link .link-add-task {
    color: #00BCD4 !important; }
  .div-link .link {
    cursor: pointer; }

.left-panel {
  display: block; }

.block-left-line {
  position: absolute;
  top: 15%;
  left: 1%; }
  .block-left-line:hover {
    cursor: pointer; }
  .block-left-line .left-line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; }

.header {
  justify-content: space-between; }
  .header .div-link > li {
    margin: 0 10px;
    cursor: pointer;
    color: #7A7A7A;
    font-family: Roboto;
    font-size: 12px; }

.btn-state-left-menu {
  color: white; }

.nav-header {
  background-color: #00BCD4 !important;
  color: white; }

.header_nav {
  background: #00BCD4 !important;
  display: flex;
  justify-content: space-around !important;
  color: white !important; }

.header-title {
  font-family: Oswald;
  font-size: 40px !important;
  color: black;
  text-decoration: none; }
  .header-title:hover {
    color: black;
    cursor: pointer; }

.wrapper {
  max-width: 1440px !important;
  margin: 0 auto; }

#dropdownMenuButton {
  padding: 0; }

.block-user:hover {
  cursor: pointer; }

.drop-down {
  position: relative; }
  .drop-down:hover .drop-menu {
    visibility: visible;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #C1C1C1;
    cursor: pointer;
    color: cornflowerblue;
    z-index: 1; }
    .drop-down:hover .drop-menu span {
      color: #676767; }
  .drop-down .drop-menu {
    position: absolute;
    background-color: transparent;
    padding: 0 10px;
    border-radius: 8px;
    visibility: hidden;
    transition: .3s;
    right: 2px;
    line-height: 2;
    width: 200px; }
    .drop-down .drop-menu ul {
      list-style-type: none;
      padding: 0; }
    .drop-down .drop-menu span {
      color: transparent; }
      .drop-down .drop-menu span:hover {
        cursor: pointer;
        color: #00BCD4; }
  .drop-down .user-icon {
    width: 30px; }

.block-after-header {
  margin-top: 35px; }
  .block-after-header .search-logo {
    margin-right: 81px;
    width: 152px; }
    .block-after-header .search-logo:hover {
      cursor: pointer; }
    .block-after-header .search-logo__image {
      width: 100%; }
  .block-after-header .input-search {
    width: 656px;
    height: 60px; }
  .block-after-header .sell {
    margin-left: 40px;
    color: #7A7A7A;
    font-family: Roboto;
    font-size: 12px; }

.after-search {
  margin-top: 49px; }
  .after-search .after-search-img {
    margin-right: 10px; }
  .after-search .after-search-menu {
    cursor: pointer; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  body {
    margin-left: 24px;
    margin-right: 24px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px), only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */ }
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px), only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/ }
/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) and (max-width: 640px) {
  /* Styles */ }
.header-link {
  cursor: pointer; }

::ng-deep .pi-chevron-right:before {
  content: "/"; }

.breadcrumbs {
  margin-top: 50px; }

/*# sourceMappingURL=header.component.css.map */
