<div class="header" [class.header-cabinet]="isGarant">
    <div class="app-container">
        <div class="header-main">
            <gar-button type="button" [role]="!isGarant ? 'primary' : 'secondary'" class="header-burger" (click)="toggleMenu(true)">
                <gar-icon name="burger" class="gar-absolute-center"></gar-icon>
            </gar-button>

            <nav class="header-nav" *ngIf="!!(aHeader$ | async)">
                <div class="gar-grid">
                    <span
                        role="link"
                        class="header-nav-item" [class.add]="last"
                        *ngFor="let el of aHeader$ | async; let last = last"
                        (click)="onGetMenuHeader(el.name)">
                        {{el.name}}
                    </span>
                </div>
            </nav>

            <div class="header-logo-wrapper">
                <a routerLink="/" class="header-logo">
                    <gar-icon name="logo"></gar-icon>
                </a>

                <div *ngIf="isGarant" class="header-slogan">Первый в мире сервис покупки бизнеса онлайн</div>
            </div>

            <div *ngIf="!isGarant" class="header-search">
                <gar-select [title]="selectedSearchOption.name" [(ngModel)]="selectedSearchOption" [items]="searchOptions" displayLabel="name"></gar-select>

                <gar-input-text
                    class="header-search-input gar-input-text"
                    title="Например: “Медицинский центр”"
                    [(ngModel)]="searchText"
                    (keydown.enter)="onRouteSearch(searchText)">
                </gar-input-text>

                <gar-button type="button" role="primary" class="header-search-button" (click)="onRouteSearch(searchText)">
                    <gar-icon name="search"></gar-icon>
                </gar-button>
            </div>

            <div *ngIf="isGarant" class="header-deal">
                <div class="header-deal-data">
                    <div class="header-deal-title">Сделка №125-127</div>
                    <div class="header-deal-subtitle">Сделка от 08.12.2021</div>
                </div>

                <div>
                    <gar-button type="button" role="secondary">
                        Отменить сделку
                    </gar-button>
                </div>
            </div>

            <div class="header-options">
                <a *ngFor="let item of cabinetLinks$ | async" routerLink="{{item.link}}" class="header-options-item">
                    <gar-icon name="{{item.icon}}"></gar-icon>

                    <span>{{item.name}}</span>
                </a>
            </div>

            <div *ngIf="isGarant" class="header-control">
                <div class="header-control-title">Управление сделкой</div>

                <div>
                    <gar-button type="button" role="secondary">
                        <gar-icon name="category-consulting" class="header-control-icon"></gar-icon>

                        Пригласить в сделку юриста
                    </gar-button>
                </div>
            </div>

            <nav *ngIf="!isGarant" class="header-categories">
                <div class="header-categories-wrapper">
                    <a class="header-categories-item" *ngFor="let item of categories" routerLink="{{item.link}}" routerLinkActive="-active" [routerLinkActiveOptions]="{exact: true}">
                        <span class="header-categories-item-square">
                            <gar-icon name="{{item.icon}}" class="gar-absolute-center"></gar-icon>
                        </span>

                        <span class="header-categories-item-name">{{item.name}}</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="burger-menu" [class.-active]="!isMenuHidden">
    <div class="gar-row">
        <div class="burger-menu-logo">
            <gar-icon name="logo"></gar-icon>
        </div>

        <div class="right">
            <gar-button type="button" role="primary" class="burger-menu-button" (click)="toggleMenu(false)">
                <gar-icon name="times" class="gar-absolute-center"></gar-icon>
            </gar-button>
        </div>
    </div>

    <div class="burger-menu-links">
        <nav class="burger-menu-nav">
            <a *ngFor="let item of categories" routerLink="{{item.link}}">
                {{item.name}}

                <gar-icon name="arrow-right"></gar-icon>
            </a>
        </nav>

        <nav class="burger-menu-nav">
            <a *ngFor="let item of cabinetLinks$ | async" routerLink="{{item.link}}">
                {{item.name}}

                <gar-icon name="arrow-right"></gar-icon>
            </a>
        </nav>

        <nav class="burger-menu-nav" *ngIf="!!(aHeader$ | async)">
            <a
                *ngFor="let el of aHeader$ | async;"
                href="#"
                (click)="onGetMenuHeader(el.name)">
                {{el.name}}

                <gar-icon name="arrow-right"></gar-icon>
            </a>
        </nav>
    </div>
</div>

<!--<div class="header-stepper" *ngIf="!isGarant">-->
<!--    <div class="app-container">-->
<!--        <p-steps [model]="items"></p-steps>-->
<!--    </div>-->
<!--</div>-->
