@import "/src/app/modules/profile/profile-my-data/profile-my-data.component.scss";

.dialog-photo {
    margin-right: 16px;
}

.dialog-line {
    margin-right: 16px;
}

.block-dialog-line {
    cursor: pointer;
}