@import 'design';

.profile-dialog {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: "pic author date" "pic message message";
  grid-gap: 8px;

  background-color: $clrWhite;
  border-radius: calc(#{$border-radius} / 2);
  padding: calc(#{$gridGap} / 4);
  box-shadow: $box-shadow-card;

  @include tablet {
    grid-gap: 16px;
    border-radius: $border-radius;
    padding: calc(#{$gridGap} / 3 * 2);
  }

  &:not(:first-child) {
    margin-top: calc(#{$gridGap} / 3 * 2);

    @include tablet-small {
      margin-top: $gridGap;
    }
  }

  &__img {
    grid-area: pic;

    overflow: hidden;
    width: 110px;
    height: 100%;
    border-radius: calc(#{$border-radius} / 2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sender {
    @include typo('secondary');

    grid-area: author;
  }

  &__date {
    @include typo('description');

    grid-area: date;
    color: $clrDarkGray;

    @include tablet-small {
      @include typo('secondary');
    }
  }

  &__title {
    @include typo('promo');

    grid-area: title;
  }

  &__message {
    @include typo('description');

    grid-area: message;
    color: $clrDarkGray;

    @include tablet-small {
      @include typo('secondary');
    }
  }
}