<div class="row">
  <!-- Левая часть. -->
  <div class="col-lg-4">
    <manage-account></manage-account>
  </div>

  <!-- Правая часть. -->
  <div class="col-lg-8">
    <h2 class="profile-title">Мои сообщения</h2>

    <div class="block-right">
      <div class="block-chat" *ngFor="let item of aDialogs">
        <div class="row block-dialog-line" (click)="onGetDialogMessageAsync(item.dialogId)">
          <div class="col-lg-3">
            <div class="dialog-photo">
              <img class="space-intgr mr-16" src="{{item.url}}">
            </div>
          </div>

          <div class="col-lg-9">
            <div class="h-100">
              <div class="d-flex justify-content-between dialog-top">
                <span class="dialog-sender">{{item.fullName}}</span>
                <span class="dialog-date" *ngIf="item.calcShortDate !== null">{{item.calcShortDate}}</span>
                <span class="dialog-date" *ngIf="item.calcTime !== null">{{item.calcTime}}</span>
              </div>
              <div class="dialog-content d-flex justify-content-between">
                <div>
                  <strong class="dialog-title">Название предмета обсуждения</strong>
                  <p class="dialog-message">{{item.lastMessage}}</p>
                </div>
                <div>
                  <img src="./../../../../assets/images/more.svg" alt="more options icon" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
