<div class="gar-row title">Мои сообщения</div>

<div class="profile-dialogs">
  <div class="profile-dialog" *ngFor="let item of aDialogs" (click)="onGetDialogMessageAsync(item.dialogId)">
    <div class="profile-dialog__img">
      <img src="{{item.url}}">
    </div>
  
    <span class="profile-dialog__sender">{{item.fullName}}</span>
    <span class="profile-dialog__date" *ngIf="item.calcShortDate !== null">{{item.calcShortDate}}</span>
    <span class="profile-dialog__date" *ngIf="item.calcTime !== null">{{item.calcTime}}</span>

    <div class="profile-dialog__message">{{item.lastMessage}}</div>
  </div>
</div>
