@import "/src/app/modules/profile/profile-my-data/profile-my-data.component.scss";

.dialog {
  font-family: 'Roboto', sans-serif;

  &-top {
    margin-bottom: .75rem;
  }

  &-photo {
    img {
      width: 100%;
    }
  }

  &-content {
    > div {
      &:first-child {
        margin-right: 2.5rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        cursor: pointer;
      }
    }
  }

  &-sender {
    font-size: 14px;
    color: #2c2c2c;
  }

  &-date {
    font-size: 14px;
    color: #7a7a7a;
  }

  &-title {
    font-size: 14px;
    color: #2c2c2c;
    margin-bottom: .25rem;

    @media (max-width: 425px) {
      font-size: .7rem;
    }
  }

  &-message {
    font-size: 14px;
    color: #7a7a7a;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
    white-space: nowrap;
  }
}
