// сброс некоторых стилей по умолчанию
* {
  box-sizing: border-box;
}

p, ul {
  margin-bottom: 0;
}

// сброс некоторых стилей ангулар компонентов
::ng-deep {
  .p-card {
    box-shadow: none !important;
  }
}
