.choice {
  margin-top: 74px;
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
    color: #2c2c2c;
  }
  &__subtitle {
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 16px;
    height: 42px;
    max-width: 290px;
  }
  &__offer {
    border: none;
  }
  &__service-item {
    background: transparent;
    border: none;
    padding: 0;
    margin-bottom: 16px;
  }
  &__business-action {
    padding: 24px 21px 24.5px 24px;
    background: rgba(218, 218, 218, 0.15);
    border-radius: 8px;
  }
  &__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
    color: #7a7a7a;
    height: max-content;
    max-width: 280px;
  }
  &__submit {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
    width: 280px;
  }
}

@media all and (max-width: 576px) {
  .choice {
    margin-top: 24px;
    &__item-title {
      font-size: 19px;
      line-height: 22px;
    }
    &__subtitle {
      font-size: 17px;
      line-height: 20px;
      max-width: 210px;
    }
    &__text {
      font-size: 14px;
      line-height: 16.5px;
      margin-bottom: 24px;
      max-width: 210px;
    }
    &__submit {
      font-size: 16px;
      line-height: 19px;
      width: 210px;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .choice {
      &.is-laptop &__list.is-alone {
        width: 100%;
      }
      &.is-laptop &__list.is-alone &__text {
        max-width: 100%;
      }
      &.is-laptop &__service-item {
        margin-bottom: 20px;
      }
      &.is-laptop &__item-title {
        font-size: 21px;
        line-height: 22px;
      }
      &.is-laptop &__business-action {
        padding: 16px;
      }
      &.is-laptop &__subtitle {
        font-size: 20px;
        line-height: 20px;
        max-width: 100%;
      }
      &.is-laptop &__text {
        font-size: 17px;
        line-height: 16px;
        max-width: 410px;
      }
      &.is-laptop &__submit {
        width: 210px;
        font-size: 18px;
        line-height: 18.5px;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 1200px) {
    .choice {
      &.is-hd &__service-item {
        margin-bottom: 24px;
      }
      &.is-hd &__item-title {
        font-size: 21px;
        line-height: 24px;
      }
      &.is-hd &__submit {
        width: 200px;
      }
    }
  }
}