.choice {
  margin-top: 74px;
  &__card {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
    color: #2c2c2c;
  }
  &__subtitle {
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 600;
    line-height: 21px;
    padding-top: 24px;
    margin-bottom: 16px;
    height: 42px;
  }
  &__offer {
    border: none;
  }
  &__service-item {
    background: transparent;
    border: none;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 16px;
  }
  &__business-action {
    padding-top: 0;
    padding-bottom: 25px;
    background: rgba(218, 218, 218, 0.15);
    border-radius: 8px;
  }
  &__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
    color: #7a7a7a;
    height: 68px;
  }
  &__submit {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}
