@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "/src/app/modules/franchise/create-franchise/create-franchise.component.scss";


section#franchise-view {
  .header {
    h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      font-weight: 500;
      color: #000;
    }

    ul {
      margin-bottom: 0;

      li {
        margin-right: 1rem;

        a {
          display: flex;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          font-size: .75rem;
          font-weight: 400;
          color: #2c2c2c;
          text-decoration: none;

          img {
            width: 24px;
            height: 24px;
            margin-right: .5rem;
          }
        }
      }
    }

    .leave-application {
      button {
        background-color: #f1f6ff;
        width: 220px;
        height: 70px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #1f75fe;
        border-radius: 8px;

        &, &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }

  .gallery {
    margin-bottom: 2rem;

    > div:last-child {
      padding-left: 13px;
      .franchise-presenter {
        padding: 24px;
        border: 2px solid #f1f1f1;
        height: 100%;

        h4 {
          max-width: 300px;
        }

        .profile-info {
          h5, p {
            margin-bottom: 1rem;
          }

          h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #000;
          }

          p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #646464;
          }
        }

        .profile-img {
          border-radius: 50%;
        }

        .options {
          margin-top: 1rem;

          button {
            height: 70px;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            border-radius: 8px;

            &, &:focus {
              border: none;
              outline: none;
            }
          }

          .be-online-franchiser {
            margin-bottom: 1rem;

            button {
              background-color: #f1f6ff;
              color: #1f75fe;
            }
          }

          .start-chat {
            button {
              background-color: #1f75fe;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .financial-information {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5rem;

    &-block {
      background-color: #f1f1f1;
      height: 121px;
      width: 220px;
      padding: 1.5rem;

      h5 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-bottom: .5rem;
      }

      span {
        display: block;

        &.description {
          font-family: 'Roboto', sans-serif;
          font-size: 10px;
          font-weight: 400;
          color: #646464;
          margin-bottom: 1rem;
        }

        &.price {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: normal;
          color: #646464;
        }
      }
    }
  }

  .company-main-info {
    margin-bottom: 5rem;

    h2.company-info-header {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 1.5rem;
    }

    > div:first-child {
      p, ul, li {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #2c2c2c;
      }

      p, ul {
        padding-right: .5rem;
      }
    }

    .investments {
      padding: 24px;
      background-color: #f1f1f1;

      ul {
        li {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5rem;

          strong {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            margin-bottom: 1rem;
          }

          span {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #646464;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .franchise-specialty {
    padding: 24px;
    border-radius: 4px;
    background-color: #f1f6ff;
    margin-bottom: 5rem;

    > a {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #000;
      margin-bottom: 1rem;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #646464;
      margin-bottom: 2.5rem;
    }

    .buttons {
      button {
        padding: 0 16px;
        border-radius: 4px;
        height: 53px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;

        &, &:focus {
          border: none;
          outline: none;
          background-color: transparent;
        }

        &:first-child {
          margin-right: 10px;
          background-color: #4487ff;
          color: #fff;
        }

        &:last-child {
          border: solid 1px #636363;
          color: #636363;
        }
      }
    }
  }

  .main-franchise-information {
    box-sizing: border-box;
    margin-bottom: 5rem;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;

      &.margin-top {
        margin-top: 5rem;
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #2c2c2c;

      &.middle {
        margin: 2rem 0;
      }
    }

    div.image {
      margin: 1.5rem 0;
    }

    div.download-presentation, .franchise-income {
      margin-left: 1.5rem;
      background-color: #f1f6ff;
      padding: 1.5rem;

      &.franchise-income {
        margin-left: 0;

        .franchise-income-children {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2.5rem;

          .franchise-income-child {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 214px;
            padding: 1.5rem;

            strong {
              font-family: 'Roboto', sans-serif;
              font-size: 18px;
              font-weight: 500;
              color: #000;
              margin-bottom: 1rem;
            }

            span {
              font-family: 'Roboto', sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #646464;
            }
          }
        }
      }

      h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-bottom: 1rem;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #646464;
        margin-bottom: 2.5rem;
      }

      .buttons {
        button {
          padding: 0 16px;
          border-radius: 4px;
          height: 53px;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;

          &, &:focus {
            border: none;
            outline: none;
            background-color: transparent;
          }

          &:first-child {
            margin-right: 10px;
            background-color: #4487ff;
            color: #fff;
          }
        }
      }
    }
  }

  .study-and-support {
    margin-bottom: 5rem;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 2rem;
    }

    h6, ul li {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #2c2c2c;
      margin-bottom: 1.5rem;
    }

    h6 {
      text-transform: uppercase;
    }

    .study-img {
      width: 100%;
      height: 645px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .franchise-packages {
    margin-bottom: 5rem;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 2rem;
    }

    .package {
      filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.08));
      width: 463px;

      &-name {
        background-color: #1653B4;
        padding: 1.5rem;

        h4 {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 28px;
          color: #FFFFFF;
        }
      }

      &-offers {
        padding: 1rem;
        background-color: #fff;

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 1.5rem;
            }
          }
        }
      }

      &-characteristics {
        padding: 1rem;
        background-color: #F1F6FF;

        ul {
          li {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            margin-bottom: 2rem;
          }
        }

        .select-package {
          button {
            background-color: #4487FF;
            color: #fff;
            border: none;
            outline: none;
            width: 100%;
            padding: 1rem 0;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    .product {
      width: 342px;
      padding: 1.5rem;
      background-color: #f1f6ff;

      strong {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #2c2c2c;
        margin-bottom: 1rem;
      }

      span {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #646464;
      }
    }
  }

  .video-and-feedback {
    margin-bottom: 5rem;

    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 2rem;
    }

    .franchise-video {
      iframe {
        border-radius: 10px;
      }
    }

    .franchise-application {
      padding-left: 1rem;
      .form-container {
        box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
        padding: 2rem 1.5rem;
        height: 570px;
        border-radius: 4px;
        background-color: #fff;

        form {
          > div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
              font-family: 'Roboto', sans-serif;
              font-size: .75rem;
              font-weight: 400;
              color: #646464;
              margin-bottom: .5rem;

              &.checkbox-label {
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                font-weight: 500;
                color: #646464;
              }
            }

            input {
              height: 69px;
              padding: 1.5rem 1rem;
              border-radius: 8px;
              border: 1.5px solid #646464;
            }

            .checkbox {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin: .5rem 0;

              input {
                display: none;
              }

              span:nth-child(2) {
                display: inline-block;
                min-width: 2rem;
                width: 2rem;
                height: 2rem;
                background-color: #dadada;
                margin-right: 18px;
                margin-top: 5px;
                position: relative;

                &::before {
                  content: '';
                  display: inline-block;
                  width: 1.4rem;
                  height: .7rem;
                  border: none;
                  border-bottom: 2px solid #fff;
                  border-left: 2px solid #fff;
                  position: absolute;
                  top: 40%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-45deg);
                }
              }

              input[type=checkbox]:checked + span {
                background-color: #1f75fe;
              }
            }

            button {
              height: 69px;
              border-radius: 8px;
              background-color: #4487ff;
              font-family: 'Roboto', sans-serif;
              font-size: 18px;
              font-weight: 500;
              color: #fff;
              border: none;
              outline: none;
            }
          }
        }

        .application-info {
          p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #646464;
          }
        }
      }
    }
  }

  .franchise-feedbacks {
    h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      margin-bottom: 2rem;
    }

    .feedback-blocks {
      margin-bottom: 5rem;

      .feedback-block {
        width: 464px;
        padding: 1.5rem 75px;
        background-color: #f1f6ff;

        .title {
          display: flex;
          flex-direction: column;

          strong {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            margin-bottom: .5rem;
          }

          span {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #646464;
          }
        }

        .content {
          margin: 2.5rem 0;
          height: 190px;

          p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: normal;
            color: #2c2c2c;
            background-color: #fff;
            padding: .5rem;
          }
        }

        .owner-info {
          display: flex;
          align-items: center;

          img {
            margin-right: .5rem;
          }

          strong {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #000;
          }
        }

        .quotes {
          top: 1.5rem;
          left: 1.5rem;
        }
      }
    }

    .buttons {
      > div {
        button {
          border: none;
          outline: none;
          padding: 1.5rem 1rem;
          border-radius: 8px;
          width: 464px;
          height: 69px;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: 500;
        }

        &.write-to-owner button {
          background-color: #f1f6ff;
          color: #1f75fe;
          margin-right: 1.5rem;
        }

        &.be-an-owner button {
          background-color: #1f75fe;
          color: #fff;
        }
      }
    }
  }
}

