@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "./../create-franchise/create-franchise.component.scss";
@import "/src/app/shared/styles/body-margins.scss";
@import 'design';

/* Стили для определенного компонента определять внутри хоста */
:host {
  .section {
    margin-bottom: 80px;
  }

  .view-franchise {
    &.title-btn.p-button {
      width: initial;
      height: initial;
      border-radius: initial;
    }
  }

  .gar-card {
    @include phone {
      padding: 8px;
    }

    &.hd {
      padding: 0;
    }

    &.presentation {
      align-self: flex-start;
      background-color: $clrLightBlue;
    }

    &.gray {
      background-color: $clrLightMidGray;

    }

    &.packages {

      @include phone {
        width: 48%;
      }

      @include tablet-small {
        width: 31%;
      }
    }

    &.packages2 {
      @include phone {
        width: 48%;
      }

      @include tablet-small {
        width: 22%;
      }
    }

    &.packages3 {
      @include tablet-small {
        width: 47%;
      }
    }

    &.promo {
      display: none;
    }

    &.basic {
      width: 70%;

      @include phone {
        width: 100%;
      }

      @include tablet-small {
        width: 100%;
      }
    }

    &.difference {
      @include phone {
        padding: 8px;
      }
    }

    &.basic {
      @include phone {
        padding: 0px;
      }
    }

    &.example {

      background-color: $clrLightBlue;

      @include phone {
        padding: 16px;
      }
    }

    &.service {
      flex-direction: row;
      font-size: 18px;
      grid-gap: calc(#{$gridGap} / 4);


      img {
        width: 75px;
        height: 116px;
      }

      &.profile {
        justify-content: center;
        align-items: center;
        background-color: $clrLightBlue;

        img {
          width: 56px;
          height: 56px;
        }
      }
    }

    &.reviews {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: $gridGap;
      gap: calc(#{$gridGap} / 2);
      background-color: $clrLightBlue;
      border-radius: $border-radius;
    }

    &.text {
      @include typo('regular');
      color: $clrBlack;
    }

    &.video {
      width: 100%;
    }

    &.request {
      width: 50%;

      @include phone {
        width: 100%;
      }
    }

    &.fit {
      @include phone {
        display: none;
      }
    }
  }

  .gar-row {

    @include typo('regular');
    color: $clrBlack;

    @include phone {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include tablet-small {
      flex-wrap: wrap;
    }

    @include tablet {
      flex-wrap: nowrap;
    }

    &.advantages-business {
      gap: 8px;
    }

    &.no-adaptive-row {
      flex-wrap: nowrap;
    }

    &.buttons {
      margin-top: auto;
    }

    &.eee {
      width: 65%;
    }

    &.gar-property-value {
      justify-content: space-between;

    }

    &.gar-property-value:not(:last-child) {
      border-bottom: 1px dashed #dadada;
    }

    &.secondary {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: $clrDarkGray;

      @include phone {
        margin-bottom: 40px;
        font-size: 12px;
        min-height: 30px;
        margin-bottom: 5px;
      }
    }

    &.advantages {
      justify-content: space-between;
    }

    &.lesson {
      width: 70%;

      @include phone {
        width: 100%;
      }

      @include tablet-small {
        width: 100%;
      }
    }

    &.title {
      font-size: 18px;
      line-height: 21px;
      color: $clrBlack;

      @include phone {
        font-size: 16px;
      }

      &.item {
        margin-bottom: 40px;

        @include phone {
          font-weight: 600;
          min-height: 60px;
          padding: 8px;
        }

        &.break {
          word-break: break-all;
        }

        &-coffee {
          margin-bottom: 5px;

        }
      }
    }

    &.service {
      grid-gap: 23px;
      flex-wrap: nowrap;
      width: 100%;
      overflow: hidden;
    }


  }

  .gar-row-item .picture {
    height: 140px;
    width: 140px;

    >img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }
}


.reviews {
  &__images {
    padding-top: 4px;
    width: 9%;
  }

  &__text {
    width: 88%;
  }
}

// .gar-property {
//   &-value {
//     width: 100%;
//     margin-bottom: 40px;
//   }
// }


.main-title,
.section-title,
.subsection-title {
  font-family: sans-serif;
  line-height: normal;
  font-weight: 500;
}

.subsection-title {
  margin-right: 1.5rem;
}

.main-title {
  font-size: 2rem;
  color: #000;
}

.section-title {
  font-size: 1.5rem;
  color: $clrBlack;
  margin-bottom: 2rem;
}

.subsection-title {
  font-size: 18px;
  color: #000;
}

.logo-and-title {
  margin-bottom: 3rem;
}

.franchise-logo {
  margin-right: 1.5rem;
}

.description {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: $clrBlack;
  margin-bottom: 2rem;
}

.content {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #646464;
  margin-bottom: 2.5rem;
}

.fact-item {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f1f1f1;

  strong {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: .5rem;
    min-height: 55px;
  }

  span {
    color: #646464;

    &:nth-child(2) {
      font-size: calc(#{$gridGap} / 2);
      margin-bottom: 1rem;
    }

    &:last-child {
      font-size: 14px;
    }
  }
}

.invest {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-block {
    background-color: #f1f1f1;
    height: 100%;

    >div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dashed $clrLightGray;
      padding: 1.25rem;

      strong {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-right: 1rem;
      }

      span {
        font-size: 14px;
        color: #646464;
        text-align: right;
      }
    }
  }
}

.photos {
  font-family: sans-serif;

  .franchise-holder {
    padding: 1.5rem;
    border: 2px solid #f1f1f1;
    background-color: white;
    display: flex;
    flex-direction: column;

    strong {
      font-size: 18px;
      color: #000;
    }

    span {
      font-size: 14px;
      color: #646464;
    }
  }

  @media (max-width: 992px) {
    .block-gallery {
      margin-bottom: 1rem;
    }
  }
}

// .key-finance {
//   font-family: sans-serif;
//   margin-top: 2rem;

//   >div {
//     .key-finance-block {
//       padding: 1.5rem;
//       background-color: #f1f1f1;
//       display: flex;
//       flex-direction: column;
//       height: 100%;

//       strong {
//         font-size: 18px;
//         color: #000;
//         margin-bottom: .5rem;
//       }

//       span {
//         color: #646464;

//         &:nth-child(2) {
//           font-size: 10px;
//           margin-bottom: 1rem;
//         }

//         &:last-child {
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }

.buttons {
  button {
    height: 53px;
    padding: 1rem;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    background-color: transparent;

    &:first-child {
      background-color: #4487ff;
      color: $clrWhite;
      margin-right: 1rem;
    }

    &:last-child {
      border: solid 1px #636363;
      color: #636363;
    }
  }
}

.franchise-details-block {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: $clrLightBlue;
  position: relative;

  .child-blocks-wrapper {
    >div {
      display: flex;

      .child-block {
        padding: 1.5rem;
        background-color: white;
        font-family: sans-serif;
        height: 100%;

        strong {
          font-size: 18px;
          font-weight: 500;
          color: #000;
          margin-bottom: 1rem;
        }

        span {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }

  .close {
    top: 1rem;
    right: 1rem;

    button,
    button:focus {
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

.download-presentation {
  width: 250px;
  padding: 0 8px;
  margin-top: 20px;

  @include phone {
    width: 100%;
  }
}

.franchise-packages {
  .package {
    filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.08));

    &-title {
      padding: 1.5rem;
      background-color: clrDarkBLue;
      font-size: 1.5rem;
      color: $clrWhite;

      h6 {
        margin-bottom: 0;
      }
    }

    &-description {
      filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.08));
      height: 400px;
      background-color: $clrWhite;
      padding: 1rem;
    }

    &-offers {
      font-family: sans-serif;
      padding: 1rem;
      background-color: $clrLightBlue;

      >div {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        strong {
          margin-right: .2rem;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #000000;
        }
      }
    }

    .add-package {
      .primary-button {
        height: 53px;
      }
    }
  }
}

.franchise-video {
  flex-direction: row;

  .packs-item {
    &.request {
      width: 100%;
      padding: 32px 24px;
      border-radius: 4px;
      box-shadow: $box-shadow-card;
      background-color: white;



      >div {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        label {
          font-size: 12px;
          color: #646464;
          margin-bottom: .5rem;
        }

        input {
          width: 100%;
          height: 69px;
          padding: 1.5rem 1rem;
          border-radius: 8px;
          border: 1.5px solid #646464;
          font-size: 18px;
          color: #c1c1c1;
        }
      }

      .agreement-policy {
        display: flex;
        flex-direction: row;
        align-items: center;

        >div:first-child {
          margin-right: 18px;
        }

        p {
          font-size: 1rem;
          text-align: left;
          color: #646464;
        }
      }
    }
  }
}

.logo-and-title {
  .franchise-logo {
    justify-content: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
      align-items: flex-start;

      >div:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

.main-info {
  .margin-bottom {
    @media (max-width: 992px) {
      margin-bottom: 1rem !important;
    }
  }
}

.financial-data {
  margin-bottom: 5rem;

  .financial-data {
    margin-bottom: 0;
  }
}

::ng-deep {
  .photos {
    .block-gallery {
      .p-galleria {
        &-content {
          align-items: stretch;

          .p-galleria-thumbnails-left p-galleriaitem {
            .p-galleria-item-container {
              display: unset;
              height: auto !important;

              .p-galleria-item {
                height: unset;

                img {
                  height: unset;
                }
              }
            }
          }

          .p-galleria-thumbnail-container {
            justify-content: space-between;

            @media (max-width: 576px) {
              padding: 0 .25rem;
            }
          }

          .p-galleria-thumbnail-items-container {
            display: none;
          }
        }
      }
    }
  }
}

.packs {
  display: flex;
  gap: $gridGap;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

  @include phone {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  @include tablet {
    flex-wrap: nowrap;
    grid-gap: $gridGap / 2;
  }

  &-item {
    width: 100%;
    min-width: 325px;
    box-shadow: $box-shadow-card;

    @include phone {
      width: 100%;
    }


    @include tablet-small {
      margin-bottom: 35px;
      width: 48%;
    }

    @include tablet {
      width: 31%;
    }

    &__image--pack {
      width: 100%;
    }

    &__title {
      font-size: 1.25rem;
      border-radius: $border-radius;
      width: 100%;
      padding: $gridGap;
      border: 0;
      color: $clrWhite;
      background-color: clrDarkBLue;
      margin-bottom: 16px;
      text-align: start;

      @include phone {
        @include typo('regular');
        padding: calc(#{$gridGap} / 3 * 2);
      }

      @include tablet-small {
        @include typo('regular');
      }

      @include tablet {
        @include typo('regular');
      }
    }

    &__text {
      @include typo('regular');
      max-width: 431px;
      padding: calc(#{$gridGap} / 2);
      line-height: 21px;
      color: $clrBlack;
      // margin: 0 16px 32px 16px;
      gap: $gridGap;

      @include phone {
        padding: 5px;
      }

      @include tablet-small {
        padding: 0;
        // margin: 0 16px 32px 0;
        gap: $gridGap;
      }

      @include tablet {
        font-size: calc(#{$gridGap} / 3 * 2);
      }
    }

    &__list {
      width: 463px;
      // height: 1730px;
      padding: 0;

      @include phone {
        width: 100%;
      }

      @include tablet-small {
        width: 100%;
      }

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        margin-left: 16px;
        margin-bottom: 32px;
      }
    }

    &__yes {
      display: inline-block;
      width: 56px;
      height: 56px;
    }

    &__tool {
      display: inline-block;
      @include typo('title-item');
      max-width: 349px;
      line-height: 21px;
      color: $clrBlack;
      gap: $gridGap;
      margin-right: 16px;

      @include tablet-small {
        // margin-left: 16px;
        gap: $gridGap;
        max-width: 292px;
      }
    }

    &-bottom {
      // max-width: 463px;
      background-color: $clrWhite;
      box-shadow: $box-shadow-card;
      padding: 16px;

      &__title {
        font-size: 1.125rem;
        line-height: 21px;
        color: $clrBlack;
        gap: $gridGap;
        margin-bottom: $gridGap;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px dashed $clrLightGray;
        gap: $gridGap;

        @include phone {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
        }

        @include tablet-small {
          font-size: 16px;
        }
      }

      &__text {
        font-size: 18px;
        line-height: 21px;
        color: $clrBlack;
      }

      &__text1 {
        gap: $gridGap;
        padding-bottom: 20px;
        border-bottom: 1px dashed $clrLightGray;
      }

      &__price {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 21px;
        padding-bottom: $gridGap;
        border-bottom: 1px dashed $clrLightGray;
        font-weight: 400;
        color: $clrBlack;
      }

      &__button {
        width: 100%;
        max-width: 320px;
        display: flex;
        font-size: $gridGap;
        font-weight: 400;
        color: $clrWhite;
        line-height: 21px;
        border: none;
        box-shadow: $box-shadow-card;
        border-radius: 66px;
        padding: $gridGap;
        padding-left: 78px;
        margin: auto;
        background-color: $clrBlue;

      }
    }
  }
}