@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "./../create-franchise/create-franchise.component.scss";
@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";

/* Стили для определенного компонента определять внутри хоста */
:host {
  .view-franchise {
    &.title-btn.p-button {
      width: initial;
      height: initial;
      border-radius: initial;
    }
  }
}



.section-margin {
  margin-bottom: 5rem;
}

.main-title, .section-title, .subsection-title {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  font-weight: 500;
}

.subsection-title {
  margin-right: 1.5rem;
}

.main-title {
  font-size: 2rem;
  color: #000;
}

.section-title {
  font-size: 1.5rem;
  color: #2c2c2c;
  margin-bottom: 2rem;
}

.subsection-title {
  font-size: 18px;
  color: #000;
}

.logo-and-title {
  margin-bottom: 3rem;
}

.franchise-logo {
  margin-right: 1.5rem;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #2c2c2c;
  margin-bottom: 2rem;
}

.content {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #646464;
  margin-bottom: 2.5rem;
}

.fact-item {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f1f1f1;

  strong {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: .5rem;
  }

  span {
    color: #646464;

    &:nth-child(2) {
      font-size: 10px;
      margin-bottom: 1rem;
    }

    &:last-child {
      font-size: 14px;
    }
  }
}

.invest {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-block {
    background-color: #f1f1f1;
    height: 100%;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px dashed #DADADA;
      padding: 1.25rem;

      strong {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-right: 1rem;
      }

      span {
        font-size: 14px;
        color: #646464;
        text-align: right;
      }
    }
  }
}

.photos {
  font-family: 'Roboto', sans-serif;

  .franchise-holder {
    padding: 1.5rem;
    border: 2px solid #f1f1f1;
    background-color: white;
    display: flex;
    flex-direction: column;

    strong {
      font-size: 18px;
      color: #000;
    }

    span {
      font-size: 14px;
      color: #646464;
    }
  }

  @media (max-width: 992px) {
    .block-gallery {
      margin-bottom: 1rem;
    }
  }
}

.key-finance {
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;

  > div {
    .key-finance-block {
      padding: 1.5rem;
      background-color: #f1f1f1;
      display: flex;
      flex-direction: column;
      height: 100%;

      strong {
        font-size: 18px;
        color: #000;
        margin-bottom: .5rem;
      }

      span {
        color: #646464;

        &:nth-child(2) {
          font-size: 10px;
          margin-bottom: 1rem;
        }
        &:last-child {
          font-size: 14px;
        }
      }
    }
  }
}

.buttons {
  button {
    height: 53px;
    padding: 1rem;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: none;
    background-color: transparent;

    &:first-child {
      background-color: #4487ff;
      color: #fff;
      margin-right: 1rem;
    }

    &:last-child {
      border: solid 1px #636363;
      color: #636363;
    }
  }
}

.franchise-details-block {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #f1f6ff;
  position: relative;

  .child-blocks-wrapper {
    > div {
      display: flex;

      .child-block {
        padding: 1.5rem;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        height: 100%;

        strong {
          font-size: 18px;
          font-weight: 500;
          color: #000;
          margin-bottom: 1rem;
        }

        span {
          font-size: 14px;
          color: #646464;
        }
      }
    }
  }

  .close {
    top: 1rem;
    right: 1rem;

    button, button:focus {
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

.franchise-packages {
  font-family: 'Roboto', sans-serif;

  .package {
    filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.08));

    &-title {
      padding: 1.5rem;
      background: #1653B4;
      font-size: 1.5rem;
      color: #FFFFFF;

      h6 {
        margin-bottom: 0;
      }
    }

    &-description {
      filter: drop-shadow(0px 4px 44px rgba(0, 0, 0, 0.08));
      height: 400px;
      background-color: #fff;
      padding: 1rem;
    }

    &-offers {
      font-family: 'Roboto', sans-serif;
      padding: 1rem;
      background: #F1F6FF;

      > div {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        strong {
          margin-right: .2rem;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #000000;
        }
      }
    }

    .add-package {
      .primary-button {
        height: 53px;
      }
    }
  }
}

.franchise-video {
  font-family: 'Roboto', sans-serif;

  .application-form {
    padding: 2rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
    background-color: white;

    > div {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      label {
        font-size: 12px;
        color: #646464;
        margin-bottom: .5rem;
      }

      input {
        width: 100%;
        height: 69px;
        padding: 1.5rem 1rem;
        border-radius: 8px;
        border: 1.5px solid #646464;
        font-size: 18px;
        color: #c1c1c1;
      }
    }

    .agreement-policy {
      display: flex;
      flex-direction: row;
      align-items: center;

      > div:first-child {
        margin-right: 18px;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: #646464;
      }
    }
  }
}

@media (max-width: 650px) {
  .buttons {
    display: flex;
    flex-direction: column;

    button {
      width: 100%;

      &:first-child {
        margin-right: 0 !important;
      }
    }
  }
}

::ng-deep {
  .agreement-policy {
    .p-checkbox, .p-checkbox .p-checkbox-box {
      width: 2rem;
      height: 2rem;
      background-color: #f7f7f7;
    }

    .p-checkbox .p-checkbox-box .p-checkbox-icon {
      font-size: 1.5rem;
    }
  }
}

.logo-and-title {
  .franchise-logo {
    justify-content: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
      align-items: flex-start;

      > div:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

.franchise-details {
  .buttons {
    button {
      @media (max-width: 650px) {
        &:first-child {
          margin-bottom: .5rem;
        }
      }

      @media (max-width: 425px) {
        font-size: .75rem;
      }
    }
  }
}

.income-calculation {
  .franchise-details-block {
    .subsection-title {
      @media (max-width: 486px) {
        margin-right: 1rem;
      }
    }

    .child-blocks-wrapper {
      .row {
        [class^=col] {
          @media (max-width: 576px) {
            margin-bottom: 1rem !important;
          }
        }
      }
    }
  }
}

.main-info {
  .margin-bottom {
    @media (max-width: 992px) {
      margin-bottom: 1rem !important;
    }
  }
}

.financial-data {
  margin-bottom: 5rem;

  .financial-data {
    margin-bottom: 0;
  }
}

::ng-deep {
  .photos {
    .block-gallery {
      .p-galleria {
        &-content {
          align-items: stretch;

          .p-galleria-thumbnails-left p-galleriaitem {
            .p-galleria-item-container {
              display: unset;
              height: auto !important;

              .p-galleria-item {
                height: unset;

                img {
                  height: unset;
                }
              }
            }
          }

          .p-galleria-thumbnail-container {
            justify-content: space-between;

            @media (max-width: 576px) {
              padding: 0 .25rem;
            }
          }

          .p-galleria-thumbnail-items-container {
            display: none;
          }
        }
      }
    }
  }
}
