<section id="franchise-view">
  <div class="row directory-path mb-5">
    <div class="col-12">
      <p>
        <span>Главная / </span>
        <span>Франшизы / </span>
        <span>Сфера / </span>
        <span>Категория / </span>
        <span>Подкатегория / </span>
        <span>Страница франшизы</span>
      </p>
    </div>
  </div>

  <div class="row header mb-5">
    <div class="col-2">
      <div>
        <img src="./../../../../assets/images/franchise-pages/franchise-view-header.png" alt="gobizy franchise view header" />
      </div>
    </div>

    <div class="col-8 d-flex flex-column justify-content-between">
      <h3>Название франшизы</h3>
      <ul class="list-unstyled d-flex">
        <li>
          <a href="#">
            <span>
              <img src="./../../../../assets/images/franchise-pages/star.svg" alt="gobizy marked franchises" />
            </span>
            <span>В избранное</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <img src="./../../../../assets/images/franchise-pages/share.svg" alt="gobizy share franchises" />
            </span>
            <span>Поделиться</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <img src="./../../../../assets/images/franchise-pages/complain.svg" alt="gobizy complain franchises" />
            </span>
            <span>Пожаловаться</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-2 d-flex justify-content-end">
      <div class="leave-application">
        <button>Оставить заявку</button>
      </div>
    </div>
  </div>

  <div class="row gallery">
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <div class="mb-2">
            <span>
              <img src="./../../../../assets/images/franchise-pages/gallery-img.png" alt="gobizy gallery image" />
            </span>
          </div>
          <div class="mb-2">
            <span>
              <img src="./../../../../assets/images/franchise-pages/gallery-img.png" alt="gobizy gallery image" />
            </span>
          </div>
          <div class="mb-2">
            <span>
              <img src="./../../../../assets/images/franchise-pages/gallery-img.png" alt="gobizy gallery image" />
            </span>
          </div>
          <div>
            <span>
              <img src="./../../../../assets/images/franchise-pages/gallery-img.png" alt="gobizy gallery image" />
            </span>
          </div>
        </div>

        <div class="col-9">
          <div class="h-100">
            <img src="./../../../../assets/images/franchise-pages/gallery-img-current.png" alt="gobizy franchises gallery current" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="franchise-presenter">
        <div>
          <h4 class="mb-3">Представитель франшизы на портале</h4>
          <div class="d-flex justify-content-between align-items-center">
            <div class="profile-info">
              <h5>Имя Фамилия Отчество</h5>
              <p>Генеральный директор</p>
              <p>Был на сайте 13 минут назад</p>
              <p>Размещено 13 октября 2021 года</p>
            </div>
            <div class="profile-img">
              <img src="./../../../../assets/images/franchise-pages/gallery-profile-photo.png" alt="gobizy franchise gallery presenter profile photo" />
            </div>
          </div>
          <div class="options">
            <div class="be-online-franchiser">
              <button>Стать франчайзи онлайн через гарант</button>
            </div>
            <div class="start-chat">
              <button>Начать чат с представителем</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="financial-information">
    <div class="financial-information-block">
      <h5>Общие инвестиции</h5>
      <span class="description">включая паушальный взнос</span>
      <span class="price">2 400 000 ₽</span>
    </div>

    <div class="financial-information-block">
      <h5>Паушальный взнос</h5>
      <span class="description">зависит от выбранного пакета</span>
      <span class="price">400 000 ₽</span>
    </div>

    <div class="financial-information-block">
      <h5>Роялти</h5>
      <span class="description">от валовой выручки</span>
      <span class="price">6.5%</span>
    </div>

    <div class="financial-information-block">
      <h5>Окупаемость</h5>
      <span class="description">средняя и планируемая</span>
      <span class="price">10-12 месяцев</span>
    </div>

    <div class="financial-information-block">
      <h5>Месячная прибыль</h5>
      <span class="description">планируемая чистая прибыль</span>
      <span class="price">240 000 ₽</span>
    </div>

    <div class="financial-information-block">
      <h5>Срок запуска</h5>
      <span class="description">средний срок открытия бизнеса</span>
      <span class="price">2-3 месяца</span>
    </div>
  </div>

  <div class="row company-main-info">
    <div class="col-8">
      <h2 class="company-info-header">Основная информация о компании</h2>
      <p>COFFEE LIKE —  это бренд, известный как в России, так и за ее пределами. В настоящее время уютные кофе-бары встречают посетителей в семи странах мира: в РФ, Казахстане, Беларуси, Киргизии, Армении, Узбекистане и Коста-Рике.</p>

      <p class="my-4">Результаты деятельности нашей компании по состоянию на 2020 год:</p>
      <ul class="list-unstyled">
        <li>306 заведений</li>
        <li>142 города в РФ</li>
        <li>738 кофе-баров</li>
      </ul>

      <p class="my-4">Успешная деятельность COFFEE LIKE начинается в 2013 году и все это время компания не прекращает расти. На конец 2013 года сеть кофеен состояла из 128 объектов и в течение двух лет увеличилась на 12-14%.  Доля COFFEE LIKE на рынке увеличилась на 46% по сравнению с 2019 годом.</p>

      <div class="d-flex justify-content-between">
        <div class="financial-information-block">
          <h5>Год основания</h5>
          <span class="description">компании</span>
          <span class="price">2009 год</span>
        </div>

        <div class="financial-information-block">
          <h5>Год запуска</h5>
          <span class="description">франчайзинга</span>
          <span class="price">2013 год</span>
        </div>

        <div class="financial-information-block">
          <h5>Количество точек</h5>
          <span class="description">в России</span>
          <span class="price">160</span>
        </div>

        <div class="financial-information-block">
          <h5>Собственных</h5>
          <span class="description">предприятий</span>
          <span class="price">10</span>
        </div>
      </div>
    </div>

    <div class="col-4" style="padding-left: 1.1rem;">
      <h2 class="company-info-header">Входит в инвестиции</h2>

      <div class="investments">
        <ul class="list-unstyled">
          <li>
            <strong>350 000 ₽</strong>
            <span>Вступительный взнос</span>
          </li>
          <li>
            <strong>300 000 ₽</strong>
            <span>Оборудование</span>
          </li>
          <li>
            <strong>120 000 ₽</strong>
            <span>Изготовления стойки в ТЦ / Павильона /Ремонта помещения (в зависимости от формата)</span>
          </li>
          <li>
            <strong>100 000 ₽</strong>
            <span>Первая закупка расходных средств</span>
          </li>
          <li>
            <strong>35 000 ₽</strong>
            <span>Аренда на первый месяц</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="franchise-specialty position-relative">
    <div>
      <h4>Особенность франшизы</h4>

      <p>В рейтинге сетей ресторанов, специализирующихся на продаже кофе, согласно авторитетному порталу Allegra World Coffee Portal в 2018 году компания COFFEE LIKE получила 1 место в РФ и 12 место среди европейских заведений. Основанием стали цифры динамики роста – показатель прироста заведений за один год (203 заведения), что стало беспрецедентным результатом.</p>

      <div class="buttons">
        <button>Получить финансовую модель</button>
        <button>Позднее</button>
      </div>
    </div>

    <a>
      <img src="../../../assets/images/close.svg" alt="close icon" />
    </a>
  </div>

  <div class="row main-franchise-information">
    <div class="col-8">
      <div>
        <h2>Основная информация о франшизе</h2>

        <p class="middle">Компания Coffee Like основана в 2013 году двумя молодыми предпринимателями Зуфаром Гариповым и Аязом Шабутдиновым. С самого дня основания она позиционировалась как международный бренд и к концу года (всего через 2 месяца!) было продано уже 24 франшизы.</p>

        <p>В следующем году предприниматели продолжили активно масштабировать бизнес, увеличив сеть до 141 кофе-бара. Результаты нашей работы были отмечены на федеральном уровне: Coffee Like стал финалистом конкурса «Школа молодого миллиардера», вошёл в 10 лучших стартапов малого предпринимательства, по мнению Forbes.</p>

        <div class="image">
          <img src="../../../../assets/images/franchise-pages/main-franchise-info.png" alt="gobizy franchise main information" />
        </div>

        <p class="mb-4">Начиная с 2016 года компания взяла курс на создание стабильного качественного продукта — такого, которым будут довольны 100% наших гостей. Выбранная стратегия позволила Coffee Like стать крупнейшей сетью в формате «кофе с собой» в СНГ: на конец декабря 2017 года сеть насчитывает 290 кофе-баров в России и ближнем зарубежье.</p>

        <p>Сегодня это уже не провинциальные «стартаперы» с неопределенным будущим, а компания со сложившейся структурой и опытом.</p>

        <h2 class="margin-top">Пример расчета прибыли одной точки Coffe Like</h2>

        <p class="middle">На старте Вы получаете готовую, работающую бизнес-модель, опробованную сотнями франчайзи, а также алгоритмы выполнения финансовых планов, базу знаний, сопровождение экспертов в течение всего времени становления Вашего бизнеса.</p>

        <div class="franchise-income">
          <h4>Средние показатели кофейни по сети (на конец 2 квартала 2020 года)</h4>

          <p>yа конец 2 квартала 2020 года</p>

          <div class="franchise-income-children">
            <div class="franchise-income-child">
              <strong>Средний чек</strong>
              <span>185 ₽</span>
            </div>
            <div class="franchise-income-child">
              <strong>Товарная наценка</strong>
              <span>200%</span>
            </div>
            <div class="franchise-income-child">
              <strong>Средняя вырчука</strong>
              <span>395 000 ₽</span>
            </div>
            <div class="franchise-income-child">
              <strong>Рентабельность</strong>
              <span>23,5%</span>
            </div>
          </div>

          <div class="buttons">
            <button>Получить консультацию</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="download-presentation">
        <h4>Скачать презентацию</h4>

        <p>Немного более подробная информация в официальной презентации франшизы.</p>

        <div class="buttons">
          <button>Скачать презентацию</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row study-and-support">
    <div class="col-8">
      <h2>Обучение и поддержка</h2>

      <h6>4 ЭТАПА ОЦЕНКИ МЕСТА ДЛЯ КОФЕ-БАРА:</h6>

      <ul class="list-unstyled">
        <li>Помощь в выборе места и формата кофе-бара.</li>
        <li>Выявление арендной ставки и подсчет трафика.</li>
        <li>Формирование бизнес-плана по развитию кофе-бара на первые 1,5 года. Этот прогноз включает в себя данные по рентабельности, прибыли, выручке, транзакциям, а также по основным переменным и постоянным расходам.</li>
        <li>Согласование места расположения.</li>
      </ul>

      <div class="study-img">
        <img src="../../../../assets/images/franchise-pages/study-and-support.png" alt="gobizy study and support" />
      </div>
    </div>

    <!-- пустой блок -->
    <div class="col-4"></div>
    <!-- пустой блок -->
  </div>

  <div class="row franchise-packages">
    <div class="col-12">
      <h2>Пакеты франшизы</h2>
    </div>

    <div class="d-flex justify-content-between">
      <div>
        <div class="package h-100">
          <div class="package-name">
            <h4>Пакет “Автоматическая кофейня”</h4>
          </div>
          <div class="package-offers h-100">
            <ul class="list-unstyled">
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div class="package h-100">
          <div class="package-name">
            <h4>Пакет “Сеть кофеен”</h4>
          </div>
          <div class="package-offers h-100">
            <ul class="list-unstyled">
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <div class="package h-100">
          <div class="package-name">
            <h4>Пакет “Оптимальный”</h4>
          </div>
          <div class="package-offers h-100">
            <ul class="list-unstyled">
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
              <li>
                <span class="me-2">
                  <img src="../../../../assets/images/franchise-pages/tick.svg" alt="tick icon" />
                </span>
                <span>Преимущеество 1</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="package">
        <div class="package-characteristics">
          <ul class="list-unstyled">
            <li>Паушальный взнос: 150 000</li>
            <li>Роялти: 5%</li>
            <li>Всего инвестиций: 150 000</li>
          </ul>

          <div class="select-package">
            <button>Хочу этот пакет</button>
          </div>
        </div>
      </div>

      <div class="package">
        <div class="package-characteristics">
          <ul class="list-unstyled">
            <li>Паушальный взнос: 150 000</li>
            <li>Роялти: 5%</li>
            <li>Всего инвестиций: 150 000</li>
          </ul>

          <div class="select-package">
            <button>Хочу этот пакет</button>
          </div>
        </div>
      </div>

      <div class="package">
        <div class="package-characteristics">
          <ul class="list-unstyled">
            <li>Паушальный взнос: 150 000</li>
            <li>Роялти: 5%</li>
            <li>Всего инвестиций: 150 000</li>
          </ul>

          <div class="select-package">
            <button>Хочу этот пакет</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products">
    <div class="product">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <strong>Кофе с собой</strong>
          <span>Идеальный вид бизнеса для новичков.</span>
        </div>
        <div>
          <img src="../../../../assets/images/franchise-pages/prod1.png" alt="gobizy product" />
        </div>
      </div>
    </div>

    <div class="product">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <strong>Для начинающих</strong>
          <span>Собраны лучшие бизнесы для новичков</span>
        </div>
        <div>
          <img src="../../../../assets/images/franchise-pages/prod2.png" alt="gobizy product" />
        </div>
      </div>
    </div>

    <div class="product">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <strong>Стритфуд и <br />фастфуд</strong>
          <span>Универсальная сфера для любителей сферы общепита</span>
        </div>
        <div>
          <img src="../../../../assets/images/franchise-pages/prod3.png" alt="gobizy product" />
        </div>
      </div>
    </div>

    <div class="product">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column">
          <strong>Для начинающих</strong>
          <span>Собраны лучшие бизнесы для новичков</span>
        </div>
        <div>
          <img src="../../../../assets/images/franchise-pages/prod2.png" alt="gobizy product" />
        </div>
      </div>
    </div>
  </div>

  <div class="row video-and-feedback">
    <div class="col-8 franchise-video">
      <h2>Видео о франшизе</h2>
      <div>
        <iframe width="100%" height="570" src="https://www.youtube.com/embed/az2HWvWX_d4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-4 franchise-application">
      <h2>Оставьте заявку</h2>
      <div class="form-container">
        <form action="">
          <div>
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" placeholder="Имя" />
          </div>

          <div>
            <label for="phone">Телефон</label>
            <input type="text" id="phone" name="phone" placeholder="Телефон" />
          </div>

          <div>
            <label for="city">Город</label>
            <input type="text" id="city" name="city" placeholder="Город" />
          </div>

          <div>
            <div class="checkbox">
              <input type="checkbox" id="policyAgreement" name="policyAgreement" />
              <span></span>
              <label for="policyAgreement" class="checkbox-label">Согласен с условиями использования сервисов GoBizy и обработки персональных данных</label>
            </div>
          </div>

          <div>
            <button>Оставить заявку</button>
          </div>
        </form>

        <div class="application-info">
          <p class="text-center">Заявку оставляли 5 раз за последний месяц</p>
        </div>
      </div>
    </div>
  </div>

  <div class="franchise-feedbacks">
    <h2>Отзывы о франшизе</h2>
    <div class="d-flex justify-content-between feedback-blocks">
      <div class="feedback-block position-relative">
        <div class="title">
          <strong>Текстовый отзыв</strong>
          <span>Москва</span>
        </div>

        <div class="content">
          <p>К 2021 уже знала, что обязательно хочу окунуться в кофейный бизнес, первым выбором конечно же были такие гранды, как One Price Coffee, Cofix и Cofelike. Однако уже после первой встречи сомнений не было...</p>
        </div>

        <div class="owner-info">
          <img src="../../../../assets/images/franchise-pages/profile1.png" alt="gobizy feedback owner profile picture" />
          <strong class="fullname">Анастасия Иванова</strong>
        </div>

        <div class="quotes position-absolute">
          <img src="../../../../assets/images/franchise-pages/quotes.svg" alt="quotes icon" />
        </div>
      </div>

      <div class="feedback-block position-relative">
        <div class="title">
          <strong>Видео-отзыв</strong>
          <span>Архангельск</span>
        </div>

        <div class="content">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/az2HWvWX_d4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="owner-info">
          <img src="../../../../assets/images/franchise-pages/profile2.png" alt="gobizy feedback owner profile picture" />
          <strong class="fullname">Петр Жилин и Александр Семаков</strong>
        </div>

        <div class="quotes position-absolute">
          <img src="../../../../assets/images/franchise-pages/quotes.svg" alt="quotes icon" />
        </div>
      </div>

      <div class="feedback-block position-relative">
        <div class="title">
          <strong>Текстовый отзыв</strong>
          <span>Москва</span>
        </div>

        <div class="content">
          <p>К 2021 уже знала, что обязательно хочу окунуться в кофейный бизнес, первым выбором конечно же были такие гранды, как One Price Coffee, Cofix и Cofelike. Однако уже после первой встречи сомнений не было...</p>
        </div>

        <div class="owner-info">
          <img src="../../../../assets/images/franchise-pages/profile1.png" alt="gobizy feedback owner profile picture" />
          <strong class="fullname">Анастасия Иванова</strong>
        </div>

        <div class="quotes position-absolute">
          <img src="../../../../assets/images/franchise-pages/quotes.svg" alt="quotes icon" />
        </div>
      </div>
    </div>

    <div class="d-flex buttons">
      <div class="write-to-owner">
        <button>Написать вледельцу</button>
      </div>
      <div class="be-an-owner">
        <button>Стать владельцем онлайн</button>
      </div>
    </div>
  </div>

  <div class="similar-franchises">
    <h2>Похожие франшизы</h2>

    <div class="similar-franchises-blocks">
      <div class="similar-franchises-block">
        <div class="img">
          <img src="../../../../assets/images/franchise-pages/similar-franchise1.png" alt="gobizy similar franchise picture" />
        </div>
        <div class="info">
          <h5 class="title">Название франшизы</h5>
          <div class="main-info">
            <span>
              <span>Франшиза</span>
              <span class="mx-2">&#x25CF;</span>
              <span>12 точек</span>
            </span>
            <strong class="price">от 1 500 000 ₽</strong>
          </div>
        </div>
      </div>

      <div class="similar-franchises-block">
        <div class="img">
          <img src="../../../../assets/images/franchise-pages/similar-franchise2.png" alt="gobizy similar franchise picture" />
        </div>
        <div class="info">
          <h5 class="title">Название франшизы</h5>
          <div class="main-info">
            <span>
              <span>Франшиза</span>
              <span class="mx-2">&#x25CF;</span>
              <span>5 точек</span>
            </span>
            <strong class="price">от 250 000 ₽</strong>
          </div>
        </div>
      </div>

      <div class="similar-franchises-block">
        <div class="img">
          <img src="../../../../assets/images/franchise-pages/similar-franchise3.png" alt="gobizy similar franchise picture" />
        </div>
        <div class="info">
          <h5 class="title">Название франшизы</h5>
          <div class="main-info">
            <span>
              <span>Франшиза</span>
              <span class="mx-2">&#x25CF;</span>
              <span>290 точек</span>
            </span>
            <strong class="price">от 4 500 000 ₽</strong>
          </div>
        </div>
      </div>

      <div class="similar-franchises-block">
        <div class="img">
          <img src="../../../../assets/images/franchise-pages/similar-franchise4.png" alt="gobizy similar franchise picture" />
        </div>
        <div class="info">
          <h5 class="title">Название франшизы</h5>
          <div class="main-info">
            <span>
              <span>Франшиза</span>
              <span class="mx-2">&#x25CF;</span>
              <span>7 точек</span>
            </span>
            <strong class="price">Стоимость франшизы: от 800 000 ₽</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<p-toast [style]="{ marginTop: '80px' }"></p-toast>

  <h5 class="title-name-logo">Название и логотип*</h5>

  <!-- Блок с названием. -->
  <div class="d-flex">
    <div>
      <label>Логотип</label><br>
      <!-- <input type="file" (change)="uploadFranchiseLogoAsync($event)">   -->
    </div>

    <div class="block-two">
      <label>Название</label><br>
      <!-- <input type="text" class="control-big-input" pInputText placeholder="Название" [(ngModel)]="logoName" name="logoName" /> -->

      <span>{{franchiseData.title}}</span>
    </div>
  </div>

  <hr class="hr">
  <span class="title-strong">Фотографии*</span><br>
  <!-- <input type="file" (change)="uploadFranchisePhotosAsync($event)" multiple>   -->
   <div class="block-gallery">
     <div>
      <span *ngIf="!aFranchisePhotos.length">Фотографии не загружены</span>
       <p-galleria [(value)]="aNamesFranchisePhotos" [responsiveOptions]="responsiveOptions"
         [containerStyle]="{'max-width': '660px'}" [numVisible]="4" thumbnailsPosition="left">
         <ng-template pTemplate="item" let-item>
           <img src="{{item}}" style="width: 700px; display: block;" />
         </ng-template>

         <ng-template pTemplate="thumbnail" let-item *ngIf="aNamesFranchisePhotos.length > 1">
           <div class="p-grid p-nogutter p-justify-center dopni">
             <img src="{{item}}" />
           </div>
         </ng-template>
       </p-galleria>
     </div>

     <div>
      <span class="title-strong">Ваша карточка для связи</span><br>
      <span class="title-small">{{fio}}</span><br>

      <div>
        <!-- <label>Пример: владелец</label><br> -->
        <!-- <input type="text" class="control-input-gallery" pInputText placeholder="Пример: владелец" [(ngModel)]="lead" name="lead" /> -->
        <span>{{franchiseData.status}}</span>
      </div>

      <button class="btn btn-link">Стать франчайзи онлайн через гарант</button><br>
      <button class="control-button-blue" (click)="onRouteFranchiseChatAsync(franchiseData.franchiseId, 'Franchise', franchiseData.userId)">Начать чат с представителем</button>
     </div>
   </div>

   <!-- Ключевые финансовые данные. -->
   <span class="title-strong">Ключевые финансовые данные*</span><br>
   <div class="block-invest">
    <div class="invest-item-first">
      <span class="title-small">Общие инвестиции</span><br>
      <small>включая паушальный взнос</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="generalInvest" name="generalInvest" /> ₽ -->
      <span>{{franchiseData.totalInvest}} ₽</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Паушальный взнос</span><br>
      <small>зависит от выбранного пакета</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="lumpSumPayment" name="lumpSumPayment" /> ₽ -->
      <span>{{franchiseData.lumpSumPayment}} ₽</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Роялти</span><br>
      <small>от валовой выручки</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="royalty" name="royalty" /> ₽ -->
      <span>{{franchiseData.royalty}} ₽</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Окупаемость</span><br>
      <small>средняя и планируемая</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="payback" name="payback" /> мес. -->
      <span>{{franchiseData.payback}} мес.</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Месячная прибыль</span><br>
      <small>планируемая чистая прибыль</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="profitMonth" name="profitMonth" /> ₽ -->
      <span>{{franchiseData.profitMonth}} ₽</span>
    </div>

    <div class="invest-item-last">
      <span class="title-small">Срок запуска</span><br>
      <small>средний срок открытия бизнеса</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="launchDate" name="launchDate" /> дн. -->
      <span>{{franchiseData.launchDate}} дн. </span>
    </div>
   </div>

   <hr class="hr">

   <!-- Основная информация о компании. -->
   <div class="d-flex">
     <div>
       <span class="title-strong">Основная информация о компании*</span><br>
       <span class="title-small">Описание деятельности</span><br>
       <!-- <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
         placeholder="Опишите деятельность" [(ngModel)]="activityDetail"></textarea> -->
         <span>{{franchiseData.activityDetail}}</span>
     </div>

     <div class="invest-in">
      <span class="title-strong">Входит в инвестиции*</span><br>
      <div class="invest-item-last" *ngFor="let item of aInvestInclude">
        <small class="">Стоимость</small><br>
        <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="priceInvest" name="priceInvest" /> ₽ -->
        <span>{{item.Price}}</span>
        <br>

        <small class="">Название</small><br>
        <!-- <input type="text" class="control-input-name" placeholder="Пример: оборудование" pInputText [(ngModel)]="nameInvest" name="nameInvest" />  -->
        <span>{{item.Name}}</span>
        <!-- <br>
        <button class="control-button-blue-small">Добавить пункт</button> -->
      </div>
      <!-- <small>
        Данный раздел обязателен для заполнения.<br>
        Подойдите к заполнению данного раздела<br>
        тщательно, так как при продаже онлайн через сервис<br>
        гарант данные разделы способствуют разбиению<br>
        на этапы.
      </small> -->
     </div>
   </div>

   <!-- Дополнительные факты. -->
   <span class="title-strong">Дополнительные факты*</span><br>
   <div class="d-flex">
    <div class="invest-item-first">
      <span class="title-small">Год основания</span><br>
      <small>компании</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="baseDate" name="baseDate" /> -->

      <span>{{franchiseData.baseDate}}</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Год запуска</span><br>
      <small>франчайзинга</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="yearStart" name="yearStart" /> -->

      <span>{{franchiseData.yearStart}}</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Количество точек</span><br>
      <small>в России</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="dotCount" name="dotCount" />  -->

      <span>{{franchiseData.dotCount}}</span>
    </div>

    <div class="invest-item">
      <span class="title-small">Собственных</span><br>
      <small>предприятий</small><br>
      <!-- <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="businessCount" name="businessCount" /> -->

      <span>{{franchiseData.businessCount}}</span>
    </div>
   </div>

   <hr class="hr">

   <!-- Описание особенности франшизы. -->
   <span class="title-strong">Описание особенности франшизы</span><br>
   <div class="block-details-franch">
    <!-- <input type="text" class="franch-details" placeholder="Укажите ключевую особенность в 1-2 предложения" pInputText [(ngModel)]="featureFranchise" name="featureFranchise" /> -->
    <!-- <span class="text">Прикрепить финансовую модель .xlsx</span> -->

    <span>{{franchiseData.peculiarity}}</span>
    <br>

   <div>
    <!-- <input type="file" (change)="uploadFinModelAsync($event)">   -->
    <!-- <button class="control-button-blue-small">Прикрепить файл</button> -->
    <br>
    <!-- <small>
      Вы можете не загружать финансовую модель, однако это может повредить доверию. Если вы не хотите загружать презентацию, просто пропустите данный этап.
    </small> -->
   </div>
   </div>

   <hr class="hr">

   <!-- Основная информация о франшизе. -->
   <div class="d-flex">
    <div>
      <span class="title-strong">Основная информация о франшизе*</span><br>
     <div>
      <span class="title-small">Описание франшизы</span><br>
      <!-- <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите франшизу" [(ngModel)]="defailsFranchise" name="defailsFranchise"></textarea> -->

        <span>{{franchiseData.text}}</span>
     </div>
    </div>

      <!-- <div class="invest-in">
        <span class="title-strong">Добавить презентацию</span><br>
        <div class="block-details-franch">
          <small>Прикрепить документ .pdf</small><br>
          <button class="control-button-blue-small">Прикрепить файл</button><br>
          <input type="file" (change)="uploadPresentAsync($event)">
        </div>

      <small>
        Загружать презентацию не обязательно.<br>
        Однако, это способствует повышению конверсии<br>
        и глубинной заинтересованности в проекте. Если<br>
        вы не хотите загружать презентацию, просто<br>
        пропустите данный этап.
      </small>
    </div> -->
   </div>

   <hr class="hr">

   <div class="d-flex">
    <div>
      <span class="title-strong">Пример расчета прибыли*</span><br>
      <span class="title-small">Описание расчета</span><br>
      <!-- <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите расчет" [(ngModel)]="paymentDetails" name="paymentDetails"></textarea> -->

        <span>{{franchiseData.paymentDetail}}</span>
    </div>
   </div>

   <hr class="hr">

   <!-- Ключевые финансовые показатели. -->
   <div class="d-flex">
    <div class="block-details-franch">
      <span class="title-strong">Ключевые финансовые показатели</span><br>
      <label>Название</label><br>
      <!-- <input type="text" class="franch-details" placeholder="Пример: расчет прибыль 1 кофейни" pInputText [(ngModel)]="namesIndicators" name="namesIndicators" /> -->

      <div class="d-flex">
        <div class="fin-indicator-first" *ngFor="let item of aFinIndicators">
          <small>Например: средний чек</small><br>
          <!-- <input type="number" class="control-input-franch-price" placeholder="Название" pInputText [(ngModel)]="finIndicator1" name="finIndicator1" /><br> -->

          <span>{{item.Name}}</span><br>

          <small>Процент или финансы</small><br>
          <!-- <input type="number" class="control-input-franch-price" placeholder="Название" pInputText
            [(ngModel)]="percentFinancial1" name="" /> -->

            <span>{{item.Price}}</span><br>
        </div>

        <!-- <div class="fin-indicator">
          <small>Например: рентабельность</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText [(ngModel)]="finIndicator2" name="finIndicator2" /><br>

          <small>Процент или финансы</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText
            [(ngModel)]="percentFinancial2" name="percentFinancial2" />
        </div> -->

        <!-- <div class="fin-indicator">
          <small>Например: средняя выручка</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText [(ngModel)]="finIndicator3" name="finIndicator3" /><br>

          <small>Процент или финансы</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText
            [(ngModel)]="percentFinancial3" name="percentFinancial3" />
        </div> -->

        <!-- <div class="fin-indicator">
          <small>Например: товарная наценка</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText [(ngModel)]="finIndicator4" name="finIndicator4" /><br>

          <small>Процент или финансы</small><br>
          <input type="number" class="control-input-franch-price" placeholder="Название" pInputText
            [(ngModel)]="percentFinancial4" name="percentFinancial4" />
        </div> -->
      </div>
    </div>
   </div>

   <hr class="hr">

   <!-- Обучение и поддержка. -->
   <div class="d-flex">
    <div>
      <span class="title-strong">Обучение и поддержка*</span><br>
      <span class="title-small">Описание обучения</span><br>
      <!-- <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите обучение" [(ngModel)]="educationDetails" name="educationDetails"></textarea><br> -->
        <!-- <input type="file" (change)="uploadEducationPhotosAsync($event)">   -->

        <span>{{franchiseData.trainingDetails}}</span>
    </div>
   </div>

   <hr class="hr">

   <!-- Пакеты франшизы. -->
   <div class="p-field-checkbox control-checkbox">
     <div>
      <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
      <label for="packs" class="control-label-checkbox">Пакеты франшизы</label>
     </div>
   </div>

  <!-- <div>
    <small>
      Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет пакетов вы можете отключить данный раздел галочкой слева от названия.
    </small>
  </div> -->

  <!-- Блок с пакетами франшизы. -->
 <div class="d-flex">
  <div class="">
    <div class="block-pack" *ngFor="let item of aPacks">
      <div class="block-top-pack">
        <!-- <input type="text" class="control-big-input" pInputText placeholder="Название пакета, например: “Базовый”"
          [(ngModel)]="packName" name="packName" /> -->
          <span class="title-small">Название пакета:</span><br>
          <span>{{item.Name}}</span>
        <br>
        <!-- <input type="text" class="control-big-input pack-detail" pInputText placeholder="Описание" [(ngModel)]="packDetails"
          name="packDetails" /> -->
          <span class="title-small">Описание:</span><br>
          <span>{{item.Text}}</span>
      </div>

      <div class="block-bottom-pack">
        <div>
          <span class="title-small">Паушальный взнос:</span><br>
          <!-- <input type="text" class="control-big-input" pInputText [(ngModel)]="packLumpSumPayment"
            name="packLumpSumPayment" /> ₽ -->
            <span>{{item.LumpSumPayment}} ₽</span>
        </div>

        <div>
          <span class="title-small">Роялти:</span><br>
          <!-- <input type="text" class="control-big-input" pInputText [(ngModel)]="royaltyPack"
            name="royaltyPack" /> % -->
            <span>{{item.Royalty}} %</span>
        </div>

        <div>
          <span class="title-small">Всего инвестиций:</span><br>
          <!-- <input type="text" class="control-big-input" pInputText [(ngModel)]="totalInvest"
            name="totalInvest" /> ₽ -->
            <span>{{item.TotalInvest}} ₽</span>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="block-button-pack">
    <button class="control-button-blue">Добавить пакет</button>
  </div> -->
 </div>

 <hr class="hr">

 <!-- Видео о франшизе. -->
 <div class="p-field-checkbox control-checkbox">
  <div class="col-lg-6">
   <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
   <label for="packs" class="control-label-checkbox">Видео о франшизе</label>
   <div>
    <span class="title-small">Ссылка на видео</span><br>
    <!-- <input type="text" class="control-big-input" placeholder="https://" pInputText [(ngModel)]="videoLink"
      name="videoLink" />  -->
      <span>{{franchiseData.urlVideo}}</span>
  </div>
  </div>

  <!-- Форма заявки. -->
  <div class="col-lg-6">
    <div>
      <h5>Оставьте заявку</h5>

     <div>
      <label for="name" class="">Имя</label><br>
      <input type="text" class="control-input-filter-price" pInputText placeholder="Имя" name="name" />
     </div>

     <label for="number" class="">Телефон</label><br>
     <input type="text" class="control-input-filter-price" pInputText placeholder="Телефон" name="number" />
    </div>

    <label for="city" class="">Город</label><br>
    <input type="text" class="control-input-filter-price" pInputText placeholder="Город" name="city" />

    <div>
      <button class="control-button-blue-small">Оставить заявку</button>
    </div>
  </div>
</div>

<!-- <div>
 <small>
  Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет видео вы можете отключить данный раздел галочкой слева от названия. Однако видео положительно влияет на вовлеченность.
 </small>
</div> -->

<hr class="hr">

<!-- Отзывы о франшизе. -->
<!-- <div class="p-field-checkbox control-checkbox">
  <div>
   <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
   <label for="packs" class="control-label-checkbox">Отзывы о франшизе</label>
  </div>
</div>

<div>
 <small>
  На данный момент доступны только видеоотзывы. Если у вас новая франшиза, то отзывов могло не быть. Однако вы можете добавить отзывы, если они есть или отключить их посредством галочки около названия.
 </small>
</div> -->

<!-- Блок с отзывами. -->
<!-- <div class="d-flex">
  <div class="">
    <div class="block-pack">
      <div class="block-top-pack">
        <input type="text" class="control-big-input" pInputText placeholder="Название пакета, например: “Базовый”"
          [(ngModel)]="packName" name="packName" />
        <br>
        <input type="text" class="control-big-input pack-detail" pInputText placeholder="Описание" [(ngModel)]="packDetails"
          name="packDetails" />
      </div>

      <div class="block-bottom-pack">
        <div>
          <span class="title-small">Паушальный взнос:</span><br>
          <input type="text" class="control-big-input" pInputText [(ngModel)]="packLumpSumPayment"
            name="packLumpSumPayment" /> ₽
        </div>

        <div>
          <span class="title-small">Роялти:</span><br>
          <input type="text" class="control-big-input" pInputText [(ngModel)]="packLumpSumPayment"
            name="packLumpSumPayment" /> %
        </div>

        <div>
          <span class="title-small">Всего инвестиций:</span><br>
          <input type="text" class="control-big-input" pInputText [(ngModel)]="packLumpSumPayment"
            name="packLumpSumPayment" /> ₽
        </div>
      </div>
    </div>
  </div>

  <div class="block-button-pack">
    <button class="control-button-blue">Добавить отзыв</button>
  </div>
 </div> -->

 <!-- <div class="switch-garant block-garant">
  <strong>Продажа через гарант</strong><br>
  <p-inputSwitch [(ngModel)]="isGarant" class="flag-garant"></p-inputSwitch>
</div>    -->

<!-- <div class="d-flex">
  <div>
    <button class="control-button-white">Отменить и сохранить в черновиках</button>
  </div>

  <div class="block-two">
    <button class="control-button-blue" (click)="onCreateFranchiseAsync()">Оплатить размещение и опубликовать</button>
  </div>
</div> -->
