$clrBlue: #1f75fe;
$clrDarkBLue: #1653b4;
$clrLightBlue: #f1f6ff;
$clrBlack: #2c2c2c;
$clrGray: #646464;
$clrDarkGray: #7a7a7a;
$clrMidGray: #c4c4c4;
$clrLightGray: #dadada;
$clrWhite: #fff;
$clrError: #eb5656;
$clrOxfordBlue: #384356;
$clrYellow: #ffdf37;

$clrFooter: #f9f9f9;

$clrTelegram: #08c;
$clrFacebook: #1877f2;
$clrInstagram: #e1306c;
$clrYoutube: #f00;

$clrUnique1: #a8C7ff;
$clrUnique2: #384356;

$clrInputFocus: #a6d5fa;
