$clrBlue: #1f75fe;
$clrDarkBLue: #1653b4;
$clrLightBlue: #f1f6ff;
$clrBlack: #2c2c2c;
$clrDarkGray: #7a7a7a;
$clrMidGray: #c4c4c4;
$clrLightGray: #dAdAdA;
$clrWhite: #fff;
$clrError: #eb5656;

$clrFooter: #f9f9f9;

$clrTelegram: #08c;
$clrFacebook: #1877f2;
$clrInstagram: #e1306c;
$clrYoutube: #f00;
