@import './colors';
/* main */
$line-height: 1.3rem;

/* Строки */
$gar-row-between-vertical-margin: 16;
$gar-row-items-between-vertical-margin: 8;
/* Заголовок */
$font-size-title: 18;
$font-weight-title: 600;
$font-size-sub-title: 12;
$font-color-sub-title: $clrDarkGray;


/* Карточка */
$card-padding: 16;
$border-radius-card: 8;
$gar-card-between-horizontal-margin: 24;
