@import './colors';
/* main */
$line-height: 1.3rem;

/* Строки */
$gar-row-between-vertical-margin: 16px;
$gar-row-items-between-vertical-margin: 8px;
$gar-row-items-between-horizontal-margin: 8px;
/* Заголовок */
$font-color-sub-title: $clrDarkGray;


/* Карточка */
$card-padding: 16px;
$border-radius-card: 8px;
$gar-card-between-horizontal-margin: 24px;

/* badge */
$main-badge-padding: 10px;

/* Кнопка */
$border-radius-btn: 4px;
$btn-default-bg: $clrLightBlue;
$btn-primary-bg: $clrBlue;
$btn-secondary-bg: transparent;
$btn-default-color: $clrBlue;
$btn-primary-color: $clrWhite;
$btn-secondary-color: $clrDarkGray;
