<section
  class="feedback-form"
  [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }"
>
  <form
    class="feedback-form__form"
    [ngClass]="{ 'with-headmaster': hasConsultant }"
    [ngStyle]="{ 'background-color': bgColor }"
  >
    <div class="container">
      <div class="row">
        <div [ngClass]="{ 'col-lg-6': isLaptop, 'col-xl-7': isHD || isFullHD }">
          <div class="alert alert-light feedback-form__title">
            {{ title }}
          </div>
          <div class="alert alert-light feedback-form__subtitle">
            {{ subtitle }}
          </div>
          <div class="alert alert-light feedback-form__note">{{ tooltip }}</div>
          <div class="mb-3 row feedback-form__orientation">
            <div
              class="feedback-form__any-box"
              [ngClass]="{ 'col-xl-5': isHD || isFullHD, 'col-lg-6': isLaptop }"
            >
              <label for="userName" class="form-label feedback-form__label"
                >Имя</label
              >
              <input
                type="text"
                class="form-control feedback-form__input"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div
              class="feedback-form__any-box"
              [ngClass]="{ 'col-xl-5': isHD || isFullHD, 'col-lg-6': isLaptop }"
            >
              <label class="form-label feedback-form__label"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div
              class="feedback-form__any-button"
              [ngClass]="{ 'col-lg-6': isLaptop, 'col-xl-8': isHD || isFullHD }"
            >
              <button
                [ngClass]="{
                  'set-bg': isBgColor,
                  'set-master-bg': hasConsultant
                }"
                class="btn btn-primary feedback-form__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <div
          [ngClass]="{
            'col-lg-6': isLaptop,
            'col-xl-5': isHD || isFullHD,
            'photo-headmaster': hasConsultant
          }"
          class="feedback-form__any-photo"
        >
          <img
            class="img-fluid feedback-form__img"
            [ngClass]="{ 'has-headmaster': hasConsultant }"
            [src]="imagePath"
            alt="Консультант"
          />
        </div>
      </div>
    </div>
  </form>
</section>
