<section class="feedback" [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }">
  <form class="feedback__request" [ngClass]="{'has-request': isSmall}" [ngStyle]="{ 'background-color': bgColor }">
    <div class="container">
      <div class="row">
        <div [ngClass]="{ 'col-lg-6': isLaptop, 'col-xl-7': isHD || isFullHD }">
          <div
            class="alert alert-light feedback__title"
            [ngClass]="{ 'has-title': isSmall }"
          >
            {{ title }}
          </div>
          <div
            class="alert alert-light feedback__subtitle"
            [ngClass]="{ 'has-subtitle': isSmall }"
          >
            {{ subtitle }}
          </div>
          <div class="alert alert-light feedback__note">{{ tooltip }}</div>
          <div class="mb-3 row feedback__field-orientation">
            <div
              class="feedback__entry-wrapper"
              [ngClass]="{ 'col-xl-5': isHD || isFullHD, 'col-lg-6': isLaptop, 'has-entry-first': isSmall }"
            >
              <label for="userName" class="form-label feedback__text-note"
                >Имя</label
              >
              <input
                type="text"
                class="form-control feedback__entry-text"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div
              class="feedback__entry-wrapper"
              [ngClass]="{ 'col-xl-5': isHD || isFullHD, 'col-lg-6': isLaptop }"
            >
              <label class="form-label feedback__text-note"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div
              class="feedback__submit-request"
              [ngClass]="{ 'col-lg-6': isLaptop, 'col-xl-8': isHD || isFullHD }"
            >
              <button
                [ngClass]="{ 'is-convert': isBgColor }"
                class="btn btn-primary feedback__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <div
          [ngClass]="{ 'col-lg-6': isLaptop, 'col-xl-5': isHD || isFullHD }"
          class="feedback__photo-wrapper"
        >
          <img
            class="img-fluid feedback__assistant"
            [ngClass]="{ 'has-assistant': isSmall }"
            [src]="imagePath"
            alt="Консультант"
          />
        </div>
      </div>
    </div>
  </form>
</section>
