<section class="feedback" [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }">
  <form
    class="bg-primary feedback__request"
    [ngClass]="{ 'bg-dark': isModify }"
  >
    <div class="container">
      <div class="row">
        <div [ngClass]="{ 'col-lg-9': isLaptop, 'col-xl-9': isHD }">
          <div class="alert alert-light feedback__title">{{ title }}</div>
          <div class="alert alert-light feedback__subtitle">
            {{ subtitle }}
          </div>
          <div class="alert alert-light feedback__note">{{ tooltip }}</div>
          <div class="mb-3 row feedback__field-orientation">
            <div
              class="feedback__entry-wrapper"
              [ngClass]="{ 'col-xl-4': isHD, 'col-lg-6': isLaptop }"
            >
              <label for="userName" class="form-label feedback__text-note"
                >Имя</label
              >
              <input
                type="text"
                class="form-control feedback__entry-text"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div
              class="feedback__entry-wrapper"
              [ngClass]="{ 'col-xl-4': isHD, 'col-lg-6': isLaptop }"
            >
              <label class="form-label feedback__text-note"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div
              class="feedback__submit-request"
              [ngClass]="{ 'col-xl-6': isHD, 'col-lg-6': isLaptop }"
            >
              <button
                [ngClass]="{ 'is-prime': isModify }"
                class="btn btn-primary feedback__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <img
          class="img-fluid feedback__assistant"
          [src]="imagePath"
          alt="Консультант"
        />
      </div>
    </div>
  </form>
</section>
