.feedback {
  position: relative;
  margin-top: 74px;
  &__request {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 96px;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 60px;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 24px;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
  }
  &__input-field {
    display: flex;
    flex-direction: column;
    max-width: 291px;
  }
  &__input-text {
    color: #dadada;
    font-size: 12px;
    line-height: 14px;
  }
  &__input {
    padding: 24px 40px 24px 24px;
    border-radius: 8px;
    font-size: 0.92vw;
    line-height: 21px;
    color: #7a7a7a;
  }
  &__assistant {
    position: absolute;
    width: 622px;
    right: 0;
    bottom: 0;
    margin-right: -140px;
  }
  &__submit {
    padding: 24px 40px 24px 24px;
    border-radius: 4px;
    background: #fff;
    color: #1f75fe;
    margin-top: 32px;
    width: 100%;
    font-size: 0.92vw;
    line-height: 21px;
    border: 1px solid #fff;
  }
  &__submit.is-prime {
    background: #1f75fe;
    color: #fff;
    border: none;
  }
  & ::ng-deep .p-element .p-inputtext {
    width: 100%;
    padding: 24px 40px 24px 24px;
    font-size: 0.92vw;
    line-height: 21px;
    border-radius: 8px;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .feedback {
      &.is-xxl &__input-field {
        max-width: 295px;
      }
    }
  }
}
