:host .feedback-form {
  position: relative;
  margin-top: 74px;
  &__form {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 95px;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 51px;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 24px;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
    max-width: 460px;
  }
  &__any-box {
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: #dadada;
    font-size: 12px;
    line-height: 14px;
  }
  &__input {
    height: 69px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #7a7a7a;
    text-align: left;
    padding-left: 24px;
  }
  & ::ng-deep .p-element.ng-valid {
    display: flex;
  }
  & ::ng-deep .p-element .p-inputtext {
    width: 100%;
    height: 69px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 8px;
    text-align: left;
    padding-left: 24px;
  }
  &__any-button {
    display: flex;
    margin-top: 32px;
  }
  &__submit {
    height: 67px;
    border-radius: 4px;
    background: #fff;
    color: #1f75fe;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #fff;
  }
  &__submit {
    border: none;
    font-size: 16px;
    line-height: 18.75px;
    &.set-bg {
      background: #1f75fe;
      color: #fff;
    }
    &.set-master-bg {
      background: #fff;
      color: #1f75fe;
    }
  }
  &__any-photo {
    position: relative;
  }
  &__img {
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -60px;
  }
}

:host {
  & .feedback-form {
    &__form.is-master {
      padding: 24px 24px 0;
    }
    &__title.is-master {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 8px;
    }
    &__subtitle.is-master {
      font-size: 24px;
      line-height: 28px;
    }
    &__any-box.is-master {
      margin-bottom: 16px;
    }
    &__any-photo.is-master {
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      border-radius: 7px;
    }
    &__img.is-master {
      position: relative;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
  }
}

@media all and (max-width: 576px) {
  :host {
    & .feedback-form {
      margin-top: 24px;
      &__form {
        padding: 24px;
      }
      &__any-data {
        padding-left: 0;
        padding-right: 0;
      }
      &__title {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 8px;
      }
      &__subtitle {
        font-size: 24px;
        line-height: 28px;
        max-width: 272px;
      }
      &__note {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 24px;
        max-width: 272px;
      }
      &__any-box {
        display: block;
      }
      &__any-box:first-child {
        margin-bottom: 16px;
      }
      &__input,
      & ::ng-deep .p-element .p-inputtext {
        font-size: 18px;
        line-height: 21px;
      }
      &__any-button {
        margin-top: 24px;
      }
      &__submit {
        font-size: 17px;
        line-height: 21px;
        margin-top: 0;
      }
      &__any-photo {
        display: none;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .feedback-form {
      &.is-laptop &__title {
        font-size: 64px;
        line-height: 75px;
      }
      &.is-laptop &__subtitle {
        font-size: 44px;
        line-height: 52px;
        max-width: 50%;
      }
      &.is-laptop &__note {
        max-width: calc(50% + 4px);
      }
      &.is-laptop &__orientation {
        display: block;
      }
      &.is-laptop &__any-box:first-child {
        margin-bottom: 16px;
      }
      &.is-laptop &__submit {
        font-size: 19px;
        line-height: 22px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .feedback-form {
      &__note.is-hd {
        max-width: 80%;
      }
    }
  }
}
