:host .feedback {
  position: relative;
  margin-top: 74px;
  &__request {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 96px;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 60px;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 24px;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
  }
  &__input-field {
    display: flex;
    flex-direction: column;
  }
  &__input-text {
    color: #dadada;
    font-size: 12px;
    line-height: 14px;
  }
  &__input {
    width: 100%;
    height: 69px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #7a7a7a;
    text-align: left;
  }
  & ::ng-deep .p-element .p-inputtext {
    width: 100%;
    height: 69px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 8px;
    text-align: left;
  }
  &__submit {
    height: 67px;
    border-radius: 4px;
    background: #fff;
    color: #1f75fe;
    margin-top: 32px;
    width: 100%;
    font-size: 0.92vw;
    line-height: 21px;
    border: 1px solid #fff;
  }
  &__submit.is-prime {
    background: #1f75fe;
    color: #fff;
    border: none;
  }
  &__assistant {
    position: absolute;
    width: 622px;
    right: 0;
    bottom: 0;
    margin-right: -140px;
  }
}

@media all and (max-width: 576px) {
  :host .feedback {
    &__request {
      padding: 24px;
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 28px;
    }
    &__note {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 24px;
    }
    &__input,
    & ::ng-deep .p-element .p-inputtext {
      font-size: 18px;
      line-height: 21px;
    }
    &__input-field {
      width: 100%;
    }
    &__input-field:first-child {
      padding-bottom: 16px;
    }
    &__input-field:nth-child(2) {
      padding-bottom: 24px;
    }
    &__submit-request {
      width: 100%;
    }
    &__submit {
      font-size: 17px;
      line-height: 21px;
      margin-top: 0;
    }
    &__assistant {
      display: none;
    }
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .feedback {
      &.is-xxl &__input-field {
        max-width: 295px;
      }
    }
  }
}
