:host .feedback {
  position: relative;
  margin-top: 74px;
  &__request {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 95px;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 60px;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 24px;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
    max-width: 100%;
  }
  &__entry-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__text-note {
    color: #dadada;
    font-size: 12px;
    line-height: 14px;
  }
  &__entry-text {
    width: 100%;
    height: 69px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    color: #7a7a7a;
    text-align: left;
    padding-left: 24px;
  }
  & ::ng-deep .p-element.ng-valid {
    display: flex;
  }
  & ::ng-deep .p-element .p-inputtext {
    width: 100%;
    height: 69px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 8px;
    text-align: left;
    padding-left: 24px;
  }
  &__submit-request {
    display: flex;
    margin-top: 32px;
  }
  &__submit {
    height: 67px;
    border-radius: 4px;
    background: #fff;
    color: #1f75fe;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #fff;
  }
  &__submit {
    &.is-convert {
      background: #1f75fe;
      color: #fff;
      border: none;
    }
  }
  &__photo-wrapper {
    position: relative;
  }
  &__assistant {
    height: 90%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -60px;
  }
}

@media all and (max-width: 576px) {
  :host .feedback {
    &__request {
      padding: 24px;
      &.with-headmaster {
        padding: 24px 24px 0;
      }
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 8px;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 28px;
    }
    &__note {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 24px;
    }
    &__entry-text,
    & ::ng-deep .p-element .p-inputtext {
      font-size: 18px;
      line-height: 21px;
    }
    &__entry-wrapper {
      width: 100%;
    }
    &__entry-wrapper:first-child {
      padding-bottom: 16px;
    }
    &__submit-request {
      margin-top: 24px;
      width: 100%;
    }
    &__submit {
      font-size: 17px;
      line-height: 21px;
      margin-top: 0;
    }
    &__photo-wrapper {
      display: none;
      &.photo-headmaster {
        display: block;
      }
    }
    &__assistant {
      &.has-headmaster {
        position: relative;
        height: 100%;
        margin-bottom: 0;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    $typeDeviceWatched: "is-laptop";
    .feedback {
      &.#{$typeDeviceWatched} {
        font-size: 64px;
        line-height: 75px;
        .feedback {
          &__title {
            font-size: 64px;
            line-height: 75px;
          }
          &__subtitle {
            font-size: 44px;
            line-height: 52px;
            max-width: 50%;
          }
          &__note {
            max-width: calc(50% + 4px);
          }
          &__field-orientation {
            display: block;
          }
          &__entry-wrapper:first-child {
            margin-bottom: 16px;
          }
          &__submit {
            font-size: 19px;
            line-height: 22px;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    $typeDeviceWatched: "is-hd";
    .feedback {
      &.#{$typeDeviceWatched} {
        .feedback {
          &__note {
            max-width: 80%;
          }
        }
      }
    }
  }
}
