@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/body-margins.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/controls.scss";
@import "/src/app/shared/styles/common.scss";

.title-name-logo {
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.business-name-label {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 24px;
}

.control-big-input {
  width: 952px;
  height: 70px;
  padding: 24px 16px;
  border: 1.5px solid #dadada;
  border-radius: 8px;
}

.block-two {
  margin-left: 24px;
}

.hr {
  margin-top: 80px;
  margin-bottom: 80px;
}

// ::ng-deep .p-galleria-thumbnail-container {
//     display: none;
// }

.block-gallery {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 48px;
}

.control-label-gallery {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  padding-bottom: 16px;
}

.control-input-gallery {
  padding: 24px 16px;
  width: 416px;
  height: 64px;
  border: 1.5px solid #dadada;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

.block-invest {
  padding-top: 48px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.invest-item {
  // padding: 10px;
  // margin: 10px;
  padding: 24px !important;
  margin: 0 !important;
  background-color: #f1f1f1;
  min-width: 220px;

  &__title {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
  }

  &__small {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 16px !important;
    font-size: 0.625rem;
  }

  &__input {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    min-width: 134px;
    height: 53px;
    border-radius: 4px;
    padding: 16px;
  }
}

.business-details {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.business-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: space-between;

  &__small {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.additional-info {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding-top: 56px;
}

.fin-indicator {
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.fin-indicator-first {
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: white;
}

.invest-item-first {
  padding: 10px;
  margin: 10px 0 10px 0;
  background-color: #f1f1f1;
}

.invest-item-last {
  padding: 10px;
  margin: 10px 0px 10px 0;
  background-color: #f1f1f1;
}

.control-input-franch-price {
  // width: 150px;
  max-width: 150px;
}

.block-invest {
  display: flex;
  justify-content: space-between;
}

.control-textarea-franch {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  width: 952px;
  height: 210px;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1.5px solid #dadada;
}

.invest-in {
  padding: 24px;

  &-container {
    min-width: 464px;
    margin-top: 48px;
    margin-bottom: 16px;
    background-color: #f1f1f1;
    padding: 24px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
  }

  &__input {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 16px;
    min-width: 416px;
    height: 53px;
    border-radius: 4px;
    padding: 16px;

    &::placeholder {
      text-align: left;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: #7a7a7a;
  }
}

.control-button-blue-small {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 24px;
  min-width: 196px;
}

// .control-input-name {
//   width: 350px;
// }

.franch-details {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  min-width: 1392px;
  height: 70px;
  padding: 24px 16px 24px 16px;
  border-radius: 8px;
  border: 1.5px solid #dadada;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  display: block;
  margin-top: 24px;
  margin-bottom: 56px;

  &--bottom {
    margin-top: 40px;
    margin-bottom: 0;
    color: #7a7a7a;
  }
}

.block__description {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}

.block-details-franch {
  background-color: #f1f6ff;
  padding: 24px;
  border-radius: 4px;
  margin-top: 24px;
  min-width: 1440px;
}

.address {
  &__label {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
  }

  &__input {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    width: 708px;
    height: 70px;
    padding: 24px 16px;
    border: 1.5px solid #dadada;
    border-radius: 8px;
  }
}

// .control-checkbox {
//   display: flex;
// }

.video {
  display: flex;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;

  &__checkbox {
    transform: scale(1.6);
  }

  &__text {
    font-family: "Roboto", sans-serif;
    // font-size: 0.875rem;
    color: #7a7a7a;
    margin-bottom: 24px;
  }

  &__input {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    width: 708px;
    height: 70px;
    padding: 24px 16px;
    border: 1.5px solid #dadada;
    border-radius: 8px;
  }
}

.control-label-checkbox {
  margin: 0;
  padding: 0;
  // padding-left: 16px;
}

.block-pack {
  margin-top: 56px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 16px;
}

.block-button-pack {
  margin-top: 32px;
  margin-left: 24px;
}

.block-bottom-pack {
  margin-top: 320px;
}

.pack-detail {
  margin-top: 16px;
}

.flag-garant {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 380px;
  margin-left: 80px;
  width: 79px;
  height: 46px;
  padding: 2px;
  border-radius: 47px;
}

.block-garant {
  align-items: center;
  display: flex;
  margin-bottom: 65px;

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.block-two {
  margin-left: 24px;
}

.control-button-white {
  width: 464px;
  height: 69px;
  border-radius: 8px;
  padding: 24px 16px;
  background-color: #f1f6ff;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #1f75fe;
}

.control-button-blue {
  width: 464px;
  height: 69px;
  border-radius: 8px;
  padding: 24px 16px;
  background-color: #1f75fe;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
}

// Стили дял галереи.
::ng-deep .p-galleria-thumbnail-item {
  overflow: visible !important;
}

.file-label {
  margin-top: 32px;
}


