<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="create-ready-business.component.css">
</head>

<body>

  <h5 class="title-name-logo">Название бизнеса*</h5>

  <!-- Блок с названием. -->
    <div class="block-two">
      <label>Укажите полное название вашего бизнеса, без приставок ООО<br>
        <input type="text" class="control-big-input" pInputText placeholder="Название" [(ngModel)]="businessName" name="businessName" />
      </label>
    </div>

  <hr class="hr">

  <p>
    <span class="title-strong">Фотографии*</span>
  </p>
  <input type="file" (change)="uploadBusinessPhotosAsync($event)" multiple>
   <div class="block-gallery">
     <div>
      <span *ngIf="!aNamesBusinessPhotos.length">Фотографии не загружены</span>
       <p-galleria [(value)]="aNamesBusinessPhotos" [responsiveOptions]="responsiveOptions"
         [containerStyle]="{'max-width': '660px'}" [numVisible]="4" thumbnailsPosition="left">
         <ng-template pTemplate="item" let-item>
           <img src="{{item}}" style="width: 700px; display: block;" />
         </ng-template>

         <ng-template pTemplate="thumbnail" let-item *ngIf="aNamesBusinessPhotos.length > 1">
           <div class="p-grid p-nogutter p-justify-center">
             <img src="{{item}}" />
           </div>
         </ng-template>
       </p-galleria>
     </div>

     <div class="ownercard">
       <p>
        <span class="title-strong">Ваша карточка для связи</span>
      </p>
      <p>
      <span class="title-small">Ваше Имя Фамилия Отчество</span>
      </p>
      <div>
        <label>Введите ваш статус / должность</label><br>
        <input type="text" class="control-input-gallery" pInputText placeholder="Пример: владелец" [(ngModel)]="lead" name="lead" />
      </div>

      <button class="btn btn-link control-button-white">Стать франчайзи онлайн через гарант</button><br>
      <button class="btn-link control-button-blue">Начать чат с представителем</button>
     </div>
   </div>

   <!-- Ключевые финансовые данные. -->
   <span class="title-strong">Ключевые финансовые данные*</span>
   <div class="block-invest">
    <div class="invest-item-first invest-item">
      <span class="title-small">Стоимость</span><br>
      <small class="invest-text">полная стоимость бизнеса</small><br>
      <input type="number" class="control-input-business-price" placeholder="- ₽" pInputText [(ngModel)]="price" name="price" />
    </div>

    <div class="invest-item">
      <span class="title-small">Оборот</span><br>
      <small class="invest-text">средняя выручка за месяц</small><br>
      <input type="number" class="control-input-business-price" placeholder="- ₽" pInputText [(ngModel)]="turnPrice" name="turnPrice" />
    </div>

    <div class="invest-item">
      <span class="title-small">Прибыль</span><br>
      <small class="invest-text">чистая прибыль за месяц</small><br>
      <input type="number" class="control-input-business-price" placeholder="- ₽" pInputText [(ngModel)]="profitPrice" name="profitPrice" />
    </div>

    <div class="invest-item">
      <span class="title-small">Окупаемость</span><br>
      <small class="invest-text">по настоящим данным</small><br>
      <input type="number" class="control-input-business-price" placeholder="- месяцев" pInputText [(ngModel)]="payback" name="payback" />
    </div>

    <div class="invest-item">
      <span class="title-small">Рентабельность</span><br>
      <small class="invest-text">по настоящим данным</small><br>
      <input type="number" class="control-input-business-price" placeholder="- ₽" pInputText [(ngModel)]="profitability" name="profitability" />
    </div>

    <div class="invest-item-last invest-item">
      <span class="title-small">Возраст бизнеса</span><br>
      <small class="invest-text">с момента основания</small><br>
      <input type="number" class="control-input-business-price" placeholder="---- год" pInputText [(ngModel)]="businessAge" name="businessAge" />
    </div>
   </div>

   <hr class="hr">

   <!-- Основная информация о компании. -->
   <div class="info-company">
     <div>
       <p>
        <span class="title-strong">Основная информация о бизнесе*</span>
      </p>
      <p>
        <span class="title-small">Описание деятельности</span>
      </p>
       <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
         placeholder="Опишите деятельность" [(ngModel)]="activityDetail"></textarea>
     </div>

     <div class="invest-in">
       <p>
        <span class="title-strong">Входит в стоимость*</span>
      </p>
      <div class="price" *ngFor="let item of aPriceIn">
        <small class="">Стоимость</small><br>
        <input type="number" class="business-price" placeholder="- ₽" pInputText *ngIf="item.isHide" [value]="item.Price" name="priceIn" />
        <br>

        <small class="">Название</small><br>
        <input type="text" class="control-input-name" placeholder="Пример: оборудование" pInputText *ngIf="item.isHide" [value]="item.Name" name="nameIn" />
      </div>
      <button class="control-button-blue-small btn-small" (click)="onAddPriceIn(priceIn, nameIn)">Добавить пункт</button>
      <br>
      <small class="small-price">
        Данный раздел обязателен для заполнения.<br>
        Подойдите к заполнению данного раздела<br>
        тщательно, так как при продаже онлайн через сервис<br>
        гарант данные разделы способствуют разбиению<br>
        на этапы.
      </small>
     </div>
   </div>

   <!-- Дополнительные факты. -->
   <span class="title-strong">Дополнительные факты*</span><br>
   <div class="add-fact">
    <div class="invest-item-first invest-item iteam-fact">
      <span class="title-small">Сотрудников</span><br>
      <small class="invest-text">количество</small><br>
      <input type="number" class="control-input-business-price" placeholder="- год" pInputText [(ngModel)]="employeeYearCount" name="employeeYearCount" />
    </div>

    <div class="invest-item iteam-fact">
      <span class="title-small">Форма</span><br>
      <small class="invest-text">организационно-правовая</small><br>
      <input type="text" class="control-input-business-price" placeholder="- год" pInputText [(ngModel)]="form" name="form" />
    </div>

    <div class="invest-item iteam-fact">
      <span class="title-small">Доля</span><br>
      <small class="invest-text">к продаже</small><br>
      <input type="number" class="control-input-business-price" placeholder="-" pInputText [(ngModel)]="share" name="share" />
    </div>

    <div class="invest-item iteam-fact">
      <span class="title-small">Сайт</span><br>
      <small class="invest-text">компании</small><br>
      <input type="text" class="control-input-business-price" placeholder="https://" pInputText [(ngModel)]="site" name="site" />
    </div>
   </div>

   <hr class="hr">

   <!-- Описание особенности бизнеса. -->
   <span class="title-strong">Описание особенности готового бизнеса</span><br>
   <div class="block-details-franch">
    <input type="text" class="business-details" placeholder="Укажите ключевую особенность в 1-2 предложения" pInputText [(ngModel)]="peculiarity" name="peculiarity" />
    <span class="text">Прикрепить финансовую модель .xlsx</span>
    <br>

    <div>
      <input type="file" (change)="uploadFinModelAsync($event)"><br>
      <button class="control-button-blue-small small-buxiness"><img src="../../../assets/images/Fill-60.svg" alt="скрепка"> Прикрепить файл</button>
      <br>
    </div>
   </div>
   <small>
     Вы можете не загружать финансовую модель, однако это может повредить доверию. Если вы не хотите загружать презентацию, просто пропустите данный этап.
   </small>

   <hr class="hr">

   <!-- Деятельность бизнеса. -->
   <div class="business-activ">
    <div>
      <p>
        <span class="title-strong">Деятельность бизнеса*</span>
      </p>
     <div>
       <p>
        <span class="title-small">Описание принципов и процессов работы вашего бизнеса</span>
      </p>
      <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите бизнес" [(ngModel)]="text" name="text"></textarea>
        <br>
        <input type="file" (change)="uploadTextBusinessPhotosAsync($event)">
     </div>
    </div>
  </div>

   <hr class="hr">

   <div class="d-flex">
    <div>
      <p>
        <span class="title-strong">Активы предприятия*</span>
      </p>
      <p>
        <span class="title-small">Опишите активы и их ценность чуть более подробно, чем в разделе “Входит в стоимость”</span>
      </p>
      <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите активы" [(ngModel)]="assets" name="assets"></textarea>
        <br>
        <input type="file" (change)="uploadAssetsBusinessPhotosAsync($event)">
    </div>
   </div>

   <hr class="hr">

   <!-- Причины продажи. -->
   <div class="d-flex">
    <div>
      <p>
        <span class="title-strong">Причины продажи*</span>
      </p>
      <p>
        <span class="title-small">Укажите реальные причины продажи</span>
      </p>
      <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
        placeholder="Опишите причины" [(ngModel)]="reasonsSale" name="reasonsSale"></textarea><br>
        <input type="file" (change)="uploadReasonsSalePhotosAsync($event)">
    </div>
   </div>

 <hr class="hr">

  <!-- Адрес. -->
  <div class="d-flex">
    <p>
      <span class="title-strong">Адрес*</span>
    </p>
    <p>
      <span class="title-small">Точный адрес поможет привлечь заинтересованных покупателей рядом с вами </span>
    </p>
    <div>
      <label>Адрес</label><br><br>
      <input type="text" class="control-big-input" pInputText placeholder="Москва, улица ленина 3" [(ngModel)]="address" name="address" />
       <!--
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A50d767e19be0bb5aba0ac5c8cef22404f424bbc32c5f58cffc796b15b536f44a&amp;width=952&amp;height=425&amp;lang=ru_RU&amp;scroll=true"></script>
      -->
    </div>
  </div>

   <hr class="hr">

 <!-- Видео о бизнесе. -->
 <div class="p-field-checkbox control-checkbox">
  <div>
   <p-checkbox name="group1" value="New York" [(ngModel)]="isHideVideo" inputId="video"></p-checkbox>
   <label for="video" class="control-label-checkbox title-strong ">Видео о бизнесе</label>
  </div>
</div>

<div>
  <p>
  <small>
    Данный раздел не является обязательным для заполнения. Если у вашего бизнеса нет видео вы можете отключить данный раздел галочкой слева от названия. Однако видео положительно влияет на вовлеченность.
  </small>
  </p>
</div>

<div>
  <p>
    <span class="title-small">Ссылка на видео</span>
  </p>
  <input type="text" class="control-big-input" placeholder="https://" pInputText [(ngModel)]="videoLink"
    name="videoLink" />
</div>

<hr class="hr">

 <!-- Продажа через гарант. -->
 <div class="switch-garant block-garant">
   <p>
    <strong>Продажа через гарант</strong>

    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
      <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>

  </p>
  <p-inputSwitch [(ngModel)]="isGarant" class="flag-garant" (click)="onCheckedGarant()"></p-inputSwitch>
</div>

<div class="sale-business">
  <div>
    <button class="control-button-white">Отменить и сохранить в черновиках</button><br>
  </div>

  <div class="block-blue">
    <button class="control-button-blue" (click)="onCreateBusinessAsync()">Оплатить размещение и опубликовать</button>
  </div>
</div>

</body>

</html>
