<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>  
  <h5 class="title-name-logo">Название и логотип*</h5>

  <!-- Блок с названием. -->
  <div class="d-flex">
    <div>
      <label>Логотип</label>
      <p-fileUpload mode="basic" (onSelect)="onBasicUpload($event)" [auto]="true"></p-fileUpload>
    </div>

    <div class="block-two">
      <label>Название</label><br>
      <input type="text" class="control-big-input" pInputText placeholder="Название" [(ngModel)]="name" name="name" />
    </div>
  </div>

  <hr class="hr">
  <h5>Фотографии*</h5>
   <input type="file" (change)="uploadFranchisePhotosAsync($event)" multiple>
  
  <p-galleria [(value)]="aNamesFranchisePhotos" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px'}" [numVisible]="4" thumbnailsPosition="left">
    <ng-template pTemplate="item" let-item>
        <img src="{{item}}" style="width: 100%; display: block;" />
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item *ngIf="aNamesFranchisePhotos.length > 1">
        <div class="p-grid p-nogutter p-justify-center dopni">
            <img src="{{item}}" />
        </div>
    </ng-template>
</p-galleria>

</body>

</html>