<form class="form-auth">
  <h5 class="gar-row title">Добавить объявление</h5>

  <div class="form-auth__section">
    <div class="gar-row title item">Вид бизнеса</div>

    <div class="gar-grid">
      <div class="gar-grid gar-grid_small">
        <p-radioButton
          name="businessType"
          inputId="franch"
          value="Franchise"
          [(ngModel)]="selectedValue"
          (onClick)="onSelectCheck()"
        >
        </p-radioButton>

        <label for="franch" class="form-auth__label-radio">Франшиза</label>
      </div>

      <div class="gar-grid gar-grid_small">
        <p-radioButton
          name="businessType"
          inputId="bus"
          value="Business"
          [(ngModel)]="selectedValue"
          (onClick)="onSelectCheck()">
        </p-radioButton>

        <label for="bus" class="form-auth__label-radio">Готовый бизнес</label>
      </div>
    </div>
  </div>

  <div class="form-auth__section">
    <div class="gar-row title item">Выбор сферы</div>

    <p-dropdown
      [options]="aFranchiseCategories"
      optionLabel="categoryName"
      optionCode="categoryCode"
      [filter]="true"
      name="category"
      placeholder="Выберите сферу"
      [(ngModel)]="selectedCategory"
      [showClear]="false"
      (onChange)="onChangeValueSphereAsync($event.value.categoryCode, $event.value.franchiseCategorySysName)"
      (onFilter)="onFilterSphereAsync($event.filter)"
      *ngIf="isSelectFranch"
    >
    </p-dropdown>

    <p-dropdown
      [options]="aBusinessCategories"
      optionLabel="categoryName"
      optionCode="categoryCode"
      [filter]="true"
      name="category"
      placeholder="Выберите сферу"
      [(ngModel)]="selectedCategory"
      [showClear]="false"
      (onChange)="onChangeValueSphereAsync($event.value.categoryCode, $event.value.franchiseCategorySysName)"
      (onFilter)="onFilterSphereAsync($event.filter)"
      *ngIf="isSelectBus">
    </p-dropdown>
  </div>

  <div class="form-auth__section">
    <div class="gar-row title item">Выбор категории</div>

    <p-dropdown
      [options]="aFranchiseSubCategories"
      optionLabel="subCategoryName"
      [filter]="true"
      name="subCategory"
      [(ngModel)]="selectedSubCategory"
      optionCode="categoryCode"
      placeholder="Выберите категорию"
      [showClear]="false"
      (onFilter)="onFilterCategoryAsync($event.filter, $event.value.categoryCode, $event.value.franchiseCategorySysName)"
      *ngIf="isSelectFranch">
    </p-dropdown>
  
    <p-dropdown
      [options]="aBusinessSubCategories"
      optionLabel="subCategoryName"
      [filter]="true"
      name="subCategory"
      [(ngModel)]="selectedSubCategory"
      optionCode="categoryCode"
      placeholder="Выберите категорию"
      [showClear]="false"
      (onFilter)="onFilterCategoryAsync($event.filter, $event.value.categoryCode, $event.value.franchiseCategorySysName)"
      *ngIf="isSelectBus">
    </p-dropdown>
  </div>

  <div class="form-auth__section" *ngIf="isSelectBus">
    <div class="gar-row title item">Выбор города</div>

    <p-dropdown
      [options]="aCities"
      optionLabel="businessCityName"
      name="cityName"
      [(ngModel)]="selectedCityName"
      placeholder="Выберите город"
      [showClear]="false"
    ></p-dropdown>
  </div>

  <div class="form-auth__section gar-grid gar-grid_small gar-grid_align-center">
    <p-checkbox
      name="condition"
      inputId="cond"
      [(ngModel)]="isSelectGobizy"
      [binary]="false"
    >
    </p-checkbox>

    <label for="cond" class="form-auth__label-checkbox">
      Согласен с условиями использования<br>
      сервисов GoBizy и обработки персональных<br>
      данных
    </label>
  </div>

  <div class="form-auth__section gar-grid gar-grid_small gar-grid_align-center">
    <p-checkbox
      name="sell"
      inputId="sell"
      [(ngModel)]="isSelectSell"
      [binary]="true"
    >
    </p-checkbox>

    <label for="sell" class="form-auth__label-checkbox">
      Хочу продать бизнес онлайн
    </label>
  </div>

  <div class="form-auth__section">
    <!-- TODO добавить кнопке
    [disabled]="!isSelectGobizy || !isSelectSell" -->
    <gar-button
      role="primary"
      (click)="onContinue(isSelectFranch, isSelectBus, isSelectGobizy, isSelectSell)"
      class="full-width"
    >
      Продолжить
    </gar-button>
  </div>
</form>