@use "/src/app/app.component.scss";
@use "/src/app/shared/styles/image-space.scss";
@use "/src/app/shared/styles/media-quaries.scss";
@use "/src/app/shared/styles/common.scss";
@use "/src/app/modules/franchise/create-franchise/create-franchise.component.scss";
@use "/src/app/modules/login/login.component.scss";

.block-space-check {
  margin: 0 64px;
}
.form-auth {
  box-sizing: border-box;
  margin: auto;
  max-width: 464px;
  min-width: 320px;
  padding: 34px 26px 32px 24px;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
h5 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}
.form-close {
  text-align: end;
  margin-bottom: 12px;
}
.spase-top-title {
  margin-bottom: 29px;
}
.title-small {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
}
.title-small2 {
  margin-bottom: 16px;
}
.wrapper {
  margin-bottom: 32px;
}
.control-label-checkbox {
  width: 129px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.justify-content-start {
  flex-wrap: wrap;
  height: 47px;
  align-items: center;
}

// .choice {
//   width: 175px;
//   display: flex;
//   justify-content: space-between;
// }
.p-dropdown {
  width: 416px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f1f6ff;
  border-radius: 6px;
}
.block-form-auth {
  width: 100%;
}
.space-top-bottom-32 {
  justify-content: flex-start;
  width: 343px;
  margin-top: 34px;
}

.control-label-checkbox2 {
  display: flex;
  align-items: center;
  width: 293px;
  height: 48px;
  left: 50px;
  font-size: 14px;
  line-height: 16px;
  margin-left: 5%;
}
.checkbox-btn {
  width: 32px;
  height: 32px;
}
.text-center-btn {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1f75fe;
  border-radius: 8px;
  margin: auto;
  color: #ffffff;
}
.span-btn {
  margin: auto;
}

::ng-deep .p-dropdown {
  width: 100% !important;
  border-radius: 5px;
  background: #f1f6ff !important;
}

.space-top-bottom {
  margin: 0;
}

.wrapper-checkbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.wrapper-checkbox-1 {
  width: 129px;
  height: 40px;
  margin-right: 24px;
}
.wrapper-checkbox-2 {
  width: 200px;
  height: 40px;
}
.strong-check {
  margin-left: 8px;
}
/* Customize the label (the container) */
.container {
  display: flex;

  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;

  border: 6px solid #8689db;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196f3;
// }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  position: relative;
  top: -6px;
  left: -6px;
  width: 32px;
  height: 32px;
  border: 5px solid #c2baba;
  border-radius: 50%;
}

.field-radiobutton {
  margin: 0 15px 0px 0px;
}