<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- <div class="text-center">
    <h5>Добавить объявление</h5>
    <span class="title-small">Вид бизнеса</span>

    <div class="d-flex justify-content-center">
      <div>
        <p-checkbox name="franchise" value="New York" inputId="franch"></p-checkbox>
        <label for="franch" class="control-label-checkbox">Франшиза</label>
      </div>

      <div class="block-space-check"></div>

      <div>
        <p-checkbox name="business" value="New York" inputId="bus"></p-checkbox>
        <label for="bus" class="control-label-checkbox">Готовый бизнес</label>
      </div>
    </div>

    <div>
      <span class="title-small">Выбор сферы</span>
      <strong>Город</strong><br>
      <p-dropdown [options]="aCategories" optionLabel="categoryName" name="category" [(ngModel)]="selectedCategory"
        placeholder="Город" [showClear]="true"></p-dropdown>
    </div>

    <div>
        <span class="title-small">Выбор сферы</span>
        <p-dropdown [options]="aCategories" optionLabel="categoryName" name="category" [(ngModel)]="selectedCategory"
          placeholder="Сфера" [showClear]="true"></p-dropdown>
      </div>
  </div> -->

  <div class="space-top-auth-form form-auth d-flex justify-content-center">
    <form class="block-form-auth">
      <h5>Добавить объявление</h5>
      
      <div class="space-top-bottom-32">
        <strong class="title-small">Вид бизнеса</strong>
      </div>

      <div class="d-flex justify-content-center">
        <div>
          <p-radioButton 
              name="businessType" 
              inputId="franch" 
              value="Franchise" 
              [(ngModel)]="selectedValue" 
              (onClick)="onSelectCheck()">
        </p-radioButton>
          <label for="franch" class="control-label-checkbox">Франшиза</label>
        </div>

        <div class="block-space-check"></div>

        <div>
          <p-radioButton 
            name="businessType" 
            inputId="bus" 
            value="Business" 
            [(ngModel)]="selectedValue" 
            (onClick)="onSelectCheck()">
        </p-radioButton>
          <label for="bus" class="control-label-checkbox">Готовый бизнес</label>
        </div>           
      </div>

      <div>
        <div class="space-top-bottom-32">
          <strong class="title-small">Выбор сферы</strong>
        </div>

        <p-dropdown 
          [options]="aFranchiseCategories" 
          optionLabel="categoryName" 
          optionCode="categoryCode"
          [filter]="true" 
          name="category" 
          placeholder="Выберите сферу" 
          [(ngModel)]="selectedCategory"
          [showClear]="true"
          (onChange)="onChangeValueSphereAsync($event.value.categoryCode, $event.value.franchiseCategorySysName)"
          (onFilter)="onFilterSphereAsync($event.filter)"
          *ngIf="isSelectFranch">
      </p-dropdown>

      <p-dropdown 
          [options]="aBusinessCategories" 
          optionLabel="categoryName" 
          optionCode="categoryCode"
          [filter]="true" 
          name="category" 
          placeholder="Выберите сферу" 
          [(ngModel)]="selectedCategory"
          [showClear]="true"
          (onChange)="onChangeValueSphereAsync($event.value.categoryCode, $event.value.franchiseCategorySysName)"
          (onFilter)="onFilterSphereAsync($event.filter)"
          *ngIf="isSelectBus">
      </p-dropdown>
      </div>

      <div>
        <div class="space-top-bottom-32">
          <strong class="title-small">Выбор категории</strong>
        </div>

        <p-dropdown
          [options]="aFranchiseSubCategories" 
          optionLabel="subCategoryName" 
          [filter]="true" 
          name="subCategory" 
          [(ngModel)]="selectedSubCategory"
            optionCode="categoryCode" 
            placeholder="Выберите категорию" 
            [showClear]="true" 
            (onFilter)="onFilterCategoryAsync($event.filter, $event.value.categoryCode, $event.value.franchiseCategorySysName)"
            *ngIf="isSelectFranch">
        </p-dropdown>

        <p-dropdown
          [options]="aBusinessSubCategories" 
          optionLabel="subCategoryName" 
          [filter]="true" 
          name="subCategory" 
          [(ngModel)]="selectedSubCategory"
            optionCode="categoryCode" 
            placeholder="Выберите категорию" 
            [showClear]="true" 
            (onFilter)="onFilterCategoryAsync($event.filter, $event.value.categoryCode, $event.value.franchiseCategorySysName)"
            *ngIf="isSelectBus">
        </p-dropdown>
      </div>

      <div *ngIf="isSelectBus">
        <div class="space-top-bottom-32">
          <strong class="title-small">Выбор города</strong>
        </div>

        <p-dropdown [options]="aCities" optionLabel="businessCityName" name="cityName" [(ngModel)]="selectedCityName"
          placeholder="Выберите город" [showClear]="true"></p-dropdown>
      </div>

      <div class="d-flex space-top-bottom-32">
        <p-checkbox 
            name="condition" 
            inputId="cond" 
            [(ngModel)]="isSelectGobizy" 
            [binary]="true">

        </p-checkbox>

        <label for="cond" class="control-label-checkbox">
          Согласен с условиями использования<br>
          сервисов GoBizy и обработки персональных<br>
          данных
        </label>
      </div>  

      <div class="d-flex space-top-bottom-32">
        <p-checkbox 
            name="sell" 
            inputId="sell" 
            [(ngModel)]="isSelectSell"
            [binary]="true">
        </p-checkbox>

        <label for="sell" class="control-label-checkbox">
          Хочу продать бизнес онлайн
        </label>
      </div>  

      <div class="text-center">
        <!-- <button 
          class="btn btn-default btn-code-active" 
          (click)="onContinue(isSelectFranch, isSelectBus, isSelectGobizy, isSelectSell)"
          (disabled)="isSelectGobizy">
        Продолжить
      </button> -->
      <p-button 
        label="Продолжить" 
        [disabled]="!isSelectGobizy || !isSelectSell"
        (click)="onContinue(isSelectFranch, isSelectBus, isSelectGobizy, isSelectSell)">
    </p-button>
      </div>
    </form>
  </div>

</body>

</html>