@use "/src/app/app.component.scss";
@use "/src/app/shared/styles/image-space.scss";
@use "/src/app/shared/styles/media-quaries.scss";
@use "/src/app/shared/styles/common.scss";
@use "/src/app/modules/franchise/create-franchise/create-franchise.component.scss";
@use "/src/app/modules/login/login.component.scss";

.block-space-check {
  margin: 0 64px;
}
.form-auth {
  box-sizing: border-box;
  margin: auto;
  max-width: 464px;
  min-width: 320px;
  padding: 34px 26px 32px 24px;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
h5 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}
.form-close {
  text-align: end;
  margin-bottom: 12px;
}
.spase-top-title {
  margin-bottom: 29px;
}
.title-small {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2c2c2c;
}
.title-small2 {
  margin-bottom: 16px;
}
.wrapper {
  margin-bottom: 32px;
}
.control-label-checkbox {
  width: 129px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.justify-content-start {
  flex-wrap: wrap;
  height: 47px;
  align-items: center;
}

.choice {
  width: 175px;
  display: flex;
  justify-content: space-between;
}
.p-dropdown {
  width: 416px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f1f6ff;
  border-radius: 6px;
}
.space-top-bottom-32 {
  justify-content: space-between;
  width: 343px;
  margin-top: 34px;
}
.control-label-checkbox2 {
  display: flex;
  align-items: center;
  width: 293px;
  height: 48px;
  left: 50px;
  font-size: 14px;
  line-height: 16px;
}
.checkbox-btn {
  width: 32px;
  height: 32px;
}
.text-center-btn {
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1f75fe;
  border-radius: 8px;
  margin: auto;
  color: #ffffff;
}
.span-btn {
  margin: auto;
}

::ng-deep .p-dropdown-label,// 
::ng-deep .p-dropdown .p-dropdown-trigger {
  background: #f1f6ff !important;
}
.space-top-bottom {
  margin: 0;
}
.space-top-bottom-32-city {
  width: 416px;
  height: 40px;
  border: 1px solid #666666;
}
