@import 'design';

:host {
  .gar-row {
    &.buttons {
      margin-top: auto;
    }
  }

  .contact-info {
    & :last-child {
      white-space: break-spaces;;
    }

    margin-right: 50px;
  }

  .picture {
    height: 140px;
    width: 140px;
    > img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  .advantages {
    height: 100%;
    &-business {
      margin-top: 25px;
    }
    > .gar-card {
      background-color: $clrLightMidGray;
      box-shadow: unset;
    }
  }

  .gar-property-value {
    > *:first-child {
      min-width: 320px;
    }

    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  .difference-business {
    max-width: 920px;
  }

  .buttons {
    width: 100%;
    margin-top: 74px;
    gar-button {
      width: inherit;
      &:first-child {
        margin-right: 12px;
      }
    }
  }

  .promotion-title {
    font-weight: 700;
  }
}
