<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<section class="section">
  <div class="gar-card">
    <div class="gar-row">
      <div class="gar-row-item">
        <h2 class="gar-row title page">{{businessData[0].businessName}}</h2>
      </div>
      <div class="gar-row-item fit right">
        <span class="gar-row title page no-adaptive-row">{{businessData[0].price}} ₽</span>
      </div>
      <gar-button class="right">Оставить заявку</gar-button>
    </div>
  </div>
</section>

<section class="section">
  <div class="gar-row no-adaptive-row gar-grid">
    <div class="gar-card">
      <p-galleria
              [value]="aNamesBusinessPhotos"
              [responsiveOptions]="responsiveOptions"
              thumbnailsPosition="left">
        <ng-template pTemplate="item" let-item>
          <img [src]="item" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="">
            <img [src]="item" style="display: block;" />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="gar-card fit">
      <h2 class="gar-row title">Представитель бизнеса</h2>
      <div class="gar-row">
        <div class="gar-row-item contact-info">
          <p class="gar-row title item">Имя Фамилия Отчество</p>
          <p class="gar-row secondary">Генеральный директор</p>
          <p class="gar-row secondary">Был на сайте 13 минут назад</p>
          <p class="gar-row secondary">Готовый бизнес размещен 13 октября 2021 года</p>
        </div>
        <div class="gar-row-item">
          <div class="picture">
            <!--  TODO: переделать потом на модель          -->
            <img src="assets/images/portret-1.jpg" alt="portret"/>
          </div>
        </div>
      </div>
      <div class="gar-row buttons">
        <div class="gar-row-item">
          <gar-button>Купить бизнес онлайн через гарант</gar-button>
          <gar-button role="primary">Начать чат с представителем</gar-button>
        </div>
      </div>
    </div>
  </div>
  <div class="gar-row advantages advantages-business gar-grid">
    <div class="gar-card" *ngFor="let item of listAdvantagesBusiness$ | async">
      <p class="gar-row title item">{{item.title}}</p>
      <p class="gar-row secondary">{{item.description}}</p>
      <p class="gar-row">{{item.result}}</p>
    </div>
  </div>
</section>

<section class="section">
  <div class="gar-row gar-grid">
    <div class="gar-row-item">
      <h2 class="gar-row title">Основная информация о компании</h2>
      <div class="gar-card">
        <p>Прибыльный детский сад Монтессори в Москве по цене ниже стоимости активов, готовый бизнес</p>
        <br>
        <p>В связи с семейными обстоятельствами продаем любимое детище - действующий прибыльный детский сад с 8-ми
          летней историей и оснащением на сумму более 7 млн. руб.</p>
        <br>
        <p>― Стоимость бизнеса 4,5 млн руб.,</p>
        <p>― Чистая прибыль в среднем по году – 303 тыс. руб. в месяц,</p>
        <p>― Окупаемость 15 мес.</p>
        <br>
        <p>В детском саду выполнен отличный ремонт, он полностью соответствует всем нормативным требованиям.</p>
        <br>
        <p>Детский сад укомплектован всем необходимым, в том числе огромным количеством высококачественных игрушек,
          учебным, дидактическим, методическим материалом. Все в отличном состоянии будет передано покупателю. Новому
          владельцу не придется ничего докупать в течение нескольких лет!</p>
        <br>
        <p>Детский открывали для своих детей и внуков, все сделано с большой любовью и теплотой!</p>
      </div>
      <div class="gar-row advantages advantages-business gar-grid">
        <div class="gar-card" *ngFor="let item of listAdvantagesCompany$ | async">
          <p class="gar-row title item">{{item.title}}</p>
          <p class="gar-row secondary">{{item.description}}</p>
          <p class="gar-row">{{item.result}}</p>
        </div>
      </div>
    </div>
    <div class="gar-row-item fit">
      <h2 class="gar-row title">Входит в стоимость бизнеса</h2>
      <div class="gar-row advantages gar-grid">
        <div class="gar-card">
          <div class="gar-row gar-property-value" *ngFor="let item of propertyBusiness$ | async">
            <span class="gar-row title item">{{item.title}}</span>
            <span>{{item.result}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <app-promotion-card action="Получить консультацию" reject="Позднее" link="/deal/start">
    <p class="gar-row title promotion-title">Покупка бизнеса онлайн с гарантиями</p>
    <p class="gar-row secondary">Вам больше не нужно покупать бизнес онлайн! Все тренды сводятся к покупке бизнеса и управлению им из дома.
      Предлагаем получить консультацию по покупке бизнеса онлайн. </p>
  </app-promotion-card>
</section>

<section class="section">
  <div class="gar-row title">Деятельность бизнеса</div>
  <div class="gar-card difference-business">
    <p class="gar-row">Образовательные услуги для детей дошкольного возраста</p>
    <img src="assets/images/franchise-pages/main-franchise-info.png" alt="">
  </div>
</section>

<section class="section">
  <div class="gar-row title">Активы предприятия</div>
  <div class="gar-card difference-business">
    <div class="gar-row-item">
      <p>- Оснащение на 7 млн. руб.</p>
      <p>- Огромное количество высококачественных игрушек, учебным, дидактическим, методическим материалом.</p>
      <br>
      <p>Все в отличном состоянии.</p>
    </div>
    <img src="assets/images/franchise-pages/main-franchise-info.png" alt="">
  </div>
</section>

<section class="section">
  <div class="gar-row title">Причины продажи</div>
  <div class="gar-card difference-business">
    <span>На старте Вы получаете готовую, работающую бизнес-модель, опробованную сотнями франчайзи,
      а также алгоритмы выполнения финансовых планов, базу знаний, сопровождение экспертов в течение всего времени становления Вашего бизнеса.</span>
  </div>
</section>

<section class="section">
  <div class="gar-row title">Адрес</div>
  <div class="gar-card difference-business">
    <p class="gar-row">Город Москва, улица Трёхгорный Вал 12, стр.5</p>
    <img src="assets/images/franchise-pages/map.png" alt="">
  </div>
</section>

<!--<div class="video" [hidden]="isUrlVideo" *ngFor="let item of businessData">-->
<!--  &lt;!&ndash; <span class="title-small">Ссылка на видео</span><br> &ndash;&gt;-->
<!--  <span class="title-strong">Ссылка на видео</span><br>-->
<!--  &lt;!&ndash; <input type="text" class="control-big-input" placeholder="https://" pInputText [(ngModel)]="item.urlVideo"-->
<!--    name="videoLink" />  &ndash;&gt;-->
<!--  <span>{{item.urlVideo}}</span>-->
<!--</div>-->

<section class="section">
  <div class="gar-row title">Оставьте заявку</div>
  <div class="gar-card difference-business gar-grid">
    <gar-input-text [(ngModel)]="userName" title="Имя"></gar-input-text>
    <gar-input-text [(ngModel)]="number" title="Мобильный телефон"></gar-input-text>
    <div class="gar-row">
      <p-checkbox class="confirm__checkbox" name="group1" value="New York" [(ngModel)]="isHideVideo"
                  inputId="confirm">
      </p-checkbox>
      <label for="confirm" class="control-label-checkbox">Согласен с условиями использования сервисов GoBizy и
        обработки персональных данных</label>
    </div>
    <gar-button role="primary" (click)="onCreateRequestBusinessAsync(userName, number, businessData[0].businessId)">Оставить заявку</gar-button>
  </div>
<!--  <div class="buttons difference-business gar-grid">-->
<!--    <gar-button>Написать владельцу</gar-button>-->
<!--    <gar-button role="primary">Приобрести бизнес онлайн</gar-button>-->
<!--  </div>-->
</section>

