@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/body-margins.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "/src/app/modules/business/create-ready-business/create-ready-business.component.scss";

.title-strong {
  font-weight: 400;
  display: inline-block;
  padding-bottom: 32px;
  margin: 0;
}

.title-name-logo {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.block-gallery {
  display: flex;
  gap: 24px;
  padding-bottom: 32px;
}

// ::ng-deep p-galleriaitemslot {
//   display: block !important;
//   height: 107px !important;
// }

::ng-deep .p-galleria {
  min-width: 952px;

  &-content {
    gap: 24px;
  }

  &-item {
    &-wrapper {
      min-width: 708px;
    }
    &-container {
      min-width: 708px;
    }
    &-item {
      min-width: 708px;
    }
  }

  &-foto {
    width: 708px;
    height: 452px;
    object-fit: cover;
  }

  &-thumbnail {
    &-container {
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
      // justify-content: center !important;
    }
    &-block {
      display: block !important;
      height: 107px !important;
    }

    &-foto {
      display: block !important;
      object-fit: cover !important;
      height: 107px !important;
    }

    &-prev,
    &-next {
      // z-index: 2 !important;
      margin: 0 !important;
      width: 220px !important;
      height: 50px !important;
      background-color: lightpink !important;
      color: black !important;
    }

    &-wrapper {
      margin: 0 !important;
      padding: 0 !important;
      height: 452px !important;
      width: 220px;
      overflow: hidden;
    }

    &-item {
      height: 107px !important;
      // opacity: 1 !important;

      &-content {
        height: 107px !important;
      }
    }

    &-items {
      gap: 8px !important;
      // display: block !important;
      height: 337px !important;
      justify-content: center !important;

      &-container {
        justify-content: center !important;
        align-items: center !important;
        height: 337px !important;
        display: flex !important;
        flex-direction: column !important;
        // gap: 8px !important;
        // opacity: 1 !important;
      }
    }

    &-container {
      background-color: #f1f1f1 !important;
      gap: 8px;
      justify-content: space-between;
    }
  }
}



// .gallery-foto {
//   max-width: 700px;
//   height: 500px;
//   width: 35vw;

//   display: block;
//   object-fit: cover;
// }

.contacts-card {
  padding: 24px;
  border: 2px solid #f1f1f1;
}

.block-invest {
  padding-top: 0;
  display: flex;
  gap: 24px;
}

.invest-item {
  padding: 24px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-width: 220px;

  &__title {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
  }

  &__small {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 16px !important;
    font-size: 0.625rem;
  }

  &__unit {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.875rem;
  }
}

.business-details {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.business-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

// .business-description {
//   display: inline-block;
//   padding-bottom: 32px;
// }

.additional-info {
  padding-top: 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.asset {
  margin: 0;
  padding: 24px;
  padding-bottom: 0;
  min-width: 464px;

  &:last-of-type {
    padding-bottom: 24px;
  }
}

.asset-cost {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 16px !important;
}

.asset-name {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  margin: 0 !important;
  padding: 0 !important;
}

.business-activity-description {
  display: inline-block;
  padding-bottom: 24px;
}

.adress {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  padding-bottom: 24px;
}

.video {
  display: block;
  margin: 0;
  padding-bottom: 80px;
}

.consulting {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding-bottom: 24px;

  &-label {
    margin-left: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
  }

  &-input {
    margin-left: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    width: 904px;
    height: 69px;
    padding: 24px, 16px, 24px, 16px;
    border: 1.5px solid #646464;
    border-radius: 8px;
    margin-bottom: 12px;

    &::placeholder {
      color: #c1c1c1;
      // padding-left: 8px;
    }
  }

  &-button {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    width: 904px;
    margin-top: 22px;
    margin-left: 24px;
    margin-bottom: 16px;
  }
}

.block-details-franch {
  margin-top: 0;
}

.confirm {
  width: 854px;
  display: flex;
  gap: 18px;
  font-family: "Roboto", sans-serif;
  // font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 24px;
  font-weight: 400;
  color: #646464;
  margin-bottom: 10px;

  &__checkbox {
    transform: scale(1.6);
    margin-left: 12px;
  }

  &__count {
    display: block;
    font-family: "Roboto", sans-serif;
    margin-left: 24px;
    margin-bottom: 88px;
    font-weight: 400;
    font-size: 0.875rem;
    color: #646464;
  }
}