<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Форма заполнения информации о себе. -->
    <div class="space-top-auth-form form-auth">
        <form class="block-form-auth" #info="ngForm" novalidate>
            <h5>Заполните данные о себе</h5>
            <div class="mb-3">
              <label class="form-label text-lbl">Ваше имя (обязательно)</label>
              
              <input type="text" class="form-control input-auth" placeholder="Введите имя" 
              name="firstName" [(ngModel)]="firstName">
            </div>

            <div class="mb-3">
              <label class="form-label text-lbl">Ваше фамилия (обязательно)</label>

              <input type="text" class="form-control input-auth" placeholder="Введите фамилию" name="lastName"
                [(ngModel)]="lastName">
            </div>

            <div class="mb-3">
              <label class="form-label text-lbl">Ваш город (обязательно)</label>

              <input type="text" class="form-control input-auth" placeholder="Название города" name="city"
                [(ngModel)]="city">
            </div>            

            <div class="mb-3">
              <label class="form-label text-lbl">Электронный адрес (обязательно)</label>

              <input type="email" class="form-control input-auth" placeholder="Введите email" name="email"
                [(ngModel)]="email">
            </div>

            <div class="mb-3">
              <label class="form-label text-lbl">Пароль (обязательно)</label>

              <input type="password" class="form-control input-auth" placeholder="Введите пароль" name="pass"
                [(ngModel)]="pass">
            </div>

            <div class="mb-3">
                <p-checkbox name="data-buy" value="buy" label="Хочу купить готовый бизнес или франшизу" [(ngModel)]="selectedValues" (onChange)="onChangeDataValue()"></p-checkbox>
                <p-checkbox name="data-sell" value="sell" label="Хочу продать бизнес или франшизу" [(ngModel)]="selectedValues" (onChange)="onChangeDataValue()"></p-checkbox>
            </div>

            <button class="btn btn-default btn-code-active" (click)="onSaveRegisterAsync(info)">Закончить регистрацию</button>
            <!-- <div class="text-center">
                или
            </div>

            <div class="text-center">
              <button class="btn btn-link">Заполнить позднее</button>
            </div> -->
          </form>
    </div>
</body>

</html>