:host {
  section#catalog-franchise {
    font-family: 'Roboto', sans-serif;
    color: #2c2c2c;

    .franchise {
      &-title {
        font-size: 24px;
        margin-bottom: 2rem;
      }

      &-subtitle {
        font-size: 18px;
        color: #2c2c2c;
        margin-bottom: 1rem;
      }

      &-description-small {
        font-size: 14px;
        color: #646464;
        margin-bottom: 4.25rem;
      }

      &-count {
        font-size: 14px;
        color: #7a7a7a;
      }

      &-catalog-form {
        label {
          font-size: 18px;
          font-weight: 500;
          color: #2c2c2c;
          display: block;
          margin-bottom: 1rem;
        }

        input, input:focus {
          display: block;
          width: 100%;
          height: 48px;
          padding: 16px;
          border-radius: 6px;
          background-color: #f1f6ff;
          border: none;
          font-size: 14px;
          color: #2c2c2c;
        }

        .price-sorter {
          margin-bottom: 2.5rem;
        }

        .monthly-income {
          > div {
            input {
              &:first-child {
                margin-right: .5rem;
              }
              &:last-child {
                margin-left: .5rem;
              }
            }
          }
        }
      }

      &-card-container {
        padding: 1rem;
        background-color: #f1f6ff;

        .row {
          > div:not(:last-child) {
            margin-bottom: 1.5rem;
          }
        }
      }

      &-card {
        background-color: #fff;

        &-content {
          padding: .5rem;
        }

        &-img {
          width: 100%;
          height: 162px;
          margin-bottom: 1.5rem;
        }

        &-title {
          font-size: 18px;
          font-weight: 500;
          line-height: normal;
          color: #2c2c2c;
          margin-bottom: .5rem;
        }

        &-description {
          font-size: 12px;
          line-height: normal;
          color: #646464;
          display: block;
          margin-bottom: 1.5rem;
        }

        &-price {
          font-size: 18px;
          font-weight: normal;
          color: #000;
          display: block;
          margin-bottom: 1.5rem;
        }

        &-btn {
          &, &:focus {
            width: 125px;
            height: 53px;
            border: 1px solid #2C2C2C;
            border-radius: 4px;
            background-color: #fff;
          }
        }
      }

      &-feedbacks {
        .franchise-card-price {
          margin-bottom: 0;
        }
      }

      &-business-creation {
        padding: 1.5rem;
        border-radius: 4px;
        background-color: #f1f6ff;
      }

      &-banner {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .section-mb {
      margin-bottom: 5rem;
    }

    .switch-garant {
      margin-bottom: 2.5rem;
      > div {
        width: 79px;
        height: 46px;
        padding: 2px;
        border-radius: 47px;
        background-color: #c8dbff;
      }
    }

    .three-card-btn {
      &, &:focus {
        height: 53px;
        border-radius: 4px;
        background-color: #2c2c2c;
        font-size: 18px;
        color:#fff;
        border: none;
        outline: none;
      }
    }

    .baner {
      width: 100%;
      height: auto;
    }

    .business-blog-video {
      padding: 1.5rem;
      background-color: #f1f1f1;
    }

    .business-world-news {
      img {
        width: 100%;
      }
    }

    .business-news {
      &:not(:last-child) {
        border-bottom: .5px solid #c4c4c4;
        margin-bottom: 1.75rem;
      }

      .top {
        margin-bottom: .5rem;

        img {
          &:first-child {
            margin-right: .5rem;
          }
          &:last-child {
            margin-left: 2rem;
          }
        }

        strong {
          font-size: 18px;
          color: #2c2c2c;
        }
      }

      .bottom {
        margin-bottom: 1.5rem;

        span {
          font-size: 12px;
          color: #646464;
        }

        img {
          margin: 0 .5rem;
        }
      }
    }

    .category-item {
      margin-bottom: 2rem;

      img {
        &:first-child {
          margin-right: 1rem;
        }
        &:last-child {
          margin-left: 2rem;
        }
      }

      span {
        font-size: 18px;
        color: #2c2c2c;
      }
    }
  }

  .popular-franchises {
    &-block {
      width: 100%;
    }

    img {
      height: 150px;
    }
  }

  @media (min-width: 768px) and (max-width: 1400px) {
    .franchise-categories {
      .category-item {
        .space-right-image-category:first-child {
          margin-right: .5rem !important;
        }

        span {
          font-size: 14px !important;
        }

        .space-arrow-category {
          margin-left: 1rem !important;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .popular-franchises-block {
      width: 100%;
      margin: .5rem 0;
    }
  }

  @media (max-width: 992px) {
    .franchise-description-small {
      margin-bottom: 1.5rem;
    }

    .investment-amount {
      margin-top: 1rem;
    }
  }

  @media (min-width: 768px) and (max-width: 788px) {
    .carousel-block {
      .title-franchise {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .baner-img {
      &:first-child {
        margin-bottom: 1.5rem;
      }
    }

    .carousel-block {
      flex-direction: column-reverse;

      [class^=col] {
        width: 100%;
      }

      .right {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 576px) {
    .franchise-sphere {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 486px) {
    .franchise-categories {
      .category-item {
        .space-right-image-category:first-child {
          margin-right: .5rem !important;
        }

        span {
          font-size: 14px !important;
        }

        .space-arrow-category {
          margin-left: 1rem !important;
        }
      }
    }
  }

  ::ng-deep {
    .p-card {
      font-family: 'Roboto', sans-serif;
      color: #2c2c2c;

      .p-card-body {
        padding: 1.5rem 0;
      }

      .p-card-title {
        font-size: 18px;
        font-weight: 500;
      }

      .p-card-subtitle {
        font-size: 12px;
        font-weight: normal;
        color: #646464;
        margin-bottom: 1.5rem;
      }

      .p-card-content {
        padding: 0;

        strong {
          font-size: 18px;
          color: #000;
        }
      }
    }

    .franchise-catalog-form {
      .p-dropdown {
        height: 48px;
        padding: 1rem;
        border-radius: 6px;
        background-color: #f1f6ff;
        width: 100%;
        border: none;

        .p-dropdown-label.p-placeholder {
          font-size: 14px;
          line-height: 14px;
          color: #2c2c2c;
          padding: 0;
        }

        .p-dropdown-clearable .p-dropdown-label {
          padding: 0;
        }

        .p-dropdown-clear-icon {
          display: none;
        }

        .p-dropdown-trigger {
          width: .75rem;

          .p-dropdown-trigger-icon {
            display: none
          }

          &::before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-top: 10px solid #000;
            border-bottom: 0;
            margin-right: 10px;
          }
        }
      }

      .price-sorter {
        .p-dropdown {
          background-color: transparent;
          border-bottom: 0.4px solid #DADADA;
          padding: 1rem 0;
          border-radius: 0;

          .p-dropdown-label {
            overflow: unset;
          }

          .p-inputtext {
            padding: 0;
          }
        }
      }

      .switch-garant {
        .p-inputswitch-slider, .p-inputswitch-slider:hover {
          width: 100%;
          height: 100%;
          background-color: #c8dbff;

          &::before {
            width: 42px;
            height: 42px;
            top: unset;
            margin-top: 0;
            left: 0;
          }
        }

        .p-inputswitch.p-component {
          width: 100%;
          height: 100%;
        }

        .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
          transform: translateX(33px);
        }
      }
    }

    .franchise-card-container {
      .p-card {
        &-header {
          img {
            width: 100%;
            height: 162px;
            margin-bottom: 1.5rem;
          }
        }

        &-body {
          padding: .5rem;
        }

        &-title {
          font-size: 18px;
          font-weight: 500;
          line-height: normal;
          color: #2c2c2c;
          margin-bottom: .5rem;
        }

        &-subtitle {
          font-size: 12px;
          line-height: normal;
          color: #646464;
          display: block;
          margin-bottom: 1.5rem;
        }

        &-content {
          strong {
            font-size: 18px;
            font-weight: normal;
            color: #000;
            display: block;
            margin-bottom: 1.5rem;
          }
        }

        &-footer {
          button {
            &, &:focus {
              width: 125px;
              height: 53px;
              border: 1px solid #2C2C2C;
              border-radius: 4px;
              background-color: #fff;
            }
          }
        }
      }

      .franchise-card-pagination {
        .p-paginator.p-component {
          .p-element.p-inputwrapper {
            .p-dropdown.p-component {
              margin: 0;
              padding: 0 .2rem;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .p-dropdown-label {
                margin-right: .75rem;
              }
            }
          }
        }
      }
    }

    .franchise-feedbacks {
      .p-carousel-item {
        flex: 1 0 342px !important;
        margin-right: 1.5rem;
      }

      .p-card {
        &-body {
          padding: 0;
        }
      }
    }

    .franchise-sale {
      .p-card {
        padding: 0 1.5rem;
        background-color: #f1f1f1;
        border: none;

        &-title {
          font-size: 18px;
          color: #2c2c2c;
          margin-bottom: 1.5rem;
          max-width: 360px;
        }

        &-content {
          max-width: 360px;
          font-size: 14px;
          color: #646464;
          margin-bottom: 4.25rem;

          p {
            margin-bottom: 0;
          }
        }

        &-footer {
          padding: 0;
        }

        button {
          &, &:focus {
            width: 125px;
            height: 53px;
            border-radius: 4px;
            background-color: #2c2c2c;
            font-size: 18px;
            color: #fff;
          }
        }
      }
    }

    .franchise-business-creation {
      .p-card {
        background-color: transparent;

        &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h5 {
            font-size: 18px;
            color: #2c2c2c;
            margin-bottom: 1rem;
          }

          button {
            &, &:focus {
              background-color: transparent;
              border: none;
            }
          }
        }

        &-body {
          padding: 0;
        }

        &-content {
          p {
            font-size: 14px;
            color: #646464;
            margin-bottom: 2.5rem;
          }
        }

        &-footer {
          padding: 0;

          button {
            &, &:focus {
              height: 53px;
              border-radius: 4px;
              font-size: 18px;
              background-color: transparent;
              border: none;
            }

            &:first-child {
              width: 125px;
              background-color: #2c2c2c;
              color: #fff;
              margin-right: 1rem;
            }
            &:last-child {
              width: 147px;
              border: solid 1px #2c2c2c;
              color: #2c2c2c;
            }
          }
        }
      }
    }

    .franchise-three-cards {
      height: auto;

      .p-card.p-component {
        padding: 1.5rem;
        background-color: #f1f1f1;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .p-card {
          &-body {
            padding: 0;
          }
        }
      }
    }

    .popular-item.blog-item {
      .p-card {
        &-body {
          padding: 0;
        }

        &-title {
          margin-bottom: 0;
        }
      }
    }

    .business-blog-video {
      height: 100%;
      display: flex;
      align-items: center;

      .p-card {
        background-color: transparent;

        &-body {
          padding: 0;

          h3 {
            margin-bottom: 1rem !important;
          }

          .franchise-card-description {
            font-size: 14px !important;
          }
        }
      }
    }

    .p-carousel-item {
      .product-item {
        margin-right: 1rem;

        &-content {
          img {
            width: 100% !important;
          }
        }
      }
    }

    .monthly-income {
      .p-inputtext {
        max-width: 50%;
      }
    }

    @media (max-width: 992px) {
      .card-business-holder {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    @media (max-width: 560px) {
      .p-carousel-item {
        .product-item {
          margin-right: 0;
        }
      }
    }

    @media (max-width: 486px) {
      .franchise-business-creation {
        .p-card-footer {
          button {
            font-size: .75rem;
          }
        }
      }
    }
  }
}
