<section id="catalog-franchise">
  <!-- Популярные франшизы. -->
  <div class="section">
    <div class="gar-row title">Популярные франшизы</div>
    <gar-carousel [items]="aPopularFranchises$ | async" [template]="cardComponent" path="franchise/view" queryParamKey="franchiseId"></gar-carousel>
  </div>

  <!-- Каталог франшиз. -->
  <div class="section">
    <div class="gar-row">
      <div class="gar-row title">Каталог франшиз</div>
      <span class="franchise-count right">Всего {{ countFranchises }} франшиз</span>
    </div>

    <div class="gar-grid gar-grid_wrap">
      <form class="gar-filter">
        <div class="gar-filter-container">
          <div class="gar-filter-section">
            <div class="gar-row title item">Сортировать по</div>

            <gar-select
              [(ngModel)]="selectedSort"
              [items]="aSortPrices"
              displayLabel="name"
              name="price"
              (onChange)="onChangeSortPrice()"
              optionLabel="name"
              optionCode="value"
            ></gar-select>
          </div>

          <div class="gar-filter-section">
            <div class="gar-row title item">Сфера франшиз</div>

            <gar-select
              [(ngModel)]="selectedViewBusiness"
              [items]="aViewBusiness"
              title="Вид бизнеса"
              displayLabel="viewName"
            ></gar-select>
          </div>

          <div class="gar-filter-section">
            <div class="gar-row title item">Выбор категории</div>

            <gar-select
              [(ngModel)]="selectedCategory"
              [items]="aBusinessCategories"
              title="Категория"
              displayLabel="categoryName"
            ></gar-select>
          </div>

          <div class="gar-filter-section">
            <div class="gar-row title item">Инвестиции</div>

            <div class="gar-grid gar-grid_wrap">
              <gar-input-number
                title="от "
                mode="currency"
                [(ngModel)]="minPrice"
                class="gar-filter-price"
              ></gar-input-number>

              <gar-input-number
                title="до "
                mode="currency"
                [(ngModel)]="maxPrice"
                class="gar-filter-price"
                ></gar-input-number>
            </div>
          </div>

          <div class="gar-filter-section">
            <div class="gar-row title item">Прибыль в месяц</div>

            <div class="gar-grid gar-grid_wrap">
              <gar-input-number title="от 100 000 ₽" [(ngModel)]="filterMinPrice" name="filterMinPrice" class="gar-filter-price"></gar-input-number>

              <gar-input-number title="до 100 000 000 ₽" [(ngModel)]="filterMaxPrice" name="filterMaxPrice" class="gar-filter-price"></gar-input-number>
            </div>
          </div>

          <div class="gar-filter-section">
            <div class="gar-grid gar-grid_wrap">
              <gar-button (click)="onFilterFranchisesWithPaginationAsync()" role="primary" class="full-width">
                Применить фильтры
              </gar-button>

              <gar-button role="secondary" (click)="onClearFilters()" class="full-width">
                Очистить фильтры
              </gar-button>
            </div>
          </div>
        </div>
      </form>

      <div class="gar-filter-sibling">
        <div class="gar-grid-cards">
          <app-catalog-simple-card
            *ngFor="let item of aFranchises"
            [item]="item"
            pathInfo="franchise/view?franchiseId={{item.franchiseId}}"
          >
          </app-catalog-simple-card>
        </div>

        <p-paginator
          [rows]="12"
          [totalRecords]="countFranchises"
          [rowsPerPageOptions]="[12, 21, 30]"
          [showCurrentPageReport]="true"
          (onPageChange)="onPaginationChangeAsync($event)"
        ></p-paginator>
      </div>
    </div>
  </div>

  <!-- <div class="d-flex">
    <div class="">
      <strong>Покупка через гарант</strong>
    </div>

    <div>
      <p-inputSwitch [(ngModel)]="isGarant"></p-inputSwitch>
    </div>
  </div> -->

  <!-- Новые франшизы. -->
  <div class="section">
    <div class="gar-row title">Популярные франшизы</div>
    <gar-carousel [items]="aNewFranchises" [template]="cardComponent"></gar-carousel>
  </div>

  <!-- Бизнес с гарантиями -->
  <div class="section">
    <app-promotion-card action="{{oSuggestion.button2Text}}" reject="{{oSuggestion.button1Text}}" link="/deal/start">
      <p class="gar-row title">Вы можете приобрести бизнес с гарантиями</p>
      <p class="gar-row secondary">{{oSuggestion.text}}</p>
    </app-promotion-card>
  </div>

  <!-- Новости делового мира. -->
  <section class="section">
    <app-news-block></app-news-block>
  </section>

</section>
