<section class="section">
    <app-news-block></app-news-block>
</section>
<section class="section">
    <app-promo-block-card sliderTitle="Важные новости" bannerTitle="Покупка бизнеса с гарантиями"></app-promo-block-card>
</section>
<section class="section">
    <h2 class="gar-row title">Новости делового мира</h2>
    <div class="gar-row">Здесь будет компонент Новости делового мира (с фильтром)</div>
</section>
<!--Компонент с представлением списка промо блоков-->
<section class="section">
    <app-showcase></app-showcase>
</section>
