<section class="section">
    <h2 class="gar-row title">Последние новости</h2>
    <div class="gar-row">Здесь будет компонент с последними новостями</div>
</section>
<section class="section">
    <div class="gar-row">
        <div class="gar-row-item">
            <h2 class="gar-row title">Важные новости</h2>
            <div class="gar-row">Здесь будет карусель с важными новостями</div>
        </div>
        <div class="gar-row-item">
            <h2 class="gar-row title">Покупка бизнеса с гарантиями</h2>
            <div class="gar-row">Здесь будет блок с баннером "Покупка бизнеса любого размера онлайн с гарантиями"</div>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="gar-row title">Новости делового мира</h2>
    <div class="gar-row">Здесь будет компонент Новости делового мира (с фильтром)</div>
</section>
<!--Компонент с представлением списка промо блоков-->
<app-showcase></app-showcase>
