@import 'design';

.profile-dialog {
  background-color: $clrWhite;
  padding: calc(#{$gridGap} / 3 * 2);
  border-radius: $border-radius;
  box-shadow: $box-shadow-card;

  &__back {
    width: 28px;

    gar-icon {
      width: 30px;
      height: 30px;
      fill: $clrDarkGray;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "pic subject" "pic date";
    grid-gap: calc(#{$gridGap} / 3 * 2);
    border-bottom: 1px solid $clrLightGray;
    padding-bottom: calc(#{$gridGap} / 3 * 2);

    @include tablet {
      grid-template-columns: max-content 1fr max-content;
      grid-template-areas: "pic subject date";
    }
  }

  &__pic {
    grid-area: pic;
    overflow: hidden;
    width: 110px;
    min-height: 70px;
    border-radius: calc(#{$border-radius} / 2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subject {
    @include typo('scondary');
  }

  &__start-date {
    @include typo('description');

    color: $clrDarkGray;
  }

  &__chat {
    max-height: 360px;
    overflow-y: auto;
    background-color: rgba($clrLightGray, 0.15);
    padding: calc(#{$gridGap} / 3 * 2);
    margin: calc(#{$gridGap} / 3 * 2) 0;
  }

  &__message {
    &:not(:first-child) {
      margin-top: calc(#{$gridGap} / 3 * 2);
    }

    .message {
      @include typo('secondary');

      max-width: 70%;
      background-color: $clrWhite;
      border-radius: $border-radius;
      padding: calc(#{$gridGap} / 3);
      box-shadow: $box-shadow-card;

      &_my {
        background-color: rgba($clrBlue, 0.2);
        margin-left: auto;
      }
    }
  }

  &__form {
    border: 1px solid $clrLightGray;
    border-radius: $border-radius;

    textarea {
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
    }
  }

  &__reply {
    button {
      @include inputReset;

      width: 40px;
      height: 40px;
      padding: 10px;
  
      gar-icon {
        width: 20px;
        height: 22px;
        fill: $clrLightGray;
      }
    }
  }
}