<div class="chat">
  <div class="chat__sidebar">
    <manage-account></manage-account>
  </div>
  <div class="chat__article">
    <h2 class="chat__any-title">
      <a class="chat__icon-link" routerLink="/profile/chat/dialogs">&#8592;</a>
      <span class="chat__any-label">
        Чат с <span class="chat__someone">{{ fio }}</span>
      </span>
    </h2>
    <div class="chat__messanger">
      <div class="chat__discussion">
        <div class="chat__any-img">
          <img class="chat__discussion-img" [src]="chatItemUrl" />
        </div>
        <div class="chat__topic-discussion">
          <span class="chat__topic-label">Тема обсуждения: </span>
          <span class="chat__topic-name">{{ chatItemName }}</span>
        </div>
        <div class="chat__starting-time" #chatBox>
          Начало чата: {{ dateStartDialog }}
        </div>
      </div>
      <div class="chat__underline"></div>
      <div class="chat__correspondence" #chatBox>
        <ng-scrollbar
          [appearance]="'standard'"
          [viewClass]="'scrollar-viewport'"
          [trackClass]="'scrollar-track'"
          [thumbClass]="'scrollar-thumb'"
        >
          <div class="chat__message" *ngFor="let item of aMessages">
            <div class="chat__message-text message">
              <span>{{ item.message }}</span>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div class="chat__submit">
        <div class="chat__any-file">
          <img
            src="./../../../../assets/images/attach-file.svg"
            alt="attach file icon gobizy"
          />
        </div>
        <div class="chat__any-text">
          <textarea
            #submitMessage
            class="chat__input-text"
            [ngClass]="{'activated': backlight}"
            pInputTextarea
            [autoResize]="true"
            placeholder="Введите сообщение"
            [(ngModel)]="message"
            (keydown.enter)="onSendMessageAsync()"
            (input)="addBackLight()"
          ></textarea>
          <button class="chat__submit-message" (click)="onSendMessageAsync()" [ngClass]="{'activated': backlight}">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.5005 11.0999L3.60045 2.09993C2.70045 1.69993 1.70045 2.49993 2.10045 3.39993L4.60045 10.0999L16.0004 11.9999L4.60045 13.8999L2.10045 20.5999C1.80045 21.4999 2.70045 22.2999 3.60045 21.7999L21.5005 12.7999C22.2005 12.4999 22.2005 11.4999 21.5005 11.0999Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
