@import "/src/app/modules/profile/profile-my-dialogs/profile-my-dialogs.component.scss";

.block-chat{
    background: rgba(218, 218, 218, 0.15);
    padding: 2rem 1.5rem;
    height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;

    .message {
        margin-top: 32px;
    }

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 12px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }

    .chat-start-date {
      top: -2rem;
      z-index: 1000;
      background-color: rgb(255, 255, 255);
      padding: .5rem 0;
      border-top: 2px solid rgba(218, 218, 218, 0.15);
    }
}

.message {
  span {
    padding: .5rem;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
    border-radius: .25rem;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    color: #2C2C2C;
    background: #FFFFFF;
  }

  &.messageEnd {
    display: flex;
    justify-content: flex-end;

    span {
      background: #D8E5FA;
    }
  }
}

.mr-16 {
  margin-right: 16px;
}

hr.hr {
  height: 2px;
  background-color: #dadada;
  margin: 1rem 0 !important;
}

.message-input {
  > div {
    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      height: 40px;

      textarea {
        height: 100% !important;
        padding: .4rem .75rem;
        padding-right: 3.5rem;
      }

      .reply {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 1rem;

        &, &:focus {
          border: none;
          background-color: transparent;
          outline: none;
        }

        svg {
          path {
            fill: #DADADA;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .chat-start-date {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 768px) {
  .chat-item-name, .chat-start-date {
    span {
      font-size: .75rem;
    }
  }
}

@media (max-width: 576px) {
  .chat-item-name, .chat-start-date {
    flex-direction: row !important;
  }

  .chat-header-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .block-profile {
    .row {
      > div {
        width: 100% !important;

        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

::ng-deep {
  .message-input {
    .p-inputtext {
      width: 100% !important;
    }
  }
}

.is-activated path {
  fill: #0d6efd !important;
}
