<div class="row">
  <!-- Левая часть. -->
  <div class="col-xxl-3 col-xl-3 col-lg-4">
    <manage-account></manage-account>
  </div>

  <!-- Правая часть. -->
  <div class="col-xxl-9 col-xl-9 col-lg-8">
    <h2 class="profile-title">
      <a routerLink="/profile/chat/dialogs" class="me-3">
        <img src="./../../../../assets/images/back.svg" alt="gobizy icon" />
      </a>
      <span>Чат с {{fio}}</span>
    </h2>

    <div class="block-right block-profile">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
          <img class="space-intgr w-100" src="{{chatItemUrl}}" />
        </div>

        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 d-flex justify-content-between chat-header-wrapper">
          <div class="chat-item-name d-flex flex-column">
            <span>Предмет чата:</span>
            <span>{{chatItemName}}</span>
          </div>

          <div class="chat-start-date">
            <span>Начало чата: </span>
            <span>{{dateStartDialog}}</span>
          </div>
        </div>
      </div>

      <hr class="hr">

      <div class="block-chat" #chatBox>
        <div class="" *ngFor="let item of aMessages">
          <div class="block-messages">
            <div class="message" [ngClass]="{messageEnd:item.isMyMessage}">
              <span>{{item.message}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center message-input">
        <div>
          <img src="./../../../../assets/images/attach-file.svg" alt="attach file icon gobizy" />
        </div>
        <div class="w-100 position-relative">
          <textarea class="w-100 mb-0" pInputTextarea [autoResize]="true"
          placeholder="Введите сообщение" [(ngModel)]="message" (keydown.enter)="onSendMessageAsync()"></textarea>
          <button class="position-absolute reply" (click)="onSendMessageAsync()">
            <img src="./../../../../assets/images/reply.svg" alt="reply icon gobizy" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
