// // импорт стилей сброса
// @import "./shared/styles/base/reset.scss";
// // импорт стилей фонтов
// @import "./shared/styles/base/typography.scss";

// // импорт стилей компоненты header
// @import "./modules/header/header.component.scss";

// // импорт стилей компоненты footer
// @import "./modules/footer/footer.component.scss";

// // импорт стилей страницы каталога франшизы
// @import "./modules/franchise/catalog-franchise/catalog-franchise.component.scss";

// импорт стилей сброса
@use "./shared/styles/base/reset.scss";
// импорт стилей фонтов
@use"./shared/styles/base/typography.scss";

// импорт стилей компоненты header
@use "./modules/header/header.component.scss";

// импорт стилей компоненты footer
@use "./modules/footer/footer.component.scss";

// импорт стилей страницы каталога франшизы
@use "./modules/franchise/catalog-franchise/catalog-franchise.component.scss";


[hidden] { display: none !important;}

.garant-header {
  background-color: #1f75fe;
}

.app {
  &__footer {
    background: rgba(218, 218, 218, .15);
    margin-top: 80px;
  }
}