// импорт стилей сброса
@import "./shared/styles/base/reset.scss";
// импорт стилей фонтов
@import "./shared/styles/base/typography.scss";

// импорт стилей компоненты header
@import "./modules/header/header.component.scss";

// импорт стилей компоненты footer
@import "./modules/footer/footer.component.scss";

// импорт стилей страницы каталога франшизы
@import "./modules/franchise/catalog-franchise/catalog-franchise.component.scss";


[hidden] { display: none !important;}
