@import 'design';

.profile-main {
  background-color: $clrWhite;
  border-radius: $border-radius;
  padding: $gridGap / 3 * 2;
  box-shadow: $box-shadow-card;

  &__title {
    @include typo('regular');

    margin-bottom: $gridGap / 2;
  }

  &__section {
    margin-bottom: $gridGap / 3 * 4;

    &-cell {
      label {
        @include typo('description');

        color: $clrDarkGray;
        margin-bottom: $gridGap / 3;
      }
    }
  }
}
