<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<div class="row">
  <!-- Левая часть. -->
  <div class="col-xxl-3 col-xl-3 col-lg-4">
    <manage-account></manage-account>
  </div>

  <!-- Правая часть. -->
  <div class="col-xxl-9 col-xl-9 col-lg-8">
    <h2 class="profile-title">Мои данные</h2>

    <div class="block-right">
      <h3 class="profile-subtitle">Основные данные</h3>

      <form #form="ngForm" class="main-info-form">
        <div class="row form-child-mb">
          <div class="col-xxl-8 col-xl-8">
            <div class="row">
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="input-container">
                  <label for="">Фамилия</label>
                  <input type="text" class="control-input-franch-price form-control form-control-lg"
                    [(ngModel)]="lastName" name="lastName" />
                </div>
              </div>

              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="input-container">
                  <label for="">Имя</label>
                  <input type="text" class="control-input-franch-price form-control form-control-lg"
                    [(ngModel)]="firstName" name="firstName" />
                </div>
              </div>

              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="input-container">
                  <label for="">Отчество</label>
                  <input type="text" class="control-input-franch-price form-control form-control-lg" [(ngModel)]="patr"
                    name="patr" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-4">
            <div class="input-container">
              <label for="">Дата рождения</label>
              <input type="date" class="control-input-franch-price form-control form-control-lg"
                [(ngModel)]="dateYearBirth" name="dateYearBirth" />
            </div>
          </div>
        </div>

        <h3 class="profile-subtitle">Контактные данные</h3>

        <div class="row form-child-mb">
          <div class="col-xxl-8 col-xl-8">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="input-container">
                  <label for="">E-mail</label><br>
                  <input type="email" class="control-input-franch-price form-control form-control-lg"
                    [(ngModel)]="email" name="email" />
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="input-container">
                  <label for="">Номер телефона</label><br>
                  <input type="text" class="control-input-franch-price form-control form-control-lg" [(ngModel)]="phone"
                    name="phone" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="btn-save" (click)="onSaveProfileFormAsync(form, 'MainData')">Сохранить</button>
      </form>
    </div>

    <!-- Таб сообщений. -->
    <div class="block-right" *ngIf="isMessageTab">
      <profile-my-dialogs></profile-my-dialogs>
    </div>

    <!-- Вторая секция. -->
    <div class="second-block">
      <p-card class="">
        <ng-template pTemplate="header">
          <div class="d-flex justify-content-between align-items-center mb-3 remove">
            <h3 class="profile-subtitle mb-0">Вы можете приобрести бизнес онлайн</h3>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true"><img src="./../../../../assets/images/close.svg" alt="close icon" /></span>
            </button>
          </div>
        </ng-template>
        <!-- <p>{{oSuggestion.text}}</p> -->
        <p class="second-block-description">Единственный сервис в мире для безопасной покупки бизнеса через интернет</p>
        <ng-template pTemplate="footer">
          <div class="d-flex second-block-buttons">
            <div>
              <!-- <button class="btn btn-default btn-show-more">{{oSuggestion.button1Text}}</button> -->
              <button class="btn btn-default btn-show-more first" routerLink="/deal/start">Подробнее</button>
            </div>

            <div class="ml-1">
              <!-- <button class="btn btn-dark">{{oSuggestion.button2Text}}</button> -->
              <button class="btn btn-default btn-show-more last">Не сейчас</button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <!-- Блок с реквизитами. -->
    <div>
      <h2 class="profile-title mb-2">Реквизиты</h2>
      <span class="requisite-desc">Для осуществления сделок онлайн через сервис гарант</span>

      <div class="block-right">
        <form #formReq="ngForm" class="main-info-form">
          <h3 class="profile-subtitle">Укажите свой статус</h3>
          <p-tabView>
            <p-tabPanel header="Физическо лицо" [selected]="true">
              <h3 class="profile-subtitle">Реквизиты</h3>
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-4 col-sm-5 mb-4">
                  <div class="input-container">
                    <label for="">ИНН</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="inn" name="inn" placeholder="12 цифр" />
                  </div>
                </div>

                <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-8 col-sm-7 mb-4">
                  <div class="input-container">
                    <label for="">Р/С</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="pc" name="pc" />
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-4 col-sm-5 mb-4">
                  <div class="input-container">
                    <label for="">Bik</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="bik" name="bik" />
                  </div>
                </div>

                <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-8 col-sm-7 mb-4">
                  <div class="input-container">
                    <label for="">Kpp</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="kpp" name="kpp" />
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-4 col-sm-5">
                  <div class="input-container bank-name-select">
                    <label for="">Выберите свой банк</label>
                    <p-dropdown [options]="availableBanks" [(ngModel)]="defaultBankName" optionLabel="value"
                      [filter]="true" placeholder="Выберите свой банк"
                      (onFilter)="onFilterSearchByBankNameAsync($event)">
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-8 col-sm-7 mb-4">
                  <div class="input-container">
                    <label for="">corrAccountNumber</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="corrAccountNumber" name="corrAccountNumber" />
                  </div>
                </div>
              </div>


              <h3 class="profile-subtitle">Паспортные данные</h3>
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-4 col-sm-6 mb-4">
                  <div class="input-container">
                    <label for="">Серия</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="serial" name="serialPassport" />
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-4 col-sm-6 mb-4">
                  <div class="input-container">
                    <label for="">Номер</label>
                    <input type="number" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="number" name="numberPassport" />
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-4 mb-4">
                  <div class="input-container">
                    <label for="">Дата выдачи</label>
                    <input type="date" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="dateGive" name="dateGive" />
                  </div>
                </div>

                <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-6 col-sm-6 mb-4">
                  <div class="input-container">
                    <label for="">Выдан</label>
                    <input type="text" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="whoGive" name="whoGive" />
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
                  <div class="input-container">
                    <label for="">Код подразделения</label>
                    <input type="text" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="code" name="code" />
                  </div>
                </div>

                <div class="col-12 mb-4">
                  <div class="input-container">
                    <label for="">Зарегистрирован по адресу</label>
                    <input type="text" class="control-input-franch-price form-control form-control-lg"
                      [(ngModel)]="registerAddress" name="registerAddress" />
                  </div>
                </div>
              </div>

              <div>
                <div class="mb-3">
                  <input type="file" class="mt-3 form-control" (change)="uploadDocumentAsync($event)">
                </div>
                <div>
                  <button class="btn-save" (click)="onSaveProfileFormAsync(formReq, 'Requisites')">Сохранить</button>
                </div>
              </div>
            </p-tabPanel>

            <p-tabPanel header="Юридическое лицо">
              Пока не продумано
            </p-tabPanel>

            <p-tabPanel header="Индивидуальный предприниматель">
              Пока не продумано
            </p-tabPanel>
          </p-tabView>
        </form>
      </div>
    </div>
  </div>
</div>
