@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.space-top-auth-form {
    margin-top: 150px;
}

.title-strong {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #2c2c2c;
}

.title-small {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
}

.control-button-blue {
    background-color: #1f75fe;
    color: white;
    padding: 24px 16px;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}

.control-button-white {
  background: #F1F6FF;
  color: #1F75FE;
  padding: 24px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-blue-small {
    background-color: #1f75fe;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}

.space-top-bottom-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.space-top-24 {
  margin-top: 24px;
}

.hr {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hr-margin-top-30 {
  margin-top: 30px;
  margin-bottom: 16px;
}

.space-margin-left-24 {
  margin-left: 24px;
}

.space-margin-top-45-bottom-140 {
  margin-top: 45px;
  margin-bottom: 140px;
}

.space-margin-top-45-bottom-32 {
  margin-top: 45px;
  margin-bottom: 32px;
}

//стили страницы поиска
.search-page {
  color: #2c2c2c;
  font-family: 'Roboto', sans-serif;
}

.search-page label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.search-page ::ng-deep .block-sort-by .p-dropdown {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DADADA;
  border-radius: 0;
}

.search-page ::ng-deep .block-sort-by .p-dropdown span {
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  padding-left: 0;
}

.search-page ::ng-deep .block-sort-by .p-dropdown:not(.disabled).p-focus {
  box-shadow: none !important;
}

.search-page ::ng-deep .block-sort-by .p-dropdown > div {
  justify-content: flex-end;
}

.search-page ::ng-deep .p-inputswitch {
  width: 79px;
  height: 46px;
}

.search-page ::ng-deep .p-inputswitch .p-inputswitch-slider:before {
  width: 40px;
  height: 40px;
  left: 3px;
  top: 3px;
  margin-top: 0;
}

.search-page ::ng-deep .p-inputswitch:not(.p-disabled) .p-inputswitch-slider,
.search-page ::ng-deep .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
  background-color: #c8dbff !important;
}

.search-page ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider,
.search-page ::ng-deep .p-inputswitch.p-inputswitch-checked:hover .p-inputswitch-slider {
  background-color: #1f75fe !important;
}

.search-page ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(33px);
}

.search-page ::ng-deep .p-inputswitch.p-focus,
.search-page ::ng-deep .p-inputswitch-slider {
  box-shadow: none;
}

.search-page .price-fields input {
  background-color: #f1f6ff;
  border: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  color: inherit;
  height: 3rem;
  text-indent: 1rem;
  padding: 0;
}

.search-page .price-fields ::ng-deep .p-slider {
  background-color: transparent;
}

.search-page .price-fields ::ng-deep .p-slider .p-slider-handle,
.search-page .price-fields ::ng-deep .p-slider .p-slider-handle:hover {
  width: 28px !important;
  height: 28px !important;
  border: 4px solid #1f75fe;
  background-color: #fff;
}

.search-page .price-fields ::ng-deep .p-slider-horizontal .p-slider-range {
  top: 5px;
  background-color: #f1f6ff;
}

.search-page .payback-period ::ng-deep button, .search-page .payback-period ::ng-deep button:focus,
.search-page .payback-period + .filter-btns button, .search-page .payback-period + .filter-btns button:focus {
  background-color: rgba(218, 218, 218, 0.25);
  color: inherit;
  font-size: 14px;
  font-family: inherit;
  border: none;
  height: 48px;
  padding: 1rem;
  outline: none;
  box-shadow: none;
}

.search-page .payback-period + .filter-btns button {
  padding: .2rem;
}
//стили страницы поиска
