.space-top-auth-form {
  margin-top: 150px;
}

.title-strong {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #2c2c2c;
}

.title-small {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
}

.control-button-blue {
  background-color: #1f75fe;
  color: white;
  padding: 24px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-white {
  background: #F1F6FF;
  color: #1F75FE;
  padding: 24px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-blue-small {
  background-color: #1f75fe;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-black-contur-small {
  padding: 16px;
  border: 1px solid;
  border-radius: 8px;
  margin-top: 24px;
  background: none;
  color: white;
}

.space-top-bottom-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.space-top-24 {
  margin-top: 24px;
}

.hr {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hr-margin-top-30 {
  margin-top: 30px;
  margin-bottom: 16px;
}

.space-margin-left-24 {
  margin-left: 24px;
}

.space-margin-top-45-bottom-140 {
  margin-top: 45px;
  margin-bottom: 140px;
}

.space-margin-top-45-bottom-32 {
  margin-top: 45px;
  margin-bottom: 32px;
}

::ng-deep .block-sort-by .p-dropdown {
  width: 340px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DADADA;
  border-radius: 0;
}

::ng-deep .block-sort-by .p-dropdown:not(.disabled).p-focus {
  box-shadow: none !important;
}

::ng-deep .block-sort-by .p-dropdown > span {
  padding-left: 0;
}

::ng-deep .block-sort-by .p-dropdown > div {
  justify-content: flex-end;
}

.mt-32 {
  margin-top: 32px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-16 {
  margin-right: 16px;
}
