.space-top-auth-form {
  margin-top: 150px;
}

.title-strong {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  color: #2c2c2c;
}

.title-small {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
}

.control-button-blue {
  background-color: #1f75fe;
  color: white;
  padding: 24px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-white {
  background: #F1F6FF;
  color: #1F75FE;
  padding: 24px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.control-button-blue-small {
  background-color: #1f75fe;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 24px;
}

.space-top-bottom-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.space-top-24 {
  margin-top: 24px;
}

.hr {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hr-margin-top-30 {
  margin-top: 30px;
  margin-bottom: 16px;
}

.space-margin-left-24 {
  margin-left: 24px;
}

.space-margin-top-45-bottom-140 {
  margin-top: 45px;
  margin-bottom: 140px;
}

.space-margin-top-45-bottom-32 {
  margin-top: 45px;
  margin-bottom: 32px;
}
