

.file {
  
  &-label {
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    // display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 342px;
    height: 70px;
    background-color: #1f75fe;
    border-radius: 8px;
  
    &::before {
      position: absolute;
      left: 95px;
      font-family: "FontAwesome";
      content: "\f0c6";
      transform: rotate(90deg);
      font-size: 24px;
    }
  }

  &-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}


