@import 'design';

.title-franchise {
  margin-bottom: 32px;
}

.popular-list {
  gap: 24px;
  // padding: 16px;
}

.popular-item {
  width: 100%;
  max-width: 331px;
  background: #FFFFFF;
  border: 1px solid #F1F6FF;
  box-sizing: border-box;
  box-shadow: $box-shadow-card;
  border-radius: 8px;
}

.garant {
  margin-top: 80px;
}

// .control-quick-search {
//   // margin-left: 70px;
// }

.btn-filter {
  display: inline-block;
  border: 1px solid;
}

.three-cards {
  margin-top: 128px;

  .three-cards-header {
    margin-bottom: 32px;
  }
}

.news-item {
  border-bottom: 1px solid;
  border-bottom-color: #C4C4C4;
}

.space-left-item {
  margin-left: 24px;
}
