.title-franchise {
  margin-bottom: 32px;
}

.popular-list {
  justify-content: space-between;
}

.popular-item {
  width: 300px;
}

.garant {
  margin-top: 128px;
}

.control-quick-search {
  margin-left: 70px;
}
