@use 'sass:math';


// Медиа-запросы.
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    body {
        margin-left: 24px;
        margin-right: 24px;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    body {
        margin-left: 240px;
        margin-right: 240px;
    }
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px), 
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px), 
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3)
and (min-resolution: 192dpi)and (max-width:640px) {
 /* Styles */
}




$ul: 1440px;
$xl: 1080px;
$lg: 800px;
$md: 360px;
// $sm: 576px;

/* ul */
@mixin ul-min
{
    @media (min-width: $ul)
    {
        @content;
    }
}

@mixin ul
{
    @media (max-width: ($ul - .2px))
    {
        @content;
    }
}

@mixin ul-xl
{
    @media (max-width: ($ul - .2)) and (min-width: $xl)
    {
        @content;
    }
}

@mixin ul-lg
{
    @media (max-width: ($ul - .2)) and (min-width: $lg)
    {
        @content;
    }
}

@mixin ul-md
{
    @media (max-width: ($ul - .2)) and (min-width: $md)
    {
        @content;
    }
}

@mixin ul-sm
{
    @media (max-width: ($ul - .2)) and (min-width: $sm)
    {
        @content;
    }
}

@mixin ul-xs
{
    @media (max-width: ($ul - .2)) and (min-width: $xs)
    {
        @content;
    }
}

/* xl */
@mixin xl-min
{
    @media (min-width: $xl)
    {
        @content;
    }
}

@mixin xl
{
    @media (max-width: ($xl - .2))
    {
        @content;
    }
}

@mixin xl-lg
{
    @media (max-width: ($xl - .2)) and (min-width: $lg)
    {
        @content;
    }
}

@mixin xl-md
{
    @media (max-width: ($xl - .2)) and (min-width: $md)
    {
        @content;
    }
}

@mixin xl-sm
{
    @media (max-width: ($xl - .2)) and (min-width: $sm)
    {
        @content;
    }
}

@mixin xl-xs
{
    @media (max-width: ($xl - .2)) and (min-width: $xs)
    {
        @content;
    }
}

/* lg */
@mixin lg-min
{
    @media (min-width: $lg)
    {
        @content;
    }
}

@mixin lg
{
    @media (max-width: ($lg - .2))
    {
        @content;
    }
}

@mixin lg-md
{
    @media (max-width: ($lg - .2)) and (min-width: $md)
    {
        @content;
    }
}

@mixin lg-sm
{
    @media (max-width: ($lg - .2)) and (min-width: $sm)
    {
        @content;
    }
}

@mixin lg-xs
{
    @media (max-width:( $lg - .2)) and (min-width: $xs)
    {
        @content;
    }
}

/* md */
@mixin md-min
{
    @media (min-width: $md)
    {
        @content;
    }
}

@mixin md
{
    @media (max-width: ($md - .2))
    {
        @content;
    }
}

@mixin md-sm
{
    @media (max-width: ($md - .2)) and (min-width: $sm)
    {
        @content;
    }
}

@mixin md-xs
{
    @media (max-width: ($md - .2)) and (min-width: $xs)
    {
        @content;
    }
}

@mixin md-xx
{
    @media (max-width: ($md - .2)) and (min-width: $xx)
    {
        @content;
    }
}

/* sm */
@mixin sm-min
{
    @media (min-width: $sm)
    {
        @content;
    }
}

@mixin sm
{
    @media (max-width: ($sm - .2))
    {
        @content;
    }
}

@mixin sm-xs
{
    @media (max-width: ($sm - .2)) and (min-width: $xs)
    {
        @content;
    }
}

/* xs */
@mixin xs-min
{
    @media (min-width: $xs)
    {
        @content;
    }
}

@mixin xs
{
    @media (max-width: ($xs - .2))
    {
        @content;
    }
}

/* xx */
@mixin xx-min
{
    @media (min-width: $xx)
    {
        @content;
    }
}
@mixin xx
{
    @media (max-width: ($xx - .2))
    {
        @content;
    }
}