.franchise {
  &__title {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 74px;
    margin-bottom: 32px;
    background: transparent;
    border: none;
  }
  // Кастомизация слайдера под дизайн
  & ::ng-deep .p-element .p-carousel-content {
    position: relative;
  }
  & ::ng-deep .p-element .p-carousel-prev,
  & ::ng-deep .p-element .p-carousel-indicators {
    display: none;
  }
  & ::ng-deep .p-element .p-carousel-next .pi-chevron-right::before {
    display: block;
    content: "\e900";
    color: #c4c4c4;
    font-size: 15px;
    font-weight: 600;
    transform: rotate(180deg);
  }
  & ::ng-deep .p-carousel-items-content {
    border-radius: 8px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  & ::ng-deep .p-element .p-carousel-next {
    position: absolute;
    top: 30%;
    right: 0;
    border-radius: 8px !important;
    background: #fff !important;
  }
  &__picture {
    width: 100%;
  }
  &__detail,
  &__data {
    border: none;
  }
  &__description {
    font-size: 1.25vw;
    line-height: 21px;
    color: hsl(0, 0%, 17%);
  }
  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #2c2c2c;
    margin-bottom: 8px;
  }
  &__tooltip {
    display: inline-block;
    color: #7a7a7a;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
  &__tooltip:nth-child(2) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  &__price {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }
}