<p class="descriptions-items">Добавлено {{(items$ | async)?.length || 0}} из {{maxUpload}}. Первая фотография - будет отображаться в поиске и является главной. Для того чтобы поменять главную фотографию перетащите её на место первой под плашку “Основная фотография.” </p>
<p class="description-content">Перетащите фото сюда или выберите их на своем компьютере…</p>
<p class="main-file-title">основная фотография</p>
<div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)">
    <ng-container *ngIf="(items$ | async)?.length">
        <div cdkDrag class="thumbs" *ngFor="let item of items$ | async">
            <img src="{{item.src}}">
            <div (click)="remove(item.src!)" class="remove-btn" title="Удалить"><span>&times;</span></div>
        </div>
    </ng-container>
    <div class="thumbs empty">
        <span></span>
        <input
			#fileInput
            type="file"
            multiple
            (change)="onChange($event)">
    </div>
</div>
