<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<section class="card deal" [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }">
  <div [ngClass]="{ 'container-fluid': isLaptop, container: isHD || isFullHD }">
    <div class="row deal__location">
      <div
        class="deal__img-wrapper"
        [ngClass]="{
          'col-lg-5': isLaptop,
          'col-xl-5': isHD || isFullHD
        }"
      >
        <img
          class="img-fluid deal__img"
          src="../../../../assets/images/consulting-landing/Group.png"
          alt="Изображение блокнота, ручки и портфеля"
        />
      </div>
      <div
        class="deal__content"
        [ngClass]="{
          'col-lg-7': isLaptop,
          'col-xl-7': isHD || isFullHD
        }"
      >
        <div class="card-body deal__description">
          <h5 class="card-title deal__title">Консультация</h5>
          <div class="card-text deal__business">
            по покупке бизнеса и франшиз
          </div>
          <div class="card-text deal__franchise">
            с сопровождением сделки и составлением договоров
          </div>
          <button class="btn btn-primary deal__btn-action">
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Секция статистика по достигнутым результатам -->
<section
  class="statistics"
  [ngClass]="{ 'is-hd': isHD, 'is-laptop': isLaptop }"
>
  <div class="row statistics__gallery">
    <div
      class="col-lg-6 statistics__item"
      [ngClass]="{
        'mb-3': isLaptop,
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'7'"
        [cTitle]="'договоров для сделки'"
        [cSubtitle]="'необходимо подготовить'"
        [cText]="'с учетом актов'"
      ></app-statistics-card>
    </div>
    <div
      class="col-lg-6 statistics__item"
      [ngClass]="{
        'mb-3': isLaptop,
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'735'"
        [cTitle]="'договоров'"
        [cSubtitle]="'подготовили'"
        [cText]="'наши юристы'"
      ></app-statistics-card>
    </div>
    <div
      class="col-lg-6 statistics__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'105'"
        [cTitle]="'сделок'"
        [cSubtitle]="'помогли провести'"
        [cText]="'наши юристы'"
      ></app-statistics-card>
    </div>
    <div
      class="col-lg-6 statistics__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <app-statistics-card
        [pTitle]="'15'"
        [cTitle]="'раз в среднем'"
        [cSubtitle]="'за одну сделку'"
        [cText]="'обращаются к юристам'"
      ></app-statistics-card>
    </div>
  </div>
</section>
<!-- Секция недавно приобретенных услуг -->
<section class="row">
  <div class="col-lg-7 col-xl-7 col-xxl-7">
    <h5 class="gar-carousel-title">Недавно приобрели</h5>
    <gar-carousel
    [items]="aPopularFranchises"
    [template]="cardComponent"
  ></gar-carousel>
  </div>
  <div
    class="col-lg-5 col-xl-5 col-xxl-5 note"
    [ngClass]="{ 'is-laptop': isLaptop, 'is-hd': isHD }"
  >
    <h5 class="alert alert-light note-title">Покупка бизнеса с гарантиями</h5>
    <div class="card note-description">
      <div class="card-body note-content">
        <div class="note-location">
          <div class="note-img-box">
            <img
              src="../../../../assets/images/shooting_range.png"
              class="img-fluid note-img"
              alt="Мишень"
            />
          </div>
          <div class="note-text">
            <div class="card-title note-text-title">
              Покупка бизнеса любого размера онлайн c гарантиями
            </div>
            <div class="card-text note-content-item">
              Первый в мире сервис с функцией<br />
              приобретения франшизы или готового<br />
              бизнеса онлайн. Сервис GoBizy<br />
              предоставляет возможность купить бизнес<br />
              в несколько кликов без опасений.
            </div>
            <div class="card-text note-content-item">
              Вы можете воспользоваться сервисом<br />
              онлайн покупки и консалтингом от нашей<br />
              компании.
            </div>
            <button
              class="btn btn-primary note-redirect-catalog"
              routerLink="/catalog-business"
            >
              Подробнее
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Секция шаги совершения безопасной сделки -->
<section class="checklist" [ngClass]="{ 'is-laptop': isLaptop }">
  <h5 class="alert alert-light checklist__head">
    4 простых шага для безопасной сделки онлайн
  </h5>
  <div class="row">
    <div
      class="checklist__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Проверка бизнеса</div>
          <div class="card-text checklist__subtitle">или франшизы</div>
          <div class="card-text checklist__step">Шаг 1</div>
          <div class="card-text checklist__description">
            Для приобретения бизнеса и начала сделки следует заказать полную
            проверку.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Проверить бизнес
          </button>
        </div>
      </div>
    </div>
    <div
      class="checklist__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Консультация</div>
          <div class="card-text checklist__subtitle">
            на каждом этапе сделки
          </div>
          <div class="card-text checklist__step">Шаг 2</div>
          <div class="card-text checklist__description">
            После оплаты каждого этапа вы становитесь полноправным владельцем
            бизнеса.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
    <div
      class="checklist__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Составление договоров</div>
          <div class="card-text checklist__subtitle">в процессе сделки</div>
          <div class="card-text checklist__step">Шаг 3</div>
          <div class="card-text checklist__description">
            Вы можете заказать составление договоров для сделки у юриста и всех
            автов.
          </div>
          <button class="btn btn-dark checklist__action">
            Заказать договор
          </button>
        </div>
      </div>
    </div>
    <div
      class="checklist__item"
      [ngClass]="{
        'col-lg-6': isLaptop,
        'col-xl-3': isHD || isFullHD
      }"
    >
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Согласование договора</div>
          <div class="card-text checklist__subtitle">и корректировки</div>
          <div class="card-text checklist__step">Шаг 4</div>
          <div class="card-text checklist__description">
            В процессе сделки вы будете получать договор от продавца Юрист
            проверит его.
          </div>
          <button class="btn btn-dark checklist__action">
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Секция пакеты услуг -->
<section class="package" [ngClass]="{'is-laptop': isLaptop}">
  <h5 class="alert alert-light package-common-title">
    Пакеты юридических услуг
  </h5>
  <div class="row package-root">
    <div
      class="package-wrapper"
    >
      <div class="card package-list">
        <div class="card-header package-title package-title--dark">
          Пакет "Подготовка договора"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            Подготовка договора
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Подготовка ключевого договора
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Подготовка актов приема<br />
              передачи
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок</span>
              <span class="package-total-result">5 раб.дней</span>
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">15 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">Подготовить договор</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="package-wrapper"
    >
      <div class="card package-list">
        <div class="card-header package-title package-title--primary">
          Пакет "Проверка контрагента"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            Наш самый популярный пакет с гарантией. В рамках которого вы
            получите полностью упакованный бизнес во франшизу
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">Аудит бизнеса</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка пакетов франшизы<br />
              и определение их стоимости
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Книга продаж вашей франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка стратегии « Каналы<br />
              продаж франшизы »
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Настройка рекламной компании,<br />
              для запуска продаж Вашей<br />
              франшизы, либо размещение в ТОП-овом каталоге франшиз;
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Внедрение системы записи звонков
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Контроль качества звонков менеджера,<br>
              нашим руководителем отдела продаж
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Совместная обработка звонков<br>
              и возникших вопрсов у клиента
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Настройка CRM-системы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--no"></div>
            <div class="package-service-text">
              Гарантированное сопровождение и<br>
              доведение до первых продаж<br>
              франшизы;
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок</span>
              <span class="package-total-result">7 раб.дней</span>
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">35 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">Проверить контрагента</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="package-wrapper"
    >
      <div class="card package-list">
        <div class="card-header package-title package-title--dark">
          Пакет "Сопровождение сделки"
        </div>
        <div class="card-body package-content">
          <div class="card-text package-content-title">
            Наш самый популярный пакет с гарантией. В рамках которого вы
            получаете полностью упакованный бизнес во франшизу
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">Аудит бизнеса</div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка сайта для продажи<br />
              франшизы (до 10 страниц)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка пакетов франшизы<br>
              и определение их стоимости
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Книга продаж Вашей франшизы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Разработка стратегии: « Каналы<br />
              продаж франшизы »
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Руководство по запуску<br />
              франшизы<br />
              (франчбук)
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Настройка рекламной компании,<br />
              для запуска продаж Вашей<br />
              франшизы,<br> 
              либо размещение в ТОП-овом каталоге<br>
              франшиз;
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Внедрение системы записи звонков
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Контроль качества звонков менеджера,<br>
              нашим руководителем отдела продаж
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Совместная обработка звонков<br />
              и возникших вопросов<br />
              у клиента
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Настройка CRM-системы
            </div>
          </div>
          <div class="package-service">
            <div class="package-reach-icon package-reach-icon--yes"></div>
            <div class="package-service-text">
              Гарантированное сопровождение и<br>
              доведение до первых продаж<br>
              франшизы;
            </div>
          </div>
          <ul class="list-group list-group-flush package-total-price">
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Срок</span>
              <span class="package-total-result">7 раб.дней</span>
            </li>
            <li class="list-group-item package-price-item">
              <span class="package-total-note">Стоимость пакета</span>
              <span class="package-total-result">35 000 &#8381;</span>
            </li>
            <li class="list-group-item package-price-item">
              <button class="btn btn-primary package-submit">Заказать сопровождение</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Компонент с формой обратной связи -->
<app-feedback
  [title]="'Проверка'"
  [subtitle]="'юридических документов'"
  [tooltip]="'при покупке франшизы или готового бизнеса'"
  [imagePath]="'../../../../assets/images/deal-landing/template_person6 1.png'"
  [bgColor]="'rgb(13, 110, 253, 0.9)'"
  [isBgColor]="false"
  [hasConsultant]="false"
></app-feedback>
<!-- Популярные франшизы -->
<app-franchise-list *ngIf="!isSmall"></app-franchise-list>
<!-- Мобильная версия Популярные франшизы -->
<ng-container *ngIf="isSmall">
  <div class="gar-carousel-title">Популярные франшизы</div>
  <gar-carousel
    [items]="aPopularFranchises"
    [template]="cardComponent"
  ></gar-carousel>
</ng-container>
<!-- Новые объявления готового бизнеса -->
<app-business-ad *ngIf="!isSmall"></app-business-ad>
<!-- Мобильная версия Новые объявления готового бизнеса -->
<ng-container *ngIf="isSmall">
  <div class="gar-carousel-title">Новые объявления готового бизнеса</div>
  <gar-carousel
    [items]="aBusinessList"
    [template]="cardComponent"
  ></gar-carousel>
</ng-container>
<!-- Гарант -->
<app-garant></app-garant>
<!-- Бизнес блог. -->
<app-business-blog *ngIf="!isSmall"></app-business-blog>
<ng-container *ngIf="isSmall">
  <div class="gar-carousel-title">Бизнес блог</div>
  <gar-carousel [items]="aBusinessList" [template]="cardComponent"></gar-carousel>
</ng-container>
<!-- Компонент Новости -->
<app-news></app-news>
<!-- Списки категорий -->
<app-category-list></app-category-list>
