.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    padding-left: 64px;
    padding-right: 0;
  }
  &__description {
    padding: 0;
  }
  &__title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
  }
  &__business {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
    max-width: 650px;
  }
  &__franchise {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
    text-align: left;
  }
  &__btn-action {
    width: 341px;
    height: 76px;
    font-size: 24px;
    line-height: 28px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .deal {
    padding-top: 32px;
    padding-bottom: 24px;
    &__location {
      display: block;
    }
    &__img-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 112px;
    }
    &__content {
      width: 100%;
      padding: 0;
    }
    &__description {
      padding-left: 24px;
      padding-right: 24px;
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
    &__business {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    &__franchise {
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 24px;
    }
    &__btn-action {
      width: 100%;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    $typeDeviceWatched: "is-laptop";

    .deal {
      &.#{$typeDeviceWatched} {
        .deal {
          &__img-wrapper {
            display: flex;
            justify-content: center;
          }
          &__content {
            padding-left: 32px;
          }
          &__title {
            font-size: 64px;
            line-height: 75px;
          }
          &__business {
            font-size: 44px;
            line-height: 51.5px;
            max-width: 80%;
          }
          &__franchise {
            max-width: calc(55% + 10px);
          }
          &__btn-action {
            width: calc(55% + 10px);
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    $typeDeviceWatched: "is-hd";

    .deal {
      &.#{$typeDeviceWatched} {
        .deal {
          &__content {
            padding-left: 44px;
          }
          &__title {
            font-size: 74px;
            line-height: 75px;
          }
          &__business {
            font-size: 44px;
            line-height: 52px;
            max-width: calc(60% + 2px);
          }
          &__franchise {
            width: 60%;
          }
          &__btn-action {
            width: 50%;
          }
        }
      }
    }
  }
}

:host .statistics {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        position: relative;
        height: 150px;
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          top: 0;
          height: 100%;
          font-size: 96px;
          line-height: 112.5px;
        }
      }
      & .p-panel-content {
        height: 150px;
        border: none;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: 0 0 64px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  :host .statistics {
    &__item {
      margin-bottom: 16px;
      & ::ng-deep .p-panel {
        & .p-panel-header {
          height: 79.5px;
          & .p-panel-title {
            width: 103px;
            font-size: 32px;
            line-height: 37px;
          }
        }
        & .p-panel-content {
          height: 79.5px;
        }
      }
    }
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .statistics {
      &.is-laptop &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header {
            height: 170.5px;
            & .p-panel-title {
              font-size: 96px;
              line-height: 112px;
            }
          }
          & .p-panel-content {
            height: 170.5px;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    .statistics {
      &.is-hd &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header,
          & .p-panel-content {
            height: 150px;
          }
        }
      }
    }
  }
}

.note {
  &-title {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
  }
  &-description {
    border: none;
    background: #f1f6ff;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 24px;
    border-radius: 8px;
  }
  &-content {
    padding: 0;
  }
  &-location {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
  }
  &-img-box {
    margin: 0 -20px 7px 10px;
  }
  &-text-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &-content-item {
    font-size: 14px;
    line-height: 16px;
  }
  &-content-item:nth-child(3) {
    margin-bottom: 26.5px;
  }
  &-redirect-catalog {
    width: 126px;
    height: 51px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .note {
    &-title {
      font-size: 19px;
      line-height: 22px;
    }
    &-text-title {
      font-size: 19px;
      line-height: 20px;
      max-width: 235px;
    }
    &-description {
      padding: 8px;
    }
    &-img-box {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 73px;
      top: 0;
      right: 0;
      margin: 8px 16px 0 0;
    }
    &-text {
      width: 100%;
    }
    &-content-item:nth-child(2) {
      margin-bottom: 28px;
    }
    &-content-item:nth-child(3) {
      margin-bottom: 24px;
    }
    &-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    &-redirect-catalog {
      width: 115px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    $typeDeviceWatched: "is-laptop";

    .note {
      &.#{$typeDeviceWatched} {
        display: none;
      }
    }
  }

  @media all and (min-width: 1200px) {
    $typeDeviceWatched: "is-hd";

    .note {
      &.#{$typeDeviceWatched} {
        .note {
          &-title {
            font-size: 21px;
            line-height: 25px;
            margin-bottom: 24px;
          }
          &-description {
            padding: 24px;
          }
          &-text {
            width: 100%;
          }
          &-text-title {
            max-width: 365px;
          }
          &-content-item {
            max-width: 365px;
            br {
              display: none;
            }
          }
          &-img-box {
            display: none;
          }
        }
      }
    }
  }
}

.checklist {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 48px;
    line-height: 38px;
    margin: 74px 0 32px;
    color: #000;
  }
  &__header {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 12px;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__step {
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 24px;
    padding-top: 0;
  }
  &__description {
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
    max-width: 306px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .checklist {
    &__head {
      font-size: 24px;
      line-height: 28px;
    }
    &__description {
      max-width: 100%;
    }
    &__action {
      width: 100%;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .checklist {
      &.is-laptop &__head {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-laptop &__description {
        max-width: 50%;
      }
    }
  }
}

$columnGap: 24px;
.package {
  &-common-title {
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
    margin-bottom: 32px;
    background: transparent;
    border: none;
    padding: 0;
  }
  &-root {
    display: flex;
    flex-wrap: wrap;
    grid-gap: $columnGap;
  }
  &-wrapper {
    width: calc(33% - #{$columnGap/2});
  }
  &-list {
    border: none;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &-title {
    border: none;
    font-weight: 600;
    color: #fff;
    padding: 16px 8px;
    border-radius: 8px 8px 0 0;
    &--dark {
      background: #2c2c2c;
    }
    &--primary {
      background: #0d6efd;
    }
  }
  &-content {
    padding: 24px 8px 8px;
    &-title {
      color: #7a7a7a;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 33px;
      max-width: 304px;
    }
  }
  &-reach-icon {
    width: 56px;
    height: 56px;
    &--yes {
      background: url(../../../../assets/images/franchise-landing/yes2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/yes1.png) center
          no-repeat;
    }
    &--no {
      background: url(../../../../assets/images/franchise-landing/no2.png)
          center no-repeat,
        url(../../../../assets/images/franchise-landing/no1.png) center
          no-repeat;
    }
  }
  &-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18.5px;
    &-text {
      color: #2c2c2c;
      font-size: 18px;
      line-height: 21px;
      width: 80%;
    }
  }
  &-total-price {
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &-price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  &-price-item:first-child {
    padding: 0 0 24px;
  }
  &-total-note {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }
  &-total-result {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
  }
  &-submit {
    width: 100%;
    font-size: 21px;
    line-height: 25px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
    border-radius: 66px;
  }
}

@media all and (max-width: 576px) {
  .package {
    &-root {
      display: block;
    }
    &-wrapper {
      width: 100%;
      margin-bottom: 16px;
    }
    &-wrapper:last-child {
      margin-bottom: 0;
    }
    &-title {
      font-size: 27px;
      line-height: 32px;
    }
    &-reach-icon {
      margin-right: 12px;
    }
    &-service-text {
      font-size: 17.3px;
      max-width: 230px;
      margin-right: auto;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .package {
      &.is-laptop &-root {
        grid-gap: 8px;
      }
      &.is-laptop &-wrapper {
        width: calc(50% - 8px);
      }
    }
  }
}

.gar-carousel {
  &-title {
    margin-top: 24px;
    margin-bottom: 16.27px;
    font-size: 19px;
    line-height: 22px;
    color: #2c2c2c;
    &--2 {
      max-width: 255px;
    }
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background: #f1f6ff;
    color: #2c2c2c;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 24px;
    border-radius: 8px;
    & .any-chevron {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 40px;
      margin-left: 12px;
      background: #1f75fe;
      & svg {
        fill: #fff;
      }
    }
  }
}
