// @import "/src/app/shared/styles/franchuse-styles.scss";
// @import "/src/app/app.component.scss";
// @import "/src/app/shared/styles/image-space.scss";
// @import "/src/app/shared/styles/common.scss";
// @import "/src/app/shared/styles/media-quaries.scss";
// @import "/src/app/modules/main-page/main-page.component.scss";

// @import "/src/app/shared/styles/franchuse-styles.scss";

@use "/src/app/app.component.scss";
// @import "/src/app/shared/styles/image-space.scss";
// @import "/src/app/shared/styles/common.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;

strong {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 16px;
}

.garant {
  margin-top: 80px;

  @include ul-xl {
    margin-top: 74px;
  }

  @include xl-lg {
    margin-top: 64px;
  }

  @include lg-md {
    margin-top: 36px;
  }

  @include md {
    margin-top: 24px;
  }
}

.d-flex {
  display: flex;
  gap: 24px;

  &--short {
    gap: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  margin-left: 8px;
  min-width: 125px;
  height: 53px;
  padding: 15px;
  border-radius: 12px;

  &-wrapper {
    display: flex;
    gap: 16px;
  }

  &--aside {
    margin-left: 0;
    width: 163px;
    height: 69px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  /* gap: 64px; */
  max-width: 1440px;
  /*  height: 496px; */
  border-radius: 24px;
  padding: 64px 0 64px 64px;
  background-color: #f5f8fa;
  margin-top: 80px;
  margin-bottom: 16px;

  @include ul-xl {
    /* max-width: 1392px; */
    /* height: 552px; */
    margin-top: 74px;
    gap: 263, 27px;
  }

  @include xl-lg {
    /* max-width: 1024px; */
    /* height: 512px; */
    margin-top: 64px;
    gap: 107, 27px;
    padding: 44px 0 44px 44px;
  }

  @include lg-md {
    /* max-width: 768px; */
    /*  height: 432px; */
    flex-direction: column-reverse;
    margin-top: 36px;
    gap: 0px;
    padding: 32px;
  }

  @include md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  width: 320px; */
    height: 382px;
    margin-top: 24px;
    gap: 16px;
    padding: 24px 23.5px;
  }

  &-content {
    max-width: 939px;
    /* height: 368px; */

    @include ul-xl {
      /*  width: 635px; */
      /*  height: 424px; */
    }

    @include xl-lg {
      /* width: 423px; */
      /*  height: 424px; */
    }

    @include lg-md {
      /* width: 423px; */
      /* height: 368px; */
    }

    @include md {
      /*  width: 273px; */
      /* height: 334px; */
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      color: #2c2c2c;
      line-height: 113px;

      @include ul-xl {
        /*  width: 635px; */
      }

      @include xl-lg {
        /* width: 423px; */
        font-size: 4rem;
        line-height: 75px;
      }

      @include lg-md {
        /* width: 423px; */
        font-size: 2.46rem;
        line-height: 75px;
      }

      @include md {
        text-align: center;
        /* width: 273px; */
        font-size: 2rem;
        line-height: 38px;
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 4rem;
      font-weight: 700;
      color: #2c2c2c;
      line-height: 75px;
      margin-bottom: 16px;

      @include xl-lg {
        font-size: 2.75rem;
        line-height: 52px;
      }

      @include lg-md {
        font-size: 2rem;
        line-height: 52px;
      }

      @include md {
        text-align: center;
        font-size: 1.5rem;
        line-height: 28px;
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: #7a7a7a;
      line-height: 28px;
      margin-bottom: 52px;

      @include ul-xl {
        margin-bottom: 33px;
      }

      @include xl-lg {
        margin-bottom: 89px;
      }

      @include lg-md {
        margin-bottom: 33px;
      }

      @include md {
        text-align: center;
        font-size: 1.0625rem;
        line-height: 20px;
        margin-bottom: 24px;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      line-height: 28px;
      /* width: 340px; */
      height: 76px;
      border: none;
      border-radius: 4px;
      padding: 24px 32px;
      margin: 0;
      background-color: #1f75fe;

      @include md {
        display: none;
      }
    }

    &__button1 {
      display: none;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: #ffffff;
        line-height: 28px;
        width: 272px;
        height: 76px;
        border: none;
        border-radius: 4px;
        padding: 24px 26.5px;
        margin: 0;
        background-color: #1f75fe;
      }
    }
  }

  &-image {
    margin-right: 8px;

    @include ul-xl {
      max-width: 429.73px;
      /*  height: 400.99px; */
      margin-right: 0;
    }

    @include xl-lg {
      max-width: 429.73px;
      /*  height: 400.99px; */
      margin-right: 20px;
    }

    @include lg-md {
      max-width: 225px;
      /*  height: 363px; */
      margin-right: 0;
    }

    @include md {
      display: none;
    }

    img {
      width: 100%;
      @include ul-xl {
        /*  height: 400.99px; */
      }

      @include lg-md {
        /* height: 254px; */
      }
    }
  }

  &-image1 {
    display: none;

    @include md {
      display: block;
      order: -1;
      width: 273px;
      height: 59.82px;
    }
  }
}
.statistics__list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 24px;
  grid-auto-columns: minmax(20%, 342px);
  grid-auto-flow: column;
  grid-auto-rows: auto;
}
@media (max-width: 1080px) {
  .statistics__list {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (max-width: 475px) {
  .statistics__list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
.statistics__item {
  border-radius: 24px;
  box-sizing: border-box;
  padding: 64px 31px;
  background-color: #f5f8fa;
}
.statistics__numb {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  color: #2c2c2c;
  line-height: 113px;
}
.statistics__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #7a7a7a;
  text-align: center;
  margin-top: 16px;
}

.steps {
  margin-top: 30px;
}
.steps__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1080px) {
  .steps__inner {
    flex-wrap: wrap;
  }
}
.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 330px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  &:hover {
    background-color: #f5f8fa;
  }
}
.steps__title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #000000;
}
@media (max-width: 1080px) {
  .steps__title {
    font-size: 2.3rem;
  }
}
.step__title {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2c2c2c;
  line-height: 28px;
}
.step__title span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #646464;
}
.step__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #2c2c2c;
  line-height: 21px;
}
.step__text {
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2c2c2c;
  line-height: 21px;
}
.step__button {
  margin-top: 24px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1f1f1f;
}

.ste {
  display: none;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  height: 414px;

  @include ul-xl {
    width: 1392px;
  }

  @include xl-lg {
    width: 1024px;
    height: 810px;
  }

  @include lg-md {
    width: 768px;
    height: 844px;
    gap: 16px;
  }

  @include md {
    flex-direction: column;
    width: 320px;
    height: 1640px;
    gap: 16px;
  }

  &-header {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 32px;

    @include ul-xl {
      font-size: 2rem;
      margin-top: 74px;
    }

    @include xl-lg {
      font-size: 2rem;
      margin-top: 64px;
    }

    @include lg-md {
      line-height: 28px;
      font-size: 1.5rem;
      margin-top: 36px;
    }

    @include md {
      width: 320px;
      line-height: 28px;
      font-size: 1.5rem;
      margin-top: 24px;
    }
  }

  &-item {
    width: 342px;
    height: 414px;
    background-color: #f5f8fa;

    @include ul-xl {
      width: 330px;
    }

    @include xl-lg {
      width: 500px;
      height: 393px;
    }

    @include lg-md {
      width: 376px;
    }

    @include md {
      width: 320px;
      height: 398px;
    }

    &__image {
      width: 294px;
      height: 103px;
      margin-top: 24px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 25px;

      @include ul-xl {
        width: 282px;
      }

      @include xl-lg {
        width: 452px;
      }

      @include lg-md {
        width: 328px;
      }

      @include md {
        width: 288px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
      line-height: 28px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 4px;

      @include md {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-size: 0.75rem;
      font-weight: 400;
      color: #646464;
      line-height: 14px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 8px;

      @include md {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &__stage {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 500;
      color: #2c2c2c;
      line-height: 21px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;

      @include md {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      color: #2c2c2c;
      line-height: 21px;
      height: 63px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 24px;

      @include xl-lg {
        height: 42px;
      }

      @include md {
        margin-left: 16px;
        margin-right: 16px;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      margin-left: 24px;
      margin-right: 24px;
      // min-width: 125px;
      height: 53px;
      padding: 16px;
      border: 0;
      border-radius: 4px;
      color: #ffffff;
      background-color: #1f1f1f;

      @include md {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
}

.title-franchise {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2c2c2c;
}

// .count-franchise {
//   display: block;
//   font-family: "Roboto", sans-serif;
//   font-size: 0.875rem;
//   font-weight: 400;
//   color: #7a7a7a;
//   text-align: end;
// }

// .business-search {
//   display: flex;
//   gap: 24px;
// }

// .franchise-list {
//   flex-wrap: wrap;
// }

// .block-catalog {
//   padding-top: 64px;
// }

// .catalog-item {
//   padding-top: 24px;
// }

// .control-filter-franchise {
//   width: 160px;
// }

// .switch-garant {
//   padding-top: 50px;
// }

// .control-input-filter-price {
//   width: 160px;
//   margin: 0px 10px 0 0;
// }

// .control-input-price {
//   display: block;
//   width: 342px;
//   height: 48px;
//   padding: 16px;
//   border: none;
//   border-radius: 6px;
//   background-color: #f1f6ff;
//   font-family: "Roboto", sans-serif;
//   font-size: 0.875rem;
//   font-weight: 400;
//   // margin: 0 24px 0 0;
// }

// .block-title-franchise {
//   display: flex;
//   justify-content: space-between;
// }

// ::ng-deep .p-dropdown {
//   display: block;
//   width: 342px;
//   height: 48px;
//   // padding: 16px;
//   border-radius: 6px;
//   background-color: #f1f6ff;
//   border: none;

//   &-label {
//     display: inline-block;
//     width: 288px;
//     font-family: "Roboto", sans-serif;
//     font-size: 0.875rem;
//     font-weight: 400;
//     margin: 16px 10px 16px 16px !important;
//     padding: 0 !important;
//     line-height: 16px !important;
//     // margin-right: 10px !important;
//   }

//   &-clear-icon {
//     display: none;
//   }

//   &-trigger {
//     position: absolute !important;
//     top: 18px !important;
//     display: inline-block !important;
//     // display: flex !important;
//     // justify-content: center !important;
//     // align-items: center !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     width: 12px !important;
//     height: 12px !important;
//     border: none !important;

//     &-icon {
//       position: absolute !important;
//       display: inline-block;
//       // position: relative !important;
//       // display: flex !important;
//       // justify-content: center !important;
//       // align-items: center !important;
//       width: 12px !important;
//       height: 12px !important;
//       font-size: 12px !important;
//       border: none !important;
//       // margin: 0 !important;
//       // padding: 0 !important;
//       color: #2c2c2c !important;
//     }
//   }
// }

// ::ng-deep .block-sort-by .p-dropdown {
//   background-color: white !important;
// }

// .garant-buy {
//   display: flex;
//   align-items: center;
// }

// .flag-garant {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // margin-left: 380px;
//   margin-left: 16px;
//   margin-bottom: 16px;
//   width: 79px;
//   height: 46px;
//   padding: 2px;
//   border-radius: 47px;
// }

// .control-input-filter-price {
//   display: block;
//   width: 163px;
//   height: 48px;
//   margin: 0;
//   padding: 16px;
//   border: none;
//   border-radius: 6px;
//   background-color: #f1f6ff;
//   font-family: "Roboto", sans-serif;
//   font-size: 0.875rem;
//   font-weight: 400;
//   // margin: 0 24px 0 0;
// }

.popular-list {
  display: none;
  flex-wrap: wrap;
  width: 1074px;
  padding: 16px;
}

::ng-deep .p-card {
  display: none;
  width: 331.33px !important;
  height: 359px !important;
  border-radius: 4px !important;

  &-header {
    width: 331.33px !important;
    height: 162px;
    margin-bottom: 24px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  &-title {
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 8px !important;
    margin-bottom: 8px !important;
  }

  &-subtitle {
    font-family: "Roboto", sans-serif !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 8px !important;
    margin-bottom: 24px !important;
    line-height: 14px;
  }

  &-content {
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 8px !important;
    margin-bottom: 24px !important;
    line-height: 21px;
  }

  &-footer {
    margin: 0 !important;
    padding: 0 !important;
  }
}

::ng-deep .card-line-wrapper .p-card {
  display: none;
  width: 1440px !important;
  height: 194.5px !important;
  border-radius: 8px !important;
  padding: 24px;
  background-color: #f1f6ff !important;

  @include ul-xl {
    width: 1392px !important;
  }

  @include xl-lg {
    width: 1024px !important;
    height: 210.41px !important;
  }

  @include lg-md {
    width: 768px !important;
    height: 210.33px !important;
  }

  @include md {
    width: 320px !important;
    height: 243.17px !important;
    padding: 8px;
  }

  &-header {
    position: relative !important;
    display: block !important;
    width: 1392px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 600 !important;
    height: 21px;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 16px !important;

    @include ul-xl {
      width: 1344px !important;
    }

    @include xl-lg {
      width: 976px !important;
    }

    @include lg-md {
      width: 720px !important;
    }

    @include md {
      width: 274px !important;
      font-size: 1.0625rem;
      height: 40px;
    }

    strong {
      font-weight: 600 !important;
    }

    .close {
      position: absolute !important;
      right: 2px !important;
      top: -4px !important;
      width: 20px !important;
      height: 20px !important;
      color: #646464 !important;
      font-size: 20px !important;

      @include md {
        right: -26px !important;
      }

      span {
        display: block !important;
        width: 20px !important;
        height: 20px !important;
        color: #646464 !important;
        font-size: 20px !important;
        line-height: 20px !important;
      }
    }
  }

  &-content {
    font-family: "Roboto", sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #7a7a7a !important;
    // margin-left: 8px !important;
    margin-bottom: 40px !important;
    line-height: 16px;
  }

  &-footer {
    display: flex;
    gap: 16px;

    .btn {
      border-radius: 4px !important;
      margin: 0 !important;
      font-weight: 600 !important;

      @include md {
        font-size: 1rem;
        line-height: 19px;
        height: 51px;
      }

      &-dark {
        // background-color: #1f1f1f;
        border: 0 !important;
        padding: 16px;
        background-color: #1f75fe !important;
      }

      &-default {
        // width: 147px;
        color: #7a7a7a !important;
      }
    }
  }
}
.packs {
  margin-top: 64px;
}
.packs__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2c2c2c;
}
.packs__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  gap: 24px;
}
@media (max-width: 1079px) {
  .packs__list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 16px;
  }
}
@media (max-width: 819px) {
  .packs__list {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 16px;
  }
}
.services {
  max-width: 464px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 400px) {
  .services {
  }
}
.services__more {
  margin: 24px 0 0 24px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #7a7a7a;
}
.services__btn {
  width: 100%;
  padding: 32px 24px;
  border: 0;
  border-radius: 8px 8px 0px 0px;
  color: #ffffff;
  background-color: #2c2c2c;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 1080px) {
  .services__btn {
    font-size: 1.2rem;
  }
}
.services__list {
  list-style: none;
  padding: 0;
  padding: 0 24px;
}
.services__item {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.services__item-text {
  margin-left: 10px;
}
.services__markers-yes {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../../../assets/images/consulting-landing/yes2.png) center
      no-repeat,
    url(../../../../assets/images/consulting-landing/yes1.png) center no-repeat;
}
.services__markers-no {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../../../assets/images/consulting-landing/no2.png) center
      no-repeat,
    url(../../../../assets/images/consulting-landing/no1.png) center no-repeat;
}
.services__wrap {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}
.info {
  list-style: none;
  width: 100%;
  padding: 0;
}

.info__item {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.info li:first-child {
  margin-top: 0;
}
.info__text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 21px;
  color: #2c2c2c;
}
.info__text-resul {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-align: end;
  font-size: 1.125rem;
  line-height: 21px;
  color: #2c2c2c;
}
.services__btn-conf {
  margin-top: 50px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 66px;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #1f75fe;
}
@media (max-width: 1080px) {
  .services__btn-conf {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
}
@media (max-width: 456px) {
  .services__btn-conf {
    padding: 10px 10px;
  }
}

.check {
  display: flex;
  width: 100%;
  border-radius: 24px;
  justify-content: space-between;
  padding: 64px 64px;
  background-color: #1f75fe;
}
@media (max-width: 1080px) {
  .check {
    padding: 64px 32px;
  }
}
.check__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 300px;
}
@media (max-width: 1080px) {
  .check__form {
    margin-right: 0;
  }
}
.check__title {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 6rem;
  color: #ffffff;
}
.check__subtitle {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #ffffff;
}
.check__more {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 28px;
  color: #dadada;
}
@media (max-width: 1080px) {
  .check__form {
    max-width: 291px;
    width: 100%;
  }
  .check__title {
    font-size: 4rem;
  }
  .check__subtitle {
    font-size: 2.75rem;
  }
}
@media (max-width: 870px) {
  .check__form {
    max-width: 100%;
  }
}
@media (max-width: 424px) {
  .check__title {
    font-size: 2rem;
  }
  .check__subtitle {
    font-size: 1.5rem;
  }
  .check__more {
    font-size: 1rem;
  }
}

.check__wrap {
  display: flex;
  gap: 16px;
}
@media (max-width: 1080px) {
  .check__wrap {
    flex-wrap: wrap;
  }
}
.check__label {
  max-width: 291px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  color: #dadada;
}
.check__input {
  width: 100%;
  padding: 24px 24px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1.5px solid #dadada;
  box-sizing: border-box;
  border-radius: 8px;
}
@media (max-width: 424px) {
  .check__input {
    font-size: 0.75rem;
    padding: 20px 10px;
  }
}
.check__button {
  margin-top: 32px;
  border: none;
  cursor: pointer;
  padding: 20px 16px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #1f75fe;
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 1080px) {
  .check__button {
    max-width: 291px;
    width: 100%;
    font-size: 1.1rem;
    padding: 20px 11px;
  }
}
@media (max-width: 424px) {
  .check__button {
    font-size: 1rem;
    padding: 20px 10px;
  }
}
@media (max-width: 367px) {
  .check__button {
    font-size: 0.97rem;
    padding: 20px 10px;
  }
}
.check__block-foto {
  position: relative;
}
@media (max-width: 870px) {
  .check__block-foto {
    display: none;
  }
}
.check__img {
  position: absolute;
  bottom: -64px;
  right: 0;
}
@media (max-width: 1440px) {
  .check__img {
    right: -80px;
  }
}
@media (max-width: 1080px) {
  .check__img {
    right: -50px;
  }
}

// .three-cards {
//   margin-top: 80px;
//   display: flex;
//   gap: 24px;
//   flex-wrap: wrap;
// }

// ::ng-deep .three-cards-wrapper .p-card {
//   width: 464px !important;
//   height: 335px !important;
//   background-color: white;
//   // border-radius: 4px !important;
//   // padding: 24px;

//   &-body {
//     width: 464px !important;
//     height: 335px !important;
//     margin: 0 !important;
//     padding: 0 !important;
//   }

//   &-header {
//     display: none !important;
//   }

//   &-title {
//     font-family: "Roboto", sans-serif !important;
//     font-size: 1.5rem !important;
//     font-weight: 400 !important;
//     color: #2c2c2c !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     margin-bottom: 32px !important;
//   }

//   &-subtitle {
//     font-family: "Roboto", sans-serif !important;
//     font-size: 1.125rem !important;
//     font-weight: 400 !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     padding-left: 24px !important;
//     padding-top: 24px !important;
//     padding-bottom: 16px !important;
//     line-height: 21px !important;
//     background-color: #f1f1f1 !important;
//   }

//   &-content {
//     font-family: "Roboto", sans-serif !important;
//     font-size: 0.875rem !important;
//     font-weight: 400 !important;
//     // width: 342.8px !important;
//     min-height: 48px !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     padding-left: 24px !important;

//     // margin-left: 8px !important;
//     padding-bottom: 68px !important;
//     // line-height: 16px;
//     background-color: #f1f1f1 !important;

//     p {
//       padding-right: 97.19px;
//       line-height: 16.41px;
//     }
//   }

//   &-footer {
//     background-color: #f1f1f1 !important;
//     padding-bottom: 44.78px !important;

//     .btn {
//       margin-left: 24px;
//       min-width: 93px;
//       background-color: #1f1f1f;
//     }
//   }
// }

.card-business .btn-dark {
  display: none;
  margin-top: 0;
}

.popular-item-blog {
  display: none;
  width: 342px;
  height: 208px;
}

::ng-deep .popular-item-blog-wrapper1 .p-card {
  display: none;
  width: 342px !important;
  height: 208px !important;
  border-radius: 0 !important;

  &-header {
    width: 342px !important;
    height: 162px;
    margin-bottom: 25px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #2c2c2c !important;
    line-height: 21px !important;
  }

  &-content {
    display: none;
  }
}

::ng-deep .popular-item-blog-wrapper2 .p-card {
  display: none !important;
  justify-content: center !important;
  align-items: center !important;
  width: 342px !important;
  height: 208px !important;
  border-radius: 0 !important;
  padding: 24px;
  background-color: #f1f1f1;

  &-header {
    display: none !important;
  }

  &-title {
    display: none;
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 16px !important;
    color: #2c2c2c !important;
    line-height: 21px !important;
  }

  &-content {
    display: none;
    font-family: "Roboto", sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #646464 !important;

    .d-flex {
      gap: 10px;

      .image {
        position: relative;
        width: 32px;

        img {
          position: absolute;
          right: 0;
          top: -16px;
        }
      }
    }
  }
}

.news {
  display: none;
  &-item {
    margin-bottom: 25px;
    border-bottom: 0.5px solid #c4c4c4;

    img {
      margin-right: 8px;
    }
  }

  &-title {
    font-weight: 400;
    margin-bottom: 9.5px;
  }

  &-bottom-line {
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    color: #646464;
    margin-bottom: 25px;
  }
}

.category-text {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2c2c2c;
}
