@import "../../app.component.scss";  
@import "/src/app/shared/styles/body-margins.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "/src/app/modules/create-franchise/create-franchise.component.scss";