// глобальные стили
.deal {
  display: flex;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
  &__header {
    border: none;
    background: transparent;
  }
  &__description {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
  &__title {
    margin: 0;
    text-align: center;
  }
  &__business {
    text-align: center;
    margin-bottom: 0;
  }
  &__franchise {
    text-align: center;
  }
  &__btn-action {
    margin: 0 auto;
  }
}

.survey {
  &__result {
    display: flex;
    grid-gap: 0;
    gap: 0;
    margin: 0;
    height: -moz-fit-content;
    height: fit-content;
    flex-wrap: wrap;
  }
  &__example {
    background: #f5f8fa;
    border-radius: 15px;
    border: none;
  }
  &__content {
    padding-bottom: 26px;
  }
}

.note {
  &__title {
    background: transparent;
    border: none;
    color: #000;
    padding: 0;
  }
  &__description {
    position: relative;
    background: #f1f6ff;
    border-radius: 8px;
    border: none;
  }
  &__content {
    padding-top: 0;
  }
  &__buying {
    display: flex;
  }
  &__buying-title {
    font-weight: 600;
  }
  &__buying {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__text-description {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 16.41px;
  }
  &__btn-submit {
    max-width: 115px;
    height: 51px;
    padding: 16px;
    margin-left: 0;
    border-radius: 4px;
  }
}

.consulting {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  &__content {
    height: -moz-fit-content;
    height: fit-content;
  }
  &__title {
    color: #fff;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
    margin: 0;
  }
  &__buying-business {
    color: #fff;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
  }
  &__footnote {
    color: #e9ecef;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
  }
  &__name {
    color: #fff;
  }
  &__phone {
    color: #fff;
  }
  &__input-field {
    border-radius: 7px;
  }
  &__assistant {
    height: -moz-fit-content;
    height: fit-content;
  }
}

.user-action-title {
  font-weight: 600;
  background: transparent;
  border: none;
}

.list-action {
  width: max-content;
  padding: 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
    gap: 0;
  }
  &__card {
    border: none;
  }
  &__item {
    /*padding: 0;*/
    border-radius: 24px;
  }
  &__image-box {
    padding: 0;
    background: transparent;
    border: none;
  }
  &__title,
  &__stage {
    font-weight: 600;
  }
  &__title,
  &__subtitle,
  &__stage {
    margin: 0;
  }
  &__prompt {
    line-height: normal;
    margin: 0;
  }
  &__launch {
    margin: 0;
  }
}

.garant {
  background: #f1f6ff;
  border: none;
  border-radius: 8px;
  &__header {
    display: flex;
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__title {
    margin-bottom: 0;
  }
  &__btn-close-box {
    height: min-content;
  }
  &__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  &__description {
    color: #7a7a7a;
  }
  &__btn-business {
    margin-left: 0;
  }
  &__btn-clean {
    color: #7a7a7a;
    border: 1px solid #7a7a7a;
  }
}

.compilation-business {
  &__content {
    background: rgba(218, 218, 218, 0.15);
    border-radius: 8px;
    border: none;
  }
  &__header {
    display: flex;
    background: transparent;
    border: none;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
  &__card-title {
    font-weight: 600;
    margin-bottom: 0;
  }
  &__description {
    padding-top: 0;
  }
  &__text {
    color: #7a7a7a;
  }
  &__catalog {
    margin-top: 24px;
    margin-left: 0;
    border-radius: 4px;
  }
}

.sale-business {
  &__content {
    background: rgba(218, 218, 218, 0.15);
    border-radius: 8px;
    border: none;
  }
  &__header {
    display: flex;
    background: transparent;
    border: none;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
  &__card-title {
    font-weight: 600;
    margin-bottom: 0;
  }
  &__description {
    padding-top: 0;
  }
  &__text {
    color: #7a7a7a;
  }
  &__action {
    margin-top: 24px;
    margin-left: 0;
    border-radius: 4px;
  }
}

.creation-business {
  &__content {
    background: rgba(218, 218, 218, 0.15);
    border-radius: 8px;
    border: none;
  }
  &__header {
    display: flex;
    background: transparent;
    border: none;
    padding-bottom: 0;
    margin-bottom: 16px;
  }
  &__card-title {
    font-weight: 600;
    margin-bottom: 0;
  }
  &__description {
    padding-top: 0;
  }
  &__text {
    color: #7a7a7a;
  }
  &__creation {
    margin-top: 24px;
    margin-left: 0;
    border-radius: 4px;
  }
}

.selection {
  &__offer {
    border: none;
  }
  &__header-service {
    border: none;
    background: transparent;
    padding-left: 0;
  }
  &__service-title {
    font-weight: 600;
  }
  &__business-action {
    background: #e9ecef;
    border-radius: 7px;
  }
  &__subtitle {
    font-weight: 600;
  }
  &__btn-action {
    margin: 49px 0 0 0;
    border-radius: 7px;
  }
}

// стили для пк 1024 (1200)
.deal {
  &.is-xl {
    display: flex;
    width: 100%;
    flex-flow: row;
    border-radius: 24px;
  }
  &.is-xl &__header {
    max-width: 220.34px;
    order: 2;
  }
  &.is-xl &__description {
    order: 1;
  }
  &.is-xl &__title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 8px;
  }
  &.is-xl &__img {
    width: 100%;
  }
  &.is-xl &__business {
    font-size: 44px;
    line-height: 51.56px;
    margin-bottom: 16px;
  }
  &.is-xl &__franchise {
    font-size: 24px;
    line-height: 28.13px;
  }
  &.is-xl &__btn-action {
    margin: 0 !important;
    border-radius: 4px;
  }
}

.survey {
  &.is-xl &__example {
    height: 301px;
    border-radius: 24px;
  }
  &.is-xl &__count {
    font-size: calc((100vw - 320px) / (1920 - 320) * (89 - 32) + 32px);
    line-height: 112.5px;
    margin-bottom: 16px;
  }
  &.is-xl &__ad {
    font-size: calc((100vw - 320) / (1920 - 320) * (24 - 16) + 16px);
  }
  &.is-xl &__item:nth-child(odd) {
    padding-right: 12px;
  }
  &.is-xl &__item:nth-child(even) {
    padding-left: 12px !important;
  }
  &.is-xl &__item:first-child,
  &.is-xl &__item:nth-child(2) {
    margin-bottom: 16px;
  }
}

.note {
  &.is-xl {
    display: none;
  }
}

.consulting {
  &.is-xl {
    width: 100%;
    height: 522.5px;
    border-radius: 24px;
    padding: 44px;
    margin: 80px auto 64px;
  }
  &.is-xl &__title {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &.is-xl &__buying-business {
    font-size: 44px;
    line-height: 51.56px;
    margin-bottom: 16px;
  }
  &.is-xl &__footnote {
    font-size: 24px;
    line-height: 28.13px;
    margin-bottom: 48px;
    color: #dadada;
  }
  &.is-xl &__content {
    width: 100%;
  }
  &.is-xl &__name,
  &.is-xl &__phone {
    font-size: 12px;
    line-height: 14.06px;
  }
  &.is-xl &__field {
    display: inline-block;
    margin-bottom: 0 !important;
  }
  &.is-xl &__field:nth-child(5) > &__input-field {
    margin-left: 16px;
  }
  &.is-xl &__input-field {
    display: inline-block;
    width: 100%;
    height: 69px;
    max-width: 291px;
    padding: 24px 40px 24px 24px;
    border-radius: 8px;
  }
  &.is-xl &__assistant {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -180px;
    padding: 0;
    pointer-events: none;
  }
  &.is-xl &__image-wrapper {
    width: 100%;
    height: 559px;
  }
  &.is-xl &__assistant-img {
    width: 100%;
  }
  &.is-xl &__submit {
    margin-top: 32px;
  }
}

.user-action-title.is-xl {
  font-size: 32px;
  line-height: 37.5px;
  margin-bottom: 31.97px;
}

.list-action {
  &.is-xl {
    height: 850px;
  }
  &.is-xl &__list {
    margin-left: auto;
    margin-right: auto;
  }
  &.is-xl &__item {
    max-width: 500px;
  }
  &.is-xl &__image-box {
    width: 127px;
    height: 102px;
  }
  &.is-xl &__image {
    width: 100%;
  }
  &.is-xl &__title {
    font-size: 24px;
    line-height: 28.13px;
    margin-bottom: 4px;
  }
  &.is-xl &__subtitle {
    font-size: 12px;
    line-height: 14.06px;
    margin-bottom: 8px;
  }
  &.is-xl &__stage {
    font-size: 18px;
    line-height: 21.09px;
    margin-bottom: 24px;
  }
  &.is-xl &__prompt {
    width: 452px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
}

.garant {
  &.is-xl {
    margin-top: 88px;
  }
  &.is-xl &__header {
    display: flex;
    justify-content: space-between;
  }
  &.is-xl &__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  &.is-xl &__description {
    font-size: 14px;
    line-height: 16.41px;
    margin-bottom: 40px;
  }
  &.is-xl &__btn-business {
    width: 100%;
    max-width: 136px;
    border-radius: 4px !important;
    margin-right: 20px;
  }
  &.is-xl &__btn-clean {
    width: 150px;
    border-radius: 4px;
  }
  &.is-xl &__btn-business,
  &.is-xl &__btn-clean {
    margin-bottom: 24px;
  }
}

.compilation-business {
  &.is-xl {
    display: none;
  }
}

.sale-business {
  &.is-xl {
    display: none;
  }
}

.creation-business {
  &.is-xl {
    display: none;
  }
}

.selection {
  &.is-xl &__service-title {
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 24px;
  }
  &.is-xl &__business-action {
    border-radius: 8px;
  }
}

// стили для пк 1440
.deal {
  &.is-xxl {
    display: flex;
    width: 100%;
    flex-flow: row;
    border-radius: 24px;
  }
  &.is-xxl &__header {
    order: 2;
  }
  &.is-xxl &__description {
    order: 1;
  }
  &.is-xxl &__title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 8px;
  }
  &.is-xll &__business {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &.is-xxl &__franchise {
    font-size: 24px;
    line-height: 28.13px;
  }
  &.is-xxl &__btn-action {
    margin: 0 !important;
    border-radius: 4px;
  }
}

.survey {
  &.is-xxl &__item {
    padding-right: 8px;
  }
  &.is-xxl &__example {
    height: 341px;
    border-radius: 24px;
  }
  &.is-xxl &__count {
    font-size: 4.64vw;
    line-height: 112.5px;
    margin-bottom: 16px;
  }
  &.is-xxl &__ad {
    font-size: calc((100vw - 320) / (1920 - 320) * (24 - 16) + 16px);
    line-height: 28.13px;
  }
}

.consulting {
  &.is-xxl {
    width: 100%;
    margin-top: 74px;
  }
  &.is-xxl &__title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 16px;
  }
  &.is-xxl &__buying-business {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &.is-xxl &__footnote {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 48px;
  }
  &.is-xll &__name,
  &.is-xxl &__phone {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  &.is-xxl &__field {
    display: inline-block;
  }
  &.is-xxl &__field:nth-child(4) {
    margin-right: 16px;
    margin-bottom: 0 !important;
  }
  &.is-xxl &__input-field {
    width: 291px;
    height: 69px;
  }
  &.is-xxl &__assistant {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 622px;
    margin-right: -10%;
  }
  &.is-xxl &__btn-submit {
    margin-top: 32px;
  }
}

.user-action-title.is-xxl {
  font-size: 32px;
  line-height: 37.5px;
}

.list-action {
  &.is-xxl &__list {
    height: max-content;
  }
  &.is-xxl &__title {
    font-size: 24px;
    line-height: 28.13px;
  }
  &.is-xxl &__subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }
  &.is-xxl &__stage,
  &.is-xxl &__prompt {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
}

.note {
  &.is-xxl {
    display: none;
  }
}

// Больше 981px не обрабатывает запросы
/*@media screen and (min-width: 992px) and (max-width: 1200px) {
  .note {
    display: none;
  }
}*/

// стили для смартфонов
@media only screen and (min-width: 320px) and (max-width: 610px) {
  .deal {
    width: 100%;
    padding: 32px 16px;
    &__header,
    &__description {
      width: 100%;
    }
    &__title {
      width: 100%;
      font-size: 34px;
    }
    &__business {
      font-size: 26.5px;
      margin-top: -15px;
    }
    &__franchise {
      margin-bottom: 25px;
    }
  }

  .survey {
    &__result {
      width: 100%;
    }
    &__item {
      margin-bottom: 17px;
    }
    &__count {
      font-size: 53px;
    }
    &__ad {
      font-size: 20px;
    }
  }

  .note {
    &__title {
      font-size: 19px;
    }
    &__buying-title {
      font-size: 17px;
      line-height: 19.92px;
    }
    &__buying,
    &__content {
      padding-left: 8px;
    }
    &__text-description:first-child {
      margin-bottom: 19px;
    }
    &__text-description:nth-child(2) {
      margin-bottom: 24px;
    }
    &__img {
      width: 61px;
      height: 73px;
      margin-left: 27px;
    }
    &__btn-submit {
      width: 50%;
      max-width: none;
    }
  }

  .consulting {
    width: 100%;
    padding: 22px 16px 32px;
    &__content {
      width: 100%;
    }
    &__title {
      width: 100%;
      font-size: 31px;
      line-height: 58px;
    }
    &__buying-business {
      width: 100%;
      font-size: 25px;
      line-height: 35px;
    }
    &__footnote {
      width: 100%;

      font-size: 19px;

      margin-bottom: 18px;
    }
    &__field {
      margin-bottom: 26px;
    }
    &__input-field {
      width: 100%;
      height: 60px;
    }
    &__btn-submit {
      margin: 0.5rem 0 0 0;
    }
    &__submit {
      width: 100%;
      font-size: 16px;
    }
    &__image-wrapper {
      display: none;
    }
  }

  .user-action-title {
    font-size: 22px;
  }

  .list-action {
    width: -moz-fit-content;
    width: fit-content;
    &__list {
      width: 100%;
      height: max-content;
    }
    &__item {
      width: 100%;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__subtitle {
      margin-bottom: 9px;
    }
    &__stage {
      margin-bottom: 20px;
    }
    &__image-box {
      width: 88px;
      margin-right: 0;
    }
    &__image {
      width: 100%;
    }
    &__prompt {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 31px;
    }
    &__launch {
      width: 100%;
    }
  }

  .garant {
    &__header {
      margin-bottom: 16px;
    }
    &__title {
      font-size: 17px;
      line-height: 19.92px;
    }
    &__btn-close-box {
      width: 16px;
    }
    &__btn-close {
      width: 8px;
      height: 16px;
    }
    &__btn-group {
      margin: 40px 0 8px;
    }
    &__btn-business,
    &__btn-clean {
      border-radius: 4px !important;
    }
    &__btn-business {
      width: 50%;
    }
    &__btn-clean {
      margin-left: 20px !important;
    }
  }

  .compilation-business {
    margin-top: 24px;
    &__title {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    &__card-title {
      font-size: 17px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .sale-business {
    margin-top: 24px;
    &__title {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    &__card-title {
      font-size: 17px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .creation-business {
    margin-top: 24px;
    &__title {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 16px;
    }
    &__card-title {
      font-size: 17px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .selection {
    width: 100%;
    &__service-title {
      font-size: 21px;
    }
  }
}

// стили для планшета общие
@media only screen and (min-width: 611px) {
  .deal {
    &__title,
    &__business,
    &__franchise {
      text-align: left;
    }
  }
  .survey {
    &__result {
      width: 100%;
    }
    &__example {
      border: none;
    }
    &__item:nth-child(odd) {
      padding-left: 0;
    }
    &__item:nth-child(even) {
      padding: 0;
    }
    &__ad {
      text-align: center;
    }
  }

  .list-action {
    &__image {
      width: 126px;
    }
  }

  .consulting {
    &__image-wrapper {
      margin-top: 0;
    }
  }

  .selection {
    &__btn-action {
      width: 50%;
    }
  }
}

// стили для планшетов
@media only screen and (min-width: 611px) and (max-width: 980px) {
  .deal {
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row;
    border: none;
    margin-left: auto;
    margin-right: auto;
    &__header {
      display: flex;
      width: 40%;
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
      justify-content: center;
      align-items: center;
      order: 2;
    }
    &__description {
      width: 60%;
      height: -moz-fit-content;
      height: fit-content;
      order: 1;
    }
    &__title {
      width: 100%;
      font-size: 32px;
      margin: 0;
    }
    &__business {
      font-size: 24px;
      margin-top: -15px;
      margin-bottom: 5px;
    }
    &__franchise {
      margin-bottom: 117px;
    }
    &__btn-action {
      width: 100%;
      padding: 0;
    }
    &__img {
      width: 100% !important;
      height: -moz-fit-content !important;
      height: fit-content !important;
    }
  }

  .survey {
    &__result {
      width: 100%;
    }
    &__item {
      margin-bottom: 17px;
    }
    &__count {
      font-size: 80px;
    }
    &__ad {
      font-size: 20px;
    }
  }

  .note {
    &__title {
      font-weight: 400;
    }
    &__buying-title {
      font-size: 17px;
      height: min-content;
      margin-bottom: 16px;
    }
    &__buying-title {
      & > br {
        display: none;
      }
    }
    &__text-description {
      max-width: 70%;
      & > br {
        display: none;
      }
    }
    &__text-description:first-child {
      margin-bottom: 27px;
    }
    &__text-description:nth-child(2) {
      margin-bottom: 60px;
    }
    &__img {
      width: 231px;
      position: absolute;
      top: 0;
      right: 0;
      min-height: 100%;
    }
  }

  .consulting {
    width: 100%;
    height: 609px;
    margin-bottom: 37px;
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 33px;
    }
    &__buying-business {
      font-size: 38px;
      line-height: 41px;
    }
    &__footnote {
      font-size: 16px;
    }
    &__input-field {
      height: 66px;
    }
    &__field {
      margin-bottom: 30px;
    }
    &__assistant {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__submit {
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }
  }

  .user-action-title {
    font-size: 24px;
    margin: 0 0 34px 0;
  }

  .list-action {
    &__title {
      margin-bottom: 9px;
    }
    &__subtitle {
      margin-bottom: 13px;
    }
    &__stage {
      margin-bottom: 34px;
    }
    &__prompt {
      font-size: 19px;
      margin: 0 0 26px 0;
    }
  }

  .garant {
    width: 100%;
    margin-top: 80px;
    &__title {
      font-size: 18px;
      font-weight: 600;
    }
    &__description {
      font-size: 13px;
    }
    &__close-icon {
      font-size: 18px !important;
    }
    &__btn-clean {
      border: 1px solid #7a7a7a;
      background: transparent;
    }
  }

  .compilation-business,
  .sale-business,
  .creation-business {
    display: none;
  }

  .selection {
    &__repeat:nth-child(3) {
      width: 100%;
    }
    &__offer.is-alone &__service-text {
      margin-right: 14px;
    }
    &__offer.is-alone &__btn-action {
      width: 155px;
    }
    &__service-title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 15px;
      margin-bottom: 14px;
    }
    &__service-text {
      font-size: 12px;
    }
    &__btn-action {
      font-size: 17px;
    }
  }
}
