/*@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";*/

.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img {
    margin-top: 67px;
  }
  &__title {
    font-size: 5vw;
    line-height: 112.5px;
    margin-bottom: 8px;
  }
  &__business {
    font-size: 3.33vw;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &__franchise {
    font-size: 1.25vw;
    line-height: 28px;
    margin-bottom: 52px;
  }
  &__btn-action {
    font-size: 1.25vw;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

.survey {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          font-size: 4.32vw;
        }
      }
      & .p-panel-content {
        border: none;
        font-size: 1.25vw;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        color: #7a7a7a;
      }
    }
  }
}

.note {
  &__title {
    background: transparent;
    border: none;
    padding-left: 0;
    font-size: 1.25vw;
    line-height: 28px;
    color: #2c2c2c;
  }
  &__description {
    border: none;
    background: #f1f6ff;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 24px;
    border-radius: 8px;
  }
  &__buying {
    width: 70%;
    background: transparent;
    border: none;
    padding-bottom: 16px;
  }
  &__content {
    padding-top: 0;
  }
  &__wrapper {
    padding-left: 0;
  }
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__text-title {
    font-size: 0.94vw;
    line-height: 21px;
    font-weight: 500;
  }
}

.title-franchise {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2c2c2c;
}
.popular-list {
  flex-wrap: wrap;
  width: 1074px;
  padding: 16px;
}

::ng-deep .p-card {
  // width: 331.33px !important;
  // height: 359px !important;
  border-radius: 4px !important;

  &-header {
    // width: 331.33px !important;
    // height: 162px;
    // margin-bottom: 24px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-body {
    margin: 0;
    // padding: 0 !important;
  }

  &-title {
    font-family: "Roboto", sans-serif !important;
    font-size: 1.125rem;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 8px !important;
    margin-bottom: 8px !important;
    &__content-item {
      font-size: 0.73vw;
      line-height: 16px;
    }
    &__img-box {
      padding-right: 0;
    }
    &__redirect-catalog {
      font-size: 0.94vw;
      line-height: 21px;
      border-radius: 4px;
      padding: 16px;
    }
  }

  .consulting {
    position: relative;
    margin-top: 74px;
    &__request {
      padding: 64px;
      border-radius: 24px;
    }
    &__title,
    &__subtitle,
    &__note {
      background: transparent;
      border: none;
      padding: 0;
    }
    &__title {
      font-size: 5vw;
      line-height: 112px;
      color: #fff;
      margin-bottom: 16px;
    }
    &__subtitle {
      font-size: 3.18vw;
      line-height: 75px;
      color: #fff;
      margin-bottom: 16px;
    }
    &__note {
      font-size: 1.25vw;
      line-height: 28px;
      color: #dadada;
      margin-bottom: 48px;
    }
    &__input-field {
      max-width: 291px;
    }
    &__input-text {
      color: #dadada;
      font-size: 0.63vw;
      line-height: 14px;
    }

    &-content {
      width: 864px;
      height: 495px;

      // @include xl-lg {
      //   width: 598px;
      //   height: 434px;
      // }

      // @include lg-md {
      //   width: 429px;
      //   height: 593px;
      // }

      // @include md {
      //   width: 272px;
      //   height: 480px;
      // }

      &__title {
        font-family: "Roboto", sans-serif;
        font-size: 6rem;
        font-weight: 700;
        color: #ffffff;
        width: 864px;
        line-height: 112px;
        margin-bottom: 16px;

        // @include xl-lg {
        //   font-size: 4rem;
        //   width: 598px;
        //   line-height: 75px;
        // }

        // @include lg-md {
        //   font-size: 4rem;
        //   width: 429px;
        //   line-height: 75px;
        // }

        // @include md {
        //   font-size: 2rem;
        //   width: 272px;
        //   line-height: 38px;
        //   margin-bottom: 8px;
        // }
      }

      &__subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
        width: 864px;
        line-height: 75px;
        margin-bottom: 16px;

        // @include xl-lg {
        //   font-size: 2.75rem;
        //   width: 598px;
        //   line-height: 52px;
        // }

        // @include lg-md {
        //   font-size: 2.75rem;
        //   width: 429px;
        //   line-height: 52px;
        // }

        // @include md {
        //   font-size: 1.5rem;
        //   width: 272px;
        //   line-height: 28px;
        // }
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: #dadada;
        width: 864px;
        line-height: 28px;
        margin-bottom: 48px;

        // @include xl-lg {
        //   width: 598px;
        // }

        // @include lg-md {
        //   width: 429px;
        // }

        // @include md {
        //   font-size: 1rem;
        //   width: 272px;
        //   line-height: 19px;
        //   margin-bottom: 24px;
        // }
      }

      &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 32px;
        ::ng-deep.p-inputtext {
          display: block;
          font-family: "Roboto", sans-serif;
          font-size: 1.125rem;
          font-weight: 400;
          color: #7a7a7a;
          width: 291px;
          height: 69px;
          border: 1.5px solid #dadada;
          border-radius: 8px;
          padding: 24px 40px 24px 24px;
        }
        // @include lg-md {
        //   flex-direction: column;
        // }

        // @include md {
        //   flex-direction: column;
        //   margin-bottom: 24px;
        // }
      }

      &__label {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 0.75rem;
        line-height: 14px;
        font-weight: 400;
        color: #dadada;
        //margin-bottom: 8px;

        // @include lg-md {
        //   margin-bottom: 0;
        // }

        // @include md {
        //   margin-bottom: 0;
        // }
      }

      &__input {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        font-weight: 400;
        color: #7a7a7a;
        width: 291px;
        height: 69px;
        border: 1.5px solid #dadada;
        border-radius: 8px;
        padding: 24px 40px 24px 24px;

        // @include lg-md {
        //   margin-top: 8px;
        // }

        // @include md {
        //   width: 272px;
        //   margin-top: 8px;
        // }
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: #1f75fe;
        line-height: 28px;
        width: 398px;
        height: 76px;
        border: none;
        border-radius: 4px;
        padding: 24px 29.5px;
        margin: 0;
        background-color: #ffffff;

        // @include lg-md {
        //   font-size: 1.1875rem;
        //   line-height: 22px;
        //   width: 291px;
        //   height: 70px;
        //   padding: 24px 11px;
        // }

        // @include md {
        //   font-size: 1rem;
        //   line-height: 19px;
        //   width: 272px;
        //   height: 67px;
        //   padding: 24px 22.5px;
        // }
      }
      &__input {
        padding: 24px 40px 24px 24px;
        border-radius: 8px;
        font-size: 0.94vw;
        line-height: 21px;
      }
      &__assistant {
        position: absolute;
        width: 622px;
        right: 0;
        bottom: 0;
        margin-right: -140px;
      }
    }

    .checklist {
      &__head {
        background: transparent;
        border: none;
        padding: 0;
        font-size: 1.67vw;
        line-height: 38px;
        margin: 74px 0 32px;
      }
      &__header {
        background: transparent;
        border: none;
      }
      &__title {
        font-size: 1.25vw;
        line-height: 28px;
        margin-top: 25px;
        margin-bottom: 4px;
      }
      &__subtitle {
        font-size: 0.63vw;
        line-height: 14px;
        color: #646464;
        margin-bottom: 8px;
      }
      &__step {
        font-size: 0.94vw;
        line-height: 12px;
        margin-bottom: 24px;
      }
      &__description {
        font-size: 0.89vw;
        line-height: 17px;
        margin-bottom: 24px;
        height: 63px;
      }
      &__item:first-child &__content {
        background: #f5f8fa;
      }
      &__content {
        border: none;
      }
      &__img {
        width: 127px;
        height: 102px;
      }
      &__action {
        font-size: 0.94vw;
        line-height: 21px;
        padding: 16px;
        border-radius: 4px;
      }
    }
    // гарант
    .garant {
      border: none;
      border-radius: 8px;
      background: #f1f6ff;
      margin-top: 74px;
      &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        border: none;
        background: transparent;
        margin-bottom: 16px;
      }
      &__title {
        font-size: 0.94vw;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 0;
      }
      &__close {
        width: 16px;
        height: 16px;
      }
      &__description {
        font-size: 0.73vw;
        line-height: 16.41px;
        color: #7a7a7a;
        margin-bottom: 40px;
      }
      &__business {
        font-size: 0.94vw;
        line-height: 21px;
        font-weight: 600;
        border-radius: 4px !important;
        padding: 16px;
        margin-right: 22px;
      }
      &__clean {
        font-size: 0.94vw;
        line-height: 21px;
        font-weight: 600;
        border-radius: 4px !important;
        padding: 16px;
        border: 1px solid #7a7a7a;
        color: #7a7a7a;
      }
    }

    .choice {
      margin-top: 74px;
      &__card {
        font-size: 1.25vw;
        margin-bottom: 0;
        color: #2c2c2c;
      }
      &__subtitle {
        font-size: 0.94vw;
        color: #2c2c2c;
        font-weight: 600;
        line-height: 21px;
        margin-bottom: 16px;
        height: 42px;
      }
      &__offer {
        border: none;
      }
      &__service-item {
        background: transparent;
        padding-top: 0;
        padding-bottom: 16px;
      }
      &__business-action {
        padding-top: 0;
        padding-bottom: 25px;
      }
      &__text {
        font-size: 0.73vw;
        line-height: 21px;
        margin-bottom: 51px;
      }
      &__submit {
        font-size: 0.94vw;
        line-height: 21px;
        padding: 16px;
        border-radius: 4px;
      }
    }
  }
}
