<div class="card header deal">
  <div class="card-header header-image deal__header">
    <img
      class="card-img-top deal__img"
      src="../../../../assets/images/deal-landing/shield.png"
      alt="Изображение щита"
    />
  </div>
  <div class="card-body header-content deal__description">
    <h5 class="card-title header-content__title deal__title">Онлайн сделка</h5>
    <div class="card-text header-content__subtitle deal__business">
      по покупке бизнеса
    </div>
    <div class="card-text header-content__text deal__franchise">
      или франшизы
    </div>
    <button class="btn btn-light header-content__button deal__btn-action">
      Как начать сделку?
    </button>
  </div>
</div>

<div class="container survey">
  <div class="row statistics survey__result">
    <div class="col-sm-12 col-md-6 survey__item">
      <div class="card survey__example">
        <div class="card-body survey__content">
          <div class="statistics-item__number survey__count">10</div>
          <div class="statistics-item__text survey__ad">
            сделок в среднем <br />
            проходит <br />
            через сервис гарант
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 survey__item">
      <div class="card survey__example">
        <div class="card-body survey__content">
          <div class="statistics-item__number survey__count">35</div>
          <div class="statistics-item__text survey__ad">
            франшиз <br />
            были проданы <br />
            через сервис гарант
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 survey__item">
      <div class="card survey__example">
        <div class="card-body survey__content">
          <div class="statistics-item__number survey__count">105</div>
          <div class="statistics-item__text survey__ad">
            бизнесов уже были <br />
            проданы через <br />
            сервис гарант
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 survey__item">
      <div class="card survey__example">
        <div class="card-body survey__content">
          <div class="statistics-item__number survey__count">0,5-3%</div>
          <div class="statistics-item__text survey__ad">
            комиссия <br />
            за использование <br />
            сервиса покупки онлайн
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container note" [ngClass]="{'is-xl':isXlExtension}">
  <h5 class="alert alert-light note__title">Покупка бизнеса с гарантиями</h5>
  <div class="card note__description">
    <div class="card-header note__buying">
      <div class="card-title note__buying-title">
        Покупка бизнеса любого<br>
        размера онлайн с<br>
        гарантиями
      </div>
      <img class="img-fluid note__img" src="../../../../assets/images/shooting_range.png" alt="Мишень" />
    </div>
    <div class="card-body note__content">
      <div class="card-text note__text-description">
        Первый в мире сервис с функцией<br />
        приобретения франшизы или готового<br />
        бизнеса онлайн. Сервис GoBizy<br />
        предоставляет возможность купить бизнес<br />
        в несколько кликов без опасений.
      </div>
      <div class="card-text note__text-description">
        Вы можете воспользоваться сервисом<br />
        онлайн покупки и консалтингом от нашей<br />
        компании.
      </div>
      <button class="btn btn-primary note__btn-submit">Подробнее</button>
    </div>
  </div>
</div>
<form class="consulting" [ngClass]="{'is-xl':isXlExtension}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <div class="consulting-content consulting__content">
          <div class="alert alert-light consulting__title">Консультация</div>
          <div class="alert alert-light consulting__buying-business">
            при покупке бизнеса онлайн
          </div>
          <div class="alert alert-light consulting__footnote">
            с юристом и консультантами сервиса
          </div>
          <div class="mb-3 consulting__field">
            <label for="userName" class="form-label consulting__name"
              >Имя</label
            >
            <input
              type="text"
              class="form-control consulting__input-field"
              id="userName"
              placeholder="Введите имя"
              name="name"
            />
          </div>
          <div class="consulting__field">
            <label for="userPhone" class="form-label consulting__phone"
              >Номер телефона</label
            >
            <input
              type="tel"
              class="form-control consulting__input-field"
              id="userPhone"
              placeholder="Введите номер телефона"
              name="telephone"
            />
          </div>
          <div class="consulting__btn-submit">
            <input
              type="submit"
              class="consulting-content__button consulting__submit"
              value="Обратиться за консультацией"
            />
          </div>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 consulting__assistant"
      >
        <div class="consulting-image consulting__image-wrapper">
          <img
            class="consulting__assistant-img"
            src="../../../../assets/images/deal-landing/template_person6 1.png"
            alt="Фото консультанта"
          />
        </div>
      </div>
    </div>
  </div>
</form>

<h5 class="steps-header user-action-title alert alert-light" [ngClass]="{'is-xl':isXlExtension}">
  4 простых шага для безопасной сделки онлайн
</h5>

<div class="container list-action" [ngClass]="{'is-xl':isXlExtension}">
  <div class="row steps list-action__list">
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 list-action__item"
    >
      <div class="card list-action__card">
        <div class="card-header steps-item__image list-action__image-box">
          <img
            class="card-img-top list-action__image"
            src="../../../../assets/images/deal-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body list-action__step">
          <div class="steps-item__title list-action__title">Выбрать бизнес</div>
          <div class="steps-item__subtitle list-action__subtitle">
            или франшизу
          </div>
          <div class="steps-item__stage list-action__stage">Шаг 1</div>
          <div class="steps-item__text list-action__prompt">
            Воспользуйтесь каталогом для удобного и быстрого поиска по вашим
            параметрам.
          </div>
          <button class="btn btn-light steps-item__button list-action__launch">
            Начать поиск
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 list-action__item"
    >
      <div class="card list-action__card">
        <div class="card-header steps-item__image list-action__image-box">
          <img
            class="card-img-top list-action__image"
            src="../../../../assets/images/deal-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body list-action__step">
          <div class="steps-item__title list-action__title">
            Пройти регистрацию
          </div>
          <div class="steps-item__subtitle list-action__subtitle">
            на нашем портале
          </div>
          <div class="steps-item__stage list-action__stage">Шаг 2</div>
          <div class="steps-item__text list-action__prompt">
            Вы можете пройти быструю регистрацию до начала выбора бизнеса или во
            время.
          </div>
          <button class="btn btn-light steps-item__button list-action__launch">
            Пройти регистрацию
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 list-action__item"
    >
      <div class="card list-action__card">
        <div
          class="card-header steps-item__image user-action__image-wrapper list-action__image-box"
        >
          <img
            class="card-img-top list-action__image"
            src="../../../../assets/images/deal-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body list-action__step">
          <div class="steps-item__title list-action__title">Начать сделку</div>
          <div class="steps-item__subtitle list-action__subtitle">
            и распланировать этапы сделки
          </div>
          <div class="steps-item__stage list-action__stage">Шаг 3</div>
          <div class="steps-item__text list-action__prompt">
            Вы сможете распланировать онлайн сделку посредством сервиса гарант.
          </div>
          <button class="btn btn-light steps-item__button list-action__launch">
            Начать сделку
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 list-action__item"
    >
      <div class="card list-action__card">
        <div
          class="card-header steps-item__image user-action__image-wrapper list-action__image-box"
        >
          <img
            class="card-img-top list-action__image"
            src="../../../../assets/images/deal-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body list-action__step">
          <div class="steps-item__title list-action__title">
            Провести оплату
          </div>
          <div class="steps-item__subtitle list-action__subtitle">
            по каждому этапу
          </div>
          <div class="steps-item__stage list-action__stage">Шаг 4</div>
          <div class="steps-item__text list-action__prompt">
            После оплаты каждого этапа вы становитесь полноправным владельцем
            бизнеса
          </div>
          <button class="btn btn-light steps-item__button list-action__launch">
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="garant card-line" *ngIf="isHideBusinessWithGarant" [ngClass]="{'is-xl':isXlExtension}">
  <p-card class="card-line-wrapper garant__card-template">
    <ng-template pTemplate="header">
      <div class="garant__title">Вы можете приобрести бизнес с гарантиями</div>
      <div class="garant__btn-close-box">
        <button type="button" class="close btn-close garant__btn-close">
          <span class="btn-close__icon garant__close-icon">&times;</span>
        </button>
      </div>
    </ng-template>
    <div class="garant__description">{{ oSuggestion.text }}</div>
    <ng-template pTemplate="footer">
      <div class="ml-1 garant__btn-business-box">
        <button
          class="btn btn-dark garant__btn-business"
          routerLink="/catalog-business"
        >
          {{ oSuggestion.button2Text }}
        </button>
      </div>
      <div class="garant__btn-clean-box">
        <button
          class="btn btn-default btn-show-more garant__btn-clean"
          (click)="isHideBusinessWithGarant = !isHideBusinessWithGarant"
        >
          {{ oSuggestion.button1Text }}
        </button>
      </div>
    </ng-template>
  </p-card>
</div>

<div class="container three-cards selection">
  <div class="row selection__repeat-box">
    <div
      class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 col-lg-4 card-business selection__repeat"
      *ngFor="let item of aDataActions; let i = index"
    >
      <div
        class="card selection__offer"
        [ngStyle]="{ width: '100%' }"
        [ngClass]="{ 'is-alone': i >= 2 }"
      >
        <div class="card-header selection__header-service">
          <div class="card-title selection__service-title">
            {{ item.title }}
          </div>
        </div>
        <div class="card-body selection__business-action">
          <div class="card-text selection__subtitle">{{ item.subTitle }}</div>
          <div class="card-text selection__service-text">{{ item.text }}</div>
          <button class="btn btn-primary selection__btn-action">
            {{ item.buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Популярные франшизы -->
<!-- Нужно узнать, как создать карусель на Ангуляр -->
<div class="container popular-franchise">
  <h5 class="alert alert-light popular-franchise__title">
    Популярные франшизы
  </h5>
  <div class="row section-mb">
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
      *ngFor="let item of aPopularFranchises"
    >
      <p-card
        header="{{ item.title }}"
        subheader="{{ item.text }}"
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="card">
          <div class="card-header">
            <ng-template pTemplate="header">
              <img [src]="item.url" />
            </ng-template>
          </div>
          <div class="card-body">
            <div class="card-text">
              {{ item.textDoPrice }} {{ item.price }} ₽
            </div>
          </div>
          <div class="card-footer">
            <ng-template pTemplate="footer"> </ng-template>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>

<!-- Новый бизнес. -->
<!-- Нужно узнать, как создать карусель на Ангуляр -->
<div class="garant">
  <p-carousel
    [value]="aNewFranchises"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
    [showNavigators]="false"
  >
    <ng-template pTemplate="header">
      <h5 class="title-franchise garant__franchise-list">
        Новыe объявления готового бизнеса
      </h5>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3">
            <img [src]="item.url" class="product-image" />
          </div>
          <div>
            <p-card
              header="Название готового бизнеса"
              subheader="{{ item.fullText }}"
              [style]="{ width: '100%' }"
              styleClass="p-card-shadow"
            >
              <ng-template pTemplate="header">
                <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
              </ng-template>
              <strong>{{ item.textDoPrice }} {{ item.price }} ₽</strong>
              <ng-template pTemplate="footer">
                <!-- <p-button label="Save" icon="pi pi-check"></p-button>
                          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<!-- Отзывы о франшизах -->
<!-- <div class="d-flex garant">
<div class="col-lg-8">
  <p-carousel [value]="aReviewsFranchises" [numVisible]="2" [numScroll]="2" [circular]="false" [responsiveOptions]="responsiveOptions" [showNavigators]="false">
    <ng-template pTemplate="header">
      <h5 class="title-franchise">Отзывы о франшизах</h5>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3">
                    <img [src]="item.url" class="product-image">
                </div>
                <div>
                  <p-card header="Название готового бизнеса" subheader="{{item.fullText}}"
                    [style]="{width: '100%'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                      
                    </ng-template>
                    <strong>{{item.textDoPrice}} {{item.price}} ₽</strong>
                    <ng-template pTemplate="footer">

                    </ng-template>
                  </p-card>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
</div>

<div class="col-lg-4">
  <h5 class="title-franchise">Покупка бизнеса с гарантиями</h5> 
  <p-card header="{{oTopAction.title}}" subheader="" [style]="{width: '100%'}" styleClass="card">
    <ng-template pTemplate="header">

    </ng-template>
    <p>{{oTopAction.text}}</p>
    <ng-template pTemplate="footer">
      <button class="btn btn-dark">Подробнее</button>
    </ng-template>
  </p-card>
</div>
</div> -->

<!-- Область с банерами (2 картинки). -->
<!-- <div class="d-flex block-baner garant">
  <img class="baner" src="../../../assets/images/Rectangle 13.png">
  <img class="baner" src="../../../assets/images/Rectangle 14.png">
</div> -->

<!-- Бизнес блог. -->
<div class="container business-blog">
  <h5 class="alert alert-light garant title-franchise business-blog__title">
    Бизнес блог
  </h5>
  <div class="row popular-list-blog business-blog__list">
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 popular-item-blog business-blog__item"
      *ngFor="let item of aBlogs"
    >
      <p-card
        class="popular-item-blog-wrapper1 business-blog__description"
        header="{{ item.title }}"
        subheader=""
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="card business-blog__content">
          <div class="card-header business-blog__img-box">
            <ng-template pTemplate="header">
              <img class="img-fluid business-blog__img" [src]="item.url" />
            </ng-template>
          </div>
          <div class="card-body business-blog__info"></div>
          <!-- ??? -->
          <div class="card-footer business-blog__tooltip">
            <ng-template pTemplate="footer"> </ng-template>
          </div>
        </div>
      </p-card>
      <p-card
        class="popular-item-blog-wrapper2"
        header="Больше статей"
        subheader=""
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="card business-blog__content">
          <div class="card-header business-blog__img-box">
            <img
              class="img-fluid business-blog__img"
              src="../../../assets/images/Frame 66.png"
            />
          </div>
          <div class="card-body business-blog__info">
            Перейдите в наш блог и найдите <br />
            там массу полезной информации.
          </div>
          <div class="card footer business-blog__tooltip">
            <ng-template pTemplate="footer"> </ng-template>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>

<!-- Новости делового мира, мой вариант -->
<div class="container news" [ngClass]="{'is-xl':isXlExtension}">
  <h5 class="alert alert-light garant title-franchise news__title">Новости делового мира</h5>
  <div class="row news__content">
    <div class="col-6 news__img-box">
      <img class="img-fluid news__img" src="../../../../assets/images/news_background.png" alt="Илон Маск">
    </div>
    <div class="col-6 news__hot-content">
      <div class="alert alert-primary d-flex align-items-center news__item">
        <div class="news__icon-box">
          <img src="../../../../assets/images/fireIcon.png" class="img-fluid news__icon-img" alt="Огонь">
          <div class="news__img-text">Открывается новая франшиза кофеен при по...</div>
        </div>
        <div class="list-group list-group-flush news__list-info" *ngFor="let item of aNews">
          <small class="list-group-item news__item-info">{{ item.time }}</small>
          <small class="list-group-item news__item-info">{{ item.date }}</small>
          <small class="list-group-item news__item-info">{{ item.type }}</small>
        </div>
      </div>
      <div class="alert alert-primary d-flex align-items-center news__item">
        <div class="news__icon-box">
          <img src="../../../../assets/images/handWithPen.png" class="img-fluid news__icon-img" alt="Рука">
          <div class="news__img-text">Федеральная сеть магазинов у дома Красное...</div>
        </div>
        <div class="list-group list-group-flush news__list-info" *ngFor="let item of aNews">
          <small class="list-group-item news__item-info">{{ item.time }}</small>
          <small class="list-group-item news__item-info">{{ item.date }}</small>
          <small class="list-group-item news__item-info">{{ item.type }}</small>
        </div>
      </div>
      <div class="alert alert-primary d-flex align-items-center news__item">
        <div class="news__icon-box">
          <img src="../../../../assets/images/box.png" class="img-fluid news__icon-img" alt="Куб">
          <div class="news__img-text">ЕР сохраняет лидерство в 199 одномандатн...</div>
        </div>
        <div class="list-group list-group-flush news__list-info" *ngFor="let item of aNews">
          <small class="list-group-item news__item-info">{{ item.time }}</small>
          <small class="list-group-item news__item-info">{{ item.date }}</small>
          <small class="list-group-item news__item-info">{{ item.type }}</small>
        </div>
      </div>
      <div class="alert alert-primary d-flex align-items-center news__item">
        <div class="news__icon-box">
          <img src="../../../../assets/images/fireIcon.png" class="img-fluid news__icon-img" alt="Огонь">
          <div class="news__img-text">Сделка по продаже крупного производства с...</div>
        </div>
        <div class="list-group list-group-flush news__list-info" *ngFor="let item of aNews">
          <small class="list-group-item news__item-info">{{ item.time }}</small>
          <small class="list-group-item news__item-info">{{ item.date }}</small>
          <small class="list-group-item news__item-info">{{ item.type }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Категории готового бизнеса. -->
<div class="row garant">
  <!-- <div class="d-flex"> -->
  <div class="col-6">
    <h5 class="title-franchise">Категории готового бизнеса</h5>
    <div class="row">
      <!-- 1 столбец. -->
      <div class="col-6">
        <!-- <div class="category-block-first"> -->
        <div>
          <div class="category-item" *ngFor="let item of categoryList1">
            <img class="space-right-image-category" [src]="item.url" />
            <span class="category-text">{{ item.name }}</span>
            <img
              class="space-right-image-category space-arrow-category"
              src="../../../assets/images/Arrow 1.png"
            />
          </div>
        </div>
      </div>

      <!-- 2 столбец -->
      <div class="col-6">
        <!-- <div class="garant">&nbsp;</div> -->
        <div class="category-item" *ngFor="let item of categoryList2">
          <img class="space-right-image-category" [src]="item.url" />
          <span class="category-text">{{ item.name }}</span>
          <img
            class="space-right-image-category space-arrow-category"
            src="../../../assets/images/Arrow 1.png"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h5 class="title-franchise">Категории франшиз</h5>
    <div class="row">
      <!-- 3 столбец. -->
      <div class="col-6">
        <!-- <div class="category-block-second"> -->
        <div>
          <div class="category-item" *ngFor="let item of categoryList3">
            <img class="space-right-image-category" [src]="item.url" />
            <span class="category-text">{{ item.name }}</span>
            <img
              class="space-right-image-category space-arrow-category"
              src="../../../assets/images/Arrow 1.png"
            />
          </div>
        </div>
      </div>

      <!-- 4 столбец -->
      <div class="col-6">
        <!-- <div class="garant">&nbsp;</div> -->
        <div class="category-item" *ngFor="let item of categoryList4">
          <img class="space-right-image-category" [src]="item.url" />
          <span class="category-text">{{ item.name }}</span>
          <img
            class="space-right-image-category space-arrow-category"
            src="../../../assets/images/Arrow 1.png"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
