<div class="container">
  <div class="card deal" [ngClass]="{'is-xxl': isXxl}">
    <div class="container">
      <div class="row deal__location">
        <div class="col-lg-3 col-xl-3 col-xxl-3">
          <img
            class="img-fluid deal__img"
            src="../../../../assets/images/deal-landing/shield.png"
            alt="Изображение щита"
          />
        </div>
        <div class="col-lg-9 col-xl-9 col-xxl-9">
          <div class="card-body deal__description">
            <h5 class="card-title deal__title">Онлайн сделка</h5>
            <div class="card-text deal__business">по покупке бизнеса</div>
            <div class="card-text deal__franchise">или франшизы</div>
            <button class="btn btn-primary deal__btn-action">
              Как начать сделку?
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container survey" [ngClass]="{'is-xxl': isXxl}">
  <div class="row survey__result">
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="35" styleClass="p-mt-4">
        <div>
          сделок в среднем <br />
          проходит <br />
          через сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="35" styleClass="p-mt-4">
        <div>
          франшиз <br />
          были проданы <br />
          через сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="105" styleClass="p-mt-4">
        <div>
          бизнесов уже были <br />
          проданы через <br />
          сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="0.5-3%" styleClass="p-mt-4">
        <div>
          комиссия <br />
          за использование <br />
          сервиса покупки онлайн
        </div>
      </p-panel>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-7 col-xxl-7">
      <h5 class="alert alert-light">Недавно приобрели</h5>
    </div>
    <div class="col-xl-5 col-xxl-5 note" [ngClass]="{'is-xxl': isXxl}">
      <h5 class="alert alert-light note__title">
        Покупка бизнеса с гарантиями
      </h5>
      <div class="card note__description">
        <div class="card-header note__buying">
          <div class="card-title note__text-title">
            Покупка бизнеса любого размера онлайн c гарантиями
          </div>
        </div>
        <div class="card-body note__content">
          <div class="container note__wrapper">
            <div class="row note__location">
              <div class="col-xl-4 col-xxl-4 note__img-box">
                <img
                  src="../../../../assets/images/shooting_range.png"
                  class="img-fluid note__img"
                  alt="Мишень"
                />
              </div>
              <div class="col-xl-8 col-xxl-8 note__content">
                <div class="card-text note__content-item">
                  Первый в мире сервис с функцией<br />
                  приобретения франшизы или готового<br />
                  бизнеса онлайн. Сервис GoBizy<br />
                  предоставляет возможность купить бизнес<br />
                  в несколько кликов без опасений.
                </div>
                <div class="card-text note__content-item">
                  Вы можете воспользоваться сервисом<br />
                  онлайн покупки и консалтингом от нашей<br />
                  компании.
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary note__redirect-catalog"
            routerLink="/catalog-business"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container consulting" [ngClass]="{'is-xxl': isXxl}">
  <form class="bg-primary consulting__request">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-xxl-9">
          <div class="alert alert-light consulting__title">Консультация</div>
          <div class="alert alert-light consulting__subtitle">
            при покупке бизнеса онлайн
          </div>
          <div class="alert alert-light consulting__note">
            с юристом и консультантами сервиса
          </div>
          <div class="mb-3 row">
            <div class="col-6 consulting__input-field">
              <label for="userName" class="form-label consulting__input-text"
                >Имя</label
              >
              <input
                type="text"
                class="form-control consulting__input"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div class="col-6 consulting__input-field">
              <label class="form-label consulting__input-text">Номер телефона</label>
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div class="col-6">
              <button
                class="btn btn-primary consulting__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <img
          class="img-fluid consulting__assistant"
          src="../../../../assets/images/deal-landing/template_person6 1.png"
          alt="Фото консультанта"
        />
      </div>
    </div>
  </form>
</div>
<div class="container checklist" [ngClass]="{'is-xxl': isXxl}">
  <h5 class="alert alert-light checklist__head">
    4 простых шага для безопасной сделки онлайн
  </h5>
  <div class="row">
    <div class="col-lg-3 col-xl-3 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Выбрать бизнес</div>
          <div class="card-text checklist__subtitle">или франшизу</div>
          <div class="card-text checklist__step">Шаг 1</div>
          <div class="card-text checklist__description">
            Воспользуйтесь каталогом для удобного и быстрого поиска по вашим
            параметрам.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Начать поиск
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Пройти регистрацию</div>
          <div class="card-text checklist__subtitle">на нашем портале</div>
          <div class="card-text checklist__step">Шаг 2</div>
          <div class="card-text checklist__description">
            Вы можете пройти быструю регистрацию до начала выбора бизнеса или во
            время.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Пройти регистрацию
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Начать сделку</div>
          <div class="card-text checklist__subtitle">
            и распланировать этапы сделки
          </div>
          <div class="card-text checklist__step">Шаг 3</div>
          <div class="card-text checklist__description">
            Вы сможете распланировать онлайн сделку посредством сервиса гарант.
          </div>
          <button class="btn btn-dark checklist__action">Начать сделку</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Провести оплату</div>
          <div class="card-text checklist__subtitle">по каждому этапу</div>
          <div class="card-text checklist__step">Шаг 4</div>
          <div class="card-text checklist__description">
            После оплаты каждого этапа вы становитесь полноправным владельцем
            бизнеса
          </div>
          <button class="btn btn-dark checklist__action">
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-garant></app-garant>
</div>
<app-business-list></app-business-list>
<!-- Популярные франшизы -->
<app-franchise-list></app-franchise-list>

<!-- Новые объявления готового бизнеса -->
<div class="container business-ad">
  <h5
    class="alert alert-light business-ad__title"
    style="
      padding-left: 0;
      padding-bottom: 0;
      background: transparent;
      border: none;
    "
  >
    Новые объявления готового бизнеса
  </h5>
  <div class="row">
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item business-ad__item">
            <div class="product-item-content business-ad__content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid business-ad__picture"
                  [alt]="item.businessName"
                />
              </div>
              <div class="business-ad__detail">
                <div class="card business-ad__data">
                  <div class="card-body business-ad__description">
                    <div class="card-title business-ad__data-title">
                      {{ item.businessName }}
                    </div>
                    <div class="card-text business-ad__tooltip">
                      <span>{{ item.text }}</span>
                    </div>
                    <div class="card-text business-ad__title">
                      <span>{{ item.countDays }}</span>
                      <span>{{ item.dayDeclination }} назад</span>
                    </div>
                    <div class="card-text">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">{{ item.businessName }}</div>
                    <div class="card-text">
                      <span>{{ item.text }}</span>
                      <span
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">{{ item.businessName }}</div>
                    <div class="card-text">
                      <span>{{ item.text }}</span>
                      <span
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3">
      <p-carousel
        [value]="aBusinessList"
        [numVisible]="1"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-item pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="p-mb-3">
                <img
                  [src]="item.url"
                  class="img-fluid"
                  [alt]="item.businessName"
                />
              </div>
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">{{ item.businessName }}</div>
                    <div class="card-text">
                      <span>{{ item.text }}</span>
                      <span
                        >{{ item.countDays }}
                        {{ item.dayDeclination }} назад</span
                      >
                    </div>
                    <div class="card-text">
                      <span>{{ item.textDoPrice }}</span>
                      <span>{{ item.price | priceFormat: item.price }} ₽</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<!-- Бизнес блог. -->
<div class="container business-blog">
  <h5 class="alert alert-light garant title-franchise business-blog__title">
    Бизнес блог
  </h5>
  <div class="row popular-list-blog business-blog__list">
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 popular-item-blog business-blog__item"
      *ngFor="let item of aBlogs"
    >
      <p-card
        class="popular-item-blog-wrapper1 business-blog__description"
        header="{{ item.title }}"
        subheader=""
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="card business-blog__content">
          <div class="card-header business-blog__img-box">
            <ng-template pTemplate="header">
              <img class="img-fluid business-blog__img" [src]="item.url" />
            </ng-template>
          </div>
          <div class="card-body business-blog__info"></div>
          <!-- ??? -->
          <div class="card-footer business-blog__tooltip">
            <ng-template pTemplate="footer"> </ng-template>
          </div>
        </div>
      </p-card>
      <p-card
        class="popular-item-blog-wrapper2"
        header="Больше статей"
        subheader=""
        [style]="{ width: '100%' }"
        styleClass="p-card-shadow"
      >
        <div class="card business-blog__content">
          <div class="card-header business-blog__img-box">
            <img
              class="img-fluid business-blog__img"
              src="../../../assets/images/Frame 66.png"
            />
          </div>
          <div class="card-body business-blog__info">
            Перейдите в наш блог и найдите <br />
            там массу полезной информации.
          </div>
          <div class="card footer business-blog__tooltip">
            <ng-template pTemplate="footer"> </ng-template>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
<!-- Компонент Новости -->
<app-news></app-news>
<!-- Категории готового бизнеса. -->
<div class="row garant">
  <!-- <div class="d-flex"> -->
  <div class="col-6">
    <h5 class="title-franchise">Категории готового бизнеса</h5>
    <div class="row">
      <!-- 1 столбец. -->
      <div class="col-6">
        <!-- <div class="category-block-first"> -->
        <div>
          <div class="category-item" *ngFor="let item of categoryList1">
            <img class="space-right-image-category" [src]="item.url" />
            <span class="category-text">{{ item.name }}</span>
            <img
              class="space-right-image-category space-arrow-category"
              src="../../../assets/images/Arrow 1.png"
            />
          </div>
        </div>
      </div>

      <!-- 2 столбец -->
      <div class="col-6">
        <!-- <div class="garant">&nbsp;</div> -->
        <div class="category-item" *ngFor="let item of categoryList2">
          <img class="space-right-image-category" [src]="item.url" />
          <span class="category-text">{{ item.name }}</span>
          <img
            class="space-right-image-category space-arrow-category"
            src="../../../assets/images/Arrow 1.png"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h5 class="title-franchise">Категории франшиз</h5>
    <div class="row">
      <!-- 3 столбец. -->
      <div class="col-6">
        <!-- <div class="category-block-second"> -->
        <div>
          <div class="category-item" *ngFor="let item of categoryList3">
            <img class="space-right-image-category" [src]="item.url" />
            <span class="category-text">{{ item.name }}</span>
            <img
              class="space-right-image-category space-arrow-category"
              src="../../../assets/images/Arrow 1.png"
            />
          </div>
        </div>
      </div>

      <!-- 4 столбец -->
      <div class="col-6">
        <!-- <div class="garant">&nbsp;</div> -->
        <div class="category-item" *ngFor="let item of categoryList4">
          <img class="space-right-image-category" [src]="item.url" />
          <span class="category-text">{{ item.name }}</span>
          <img
            class="space-right-image-category space-arrow-category"
            src="../../../assets/images/Arrow 1.png"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
