/*@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";*/
.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    padding-left: 0;
    padding-right: 0;
  }
  &__description {
    padding: 0;
  }
  &__title {
    font-size: 5vw;
    line-height: 112.5px;
    margin-bottom: 8px;
  }
  &__business {
    font-size: 3.33vw;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &__franchise {
    font-size: 1.25vw;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
  }
  &__btn-action {
    font-size: 1.25vw;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .deal {
      &.is-xxl &__title {
        font-size: 96px;
        line-height: 112px;
      }
      &.is-xxl &__business {
        font-size: 64px;
        line-height: 75px;
      }
      &.is-xxl &__franchise {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

.survey {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        padding-top: 64px;
        padding-bottom: 16px;
        & .p-panel-title {
          font-size: 4.32vw;
        }
      }
      & .p-panel-content {
        border: none;
        font-size: 1.25vw;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        color: #7a7a7a;
        padding-top: 0;
        padding-bottom: 64px;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .survey {
      &.is-xxl &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header {
            & .p-panel-title {
              font-size: 3.62vw;
            }
          }
          & .p-panel-content {
            font-size: 21px;
          }
        }
      }
    }
  }
}

.note {
  &__title {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
    font-size: 1.25vw;
    line-height: 28px;
    color: #2c2c2c;
  }
  &__description {
    border: none;
    background: #f1f6ff;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 24px;
    border-radius: 8px;
  }
  &__buying {
    width: 70%;
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__content {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img-box {
    margin: 0 -20px 7px 10px;
  }
  &__text-title {
    font-size: 0.94vw;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__content-item {
    font-size: 0.73vw;
    line-height: 16px;
  }
  &__redirect-catalog {
    font-size: 0.94vw;
    line-height: 21px;
    border-radius: 4px;
    padding: 16px;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .note {
      &.is-xxl &__title {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-xxl &__text-title {
        font-size: 18px;
        line-height: 21px;
      }
      &.is-xxl &__content-item {
        font-size: 14px;
        line-height: 16px;
      }
      &.is-xxl &__content-item:first-child {
        margin-bottom: 17px;
      }
    }
  }
}

.consulting {
  position: relative;
  margin-top: 74px;
  &__request {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 5vw;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 3.18vw;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  &__note {
    font-size: 1.25vw;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
  }
  &__input-field {
    display: flex;
    flex-direction: column;
    max-width: 291px;
  }
  &__input-text {
    color: #dadada;
    font-size: 0.63vw;
    line-height: 14px;
  }
  &__input {
    padding: 24px 40px 24px 24px;
    border-radius: 8px;
    font-size: 0.92vw;
    line-height: 21px;
    color: #7a7a7a;
  }
  &__assistant {
    position: absolute;
    width: 622px;
    right: 0;
    bottom: 0;
    margin-right: -140px;
  }
  &__submit {
    padding: 24px 40px 24px 24px;
    border-radius: 4px;
    background: #fff;
    color: #1f75fe;
    margin-top: 32px;
    width: 100%;
    font-size: 0.92vw;
    line-height: 21px;
    border: 1px solid #fff;
  }
  & ::ng-deep .p-element .p-inputtext {
    width: 100%;
    padding: 24px 40px 24px 24px;
    font-size: 0.92vw;
    line-height: 21px;
    border-radius: 8px;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .consulting {
      &.is-xxl &__title {
        font-size: 96px;
        line-height: 112px;
      }
      &.is-xxl &__subtitle {
        font-size: 60px;
        line-height: 75px;
      }
      &.is-xxl &__note {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-xxl &__input-field {
        max-width: 295px;
      }
      &.is-xxl &__input-text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.checklist {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.67vw;
    line-height: 38px;
    margin: 74px 0 32px;
  }
  &__header {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__title {
    font-size: 1.25vw;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 0.63vw;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__step {
    font-size: 0.94vw;
    line-height: 12px;
    margin-bottom: 24px;
    padding-top: 0;
  }
  &__description {
    font-size: 0.89vw;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 0.94vw;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .checklist {
      &.is-xxl &__head {
        font-size: 48px;
        line-height: 56px;
      }
      &.is-xxl &__title {
        font-size: 24px;
        line-height: 28px;
      }
      &.is-xxl &__subtitle {
        font-size: 12px;
        line-height: 14px;
      }
      &.is-xxl &__step,
      &.is-xxl &__description,
      &.is-xxl &__action {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.business-ad {
  margin-bottom: 74px;
  &__title {
    padding-left: 0;
    padding-bottom: 0;
    background: transparent;
    border: none;
    font-size: 1.67vw;
    line-height: 28px;
    color: #2c2c2c;
    margin-bottom: 32px;
  }
  &__picture {
    width: 100%;
  }
  &__detail {
    border: none;
  }
  &__description {
    font-size: 1.25vw;
    line-height: 21px;
    color: #2c2c2c;
  }
  &__tooltip {
    font-size: 0.83vw;
    line-height: 14px;
    color: #7a7a7a;
  }
  &__data-title {
    margin-bottom: 20px;
  }
  &__price {
    font-weight: 600;
    font-size: 1.25vw;
    line-height: 21px;
    color: #2c2c2c;
  }
  & ::ng-deep .p-element .p-carousel-next {
    position: absolute;
    top: 30%;
    right: 0;
    border-radius: 8px !important;
    background: #fff !important;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .business-ad {
      &.is-xxl &__title {
        font-size: 24px;
      }
      &.is-xxl &__description {
        font-size: 18px;
      }
      &.is-xxl &__tooltip {
        font-size: 12px;
      }
      &.is-xxl &__price {
        font-size: 18px;
      }
    }
  }
}

.business-blog {
  &__title {
    background: transparent;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.67vw;
    line-height: 28px;
    color: #2c2c2c;
  }
  &__content {
    border: none;
  }
  &__blog-img {
    padding: 0;
    border: none;
  }
  &__img {
    width: 100%;
    border-radius: 8px;
  }
  &__blog-title {
    font-size: 1.25vw;
    line-height: 21px;
    margin-bottom: 16px;
    font-weight: 600;
    background: #ffdf37;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &__note {
    font-size: 0.83vw;
    line-height: 14px;
    color: #646464;
  }
}

::ng-deep {
  @media all and (min-width: 1201px) {
    .business-blog {
      &.is-xxl &__title {
        font-size: 24px;
      }
      &.is-xxl &__blog-title {
        font-size: 18px;
      }
      &.is-xxl &__note {
        font-size: 12px;
      }
    }
  }
}

.category {
  &__category-item {
    margin-bottom: 43px;
  }
  &__category-title {
    color: #2c2c2c;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    background: transparent;
    padding: 0;
    margin-bottom: 41px;
    border: none;
  }
  &__category-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #2c2c2c;
    line-height: 21px;
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    height: 87px;
    border: none;
  }
  &__list-icon {
    color: #c4c4c4;
    font-size: 18px;
    line-height: 21px;
  }
  &__redirect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 67px;
    width: 100%;
    &:hover {
      background: none;
    }
  }
  &__redirect-text {
    font-size: 18px;
    line-height: 21px;
    color: #1f75fe;
  }
  &__redirect-attr {
    position: relative;
    display: inline-block;
    background: #1f75fe;
    width: 32px;
    height: 32px;
    border-radius: 40px;
  }
  &__redirect-icon {
    position: absolute;
    left: 0;
    margin-left: 4px;
    width: 25px;
    height: 32px;
    fill: #fff;
  }
}
