.deal {
  display: flex;
  border: none;
  height: fit-content;
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
  &__header {
    border: none;
    background: transparent;
  }
  &__description {
    height: fit-content;
    padding: 0;
  }
  &__title {
    margin: 0;
    text-align: center;
  }
  &__business {
    text-align: center;
    margin-bottom: 0;
  }
  &__franchise {
    text-align: center;
  }
  &__btn-action {
    margin: 0 auto;
  }
}

.survey {
  &__result {
    display: flex;
    grid-gap: 0;
    gap: 0;
    margin: 0;

    height: fit-content;
    flex-wrap: wrap;
  }
  &__example {
    background: #f5f8fa;
    border-radius: 15px;
    border: none;
  }
  &__content {
    padding-bottom: 26px;
  }
}

.consulting {
  position: relative;
  height: fit-content;
  &__content {
    height: fit-content;
  }
  &__title {
    color: #fff;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
    margin: 0;
  }
  &__buying-business {
    color: #fff;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
  }
  &__footnote {
    color: #e9ecef;
    padding: 0;
    background: transparent;
    border: none;
    text-align: left;
  }
  &__name {
    color: #fff;
  }
  &__phone {
    color: #fff;
  }
  &__input-field {
    border-radius: 7px;
  }
  &__assistant {
    height: fit-content;
  }
}

.user-action-title {
  font-weight: 600;
  background: transparent;
  border: none;
}

.list-action {
  width: max-content;
  padding: 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
    gap: 0;
  }
  &__card {
    border: none;
  }
  &__item {
    /*padding: 0;*/
    border-radius: 24px;
  }
  &__image-box {
    padding: 0;
    background: transparent;
    border: none;
  }
  &__title,
  &__stage {
    font-weight: 600;
  }
  &__title,
  &__subtitle,
  &__stage {
    margin: 0;
  }
  &__prompt {
    line-height: normal;
    margin: 0;
  }
  &__launch {
    margin: 0;
  }
}

.selection {
  &__offer {
    border: none;
  }
  &__header-service {
    border: none;
    background: transparent;
    padding-left: 0;
  }
  &__service-title {
    font-weight: 600;
  }
  &__business-action {
    background: #e9ecef;
    border-radius: 7px;
  }
  &__subtitle {
    font-weight: 600;
  }
  &__btn-action {
    margin: 49px 0 0 0;
    border-radius: 7px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 539px) {
  .deal {
    width: 100%;
    padding: 32px 16px;
    &__header,
    &__description {
      width: 100%;
    }
    &__title {
      width: 100%;
      font-size: 34px; // минимальный размер шрифта
    }
    &__business {
      font-size: 26.5px;
      margin-top: -15px;
    }
    &__franchise {
      margin-bottom: 25px;
    }
  }

  .survey {
    &__result {
      width: 100%;
    }
    &__item {
      margin-bottom: 17px;
    }
    &__count {
      font-size: 53px;
    }
    &__ad {
      font-size: 20px;
    }
  }

  .consulting {
    width: 100%;
    padding: 22px 16px 32px;
    &__content {
      width: 100%;
    }
    &__title {
      width: 100%;
      font-size: 31px;
      line-height: 58px;
    }
    &__buying-business {
      width: 100%;
      font-size: 25px;
      line-height: 35px;
    }
    &__footnote {
      width: 100%;

      font-size: 19px;

      margin-bottom: 18px;
    }
    &__field {
      margin-bottom: 26px;
    }
    &__input-field {
      width: 100%;
      height: 60px;
    }
    &__btn-submit {
      margin: 0.5rem 0 0 0;
    }
    &__submit {
      width: 100%;
    }
    &__image-wrapper {
      display: none;
    }
  }

  .user-action-title {
    font-size: 22px;
  }

  .list-action {
    width: fit-content;
    &__list {
      width: 100%;
    }
    &__item {
      width: 100%;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__subtitle {
      margin-bottom: 9px;
    }
    &__stage {
      margin-bottom: 20px;
    }
    &__image-box {
      width: 88px;
      margin-right: 0;
    }
    &__image {
      width: 100%;
    }
    &__prompt {
      font-size: 20px;
      line-height: 21px;
      margin-bottom: 31px;
    }
    &__launch {
      width: 100%;
    }
  }

  .garant {
    &__franchise-list {
      margin: 0;
      font-size: 25px;
      white-space: pre-wrap;
      text-align: center;
    }
  }

  .selection {
    width: 100%;
    &__service-title {
      font-size: 21px;
    }
  }
}

@media only screen and (min-width: 540px) {
  .deal {
    &__title,
    &__business,
    &__franchise {
      text-align: left;
    }
  }
  .survey {
    &__result {
      width: 100%;
    }
    &__example {
      border: none;
    }
    &__item:nth-child(odd) {
      padding-left: 0;
    }
    &__item:nth-child(even) {
      padding: 0;
    }
    &__ad {
      text-align: center;
    }
  }

  .list-action {
    &__image {
      width: 126px;
    }
  }

  .consulting {
    &__image-wrapper {
      margin-top: 0;
    }
  }

  .selection {
    &__repeat:nth-child(3) {
      width: 100%;
    }
    &__btn-action {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 980px) {
  .deal {
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row;
    border: none;
    margin-left: auto;
    margin-right: auto;
    &__header {
      display: flex;
      width: 40%;
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
      justify-content: center;
      align-items: center;
      order: 2;
    }
    &__description {
      width: 60%;
      height: fit-content;
      order: 1;
    }
    &__title {
      width: 100%;
      font-size: 32px;
      margin: 0;
    }
    &__business {
      font-size: 24px;
      margin-top: -15px;
      margin-bottom: 5px;
    }
    &__franchise {
      margin-bottom: 117px;
    }
    &__btn-action {
      width: 100%;
      padding: 0;
    }
    &__img {
      width: 100% !important;
      height: fit-content !important;
    }
  }

  .survey {
    &__result {
      width: 100%;
    }
    &__item {
      margin-bottom: 17px;
    }
    &__count {
      font-size: 80px;
    }
    &__ad {
      font-size: 20px;
    }
  }

  .consulting {
    width: 100%;
    height: 609px;
    margin-bottom: 37px;
    &__content {
      width: 100%;
    }
    &__title {
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 33px;
    }
    &__buying-business {
      font-size: 38px;
      line-height: 41px;
    }
    &__footnote {
      font-size: 16px;
    }
    &__input-field {
      height: 66px;
    }
    &__field {
      margin-bottom: 30px;
    }
    &__assistant {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__submit {
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }
  }

  .user-action-title {
    font-size: 24px;
    margin: 0 0 34px 0;
  }

  .list-action {
    &__title {
      margin-bottom: 9px;
    }
    &__subtitle {
      margin-bottom: 13px;
    }
    &__stage {
      margin-bottom: 34px;
    }
    &__prompt {
      font-size: 19px;
      margin: 0 0 26px 0;
    }
  }

  .garant {
    width: 100%;
    margin-top: 80px;
    &__title {
      font-size: 18px;
      font-weight: 600;
    }
    &__description {
      font-size: 13px;
    }
    &__card-template > div.p-card,
    &__card-template > div.p-card-header {
      max-width: 100%;
    }
    &__close-icon {
      font-size: 18px !important;
    }
    &__btn-clean {
      border: 1px solid #7a7a7a;
      background: transparent;
    }
  }

  .selection {
    &__offer.is-alone &__service-text {
      margin-right: 14px;
    }
    &__offer.is-alone &__btn-action {
      width: 155px;
    }
    &__service-title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 15px;
      margin-bottom: 14px;
    }
    &__service-text {
      font-size: 12px;
    }
    &__btn-action {
      font-size: 17px;
    }
  }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
  .deal {
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row;
    border: none;
    margin-left: auto;
    margin-right: auto;
    &__header {
      display: flex;
      width: 40%;
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
      justify-content: center;
      align-items: center;
      order: 2;
    }
    &__description {
      width: 60%;
      height: fit-content;
      order: 1;
    }
    &__title {
      width: 100%;
      font-size: 32px;
      margin: 0;
    }
    &__business {
      font-size: 24px;
      margin-top: -15px;
      margin-bottom: 5px;
    }
    &__franchise {
      margin-bottom: 117px;
    }
    &__btn-action {
      width: 100%;
      padding: 0;
    }
    &__img {
      width: 100% !important;
      height: fit-content !important;
    }
  }

  .consulting {
    width: 100%;
    &__title {
      font-size: 76px;
      font-weight: 600;
    }
    &__buying-business {
      font-size: 51px;
      font-weight: 600;
    }
    &__footnote {
      font-size: 29px;
    }
    &__input-field {
      width: 30%;
      height: 60px;
    }
  }
}
