.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
  &__content {
    padding-left: 64px;
    padding-right: 0;
  }
  &__description {
    padding: 0;
  }
  &__title {
    font-size: 96px;
    line-height: 112.5px;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
  }
  &__business {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 16px;
    text-align: left;
    font-weight: 600;
  }
  &__franchise {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 52px;
    color: #7a7a7a;
    text-align: left;
  }
  &__btn-action {
    height: 76px;
    font-size: 24px;
    line-height: 28px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .deal {
    padding-top: 32px;
    padding-bottom: 24px;
    &__location {
      display: block;
    }
    &__img-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      width: 112px;
    }
    &__content {
      width: 100%;
      padding: 0;
    }
    &__description {
      padding-left: 24px;
      padding-right: 24px;
    }
    &__title {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
    &__business {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }
    &__franchise {
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 24px;
    }
    &__btn-action {
      width: 100%;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .deal {
      &.is-laptop &__img-wrapper {
        display: flex;
        justify-content: center;
      }
      &.is-laptop &__content {
        padding-left: 32px;
      }
      &.is-laptop &__title {
        font-size: 64px;
        line-height: 75px;
      }
      &.is-laptop &__business {
        font-size: 44px;
        line-height: 51.5px;
      }
      &.is-laptop &__btn-action {
        width: 300px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .deal {
      &.is-hd &__content {
        padding-left: 44px;
      }
      &.is-hd &__title {
        font-size: 74px;
        line-height: 75px;
      }
      &.is-hd &__business {
        font-size: 44px;
        line-height: 52px;
      }
      &.is-hd &__btn-action {
        width: 287px;
      }
    }
  }
}

:host .statistics {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        position: relative;
        height: 150px;
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          top: 0;
          height: 100%;
          font-size: 3.62vw;
          line-height: 112.5px;
        }
      }
      & .p-panel-content {
        height: 150px;
        border: none;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: 0 0 64px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  :host .statistics {
    &__item {
      margin-bottom: 16px;
      & ::ng-deep .p-panel {
        & .p-panel-header {
          height: 79.5px;
          & .p-panel-title {
            width: 103px;
            font-size: 32px;
            line-height: 37px;
          }
        }
        & .p-panel-content {
          height: 79.5px;
        }
      }
    }
    &__item:last-child {
      margin-bottom: 0;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .statistics {
      &.is-laptop &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header {
            height: 170.5px;
            & .p-panel-title {
              font-size: 96px;
              line-height: 112px;
            }
          }
          & .p-panel-content {
            height: 170.5px;
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    .statistics {
      &.is-hd &__item {
        & ::ng-deep .p-panel {
          & .p-panel-header,
          & .p-panel-content {
            height: 150px;
          }
        }
      }
    }
  }
}

.note {
  &-title {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
    color: #2c2c2c;
  }
  &-description {
    border: none;
    background: #f1f6ff;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 24px;
    border-radius: 8px;
  }
  &-content {
    padding: 0;
  }
  &-location {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
  }
  &-img-box {
    margin: 0 -20px 7px 10px;
  }
  &-text-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &-content-item {
    font-size: 14px;
    line-height: 16px;
  }
  &-content-item:nth-child(3) {
    margin-bottom: 26.5px;
  }
  &-redirect-catalog {
    width: 126px;
    height: 51px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .note {
    &-title {
      font-size: 19px;
      line-height: 22px;
    }
    &-text-title {
      font-size: 19px;
      line-height: 20px;
      max-width: 235px;
    }
    &-description {
      padding: 8px;
    }
    &-img-box {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 73px;
      top: 0;
      right: 0;
      margin: 8px 16px 0 0;
    }
    &-text {
      width: 100%;
    }
    &-content-item:nth-child(2) {
      margin-bottom: 28px;
    }
    &-content-item:nth-child(3) {
      margin-bottom: 24px;
    }
    &-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    &-redirect-catalog {
      width: 115px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .note {
      &.is-laptop &-title {
        font-size: 19px;
        line-height: 22px;
      }
      &.is-laptop &-text-title {
        font-size: 17px;
        line-height: 22px;
      }
      &.is-laptop {
        width: 100%;
        order: -1;
      }
      &.is-laptop &-content,
      &.is-laptop &-text {
        width: 100%;
      }
      &.is-laptop &-content-item {
        & br {
          display: none;
        }
        max-width: 500px;
      }
      &.is-laptop &-content-item:nth-child(2) {
        margin-bottom: 17px;
      }
      &.is-laptop &-content-item:nth-child(3) {
        margin-bottom: 60px;
      }
      &.is-laptop &-description {
        padding: 24px 16px;
      }
      &.is-laptop &-img-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 231px;
        height: 100%;
        margin: 0;
      }
      &.is-laptop &-redirect-catalog {
        width: 125px;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  @media all and (min-width: 1200px) {
    .note {
      &.is-hd &-title {
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 24px;
      }
      &.is-hd &-description {
        padding: 24px;
      }
      &.is-hd &-text {
        width: 100%;
      }
      &.is-hd &-text-title {
        max-width: 365px;
      }
      &.is-hd &-content-item {
        max-width: 365px;
        br {
          display: none;
        }
      }
      &.is-hd &-img-box {
        display: none;
      }
    }
  }
}

.checklist {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 48px;
    line-height: 38px;
    margin: 74px 0 32px;
  }
  &__header {
    background: transparent;
    border: none;
    padding-bottom: 0;
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 12px;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__step {
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 24px;
    padding-top: 0;
  }
  &__description {
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 18px;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}

@media all and (max-width: 576px) {
  .checklist {
    &__head {
      font-size: 24px;
      line-height: 28px;
    }
    &__action {
      width: 100%;
    }
  }
}
