<section class="card deal" [ngClass]="{ 'is-xxl': isXxl }">
  <div class="container">
    <div class="row deal__location">
      <div class="col-lg-4 col-xl-4 col-xxl-4 deal__img-wrapper">
        <img
          class="img-fluid deal__img"
          src="../../../../assets/images/deal-landing/shield.png"
          alt="Изображение щита"
        />
      </div>
      <div class="col-lg-8 col-xl-8 col-xxl-8 deal__content">
        <div class="card-body deal__description">
          <h5 class="card-title deal__title">Онлайн сделка</h5>
          <div class="card-text deal__business">по покупке бизнеса</div>
          <div class="card-text deal__franchise">или франшизы</div>
          <button class="btn btn-primary deal__btn-action">
            Как начать сделку?
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="survey" [ngClass]="{ 'is-xxl': isXxl }">
  <div class="row survey__result">
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="35" styleClass="p-mt-4">
        <div>
          сделок в среднем <br />
          проходит <br />
          через сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="35" styleClass="p-mt-4">
        <div>
          франшиз <br />
          были проданы <br />
          через сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="105" styleClass="p-mt-4">
        <div>
          бизнесов уже были <br />
          проданы через <br />
          сервис гарант
        </div>
      </p-panel>
    </div>
    <div class="col-lg-3 col-xl-3 col-xxl-3 survey__item">
      <p-panel #pnl header="0.5-3%" styleClass="p-mt-4">
        <div>
          комиссия <br />
          за использование <br />
          сервиса покупки онлайн
        </div>
      </p-panel>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-lg-7 col-xl-7 col-xxl-7">
    <h5 class="alert alert-light">Недавно приобрели</h5>
  </div>
  <div class="col-lg-5 col-xl-5 col-xxl-5 note" [ngClass]="{ 'is-xxl': isXxl }">
    <h5 class="alert alert-light note__title">
      Покупка бизнеса с гарантиями
    </h5>
    <div class="card note__description">
      <div class="card-body note__content">
        <div class="note__wrapper">
          <div class="note__location">
            <div class="note__img-box">
              <img
                src="../../../../assets/images/shooting_range.png"
                class="img-fluid note__img"
                alt="Мишень"
              />
            </div>
            <div class="note__content">
              <div class="card-title note__text-title">
                Покупка бизнеса любого размера онлайн c гарантиями
              </div>
              <div class="card-text note__content-item">
                Первый в мире сервис с функцией<br />
                приобретения франшизы или готового<br />
                бизнеса онлайн. Сервис GoBizy<br />
                предоставляет возможность купить бизнес<br />
                в несколько кликов без опасений.
              </div>
              <div class="card-text note__content-item">
                Вы можете воспользоваться сервисом<br />
                онлайн покупки и консалтингом от нашей<br />
                компании.
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary note__redirect-catalog"
          routerLink="/catalog-business"
        >
          Подробнее
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Компонент с формой обратной связи -->
<app-feedback
  [title]="feedbackTitle"
  [subtitle]="feedbackSubtitle"
  [tooltip]="feedbackNote"
  [imagePath]="feedbackImgPath"
  [isModify]="feedbackTheme"
></app-feedback>
<!-- Секция шаги совершения безопасной сделки -->
<section class="checklist" [ngClass]="{ 'is-xxl': isXxl }">
  <h5 class="alert alert-light checklist__head">
    4 простых шага для безопасной сделки онлайн
  </h5>
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/loupe-clip-art-6 1.png"
            alt="Лупа"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Выбрать бизнес</div>
          <div class="card-text checklist__subtitle">или франшизу</div>
          <div class="card-text checklist__step">Шаг 1</div>
          <div class="card-text checklist__description">
            Воспользуйтесь каталогом для удобного и быстрого поиска по вашим
            параметрам.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Начать поиск
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/pen-clip-art-6 2.png"
            alt="Ручка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Пройти регистрацию</div>
          <div class="card-text checklist__subtitle">на нашем портале</div>
          <div class="card-text checklist__step">Шаг 2</div>
          <div class="card-text checklist__description">
            Вы можете пройти быструю регистрацию до начала выбора бизнеса или во
            время.
          </div>
          <button
            class="btn btn-dark checklist__action"
            routerLink="/catalog-business"
          >
            Пройти регистрацию
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/file-clip-art-6 3.png"
            alt="Папка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Начать сделку</div>
          <div class="card-text checklist__subtitle">
            и распланировать этапы сделки
          </div>
          <div class="card-text checklist__step">Шаг 3</div>
          <div class="card-text checklist__description">
            Вы сможете распланировать онлайн сделку посредством сервиса гарант.
          </div>
          <button class="btn btn-dark checklist__action">Начать сделку</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-6 col-xxl-3 checklist__item">
      <div class="card checklist__content">
        <div class="card-header checklist__header">
          <img
            class="card-img-top checklist__img"
            src="../../../../assets/images/deal-landing/credit_card_PNG24 1.png"
            alt="Кредитная карточка"
          />
        </div>
        <div class="card-body checklist__step">
          <div class="card-text checklist__title">Провести оплату</div>
          <div class="card-text checklist__subtitle">по каждому этапу</div>
          <div class="card-text checklist__step">Шаг 4</div>
          <div class="card-text checklist__description">
            После оплаты каждого этапа вы становитесь полноправным владельцем
            бизнеса
          </div>
          <button class="btn btn-dark checklist__action">
            Получить консультацию
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Гарант -->
<app-garant></app-garant>
<!-- Наше предложение-->
<app-business-list></app-business-list>
<!-- Популярные франшизы -->
<app-franchise-list></app-franchise-list>
<!-- Новые объявления готового бизнеса -->
<app-business-ad></app-business-ad>
<!-- Бизнес блог. -->
<app-business-blog></app-business-blog>
<!-- Компонент Новости -->
<app-news></app-news>
<!-- Списки категорий -->
<app-category-list></app-category-list>