/*@use "/src/app/app.component.scss";
@use "/src/app/modules/main-page/main-page.component.scss";
@use "../../../../app/shared/styles" as *;
@use "../../../../app/shared/styles/base" as *;
@import "/src/app/shared/styles/media-quaries.scss";*/

.deal {
  border: none;
  background: #f5f8fa;
  border-radius: 24px;
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__img {
    margin-top: 67px;
  }
  &__title {
    font-size: 5vw;
    line-height: 112.5px;
    margin-bottom: 8px;
  }
  &__business {
    font-size: 3.33vw;
    line-height: 75px;
    margin-bottom: 16px;
  }
  &__franchise {
    font-size: 1.25vw;
    line-height: 28px;
    margin-bottom: 52px;
  }
  &__btn-action {
    font-size: 1.25vw;
    line-height: 28px;
    padding: 24px 32px;
    border-radius: 4px;
  }
}

.survey {
  margin-top: 16px;
  &__item {
    & ::ng-deep .p-panel {
      & .p-panel-header {
        justify-content: center;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background: #f5f8fa;
        & .p-panel-title {
          font-size: 4.32vw;
        }
      }
      & .p-panel-content {
        border: none;
        font-size: 1.25vw;
        text-align: center;
        background: #f5f8fa;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        color: #7a7a7a;
      }
    }
  }
}

.note {
  &__title {
    background: transparent;
    border: none;
    padding-left: 0;
    font-size: 1.25vw;
    line-height: 28px;
    color: #2c2c2c;
  }
  &__description {
    border: none;
    background: #f1f6ff;
    padding-top: 24px;
    padding-left: 23px;
    padding-bottom: 24px;
    border-radius: 8px;
  }
  &__buying {
    width: 70%;
    background: transparent;
    border: none;
    padding-bottom: 16px;
  }
  &__content {
    padding-top: 0;
  }
  &__wrapper {
    padding-left: 0;
  }
  &__location {
    display: flex;
    flex-flow: row-reverse;
  }
  &__text-title {
    font-size: 0.94vw;
    line-height: 21px;
    font-weight: 500;
  }
  &__content-item {
    font-size: 0.73vw;
    line-height: 16px;
  }
  &__img-box {
    padding-right: 0;
  }
  &__redirect-catalog {
    font-size: 0.94vw;
    line-height: 21px;
    border-radius: 4px;
    padding: 16px;
  }
}

.consulting {
  position: relative;
  margin-top: 74px;
  &__request {
    padding: 64px;
    border-radius: 24px;
  }
  &__title,
  &__subtitle,
  &__note {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__title {
    font-size: 5vw;
    line-height: 112px;
    color: #fff;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-size: 3.18vw;
    line-height: 75px;
    color: #fff;
    margin-bottom: 16px;
  }
  &__note {
    font-size: 1.25vw;
    line-height: 28px;
    color: #dadada;
    margin-bottom: 48px;
  }
  &__input-field {
    max-width: 291px;
  }
  &__input-text {
    color: #dadada;
    font-size: 0.63vw;
    line-height: 14px;
  }
  &__input {
    padding: 24px 40px 24px 24px;
    border-radius: 8px;
    font-size: 0.94vw;
    line-height: 21px;
  }
  &__assistant {
    position: absolute;
    width: 622px;
    right: 0;
    bottom: 0;
    margin-right: -140px;
  }
}

.checklist {
  &__head {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.67vw;
    line-height: 38px;
    margin: 74px 0 32px;
  }
  &__header {
    background: transparent;
    border: none;
  }
  &__title {
    font-size: 1.25vw;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-size: 0.63vw;
    line-height: 14px;
    color: #646464;
    margin-bottom: 8px;
  }
  &__step {
    font-size: 0.94vw;
    line-height: 12px;
    margin-bottom: 24px;
  }
  &__description {
    font-size: 0.89vw;
    line-height: 17px;
    margin-bottom: 24px;
    height: 63px;
  }
  &__item:first-child &__content {
    background: #f5f8fa;
  }
  &__content {
    border: none;
  }
  &__img {
    width: 127px;
    height: 102px;
  }
  &__action {
    font-size: 0.94vw;
    line-height: 21px;
    padding: 16px;
    border-radius: 4px;
  }
}
