// @import "/src/app/app.component.scss";
// @import "/src/app/shared/styles/body-margins.scss";
// @import "/src/app/shared/styles/media-quaries.scss";
// @import "/src/app/shared/styles/common.scss";
// @import "/src/app/modules/garant/garant-init/garant-init.component.scss";
// @import "/src/app/modules/profile/profile-my-data/profile-my-data.component.scss";

@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/body-margins.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";

// .block-chat{
//     background: rgba(218, 218, 218, 0.15);
//     padding: 24px;

//     .message {
//         margin-top: 32px;
//     }
// }

.messageStart {
  text-align: start;
}

.messageEnd {
  text-align: end;
}

// .area-message {
//   width: 100%;
// }

// .mr-16 {
//   margin-right: 16px;
// }

.right-panel-first {
  // height: 215px;
  // height: 370px;
  overflow: scroll;
  overflow-x: hidden;
}

.right-panel-second {
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
  // box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  // padding: 16px;
}

// .block-garant {
//   align-items: baseline;
//   display: flex;
// }

.control-button-action-change-cancel {
  background-color: #f1f6ff;
  border-radius: 4px;
}

.left-panel-first {
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
  // padding: 16px;
}

.right-panel-first {
  // box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
  // padding: 16px;
}

// .content {
//   // white-space: pre;
//   color: #7a7a7a;
//   font-size: 14px;
// }

// .block-black {
//   background: #384356;
//   margin-top: 32px;
//   padding: 24px;
//   color: $whiteText;

//   .content {
//     color: $whiteText;
//   }
// }

// .btn-black-contur {
//   border: 1px solid;
// }

.block-garant {
  display: flex;
  gap: 24px;
  margin-top: 73px;
  margin-bottom: 171px;
}

.hr-small {
  margin-top: 8px;
}

.block-left {
  width: 342px;
  padding: 0;

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin-bottom: 32px;
  }

  &-sides {
    width: 342px;
    height: 212px;
    border-radius: 8px;
    padding: 24px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
    }

    &__name {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      margin-bottom: 8px;
    }

    &__role {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 14px;
      color: #7a7a7a;
    }
  }

  &-deal {
    width: 342px;
    height: 473px;
    border-radius: 8px;
    padding: 24px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
    }

    &__sum {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      margin-bottom: 16px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 294px;
      height: 53px;
      padding: 16px;
      border: 0;
      border-radius: 4px;
      color: #1f75fe;
      background-color: #f1f6ff;
    }

    .hr-short {
      margin-bottom: 10px;
    }

    &__item {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
    }

    &__image {
      width: 294px;
      height: 162px;
      margin-bottom: 24px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: #2c2c2c;
    }
  }

  &-documents {
    width: 342px;
    height: 128px;
    border-radius: 8px;
    padding: 24px;

    &__list {
      display: flex;
      // justify-content: center;
      align-items: center;
      width: 294px;
      height: 56px;
      border-radius: 4px;
      padding: 16px;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      background-color: rgba(218, 218, 218, 0.35);
      color: #2c2c2c;
      margin-bottom: 10px;
    }

    &__no {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 14px;
      color: #7a7a7a;
    }
  }
}

.block-right {
  width: 1074px;
  padding: 0%;

  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2c2c2c;
    margin-bottom: 32px;
  }

  &-chat {
    width: 1074px;
    padding: 24px;
    margin-bottom: 32px;

    &__title {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      margin-bottom: 8px;
    }

    &__subtitle {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: #7a7a7a;
    }

    &__body {
      background: rgba(218, 218, 218, 0.15);
      padding: 24px;
    }

    &__message {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: #2c2c2c;
      margin-bottom: 24px;
    }

    &__textarea {
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: #7a7a7a;
      border: 1.5px solid #dadada;
      border-radius: 8px;
      padding: 8px 16px;
      margin-top: 16px;
      // margin-bottom: 24px;

      &::placeholder {
        line-height: 29px;
      }
    }

    // &__button {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   font-family: "Roboto", sans-serif;
    //   font-size: 1.125rem;
    //   width: 404px;
    //   height: 53px;
    //   padding: 16px;
    //   border: 0;
    //   border-radius: 4px;
    //   color: #1f75fe;
    //   background-color: #f1f6ff;
    // }
  }

  &-black {
    width: 1074px;
    padding: 24px;
    border-radius: 4px;
    margin-top: 32px;
    background-color: #384356;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #ffffff;
    }

    &__content {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 16px;
      color: #dadada;
      margin-top: 16px;
      margin-bottom: 40px;
    }

    &__buttons {
      display: flex;
      gap: 16px;

      .control-button-blue-small {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        width: 279px;
        height: 53px;
        padding: 16px;
        margin: 0;
        border: 0;
        border-radius: 4px;
        color: #ffffff;
        background-color: #1f75fe;
      }

      .control-button-black-contur-small {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.125rem;
        width: 118px;
        height: 53px;
        padding: 15px;
        margin: 0;
        border: 1px solid;
        border-radius: 4px;
        color: #ffffff;
        background-color: #384356;
      }
    }
  }

  &-stages {
    width: 1074px;
    padding: 24px;

    &__title {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
    }

    .hr-1 {
      margin-bottom: 24px;
    }

    &__sumtitle {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      // margin-top: 8px;
      margin-bottom: 16px;
    }

    &__sum {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      // margin-bottom: 8px;
    }

    .hr-2 {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__body {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
      margin-bottom: 16px;
    }

    // &__list {

    // }

    &__item {
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 21px;
      color: #2c2c2c;
    }

    .hr-3 {
      margin-top: 24px;
      margin-bottom: 32px;
    }

    &__buttons {
      display: flex;
      gap: 16px;
    }

    &__button1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      width: 196px;
      height: 53px;
      padding: 16px;
      margin: 0;
      border: 0;
      border-radius: 4px;
      color: #1f75fe;
      background-color: #f1f6ff;
    }

    &__button2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
      font-size: 1.125rem;
      // width: 229px;
      height: 53px;
      padding: 16px;
      margin: 0;
      border: 0;
      border-radius: 4px;
      color: #ffffff;
      background-color: #1f75fe;
    }
  }
}

.control-button-blue-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  // width: 279px;
  height: 53px;
  padding: 16px;
  margin-top: 32px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1f75fe;
}
