<section class="consulting" [ngClass]="{ 'is-xxl': isXxl }">
  <form
    class="bg-primary consulting__request"
    [ngClass]="{ 'bg-dark': isModify }"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-xl-9 col-xxl-9">
          <div class="alert alert-light consulting__title">{{ title }}</div>
          <div class="alert alert-light consulting__subtitle">
            {{ subtitle }}
          </div>
          <div class="alert alert-light consulting__note">{{ tooltip }}</div>
          <div class="mb-3 row">
            <div class="col-6 consulting__input-field">
              <label for="userName" class="form-label consulting__input-text"
                >Имя</label
              >
              <input
                type="text"
                class="form-control consulting__input"
                id="userName"
                placeholder="Введите имя"
                name="name"
              />
            </div>
            <div class="col-6 consulting__input-field">
              <label class="form-label consulting__input-text"
                >Номер телефона</label
              >
              <p-inputMask
                mask="+7(999) 999-99-99"
                [(ngModel)]="phoneNumber"
                placeholder="Введите номер телефона"
              ></p-inputMask>
            </div>
            <div class="col-6">
              <button
                [ngClass]="{ 'is-prime': isModify }"
                class="btn btn-primary consulting__submit"
                (click)="onSendLandingRequestAsync(name, phoneNumber)"
              >
                Обратиться за консультацией
              </button>
            </div>
          </div>
        </div>
        <img
          class="img-fluid consulting__assistant"
          [src]="imagePath"
          alt="Сооснователь"
        />
      </div>
    </div>
  </form>
</section>
