<section id="edit-franchise">
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>

  <!-- Блок с названием. -->
  <div class="gar-grid row title-block">
      <p class="title">Название и логотип*</p>
      <div class="gar-grid wrapper-logo">
        <div class="gar-card wrapper-label">
          <div class="gar-row title-item">Логотип</div>         
          <div class="franchise-logo">
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"></p-fileUpload>
          </div>

        </div>
        <div class="gar-card wrapper-title">
        <div class="gar-row title-item">Название</div>
        <gar-input-text class="block-two" title="Текстовое поле" [(ngModel)]="franchiseData.title">Название</gar-input-text>
        </div>
      </div>

   
      <hr class="hr">
    
  </div>

    <div class="car-card photos">
      <p class="title">Фотографии</p>
      <div class="gar-grid photos-wrapper">
        <div class="gar-card block-gallery">
        
        <gar-img-uploader (upload)="uploadImages($event)"></gar-img-uploader>

      
        <div class="w-100">
          <div class="gar-row" *ngIf="!aNamesFranchisePhotos.length">Фотографии не загружены</div>
          <p-galleria [(value)]="aNamesFranchisePhotos" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{'max-width': '100%'}" [numVisible]="4" thumbnailsPosition="left">
            <ng-template pTemplate="item" let-item>
              <img src="{{item}}" />
            </ng-template>

            <ng-template pTemplate="thumbnail" let-item *ngIf="aNamesFranchisePhotos.length > 1">
              <div class="p-grid p-nogutter p-justify-center">
                <img src="{{item}}" />
              </div>
            </ng-template>
          </p-galleria>
        </div>
        </div>
        <div class="gar-card photos-contact">
      <div>
        <div class="gar-row title-item">Ваша карточка для связи</div>
        <strong>Ваше Имя Фамилия Отчество</strong>
        <div class="gar-row-title">Пример: Иванов Иван Иванович</div>
        <div class="gar-row title item contact-button">
            <gar-input-text title="Пример владелец" [(ngModel)]="franchiseData.status" class="control-input-gallery"></gar-input-text>
        </div>
        
          <div class="gar-grid_wrap photos-buttons">
            <gar-button class="button" style="width: 100%; color: #FFFFFF;">Стать франчайзи онлайн через гарант</gar-button>
            <gar-button role="primary"class="button">Начать чат с представителем</gar-button>
          </div>
        </div>
        </div>
      </div>  
    </div>

 <!-- ключевые финансовые данные -->
  <div class="gar-grid_wrap">
    <div class="gar-row title-item">Ключевые финансовые данные*</div> 
    <div class="gar-row financial">
    <div class="gar-row box">
    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Общие инвестиции</strong>
        <span>включая паушальный взнос</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="generalInvest"
            name="generalInvest" />
            <!-- <gar-input-number title="" [(ngModel)]="generalInvest"></gar-input-number> -->
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Паушальный взнос</strong>
        <span>зависит от выбранного пакета</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="lumpSumPayment"
            name="lumpSumPayment" />
            <!-- <gar-input-text title="" [(ngModel)]="lumpSumPayment"></gar-input-text> -->
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Роялти</strong>
        <span>от валовой выручки</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="royalty" name="royalty" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>
    </div>
    <div class="gar-row box">
    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Окупаемость</strong>
        <span>средняя и планируемая</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="payback" name="payback" />
          <span class="ms-2">мес.</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Месячная прибыль</strong>
        <span>планируемая чистая прибыль</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="profitMonth"
            name="profitMonth" />
          <span class="ms-2">₽</span>
        </div>
      </div>
    </div>

    <div class="gar-card financial-data">
      <div class="financial-data-block">
        <strong>Срок запуска</strong>
        <span>средний срок открытия бизнеса</span>
        <div class="d-flex align-items-center">
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="launchDate"
            name="launchDate" />
          <span class="ms-2">дн.</span>
        </div>
      </div>
    </div>
    </div>
  </div>

      <hr class="hr">

  </div>

  <!-- Основная информация о компании. -->
  <div class="row main-info">
    <div class="col-xxl-8 col-xl-8">
      <div class="textarea">
        <h6>Основная информация о компании*</h6>
        <span><strong>Описание деятельности</strong></span><br>
        <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
          placeholder="Опишите деятельность" [(ngModel)]="franchiseData.activityDetail"></textarea>
      </div>

      <!-- Дополнительные факты. -->
      <div class="additional-facts">
        <div class="gar-row title-item">Дополнительные факты*</div>
        <!-- <span>0 из 4</span> -->
        <div class="gar-card row">
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="additional-facts-block">
              <label>Год основания</label><br>
              <span>компании</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="franchiseData.baseDate" name="baseDate" />
            </div>
          </div>

          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="additional-facts-block">
              <label>Год запуска</label><br>
              <span>франчайзинга</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="franchiseData.yearStart" name="yearStart" />
            </div>
          </div>

          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="additional-facts-block">
              <label>Количество точек</label><br>
              <span>в России</span><br>
              <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="franchiseData.dotCount" name="dotCount" />
            </div>
          </div>

          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="additional-facts-block">
              <label>Собственных</label><br>
              <span>предприятий</span><br>
              <input type="number" class="control-input-franch-price" pInputText
                [(ngModel)]="franchiseData.businessCount" name="businessCount" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gar-card">
      <div class="gar-row title-item">Входит в инвестиции*</div>
      <!-- <span>1 из 10</span> -->
      <div class="main-info-form" *ngFor="let item of aInvestInclude">
        <div>
          <label>Стоимость</label><br>
          <input type="number" class="control-input-franch-price" pInputText [(ngModel)]="item.Price" name="priceInvest" placeholder="- ₽" />
        </div>

        <div class="mb-3">
          <label>Название</label><br>
          <input type="text" class="control-input-name" placeholder="Пример: оборудование" pInputText
            [(ngModel)]="item.Name" name="nameInvest" />
        </div>

        <div class="level-includes">
          <label class="mb-0">Что входит в этап? Укажите список:</label>
          <div class="d-flex my-3">
            <input type="text" class="form-control me-2" placeholder="Например: газонокосилка" />
            <button>
              <img src="./../../../../assets/images/remove.svg" alt="" />
            </button>
          </div>
          <div class="d-flex">
            <input type="text" class="form-control" placeholder="Например: газонокосилка" />
            <button class="mx-2">
              <img src="./../../../../assets/images/remove.svg" alt="">
            </button>
            <button>
              <img src="./../../../../assets/images/add.svg" alt="">
            </button>
          </div>
        </div>

        <button class="control-button-blue-small">Добавить пункт</button>
      </div>
      <p>Данный раздел обязателен для заполнения. Подойдите к заполнению данного раздела тщательно, так как при продаже
        онлайн через сервис гарант данные разделы способствуют разбиению на этапы.</p>
    </div>

    <div class="col-12">
      <hr class="hr">
    </div>
  </div>

  <!-- Описание особенности франшизы. -->
    <div class="gar-card row franchise-specifications">
    <div class="gar-row title page"><h6>Описание особенности франшизы</h6></div>
    <div class="gar-card">
      <div class="franchise-specifications-block">
        <div>
          <input type="text" class="franch-details" placeholder="Укажите ключевую особенность в 1-2 предложения"
            pInputText [(ngModel)]="featureFranchise" name="featureFranchise" />
        </div>

        <div class="d-flex flex-column">
          <strong>Прикрепить финансовую модель .xlsx</strong>
          <span class="size">до 5 мб</span>
          <input type="file" (change)="uploadFinModelAsync($event)" id="attach-file" class="d-none" />
          <label for="attach-file" class="d-flex align-items-center">
            <span class="me-2">
              <img src="../../../../assets/images/franchise-pages/attach.svg" alt="gobizy attach file icon" />
            </span>
            <span>Прикрепить</span>
          </label>
        </div>
      </div>

      <div>
        <p>Вы можете не загружать финансовую модель, однако это может повредить доверию. Если вы не хотите загружать
          презентацию, просто пропустите данный этап.</p>
      </div>
    </div>
      <hr class="hr">
  </div>
  
  <!-- Основная информация о франшизе. -->
  <div class="gar-card row main-franchise-info">
    <div class="gar-card franchise-info">
      <div>
        <div class="gar-row title page">Основная информация о франшизе*</div>
        <span>Описание франшизы</span>
        <!-- Блок с 6 иконками -->
        <div class="gar-row icons">
          <div class="gar-card icon">&#x392;</div>
          <div class="gar-card icon">&#x192;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x25C4;</div>
          <div class="gar-card icon">&#x25BA;</div>
        </div>
        <div>
          <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
            placeholder="Опишите франшизу" [(ngModel)]="defailsFranchise" name="defailsFranchise"></textarea>
        </div>
        <!-- Блок загрузить фото -->
        <div class="gar-card photo-upload">
          <gar-button role="secondary" class="cross">&#x2716;</gar-button>
        </div>
      </div>
    </div>
    <div class="gar-card present">
      <div class="form">
        <h6>Добавить презентацию</h6>
        <div class="block-details-franch d-flex flex-column">
          <strong>Прикрепить документ .pdf</strong>
          <span>до 20 мб</span>
          <input type="file" (change)="uploadPresentAsync($event)" id="upload-present-async" class="d-none">
          <label for="upload-present-async" class="d-flex align-items-center">
            <span class="me-2">
              <img src="../../../../assets/images/franchise-pages/attach.svg" alt="gobizy attach file icon" />
            </span>
            <span>Прикрепить</span>
          </label>
        </div>
      </div>
        <p>Загружать презентацию не обязательно. Однако, это способствует повышению конверсии и глубинной
          заинтересованности в проекте. Если вы не хотите загружать презентацию, просто пропустите данный этап.</p>
    </div>

      <hr class="hr">
  </div>

  <!-- Пример расчета прибыли. -->
  <section class="section">
  <div class="row income-calculation">
  
    <div class="gar-card">
      <div>
        <div class="gar-row title page">Пример расчета прибыли*</div>
        <span>Описание расчета</span>
        <textarea class="control-textarea-franch" rows="10" cols="30" pInputTextarea [autoResize]="true"
          placeholder="Опишите расчет" [(ngModel)]="paymentDetails" name="paymentDetails"></textarea>
      </div>
    </div>

    <!-- Ключевые финансовые показатели. -->
    <div class="gar-card">
      <div class="gar-row title page">Ключевые финансовые показатели</div>
      <div class="block-details-franch">       
        <div class="gar-card top-form">
          <label>Название</label>
          <!-- <input type="text" placeholder="Пример: расчет прибыль 1 кофейни" pInputText [(ngModel)]="namesIndicators"
            name="namesIndicators" /> -->
            <gar-input-text title="Пример: расчет прибыль 1 кофейни" pInputText [(ngModel)]="namesIndicators"></gar-input-text>
        </div>

        <div class="gar-row box-wrapper">
          <div class="gar-card top-form-card">
            <div class="fin-indicator-first">
              <div>
                <p>Например: средний чек</p>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator1" name="finIndicator1" />
                  <!-- <gar-input-text class="input-price" title="Название" [(ngModel)]="finIndicator1"></gar-input-text> -->
              </div>

              <div>
                <p>Процент или финансы</p>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial1" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <p>Например: рентабельность</p>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator2" name="finIndicator2" />
              </div>

              <div>
                <p>Процент или финансы</p>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial2" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <p>Например: средняя выручка</p>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator3" name="finIndicator3" />
              </div>

              <div>
                <p>Процент или финансы</p>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial3" name="" />
              </div>
            </div>
          </div>

          <div class="gar-card top-form-card">
            <div class="fin-indicator">
              <div>
                <p>Например: товарная наценка</p>
                <input type="text" class="control-input-franch-price" placeholder="Название" pInputText
                  [(ngModel)]="finIndicator4" name="finIndicator4" />
              </div>

              <div>
                <p>Процент или финансы</p>
                <input type="number" class="control-input-franch-price" placeholder="Процент или сумма" pInputText
                  [(ngModel)]="percentFinancial4" name="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <hr class="hr">
      </div>
    </div>
  </div>
  </section>

  <!-- Обучение и поддержка. -->
  <section>
    <!-- <div class="row education-and-support"> -->
    <div class="gar-card">
      <div class="gar-row title page">Обучение и поддержка*</div>
      <span>Описание обучения</span>
      <div class="gar-card">
        <!-- Блок с 6 иконками -->
        <div class="gar-row icons">
          <div class="gar-card icon">&#x392;</div>
          <div class="gar-card icon">&#x192;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x2261;</div>
          <div class="gar-card icon">&#x25C4;</div>
          <div class="gar-card icon">&#x25BA;</div>
        </div>
        <textarea class="control-textarea-franch" pInputTextarea [autoResize]="true"
          placeholder="Опишите обучение" [(ngModel)]="educationDetails" name="educationDetails"></textarea>
      </div>

      <!-- <div class="upload-file-education"> -->
      <div class="gar-card">
        <p>Добавить фотографию</p>
        <input type="file" (change)="uploadEducationPhotosAsync($event)" id="upload-file-education" class="form-control" />
        <!-- <div>
          <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"></p-fileUpload>
        </div> -->
      </div>
    </div>
      <hr class="hr">
    <!-- </div> -->
  </section>
  <!-- Пакеты франшизы. -->
  <div class="row franchise-packages">
    <div class="col-12">
      <div class="p-field-checkbox control-checkbox">
        <div class="d-flex align-items-center">
          <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
          <p for="packs" class="control-label-checkbox">Пакеты франшизы</p>
        </div>
      </div>

      <p>Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет пакетов вы можете отключить
        данный раздел галочкой слева от названия.</p>
    </div>


    <div class="gar-card add-package">
      
        <button class="add-package-button">Добавить пакет</button>
     
    </div>

    <div class="col-12">
      <hr class="hr">
    </div>
  </div>

  <!-- Видео о франшизе. -->
  <div class="gar-card franchise-video-section">
    <div class="gar-card title-section">
      <div class="p-field-checkbox control-checkbox">
        <div class="d-flex align-items-center">
          <p-checkbox name="group1" value="New York" [(ngModel)]="isHidePacks" inputId="packs"></p-checkbox>
          <p for="packs" class="control-label-checkbox">Видео о франшизе</p>
        </div>
      </div>
    </div>

    <div class="gar-card">
      <p>Данный раздел не является обязательным для заполнения. Если у вашей франшизы нет видео вы можете отключить данный
        раздел галочкой слева от названия. Однако видео положительно влияет на вовлеченность.</p>
    </div>

    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
      <div class="video-link">
        <label>Ссылка на видео</label><br>
        <input type="text" class="control-big-input" placeholder="https://" pInputText [(ngModel)]="franchiseData.urlVideo"
          name="videoLink" />
      </div>
    </div>

    <div class="col-12">
      <hr class="hr">
    </div>
  </div>

  <!-- сохранить. -->
  <div class="gar-card">

      <div class="switch-garant">
        <!-- <button class="control-button-blue" (click)="onEditFranchiseAsync()">Сохранить изменения</button> -->
        <gar-button role="primary" (click)="onEditFranchiseAsync()">Сохранить изменения</gar-button>
      </div>

  </div>
</section>
