<ng-container [ngSwitch]="items$ | async">
    <!--Если не передан массив с данными или массив пустой, то заглушка-->
    <div *ngSwitchCase="false" class="gar-row title">Ничего нет :-((</div>
    <ng-container *ngSwitchDefault>
        <ng-container [ngSwitch]="items$ | async">
            <!--Если не передан компонент карточки представления, то заглушка-->
            <div *ngSwitchCase="false" class="gar-row title">Ожидаем контент...</div>
            <div *ngSwitchDefault class="slides" #slides>
                <div *ngFor="let item of items$ | async; index as i" [id]="'slide-' + i" appGarCarouselItem
                     [ngStyle]="{'height': heightContainer$ | async}">
                    <ng-template #sliderItem></ng-template>
                </div>
            </div>
            <ng-container *ngIf="viewRefs?.length">
                <button (click)="onClickLeft()" [disabled]="leftDisabled$ | async">
                    <gar-icon name="polygon_left" class="gar-carousel-left-icon"></gar-icon>
                </button>
                <button (click)="onClickRight()" [disabled]="rightDisabled$ | async">
                    <gar-icon name="polygon_right" class="gar-carousel-right-icon"></gar-icon>
                </button>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>

