<div class="section">
  <div class="gar-row">
    <h5 class="gar-row title">Результаты поиска по запросу {{ searchText }}</h5>
    <span class="search-count right">Всего {{ countTotalPage }}</span>
  </div>

  <div class="gar-grid gar-grid_wrap" *ngIf="isFranchise">
    <form class="gar-filter">
      <div class="gar-filter-container">
        <div class="gar-filter-section">
          <div class="gar-row title item">Сортировать по</div>

          <gar-select
            [(ngModel)]="selectedSort"
            [items]="aSortPrices"
            displayLabel="name"
            name="price"
          ></gar-select>
        </div>

        <div class="gar-filter-section">
          <div class="gar-row title item">Прибыль в месяц</div>

          <div class="gar-grid gar-grid_wrap">
            <gar-input-number
              mode="currency"
              title="от 100 000 ₽"
              [(ngModel)]="filterMinPrice"
              name="filterMinPrice"
              class="gar-filter-price"
            ></gar-input-number>

            <gar-input-number
              mode="currency"
              title="до 100 000 000 ₽"
              [(ngModel)]="filterMaxPrice"
              name="filterMaxPrice"
              class="gar-filter-price"
            ></gar-input-number>
          </div>
        </div>

        <!-- TODO добавить теги -->
        <!-- <div class="gar-filter-section">
          <div class="gar-row title item">Срок окупаемости</div>

          <filter-tag-toggle value="До 3 месяцев">До 3 месяцев</filter-tag-toggle>
          <filter-tag-toggle value="До полугода">До полугода</filter-tag-toggle>
          <filter-tag-toggle value="До года">До года</filter-tag-toggle>
          <filter-tag-toggle value="От 1 до 3 лет">От 1 до 3 лет</filter-tag-toggle>
        </div> -->

        <div class="gar-filter-section">
          <div class="gar-grid gar-grid_wrap">
            <gar-button (click)="FilterFranchisesAsync()" role="primary" class="full-width">
              Применить фильтры
            </gar-button>
          
            <gar-button role="secondary" (click)="onClearFilters()" class="full-width">
              Очистить фильтры
            </gar-button>
          </div>
        </div>
      </div>
    </form>

    <div class="gar-filter-sibling">
      <div class="gar-grid-cards">
        <app-catalog-simple-card
          *ngFor="let item of aResultSearch"
          [item]="item"
        >
        </app-catalog-simple-card>
      </div>

      <!-- TODO добавить пагинацию в результатах поиска -->
      <!-- <p-paginator
        [rows]="12"
        [totalRecords]="countTotalPage"
        [rowsPerPageOptions]="aRowsPerPageOptions"
        [showCurrentPageReport]="true"
        (onPageChange)="onPaginationChangeAsync($event)"
      ></p-paginator> -->
    </div>
  </div>
</div>
