@import "/src/app/shared/styles/franchuse-styles.scss";
@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/image-space.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/modules/main-page/main-page.component.scss";
@import "/src/app/modules/franchise/catalog-franchise/catalog-franchise.component.scss";