@import "/src/app/app.component.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/common.scss";
@import "/src/app/modules/franchise/create-franchise/create-franchise.component.scss";