<p-toast [style]="{ marginTop: '80px' }"></p-toast>

<p-tabView (onChange)="onChangeTab($event)">
  <p-tabPanel [header]="item.menuItemName" *ngFor="let item of aMenuList">
      <!-- Таб новости. -->
    <div *ngIf="tabIndex == 0">
      <!-- <label for="selectedSort">Сортировать по</label>
      <p-dropdown class="block-sort-by" [options]="aSortPrices" optionLabel="name" optionCode="value" name="price"
        [(ngModel)]="selectedSort" placeholder="Цена" [showClear]="true" (onChange)="onChangeSortPrice()"
        id="selectedSort">
      </p-dropdown> -->
    </div>

    <!-- Таб блоги. -->
    <div *ngIf="tabIndex == 1">
      <div>
        <div>
            <h5>Действия с блогом</h5>
        </div>
        
        <div>
          <p-dropdown class="block-sort-by" [options]="aBlogActions" optionLabel="blogActionName" optionCode="blogActionSysName"
            name="blogAction" [(ngModel)]="selectedBlogAction" placeholder="Действие с блогом" [showClear]="true" id="selectedBlogAction">
          </p-dropdown>
        </div>
      </div>

      <!-- Создать блог. -->
      <div *ngIf="selectedBlogAction != null && selectedBlogAction.blogActionSysName == 'CreateBlog'">
        <div>
            <div>
                <label for="selectedBlogTheme" class="mt-3">Список тем блогов</label>
            </div>
            
            <div>
              <p-dropdown class="block-sort-by" [options]="aBlogThemes" optionLabel="title" optionCode="themeCategoryCode"
                name="blogAction" [(ngModel)]="selectedBlogCodeTheme" placeholder="Выберите тему блога" [showClear]="true"
                (onChange)="onSelectBlogTheme(selectedBlogCodeTheme)" id="selectedBlogTheme">
              </p-dropdown>
            </div>
          </div>

          <div>
            <label for="titleBlog" class="mt-3">Заголовок блога</label>
          </div>
          
          <div>
            <input id="titleBlog" type="text" class="" [(ngModel)]="blogTitle">         
          </div>

          <div>
            <div>
                <label for="idFileBlog" class="mt-3">Выберите файл блога</label><br>
            </div>
            <div>
                <input type="file" id="idFileBlog" (change)="uploadFileBlogAsync($event)"> 
            </div>
          </div>

          <div>
            <button pButton type="button" label="Создать блог" class="p-button-outlined mt-3" 
            (click)="onCreateBlogAsync()"></button>
          </div>
      </div>       

      <!-- Создать статью блога. -->
      <div *ngIf="selectedBlogAction != null && selectedBlogAction.blogActionSysName == 'CreateBlogArticle'">
        <div>
          <div>
            <div>
              <label class="mt-3">Список блогов</label>
            </div>           

            <div>
              <p-dropdown class="block-sort-by" [options]="aBlogs" optionLabel="title" optionCode="themeCategoryCode"
                name="blogAction" [(ngModel)]="selectedBlog" placeholder="Выберите блог" [showClear]="true" (onChange)="onSelectBlog($event, true)">
              </p-dropdown>
            </div>
          </div>

          <div>
            <div>
              <label class="mt-3">Список тем статей</label>
            </div>           

            <div>
              <p-dropdown class="block-sort-by" [options]="aArticleThemes" optionLabel="themeName" optionCode="themeCode"
                name="articleTheme" [(ngModel)]="selectedTheme" placeholder="Выберите тему статьи" [showClear]="true" (onChange)="onSelectThemeArticle($event)">
              </p-dropdown>
            </div>
          </div>        

          <div>
            <div>
              <label class="mt-3">Название статьи</label>
            </div>           

            <div>
              <input type="text" [(ngModel)]="articleTitle"> 
            </div>
          </div>

          <div>
            <div>
              <label class="mt-3">Краткое описание статьи</label>
            </div>           

            <div>
              <input type="text" [(ngModel)]="shortArticleDescription"> 
            </div>
          </div>

          <div>
            <div>
              <label class="mt-3">Текст статьи</label>
            </div>           

            <div>
              <input type="text" [(ngModel)]="articleDescription"> 
            </div>
          </div>
        </div>

        <div>
          <div>
              <label class="mt-3">Выберите файл превью обложки</label>
          </div>

          <div>
              <input type="file" (change)="uploadFilePreviewAsync($event)"> 
          </div>
        </div>     

        <div>
          <div>
              <label class="mt-3">Выберите файл изображения статьи</label>
          </div>

          <div>
              <input type="file" (change)="uploadFileArticleAsync($event)"> 
          </div>
        </div>

        <div>
          <div>
              <label class="mt-3">Подпись под основным изображением</label>
          </div>
          
          <div>
              <input type="text" [(ngModel)]="signature"> 
          </div>
        </div>

        <div>
          <button pButton type="button" label="Создать статью" class="p-button-outlined mt-3" 
          (click)="onCreateArticleAsync(selectedBlogId, selectedTheme.themeCode, articleTitle, shortArticleDescription, articleDescription, signature)"></button>
        </div>
      </div>

       <!-- Изменить блог. -->
       <div *ngIf="selectedBlogAction != null && selectedBlogAction.blogActionSysName == 'ChangeBlog'">
        <div>
          <div>
            <label class="mt-3">Выберите блог для изменения</label>
          </div>           

          <div>
            <p-dropdown class="block-sort-by" [options]="aBlogs" optionLabel="title" optionCode="themeCategoryCode"
              name="blogAction" [(ngModel)]="selectedBlog" placeholder="Выберите блог" [showClear]="true" (onChange)="onSelectBlog($event, false)">
            </p-dropdown>
          </div>
        </div>

        <div>
          <div>
              <label for="selectedBlogTheme" class="mt-3">Список тем блогов</label>
          </div>
          
          <div>
            <p-dropdown class="block-sort-by" [options]="aBlogThemes" optionLabel="title" optionCode="themeCategoryCode"
              name="blogAction" [(ngModel)]="selectedBlogCodeTheme" placeholder="Выберите тему блога" [showClear]="true"
              (onChange)="onSelectBlogTheme(selectedBlogCodeTheme)" id="selectedBlogTheme">
            </p-dropdown>
          </div>
        </div>

          <div>
            <label for="titleBlog" class="mt-3">Заголовок блога</label>
          </div>
          
          <div>
            <input id="titleBlog" type="text" class="" [(ngModel)]="blogTitle">         
          </div>

          <div>
            <div>
                <label for="idFileBlog" class="mt-3">Выберите файл блога</label><br>
            </div>
            <div>
                <input type="file" id="idFileBlog" (change)="uploadFileBlogAsync($event)"> 
            </div>
          </div>

          <div>
            <button pButton type="button" label="Сохранить изменения" class="p-button-outlined mt-3" 
            (click)="onEditBlogAsync()"></button>
          </div>
      </div>     

    </div>

  </p-tabPanel>
</p-tabView>
