@import 'design';

:host {
  .image-container {
    height: 155px;
    display: flex;
    > img {
      width: 100%;
      //TODO: уточнить, как картинку вмещать, или резиновый контейнер
      object-fit: cover;
      border-radius: $border-radius-card $border-radius-card 0 0;
    }
  }
}
