<!-- Форма входа по коду -->
<ng-container *ngIf="isCode">
  <form #getCodeForm="ngForm" class="form-auth" novalidate>
    <div class="gar-row title">Войдите или зарегистрируйтесь, чтобы продолжить</div>
    
    <div class="form-auth__section">
      <div class="form-auth__label">Email или телефон</div>

      <gar-input-text title="Введите номер или почту" name="data" [(ngModel)]="data" *ngIf="!isGetCode" autocomplete="off"></gar-input-text>

      <gar-input-text name="data" [(ngModel)]="data" title="Введите код" name="code" [(ngModel)]="code" *ngIf="isGetCode"></gar-input-text>
    </div>

    <div class="form-auth__section" *ngIf="type?.isSuccessMailing">
      <span class="message-box">Получить новый код можно через 00:{{time}}</span>
      <br>
      <gar-button role="primary" class="full-width" [attr.disabled]="play" (click)="onGetCodeAsync(getCodeForm)">Отправить код повторно</gar-button>
    </div>

    <div class="form-auth__section" *ngIf="!type?.isSuccessMailing">
      <div class="gar-grid gar-grid_small">
        <div>
          <input type="checkbox" id="policyAgreement" name="policyAgreement" [checked]="isPolicyAgreement">
        </div>

        <label for="policyAgreement">Согласен с условиями использования сервисов GoBizy и обработки персональных данных</label>
      </div>
    </div>

    <div class="form-auth__section" *ngIf="!type?.isSuccessMailing">
      <div class="gar-grid gar-grid_small">
        <div>
          <input type="checkbox" id="getEmail" name="getEmail" [checked]="isAdsEmail">

        </div>

        <label for="getEmail">Хочу получать сообщения рекламного и информационного характера</label>
      </div>
    </div>

    <div class="form-auth__section" *ngIf="type?.isSuccessMailing">
      <small>Если код не пришел вам на почту </small>
      <i pTooltip="Рекомендуем проверить папку спама в вашем почтовом ящике" tooltipPosition="bottom"
          class="pi pi-info-circle"
          style="font-size: 16px;  margin-left: 5px; color: #c00b0b"
      ></i>
    </div>
    
    <div class="form-auth__section">
      <gar-button role="primary" class="full-width" (click)="onGetCodeAsync(getCodeForm)" *ngIf="!isHideBtnGetCode" [attr.disabled]="!isPolicyAgreement">Получить код</gar-button>
      <gar-button role="primary" class="full-width" (click)="onCheckCodeAsync(getCodeForm)" *ngIf="isHideBtnGetCode">Проверить код</gar-button>
    </div>

    <div class="form-auth__section text-center">
      или
    </div>

    <div class="form-auth__section text-center">
      <gar-button role="secondary" class="full-width" (click)="onLoginByAccount()">Уже есть аккаунт</gar-button>
    </div>
  </form>
</ng-container>

<!-- Форма наличия аккаунта -->
<ng-container *ngIf="isAuth">
  <form #getCodeForm1="ngForm" class="form-auth" novalidate>
    <div class="gar-row title">Войдите чтобы продолжить</div>

    <div class="form-auth__section">
      <div class="form-auth__label">Email или телефон</div>

      <gar-input-text name="data" [(ngModel)]="data" title="Введите номер или почту" *ngIf="!isGetCode"></gar-input-text>

      <gar-input-text name="data" [(ngModel)]="data" title="Введите код" *ngIf="isGetCode"></gar-input-text>
    </div>

    <div class="form-auth__section" *ngIf="play">
      <small class="form-auth__label">Получить новый код можно через 00:{{time}}</small>
      <br>
      <gar-button role="primary" class="full-width">Отправить код повторно</gar-button>
    </div>

    <div class="form-auth__section">
      <gar-button role="primary" class="full-width" (click)="onGetCodeAsync(getCodeForm1)" *ngIf="!isHideBtnGetCode">Получить код</gar-button>
      <gar-button role="primary" class="full-width" (click)="onCheckCodeAsync(getCodeForm1)" *ngIf="isHideBtnGetCode">Проверить код</gar-button>
    </div>

    <div class="form-auth__section text-center">
      или
    </div>

    <div class="form-auth__section">
      <gar-button role="secondary" class="full-width" (click)="onLoginByPass()">Войти с паролем</gar-button>
    </div>
  </form>
</ng-container>
<!-- Форма наличия аккаунта -->

<!-- Форма по паролю. -->
<ng-container *ngIf="isPass">
  <form #getByPassForm="ngForm" class="form-auth" novalidate>
    <div class="gar-row title">Войдите чтобы продолжить</div>

    <div class="form-auth__section">
      <div class="form-auth__label">Email или телефон</div>

      <gar-input-text title="Введите номер или почту" name="numOrEmail" [(ngModel)]="numOrEmail"></gar-input-text>
    </div>

    <div class="form-auth__section">
      <div class="form-auth__label">Пароль</div>

      <gar-input-text name="pass" [(ngModel)]="pass" title="Введите пароль"></gar-input-text>
    </div>

    <div class="form-auth__section">
      <gar-button role="primary" class="full-width" (click)="onLoginAsync(getByPassForm)">Войти</gar-button>
    </div>

    <div class="form-auth__section">
      <gar-button role="secondary" class="full-width" (click)="remindPasswordAction()">Не помню пароль</gar-button>
    </div>
  </form>
</ng-container>
