@import "/src/app/shared/styles/image-space.scss";
@import "/src/app/shared/styles/common.scss";

.form-auth {
  display: flex;
  justify-content: center;
  padding: 94px 0;

  form {
    box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.08);
    width: 464px;
    max-width: 100%;
    padding: 62px 1.5rem 2rem 1.5rem;
    position: relative;

    h5 {
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: #2c2c2c;
    }

    label {
      font-family: 'Roboto', sans-serif;
      font-size: .75rem;
      font-weight: 500;
      color: #7a7a7a;
    }

    input {
      height: 69px;
      padding: 1.5rem 1rem;
      border-radius: 8px;
      border: 1.5px solid #dadada;
      font-weight: 500;
    }

    button {
      &.main-btn {
        height: 69px;
        padding: 1.5rem 1rem;
        border-radius: 8px;
        background-color: #1f75fe;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
      &.main-btn:disabled {
        background-color: #dadada;
      }
      &.codeBtn{
        border: none;
        text-align: left;
        background-color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        color: #1f75fe;
      }
      &.codeBtn:disabled {
        color: #dadada;
        &.codeBtn:hover {
          background-color: #ffffff;
          color: #dadada;
          transition: all .5s;
        }
      }
      &.codeBtn:hover {
        background-color: #ffffff;
        color: #1f75fe;
        transition: all .5s;
      }

      &.secondary {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #1f75fe;
        background-color: #f1f6ff;
        height: 69px;
        width: 100%;
      }

      &:hover {
        background-color: #1f75fe;
        color: #fff;
        transition: all .5s;
      }

    }
    ::ng-deep.p-inputtext{
      width: 100%;
      height: 69px;
    }
    ::ng-deep.p-password {
      display: block;
    }
    .agreements {

      .checkbox {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: .5rem 0;

        input {
          display: none;
        }

        span:nth-child(2) {
          display: inline-block;
          min-width: 2rem;
          width: 2rem;
          height: 2rem;
          background-color: #dadada;
          margin-right: 18px;
          margin-top: 5px;
          position: relative;

          &::before {
            content: '';
            display: inline-block;
            width: 1.4rem;
            height: .7rem;
            border: none;
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        input[type=checkbox]:checked + span {
          background-color: #1f75fe;
        }

        label {
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #7a7a7a;
        }
      }
    }

    span.message-box {
      font-family: 'Roboto', sans-serif;
      font-size: .75rem;
      font-weight: 400;
      color: #7a7a7a;
    }

    span.action-link {
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #1f75fe;

      &.secondary {
        font-size: .75rem;
      }
    }

    a.close-form {
      position: absolute;
      top: 26px;
      right: 26px;
      padding: 0;
      background-color: transparent;
      height: auto;
      border: none;

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.input-auth {
    height: 69px;
}

.btn-code {
    background: #DADADA;
    width: 100%;
    color: #FFFFFF;
}

.btn-code-active {
    background-color: #1F75FE;
    width: 100%;
    color: #FFFFFF;
}

.send-code {
    margin-bottom: 8px;
}


.card{
  border: 0;
  margin-top: 1rem;

}
