<div class="row justify-content-center">
  <!-- Форма входа по коду -->
  <div class="col-5" *ngIf="isCode">
    <div class="form-auth">
      <form #getCodeForm="ngForm" novalidate>
        <h5>Войдите или зарегистрируйтесь, чтобы продолжить</h5>
        <div class="mb-3">
          <label class="form-label">Email или телефон</label>

          <input type="text" class="form-control input-auth" placeholder="Введите номер или почту" name="data"
            [(ngModel)]="data" *ngIf="!isGetCode">
          <input type="text" class="form-control input-auth" name="data" [(ngModel)]="data" placeholder="Введите код"
            name="code" [(ngModel)]="code" *ngIf="isGetCode">
        </div>

        <div class="send-code" *ngIf="play">
          <span class="message-box">Получить новый код можно через 00:{{time}}</span>
          <br>
          <span class="action-link secondary">Отправить код повторно</span>
        </div>

        <div class="agreements mb-3">
          <div class="checkbox">
            <input type="checkbox" id="policyAgreement" name="policyAgreement" [checked]="isPolicyAgreement"/>
            <span (click)="onToggle('changePolicyAgreement')"></span>
            <label for="policyAgreement">Согласен с условиями использования сервисов GoBizy и обработки персональных
              данных</label>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="getEmail" name="getEmail" [checked]="isAdsEmail" />
            <span (click)="onToggle('changeAdsEmail')"></span>
            <label for="getEmail">Хочу получать сообщения рекламного и информационного характера</label>
          </div>
        </div>

        <button class="btn btn-default btn-code-active main-btn" (click)="onGetCodeAsync(getCodeForm)"
          *ngIf="!isHideBtnGetCode" [disabled]="!isPolicyAgreement">Получить код</button>
        <button class="btn btn-default btn-code-active main-btn" (click)="onCheckCodeAsync(getCodeForm)"
          *ngIf="isHideBtnGetCode">Проверить код</button>
        <div class="text-center my-3">
          <span>или</span>
        </div>

        <div class="text-center mt-3">
          <span class="action-link" (click)="onLoginByAccount()">Уже есть аккаунт</span>
        </div>

        <!-- иконка для закрытия -->
        <a class="close-form" routerLink="/">
          <img src="../../../assets/images/close.svg" alt="close icon" />
        </a>
        <!-- иконка для закрытия -->
      </form>
    </div>
  </div>
  <!-- Форма входа по коду. -->

  <!-- Форма наличия аккаунта -->
  <div class="col-5" *ngIf="isAuth">
    <div class="form-auth">
      <form #getCodeForm1="ngForm" novalidate>
        <h5>Войдите чтобы продолжить</h5>
        <div class="mb-3">
          <label class="form-label text-lbl">Email или телефон</label>

          <input type="text" class="form-control input-auth" name="data" [(ngModel)]="data"
            placeholder="Введите номер или почту" *ngIf="!isGetCode">
          <input type="text" class="form-control input-auth" name="data" [(ngModel)]="data" placeholder="Введите код"
            *ngIf="isGetCode">
        </div>

        <div class="send-code" *ngIf="play">
          <small class="form-label text-lbl">Получить новый код можно через 00:{{time}}</small>
          <br>
          <button class="btn btn-link btn-sm">Отправить код повторно</button>
        </div>

        <button class="btn btn-default btn-code-active main-btn" (click)="onGetCodeAsync(getCodeForm1)"
          *ngIf="!isHideBtnGetCode">Получить код</button>
        <button class="btn btn-default btn-code-active" (click)="onCheckCodeAsync(getCodeForm1)"
          *ngIf="isHideBtnGetCode">Проверить код</button>
        <div class="text-center my-3">
          или
        </div>

        <div>
          <button class="btn secondary text-center" (click)="onLoginByPass()">Войти с паролем</button>
        </div>

        <!-- иконка для закрытия -->
        <a class="close-form" routerLink="/">
          <img src="../../../assets/images/close.svg" alt="close icon" />
        </a>
        <!-- иконка для закрытия -->
      </form>
    </div>
  </div>
  <!-- Форма наличия аккаунта -->

  <!-- Форма по паролю. -->
  <div class="form-auth" *ngIf="isPass">
    <form class="block-form-auth" #getByPassForm="ngForm" novalidate>
      <h5>Войдите чтобы продолжить</h5>
      <div>
        <label class="form-label text-lbl">Email или телефон</label>

        <input type="text" class="form-control input-auth" placeholder="Введите номер или почту" name="numOrEmail"
          [(ngModel)]="numOrEmail">
      </div>

      <div class="mb-3 card">
        <label class="form-label text-lbl" name="pass" [(ngModel)]="pass">Пароль</label>

<!--        <input type="password" class="form-control input-auth" name="pass" [(ngModel)]="pass"-->
<!--          placeholder="Введите пароль">-->
        <p-password  [(ngModel)]="pass" [toggleMask]="true"></p-password>
      </div>

      <div>
        <button class="btn text-center btn-code-active main-btn" (click)="onLoginAsync(getByPassForm)">Войти</button>
      </div>

      <div class="text-center mt-3">
        <span class="action-link">Не помню пароль</span>
      </div>

      <!-- иконка для закрытия -->
      <a class="close-form" routerLink="/">
        <img src="../../../assets/images/close.svg" alt="close icon" />
      </a>
      <!-- иконка для закрытия -->
    </form>
  </div>
</div>
