<div class="list">
  <div class="row list__root-row">
    <div
      class="list__item"
      [ngClass]="{ 'col-lg-12': isLaptop, 'col-xl-6': isHD }"
    >
      <div
        class="alert alert-light list__title"
        [ngClass]="{ 'is-laptop': isLaptop }"
      >
        Категории готового бизнеса
      </div>
      <div class="row list__any-row">
        <div
          *ngFor="let item of this.aBusinessCategories"
          [ngClass]="{ 'col-lg-4': isLaptop, 'col-xl-6': isHD }"
        >
          <div
            class="alert alert-light list__content"
            [ngClass]="{ 'is-laptop': isLaptop }"
          >
            <span class="list__text">{{ item.categoryName }}</span>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-chevron-right list__item-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
        <div [ngClass]="{ 'col-lg-4': isLaptop, 'col-xl-6': isHD }">
          <div
            class="btn btn-outline-primary list__button"
            [ngClass]="{ 'is-laptop': isLaptop }"
          >
            <span class="list__btn-text" [ngClass]="{ 'is-laptop': isLaptop }"
              >Весь готовый бизнес</span
            >
            <span class="list__btn-icon-box">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-caret-right-fill list__btn-icon"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="list__item"
      [ngClass]="{ 'col-lg-12': isLaptop, 'col-xl-6': isHD }"
    >
      <div
        class="alert alert-light list__title"
        [ngClass]="{ 'is-laptop': isLaptop }"
      >
        Категории франшиз
      </div>
      <div class="row list__any-row">
        <div
          *ngFor="let item of this.aFranchiseCategories"
          [ngClass]="{ 'col-lg-4': isLaptop, 'col-xl-6': isHD }"
        >
          <div
            class="alert alert-light list__content"
            [ngClass]="{ 'is-laptop': isLaptop }"
          >
            <span class="list__text">{{ item.categoryName }}</span>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-chevron-right list__item-icon"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
        </div>
        <div [ngClass]="{ 'col-lg-4': isLaptop, 'col-xl-6': isHD }">
          <div
            class="btn btn-outline-primary list__button"
            [ngClass]="{ 'is-laptop': isLaptop }"
          >
            <span class="list__btn-text" [ngClass]="{ 'is-laptop': isLaptop }"
              >Все франшизы</span
            >
            <span class="list__btn-icon-box">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-caret-right-fill list__btn-icon"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
