.list {
  &__item {
    margin-bottom: 43px;
  }
  &__title {
    color: #2c2c2c;
    font-size: 24px;
    line-height: 28px;
    background: transparent;
    padding: 0;
    margin-bottom: 41px;
    border: none;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #2c2c2c;
    line-height: 21px;
    background: transparent;
    padding: 0;
    margin-bottom: 0;
    height: 87px;
    border: none;
  }
  &__text {
    font-size: 16px;
    line-height: 19px;
    color: #2c2c2c;
  }
  &__item-icon {
    color: #c4c4c4;
    font-size: 18px;
    line-height: 21px;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 67px;
    width: 100%;
    background: #f1f6ff;
    &:hover {
      background: none;
    }
  }
  &__btn-text {
    font-size: 18px;
    line-height: 21px;
    color: #1f75fe;
  }
  &__btn-icon-box {
    position: relative;
    display: inline-block;
    background: #1f75fe;
    width: 32px;
    height: 32px;
    border-radius: 40px;
  }
  &__btn-icon {
    position: absolute;
    left: 0;
    margin-left: 4px;
    width: 25px;
    height: 32px;
    fill: #fff;
    font-size: 18px;
  }
}

@media all and (max-width: 576px) {
  .list {
    &__item {
      margin-bottom: 24px;
    }
    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 19px;
      line-height: 22px;
      margin: 0;
      padding-bottom: 16px;
      border-bottom: 1px solid #dadada;
    }
    &__toggle {
      display: inline-block;
      transform: rotate(90deg);
    }
    &__any-row > &__any-content {
      margin: 27px 0 0;
    }
    &__content {
      height: 30px;
    }
    &__button {
      height: 78px;
      padding: 0 31px 0 16px;
    }
    &__btn-text {
      font-size: 16px;
      line-height: 18.5px;
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .list {
      &__title.is-laptop {
        font-size: 19px;
        line-height: 22px;
      }
      &__toggle.is-laptop {
        display: none;
      }
      &__content.is-laptop {
        font-size: 16px;
        line-height: 18px;
      }
      &__button.is-laptop {
        max-width: 243px;
      }
      &__btn-text.is-laptop {
        font-size: 16px;
        line-height: 18px;
        max-width: 147px;
      }
    }
  }
}
