@import '~normalize.css';
@import 'fonts';
@import 'design';
@import './../components/gar-lib';

* {
  box-sizing: border-box;
}

body {
  color: $clrBlack;
  font-family: $font-family;
  background-color: $clrWhite;
  line-height: $line-height!important;
}

a {
  color: $clrBlue;
  text-decoration: none;
  transition: $timeFast color;

  &:hover {
    text-decoration: underline;
  }
}

.app-container {
  padding: 0 20px;

 @include tablet-small {
   width: 768px;
   padding: 0 24px;
   margin: auto;
 }

  @include tablet {
    width: 1024px;
  }

  @include desktop {
    width: 1440px;
  }
}

/* Строка */
.gar-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Вертикальный отступ между строками, если она не является последней */
  &:not(.title) {
    &:not(:last-child):not(.gar-row-item) {
      margin-bottom: calc(#{$gar-row-between-vertical-margin} / 2);
    }
  }
  /* Правый элемент */
  > * {
    &:not(:last-child) {
      margin-right: $gar-row-items-between-horizontal-margin;
    }
    &.right {
      margin-left: auto;
      flex-basis: auto;
      word-break: normal;
    }
  }
  /* Элемент, занимающий область по ширине своего контента */
  &.fit {
    flex-basis: 0;
    width: fit-content;
  }
  > * {
    &.fit {
      flex-basis: 0;
      width: fit-content;
    }
  }
  /* У последней строки нет отступа */
  &:last-child {
    margin-bottom: 0;
  }
  /* Стиль описывающий элемент отображаемый как не делимый элемент строки */
  > .gar-row-item {
    display: flex;
    flex-direction: column;
    &:not(.fit) {
      width: 100%;
      flex-basis: 100%;
    }
    /* элемент строки является карточкой */
    &.gar-card {
      &:not(:first-child) {
        margin-left: $gar-card-between-horizontal-margin;
      }
    }
  }

  /* Перестраиваем строку в колонку на мобилке */
  @include phone {
    &:not(.gar-breadcrumbs-dotted) {
      flex-direction: column;
    }
  }
}

/* Строка являющая заголовком */
.gar-row.title {
  @include typo("title");

  /* Отступ у строки, если она не является последней */
  &:not(:last-child) {
    margin-bottom: $gar-row-between-vertical-margin;
  }
  & .sub-title {
    @include typo("description");
    color: $font-color-sub-title;
  }
  /* стили для вложенного элемента в title */
  > .gar-row-item {
    > *:not(:last-child) {
      margin-bottom: calc(#{$gar-row-between-vertical-margin} / 3);
    }
  }
  /* Модификатор, указывающий на то, что элемент публикуется, как основной на странице */
  &.page {
    @include typo("title-page");
    &:not(:last-child) {
      margin-bottom: calc(#{$gar-row-between-vertical-margin} - 3);
    }
  }
  /* Модификатор, указывающий на то, что заголовок публикуется внутри других элементов */
  &.item {
    @include typo("title-item");
  }
}

/* Строка с второстепенным текстом */
.gar-row.secondary {
  @include typo('secondary');
}

/* Стиль описывающий элемент карточка */
.gar-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: $border-radius-card;
  background-color: $clrWhite;
  box-shadow: $box-shadow-card;
  &:not(.secondary) {
    padding: $card-padding;
  }
  /* Карточка с промо информацией с голубым фоном */
  &.promo {
    background-color: $clrLightBlue;
    & .gar-row.secondary {
      color: $clrGray;
      margin-bottom: 40px;
    }
  }

  /* карточка внутри карточки */
  & .gar-card {
    box-shadow: none;
  }
}

/* Стили для элемента с выделенным фоном */
.gar-badge {
  @include typo("promo");
  border-radius: calc(#{$border-radius-card}/2);
  background-color: $clrLightBlue;
  padding: $main-badge-padding;
  color: $clrDarkBLue;

  &.-blue {
    color: $clrWhite;
    background-color: rgba($clrBlue, .85);
  }
}

/* Стили для сетки */
.gar-grid {
  display: flex;
  gap: $gridGap;

  &_wrap {
    flex-wrap: wrap;
  }
}

/* Стили для сетки с карточками */
.gar-grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: calc(#{$gridGap} / 3 * 2);
}

/* Стили для центровки абсолютного элемента */
.gar-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gar-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Обрезка переполненного контейнера */
.no-overflow {
    overflow: hidden;
}

/* Поле ввода */
.gar-input {
  display: flex;
  > * {
    width: 100%;
    > * {
      width: 100%;
    }
  }
  & .p-inputnumber-input {
    height: 48px;
    background-color: $clrLightBlue;
    border-color: $clrLightBlue;
    color: $clrBlack;
    padding: $input-padding;
    border-radius: $input-border-radius;
    @include typo('secondary');
  }
}

/* Хлебные крошки с разделителем в виде точки */
.gar-breadcrumbs-dotted {
  @include typo('secondary');

  display: flex;
  flex-wrap: wrap;
  color: $clrMidGray;

  &.-small {
    @include typo('description');
  }

  & > *:not(:last-child) {
    position: relative;
    margin-right: 20px;

    &::after {
      position: absolute;
      top: 50%;
      left: calc(100% + 8px);

      width: 4px;
      height: 4px;
      background-color: currentColor;
      border-radius: 50%;
      pointer-events: none;
      user-select: none;
      transform: translateY(-50%);
      content: '';
    }
  }
}

/* Класс, описывающий секцию */
.section {
  margin-bottom: 80px;
}

/* Выравнивание текста по центру */
.align-center {
  text-align: center;
}

/* Задание ширины 100% */
.full-width {
  width: 100%;
}

/* Скрытие элемента */
.gar-hidden {
  display: none;
}
