@import '~normalize.css';
@import 'fonts';
@import 'design';

* {
  box-sizing: border-box;
}

body {
  color: $clrBlack;
  font-family: Roboto, -apple-system, sans-serif;
  background-color: $clrWhite;
  line-height: $line-height!important;
}

.app-container {
  padding: 0 20px;

 @include tablet-small {
   width: 768px;
   padding: 0 24px;
   margin: auto;
 }

  @include tablet {
    width: 1072px;
  }

  @include desktop {
    width: 1482px;
  }
}

/* Строка */
.gar-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Вертикальный отступ между строками, если она не является последней */
  &:not(.title) {
    &:not(:last-child):not(.gar-row-item) {
      margin-bottom: #{$gar-row-between-vertical-margin / 2}px;
    }
  }
  /* Правый элемент */
  > * {
    &.right {
      margin-left: auto;
      flex-basis: auto;
      word-break: normal;
    }
  }
  /* Стиль описывающий элемент отображаемый как не делимый элемент строки */
  > .gar-row-item {
    display: flex;
    flex-direction: column;
  }
}

/* Строка являющая заголовком */
.gar-row.title {
  font-size: #{$font-size-title}px;
  font-weight: $font-weight-title;
  /* Отступ у строки, если она не является последней */
  &:not(:last-child) {
    margin-bottom: #{$gar-row-between-vertical-margin}px;
  }
  & .sub-title {
    font-size: #{$font-size-sub-title}px;
    font-weight: 400;
    color: $font-color-sub-title;
  }
  /* стили для вложенного элемента в title */
  > .gar-row-item {
    > *:not(:last-child) {
      margin-bottom: #{$gar-row-between-vertical-margin / 3}px;
    }
  }
}

/* Стиль описывающий элемент карточка */
.gar-card {
  display: flex;
  flex-direction: column;
  border-radius: #{$border-radius-card}px;

  /* карточка внутри карточки */
  & .gar-card {
    padding: #{$card-padding}px;
  }
}
