@import "/src/app/shared/styles/franchuse-styles.scss";
@import "../../app.component.scss";  
@import "/src/app/shared/styles/image-space.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/modules/main-page/main-page.component.scss";

.franchise-list {
    flex-wrap: wrap;
    margin-left: 30px;
}

.block-catalog {
    padding-top: 64px;
}

.catalog-item {
    padding-top: 24px;
}

.control-filter-franchise {
    width: 160px;
}

.switch-garant {
    padding-top: 50px;
}

.control-input-filter-price {
    width: 160px;
    margin: 0px 10px 0 0;
}

.control-input-price {
    width: 340px;    
    margin: 0 24px 0 0;
}

::ng-deep .block-sort-by .p-dropdown {
    width: 340px;    
}

.block-title-franchise {
    display: flex;
    justify-content: space-between;
}