<section class="section">
    <div class="gar-card promo">
        <div class="gar-row title item">Вы можете приобрести бизнес с гарантиями</div>
        <div class="gar-row secondary">Вам больше не нужно покупать бизнес онлайн! Все тренды сводятся к покупке бизнеса
            и управлению им из дома.
            Предлагаем получить консультацию по покупке бизнеса онлайн.
        </div>
        <div class="gar-row">
            <gar-button role="primary">Получить консультацию</gar-button>
            <gar-button role="secondary">Позднее</gar-button>
        </div>
    </div>
</section>
<section class="section">
    <div class="gar-row">
        <div class="gar-row-item"><img class="banner" src="../../../../assets/images/Rectangle%2013.png"/></div>
        <div class="gar-row-item"><img class="banner" src="../../../../assets/images/Rectangle%2014.png"/></div>
    </div>
</section>
<section class="section">
    <h2 class="gar-row title">Популярные франшизы</h2>
    <gar-carousel [items]="aPopularFranchises$ | async" [template]="cardComponent"></gar-carousel>
</section>
<section class="section">
    <h2 class="gar-row title">Новые объявления готового бизнеса</h2>
    <gar-carousel [items]="aNewBusiness$ | async" [template]="cardComponent"></gar-carousel>
</section>
