<div class="news">
  <h5 class="alert alert-light news__title">Новости делового мира</h5>
  <div class="news__any-row" [ngClass]="{ row: isLaptop || isHD }">
    <div class="news__column" [ngClass]="{ 'col-6': isLaptop || isHD }">
      <img
        class="img-fluid news__img"
        src="../../../../../assets/images/Frame 31.png"
        alt="Илон Маск"
      />
    </div>
    <div class="news__column" [ngClass]="{ 'col-6': isLaptop || isHD }">
      <div class="alert alert-light news__item">
        <div class="news__item-img">
          <img
            src="../../../../assets/images/fireIcon.png"
            class="news__icon"
            alt="Огонь"
          />
          <div class="news__item-text">
            Открывается новая франшиза кофеен при по...
          </div>
        </div>
        <div
          class="list-group list-group-flush news__list"
          *ngFor="let item of aNews; let i = index"
        >
          <div class="news__any-element" *ngIf="i == 0">
            <span class="list-group-item news__list-item">{{ item.time }}</span>
            <span class="list-group-item news__list-item">{{ item.date }}</span>
            <span class="list-group-item news__list-item">{{ item.type }}</span>
          </div>
        </div>
      </div>
      <div class="alert alert-light news__item">
        <div class="news__item-img">
          <img
            src="../../../../assets/images/handWithPen.png"
            class="news__icon"
            alt="Рука"
          />
          <div class="news__item-text">
            Федеральная сеть магазинов у дома Красное...
          </div>
        </div>
        <div
          class="list-group list-group-flush news__list"
          *ngFor="let item of aNews; let i = index"
        >
          <div class="news__any-element" *ngIf="i == 1">
            <span class="list-group-item news__list-item">{{ item.time }}</span>
            <span class="list-group-item news__list-item">{{ item.date }}</span>
            <span class="list-group-item news__list-item">{{ item.type }}</span>
          </div>
        </div>
      </div>
      <div class="alert alert-light news__item">
        <div class="news__item-img">
          <img
            src="../../../../assets/images/box.png"
            class="news__icon"
            alt="Куб"
          />
          <div class="news__item-text">
            ЕР сохраняет лидерство в 199 одномандатн...
          </div>
        </div>
        <div
          class="list-group list-group-flush news__list"
          *ngFor="let item of aNews; let i = index"
        >
          <div class="news__any-element" *ngIf="i == 2">
            <span class="list-group-item news__list-item">{{ item.time }}</span>
            <span class="list-group-item news__list-item">{{ item.date }}</span>
            <span class="list-group-item news__list-item">{{ item.type }}</span>
          </div>
        </div>
      </div>
      <div class="alert alert-light news__item">
        <div class="news__item-img">
          <img
            src="../../../../assets/images/fireIcon.png"
            class="news__icon"
            alt="Огонь"
          />
          <div class="news__item-text">
            Сделка по продаже крупного производства с...
          </div>
        </div>
        <div
          class="list-group list-group-flush news__list"
          *ngFor="let item of aNews; let i = index"
        >
          <div class="news__any-element" *ngIf="i == 3">
            <span class="list-group-item news__list-item">{{ item.time }}</span>
            <span class="list-group-item news__list-item">{{ item.date }}</span>
            <span class="list-group-item news__list-item">{{ item.type }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
