.news {
  &__title {
    padding: 0;
    color: #2c2c2c;
    border: none;
  }
  &__column {
    box-shadow: 0 4px 44px rgba(0, 0, 0, 0.08);
  }
  &__img {
    border-radius: 8px;
  }
  &__item-img {
    display: flex;
    align-items: center;
  }
  &__icon {
    display: inline-block;
  }
  &__item-text {
    display: inline-block;
    color: #000;
    font-weight: 600;
  }
  &__list {
    display: block;
    &-item {
      display: inline-block;
      border: none;
      color: #646464;
    }
  }
}

@media all and (max-width: 576px) {
  .news {
    & {
      margin-bottom: 24px;
    }
    &__title {
      padding: 0;
      font-size: 19px;
      line-height: 22px;
    }
    &__column:first-child {
      margin-bottom: 8px;
    }
    &__column:nth-child(2) {
      padding: 0 10px 20px 8px;
    }
    &__item {
      & {
        margin-bottom: 8px;
        border-bottom: 0.5px solid rgba(196, 196, 196, 0.55);
      }
      &-img {
        padding: 16px 0 8px 0;
      }
    }
    &__item:last-child {
      margin-bottom: 0;
    }
    &__icon {
      margin-right: 8px;
    }
    &__item-text {
      font-size: 17px;
      line-height: 20px;
      max-width: 250px;
    }
    &__any-element {
      padding-bottom: 25px;
    }
    &__list {
      &-item {
        padding: 0 20px 0 0;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

::ng-deep {
  @media all and (min-width: 992px) {
    .news {

    }
  }
}

::ng-deep {
  @media all and (min-width: 1200px) {
    .news {

    }
  }
}
