<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="block-garant d-flex justify-content-between mt-70">
    <!-- Правый блок. -->
    <div class="col-3">
      <h5>{{oInitData.blockLeftTitle}}</h5>

      <div class="left-panel-first mt-32">  
        <div>Сделка проходит между</div>
        <hr>
      </div>
    </div>

    <!-- Левый блок. -->
    <div class="col-9">
      <h5>{{oInitData.blockRightTitle}}</h5>

      <div class="right-panel-first mt-32">  
        <div>
          <strong>{{oInitData.blockRightStatusTitle}}</strong>
        </div>

        <div class="content">
          {{oInitData.blockRightStatusText}}
        </div>
        
        <div>
          <strong>{{oInitData.blockRightSumTitle}}</strong>
        </div>

        <div>
          {{oInitData.totalAmount}} ₽
        </div>

        <div>
          <button class="control-button-blue-small">{{oInitData.buttonActionText}}</button>
        </div>
      </div>

      <div class="block-black">
        <div>{{oInitData.blackBlockTitle}}</div>

        <div class="content">
          {{oInitData.blackBlockText}}
        </div>

       <div class="d-flex align-items-center">
        <div>
          <button class="control-button-blue-small">{{oInitData.blackBlueButtonText}}</button>
        </div>

        <div class="ml-3">        
          <button class="control-button-black-contur-small">{{oInitData.blackButtonText}}</button>
        </div>
       </div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="control-button-blue-small">{{oInitData.continueButtonText}}</button>
      </div>
    </div>
  </div>

</body>

</html>