<div class="block-garant d-flex justify-content-between mt-70">
  <!-- Левый блок. -->
  <div class="col-3 block-left">
    <h5 class="block-left__title">{{oInitData.blockLeftTitle}}</h5>

    <div class="left-panel-first mt-32 block-left-sides">
      <div class="block-left-sides__title">Сделка проходит между</div>
      <hr class="hr-small">

      <!-- <div> -->
      <!-- <div> -->
      <strong class="block-left-sides__name">{{oInitData.fullName}}</strong>
      <!-- <br> -->
      <span class="block-left-sides__role">
        {{oInitData.role}}
      </span>
      <!-- </div> -->

      <hr>

      <!-- <div> -->
      <strong class="block-left-sides__name">{{oInitData.otherUserFullName}}</strong>
      <!-- <br> -->
      <span class="block-left-sides__role">
        {{oInitData.otherUserRole}}
      </span>
      <!-- </div> -->
      <!-- </div> -->
    </div>

    <div class="left-panel-first mt-32 block-left-deal">
      <div class="block-left-deal__title">{{oInitData.blockLeftSumTitle}}</div>
      <hr class="hr-small">

      <!-- <div> -->
      <div class="block-left-deal__sum">
        {{oInitData.totalAmount}} ₽
      </div>

      <button class="block-left-deal__button">Цена изменилась</button>

      <hr class="hr-short">

      <!-- <div> -->
        <strong class="block-left-deal__item">{{oInitData.mainItemTitle}}</strong>
      <!-- </div> -->

      <hr>

      <div class="block-left-deal__image">
        <img [src]="oInitData.imageUrl">
      </div>

      <div class="block-left-deal__name">
        {{oInitData.itemTitle}}
      </div>
      <!-- </div> -->
    </div>

    <div class="left-panel-first mt-32 block-left-documents">
      <div class="block-left-documents__title"><img class="img-left" src="../../../../assets/images/garant/file.png"
        alt="папка">{{oInitData.documentBlockTitle}}<img class="img-right" src="../../../../assets/images/garant/arrow.png"
        alt="стрелка"></div>
      <small class="block-left-documents__no">Документов еще нет</small>
    </div>
  </div>

  <!-- Правый блок. -->
  <div class="col-9 block-right">
    <h5 class="block-right__title">{{oInitData.blockRightTitle}}</h5>

    <div class="right-panel-first mt-32 block-right-body">
      <!-- <div> -->
        <strong class="block-right-body__title">{{oInitData.blockRightStatusTitle}}</strong>
      <!-- </div> -->

      <div class="block-right-body__content">
       
      </div>

      <div class="block-right-body__small">
        {{oInitData.blockRightStatusText}}
      </div>

      <!-- <div> -->
        <strong class="block-right-body__sumtitle">{{oInitData.blockRightSumTitle}}</strong>
      <!-- </div> -->

      <div class="block-right-body__sum">
        {{oInitData.totalAmount}} ₽
      </div>

      <div *ngIf="oInitData.buttonActionText !== '' && oInitData.buttonActionText !== null">
        <button class="control-button-blue-small block-right-body__button" *ngIf="!isCheckDeal"
          (click)="onAcceptDealAsync()">{{oInitData.buttonActionText}}</button>
      </div>
    </div>

    <div class="block-right-black">
      <div class="block-right-black__title">{{oInitData.blackBlockTitle}}</div>

      <div class="block-right-black__content">
        {{oInitData.blackBlockText}}
      </div>

      <div class="d-flex align-items-center block-right-black__buttons">
        <div>
          <button class="control-button-blue-small">{{oInitData.blackBlueButtonText}}</button>
        </div>

        <!-- <div class="ml-3"> -->
          <button class="control-button-black-contur-small">{{oInitData.blackButtonText}}</button>
        <!-- </div> -->
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button class="control-button-blue-small"
        (click)="onRouteReviewIterationsAsync(oInitData.itemDealId, oInitData.itemDealType, oInitData.otherId)">{{oInitData.continueButtonText}}</button>
    </div>
  </div>
</div>