// @import "../../app.component.scss";
@import "/src/app/shared/styles/image-space.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/franchuse-styles.scss";

// Карусель.
.product-item {
  .product-item-content {
    // border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin-right: 20px;
    text-align: center;
    // padding: 2rem 0;
    padding: 0;
  }

  .product-image {
    // width: 50%;
    width: 100%;
    height: 162px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

.more-articles {
  margin: 0;
  background-color: #F1F1F1;
  height: 208px;
}

::ng-deep .more-articles .p-card {
  background: none;
}

.blog-item {
  max-width: 342px;
}

::ng-deep .blog-item .p-card-title {
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

// .btn-dark {
//   margin-top: 68px;
//   padding: 16px;
// }

.cards-popup {
  margin: 0 10px;
}

::ng-deep .card-business {
  max-width: 100%;
}

.p-carousel-container {
  gap: 20px;
}

.more-info-btn {
  margin-right: 16px;
}

::ng-deep .business-garanteese .p-card {
  background: #F1F6FF;
}

::ng-deep .business-garanteese .p-card-content {
  padding: 0;
}

::ng-deep .p-card .p-card-body {
  margin: 0 auto;
}

.bg {
  padding: 1rem 1.5rem;
  padding-top: 20px;
  background: #F1F1F1;
  width: 100%;
  margin: 20px auto;
}

::ng-deep .business-garanteese .p-card .p-card-header {
  padding-bottom: 0;
  margin-bottom: 16px;
  font-size: 18px;
}

::ng-deep .business-garanteese .p-card .p-card-footer {
  padding-top: 0;
  margin-top: 40px;
}

::ng-deep .business-garanteese .p-card .p-card-body {
  padding-top: 0;
}

::ng-deep .card-business .p-card-body {
  // background: #F1F1F1;
  padding: 16px 24px;
}

::bg-deep .p-card {
  width: 1440px !important;
}

::ng-deep .card-business .btn-dark {
  padding: 16px;
}

::ng-deep .right .btn-dark {
  padding: 16px;
}


::ng-deep .card-line .p-card-body {
  // background: #F1F6FF;
  padding: 24px 16px 24px 16px;
  background-color: #f1f6ff;
}

::ng-deep .card-line .p-card-header {
  // background: #F1F6FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 24px 16px;
  background-color: #f1f6ff;
}

.close {
  border: none;
  background: none;
}

::ng-deep .p-card {
  box-shadow: none;
}

::ng-deep .card {
  border: none !important;
  background-color: #F1F1F1;
}

.block-card-item {
  // background: white;
  width: 336px;
}

.card-demo-list {
  margin-top: 24px;
}

// .gray {
//   background: #F1F1F1;
// }

.btn-show-more {
  border: 1px solid;
  border-radius: 5px;
}

.baner {
  width: 100%;
  height: auto;
}

.block-baner {
  justify-content: space-between;
}

.title-news {
  font-size: 18px;
  font-family: Roboto;
}

.ellipse {
  margin-left: 8px;
  margin-right: 8px;
}

.space-top {
  margin-top: 28px;
}

.bottom-line {
  margin-bottom: 25px;
}

.category-item {
  margin-bottom: 8px;
}

// Медиа-запросы.
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px),
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width : 414px),
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi)and (max-width:640px) {
  /* Styles */
}

.block-cards-franchises {
  gap: 16px;
  justify-content: center;
  padding-bottom: 24px;
  background: #F1F1F1;

  .card-franchise {
    padding: 0;
  }

  .block-cards-franchises-content {
    background: #F1F1F1;
  }
}

.card-left-centered {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

::ng-deep .p-carousel {
  max-width: calc(100% - 24px);
  // justify-content: space-between;
}

::ng-deep .p-dropdown {
  background: #F1F6FF;
}

::ng-deep .quick-search .p-inputtext {
  background: #F1F6FF;
  width: 149px;
  margin-right: 16px;
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
  background: #C8DBFF;
}

.block-card-img {
  display: block;
  width: 100%;
  padding-top: 12px;
  margin: 0 auto;
}

::ng-deep .p-carousel-item {
  max-width: 365px;
  // grid-gap: 20px !important;
}


::ng-deep {
  .p-card-body {
    padding: 1.5rem !important;
  }
}

.section-mb {
  margin-bottom: 5rem;
}

.business-world-img img {
  width: 100%;
}

::ng-deep {
  .p-inputtext {
    width: auto !important;
  }

  .quick-search-card {
    .p-card-header {
      padding: 0 .75rem;
    }
  }
}

.p-inputtext {
  max-width: 150px;
}

.block-cards-franchises-inner {
  padding: 1.5rem;
}

.quick-search-form {
  [class^=col] {
    margin: 1rem 0;
  }
}


@media (max-width: 1800px) {
  .three-cards-header {
    font-size: 1.25rem;
  }
}

@media (min-width: 1400px) and (max-width: 1700px) {
  .quick-search-form {
    [class^=col] {
      &:nth-child(1), &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
      &:nth-child(4) {
        width: 40%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .quick-search-card-holder {
    margin-bottom: 1.5rem;

    img {
      height: auto;
    }
  }
}

@media (max-width: 1080px) {
  .three-cards-header {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .p-inputtext {
    max-width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 788px) {
  .carousel-block {
    .title-franchise {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .carousel-block {
    flex-direction: column-reverse;

    .right {
      margin-bottom: 2.25rem;
    }

    [class^=col] {
      width: 100%;
    }
  }

  .baner-img {
    &:first-child {
      margin-bottom: 1.5rem;
    }
  }

  .ready-business-categories {
    [class^=col] {
      width: 100%;
    }

    .title-franchise {
      display: none;
    }

    .category-item {
      position: relative;

      .space-arrow-category {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .price-range-input {
    display: flex;
    justify-content: space-between;
  }

  .p-inputtext {
    max-width: 50%;
    width: 48% !important;
    margin: 0;
  }
}

@media (max-width: 486px) {
  .price-range-input {
    flex-direction: column;
  }

  .p-inputtext {
    max-width: 100%;
    width: 100% !important;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

::ng-deep {
  @media (max-width: 992px) {
    .card-business-holder {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .p-carousel {
      max-width: 100%;
    }

    .quick-search-form {
      .p-dropdown {
        width: 100%;
      }
    }
  }
}
