// @import "../../app.component.scss";
@import "/src/app/shared/styles/image-space.scss";
@import "/src/app/shared/styles/media-quaries.scss";
@import "/src/app/shared/styles/franchuse-styles.scss";

:host {
  .promo-block {
    > :first-child {
      width: 830px;
      margin-right:24px;
    }
  }
}

// Карусель.
.carousel-block {
  margin: auto;
}
.product-item:not(:last-child) {
  .product-item-content {
    border-radius: 3px;
    margin-right: 20px;
    text-align: center;
    padding: 0;
  }

  .product-image {
    // width: 50%;
    width: 100%;
    height: 162px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

.more-articles {
  margin: 0;
  background-color: #f1f1f1;
  height: 208px;
}

::ng-deep .more-articles .p-card {
  background: none;
}

.blog-item {
  max-width: 342px;
}

::ng-deep .blog-item .p-card-title {
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.cards-popup {
  margin: 0 10px;
}

::ng-deep .card-business {
  max-width: 100%;
}

.p-carousel-container {
  gap: 20px;
}

.more-info-btn {
  margin-right: 16px;
}

::ng-deep .business-garanteese .p-card {
  background: #f1f6ff;
}

::ng-deep .business-garanteese .p-card-content {
  padding: 0;
}
::ng-deep .p-card-content {
  padding: 0;
}
::ng-deep .p-card .p-card-body {
  margin: 0;
}

::ng-deep .business-garanteese .p-card .p-card-header {
  padding-bottom: 0;
  // margin-bottom: 16px;
  font-size: 18px;
}

::ng-deep .business-garanteese .p-card .p-card-footer {
  padding-top: 0;
  margin-top: 40px;
}

::ng-deep .business-garanteese .p-card .p-card-body {
  padding-top: 0;
}

// ::ng-deep .card-business .p-card-body {
//   background: #F1F1F1;
//   padding: 16px 24px;
// }

::bg-deep .p-card {
  width: 1440px !important;
}

::ng-deep .card-business .btn-dark {
  padding: 16px;
}
.block-cards-franchises {
  &:p-card-footer {
    background: #1f75fe;
  }
}
::ng-deep .card-line .p-card-body {
  // background: #F1F6FF;
  padding: 24px 16px 24px 16px;
  background-color: #f1f6ff;
}

::ng-deep .card-line .p-card-header {
  // background: #F1F6FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 24px 16px;
  background-color: #f1f6ff;
}

.close {
  border: none;
  background: none;
}

::ng-deep .p-card {
  box-shadow: none;
}

::ng-deep .card {
  border: none !important;
  background-color: rgba(218, 218, 218, 0.15)
}

.block-card-item {
  // background: white;
  width: 336px;
}

.btn-show-more {
  border: 1px solid;
  border-radius: 5px;
}

.baner {
  width: 100%;
  height: auto;
}

.block-baner {
  justify-content: space-between;
}

.title-news {
  font-size: 18px;
  font-family: Roboto;
}

.ellipse {
  margin-left: 8px;
  margin-right: 8px;
}

.space-top {
  margin-top: 28px;
}

.bottom-line {
  margin-bottom: 25px;
}

.category-item {
  margin-bottom: 8px;
}

// Медиа-запросы.
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  ::ng-deep .right {
    .p-card-title {
      font-size: 14px !important;
    }
  }
  .right-block-img {
    width: 61px;
    height: 91px;
    margin: 0 20px 0 10px;
  }
  .right-images {
    width: 100%;
  }
  ::ng-deep .card-business .p-card-body {
    // background: #F1F1F1;
    padding: 16px 0px;
    .p-card-content {
      padding: 0;
    }
    .business-text {
      font-size: 14px;
      min-height: 84px;
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (max-device-width: 667px),
  only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px),
  only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi) and (max-width: 640px) {
  /* Styles */
}

// Быстрый поиск

.title-franchise-Search {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #2c2c2c;
  padding: 0;
}
.quick-search {
  width: 74rem;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  position: static;
  background: #f1f6ff;
  border-radius: 8px;
  .bg {
    margin-bottom: 20px;
  }
  ::ng-deep .p-card-body .p-card-content {
    padding: 0;
  }
  .block-cards-franchises-bg {
    width: 100%;
  }
  .quick-search-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #2C2C2C;
  }
  
  ::ng-deep {
    .p-dropdown-label {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    .p-dropdown-clear-icon {
      display: none;
    }
    .p-dropdown-trigger {
      color: #1f75fe;
    }
    .p-inputswitch-slider {
      width: 79px;
      height: 47px;
      margin-top: -6px;
    }
    .p-inputswitch-slider:before {
      width: 42px;
      height: 42px;
      margin-top: -21px;
    }
    .p-inputtext {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
      height: 48px;
      margin: auto 0;
    }
  }
  .quick-search-form {
    ::ng-deep .price-range .d-inline-block{
      p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #2C2C2C;
      }
    }
    [class^="col"] {
      margin: 0px;
      font-size: 18px;
      text-align: start;
    }
  }
  .img-search {
    width: 1px;
    background:#F1F6FF;
    padding: 0;
    margin: 0 14px;
    
  }

  .price-range-wrapper {
    width: 23.5%;
    padding: 0;
    margin: -9px 0px 0 0;
    .price-range-input {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
    }
    .wrapper-slider {
      display: none;
      width: 314px;
      height: 28px;
      margin-top: 16px;
    }
  }
  .quick-search-form {
    padding: 0 16px;
    justify-content: space-between;
    .price-range {
      width: 15%;
      padding: 0;
      margin: -9px 0px 0 0;
    }
    .price-range-input {
      padding: 0;
      font-size: 14px;
    }
  }
  .quick-search5 {
    width: 15%;
    padding: 0;
  }
  
}
.line-searsh-horisontal {
  display: none;
}
// Быстрый поиск блок с картинками.
.block-cards-franchises-inner {
  background: #f1f6ff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.block-cards-franchises {
  margin-bottom: 24px;
}

::ng-deep .quick-search-card-holder .ng-star-inserted {
  display: flex;
  flex-direction: column;
  max-height: 375px;
}
::ng-deep .p-card-shadow {
  padding-top: 12px;
  .p-card-body {
    .p-card-title {
      font-size: 18px;
      background: #ffffff;
    }
    .p-card-subtitle {
      background: #ffffff;
    }
  }
}
::ng-deep .card-left-centered {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.block-card-img {
  border: 1px solid black;
  height: 163px;
  display: block;
  width: 100%;
  // margin-top: 12px;
  margin: 0 auto 12px;
}
.franchise-wraper-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: revert;
}
.price-range {
  width: 20%;
}
.btn-dark-left {
  width: 45%;
  padding: 9px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  background: #f1f6ff;
  color: #1f75fe;
}
.btn-dark-right {
  width: 51%;
  background: #1f75fe;
  padding: 5px 0;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.show-btn {
  border: none;
  border-radius: 43px;
  // margin-top: 3rem;
  padding: 16px 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1f75fe;
  background: #ffffff;
}
::ng-deep .p-carousel {
  max-width: calc(100% - 24px);
  // justify-content: space-between;
}

::ng-deep .p-dropdown {
  background: #f1f6ff;
}

::ng-deep .quick-search .price-range-input {
  width: 149px;
  background: #ffffff;
  @media (min-width: 992px) and (max-width: 1200px) {
    width: 24rem;
    input {
      max-width: 49%;
    }
  }
}

::ng-deep .p-inputswitch .p-inputswitch-slider {
  background: #c8dbff;
}

::ng-deep .p-carousel-item {
  max-width: 365px;
  // grid-gap: 20px !important;
}

::ng-deep {
  .p-card-body {
    padding: 1.5rem;
  }
}

.section-mb {
  margin-bottom: 5rem;
}

.business-world-img img {
  width: 100%;
}

::ng-deep {
  // .p-inputtext {
  //   width: auto !important;
  // }

  .quick-search-card {
    .p-card-header {
      padding: 0 0.75rem;
    }
  }
}

.p-inputtext {
  max-width: 48%;
  background: #f1f6ff;
}

    .price-range-input {
      width: 16rem;
    }
  
  .quick-search {
    border: none;
  }
  .quick-search-form:last-child {
    .control-quick-search {
      text-align: start;
    }
  }

.ready-business-categories .title-franchise {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    display: none;
  }
}
// Адаптив для блока с поиском
@media only screen and (min-device-width: 992px) and (max-device-width: 1200px) {
  .quick-search {
    width: 100%;
    padding: 24px;
    flex-direction: column;
  .bg {
    margin-bottom: 20px;
  }
  .quick-search-form {
    .price-range {
      // margin-bottom: 20px;
      width: 30%;
      justify-content: space-between;
      }
    }
    .price-range-wrapper {
      width: 65%;
    }
    .quick-search5 {
      width: 30%;
    }
  }
  
  .control-quick-search2 {
    max-width: 75%;
  }
  ::ng-deep .p-dropdown-clearable {
    margin-bottom: 30px;
  }
  .img-search--none {
    display: none;
  }
  .price-range-wrapper {
  
    input {
      width: 46%;
      margin: 0;
    }
  }
  .block-cards-franchises-inner {
    margin-bottom: 0;
    overflow: auto;
  }
  .show-btn {
    margin-top: 0;
  }
  .wrapper-slider {
    display: none;
  }
  .line-searsh-horisontal {
    display: flex;
    color:#7e9dd8;
    margin: 16px 0;
  }
}
::ng-deep .p-dropdown-clearable {
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 6px;
}
@media (max-width: 1800px) {
  .three-cards-header {
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 536px) and (max-device-width: 980px) {
  /* Styles */
  .show-btn {
    margin-top: 0;
  }
  .quick-search {
    width: 100%;
    padding: 24px;
    flex-direction: column;
  
    .bg {
      margin-bottom: 20px;
    }
  .control-quick-search {
    font-size: 17px;
  }
    .quick-search-form {
      .price-range {
        // margin-bottom: 20px;
        width: 30%;
        justify-content: space-between;
      }
      .img-search {
        margin: 0;
      }
    }
  
    .price-range-wrapper {
      width: 65%;
    }
  
    .quick-search5 {
      width: 30%;
    }
  }
  .price-range-wrapper {
    max-width: 66%;
  }
  
  .img-search--none {
    display: none;
  }
  .block-cards-franchises-inner {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-bottom: 24px;
    .gar-card {
      width: 48%;
      margin: 5px;
    }
  }
  .line-searsh-horisontal {
    display: flex;
    color: #7e9dd8;
    margin: 16px 0;
  }
  .show-btn {
    margin-top: 0;
    background: #FFFFFF;
    color: #1f75fe;
    margin-bottom: 16px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 535px) {
  .price-range-input {
    .p-inputtext {
      width: 49% !important;
      max-width: 49%;
      margin-bottom: 10px;
    }
  }
  .franchise-wraper-btn {
    display: flex;
    flex-direction: column;
  }
  .btn-dark-left {
    width: 100% !important;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card-business-holder {
    max-width: 100%;
    padding: 0;
    .card-business-content {
      padding: 8px;
    }
  }
  .quick-search {
    width: 100%;
    padding: 16px;
    flex-direction: column;
    .card-demo-list {
      margin: auto;
    }
    .img-search {
      width: 100%;
      background: #F1F6FF;
      padding: 0;
      margin: 14px 0;
      height: 1px;
    }
    .img-search--horizontal {
      display: none;
    }
    .quick-search-form {
      .price-range {
        width: 100%;
      }
      .price-range-wrapper {
        max-width: 100%;
        width: 100%;
        .price-range-input {
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
    }
  }
  .quick-search-form:last-child {
    .control-quick-search {
      text-align: start;
    }
  }
  .block-cards-franchises {
    width: 95%;
    margin: auto;
    margin-bottom: 8px;
    .block-cards-franchises-inner {
      margin-bottom: 8px;
    }
  }

  .btn-dark-right {
    width: 100% !important;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .show-btn {
    margin-top: 0;
    background: #FFFFFF;
    color:#1f75fe;
  }
  .control-quick-search {
    text-align: start;
  }
  .quick-search5 {
    display: none;
    width: 100%;
  
    .control-quick-search2 {
      text-align: start;
    }
  }
//   ::ng-deep .gar-card {
//   .gar-row {
//     flex-direction: column;
//     .gar-row-item {
//       margin-bottom: 8px;
//     }
//   }
// }
  .block-cards-franchises-inner {
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  
    .gar-card {
      width: 100%;
      margin: 5px auto;

    }
  }
}
@media (min-width: 1441px) and (max-width: 1700px) {
  .quick-search-form {
    [class^="col"] {
      &:nth-child(1),
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
      &:nth-child(4) {
        width: 30%;
      }
    }
  }
  
}

@media (max-width: 1200px) {
  .quick-search-card-holder {
    margin-bottom: 1.5rem;

    img {
      height: auto;
    }
  }
}

@media (max-width: 1080px) {
  .three-cards-header {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .carousel-block {
    flex-direction: column-reverse;

    .right {
      margin-bottom: 2.25rem;
    }

    [class^="col"] {
      width: 100%;
    }
  }
}



@media (min-width: 768px) and (max-width: 788px) {
  .carousel-block {
    .title-franchise {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 768px) {
  .baner-img {
    &:first-child {
      margin-bottom: 1.5rem;
    }
  }

  .ready-business-categories {
    [class^="col"] {
      width: 100%;
    }

    .title-franchise {
      img {
        display: block;

        &.rotated {
          transform: rotate(90deg);
          transition: transform 0.5s;
        }
      }
    }
    
    .title-franchise + div {
      display: none;
    }

    .category-item {
      position: relative;

      .space-arrow-category {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .price-range-input {
    display: flex;
    justify-content: space-between;
  }

  .p-inputtext {
    max-width: 50%;
    width: 48% !important;
    margin: 0;
  }
}

@media (max-width: 486px) {
  .price-range-input {
    flex-direction: column;
  }

  .p-inputtext {
    max-width: 100%;
    width: 100% !important;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

::ng-deep {
  @media (max-width: 1080px) {
    .p-carousel-item {
      flex: 1 0 70% !important;
    }
  }

  @media (max-width: 992px) {
    .card-business-holder {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    .p-carousel-item {
      flex: 1 0 80% !important;
    }
  }

  @media (max-width: 768px) {
    .p-carousel {
      max-width: 100%;
    }

    // .quick-search-form {
    //   .p-dropdown {
    //     width: 100%;
    //   }
    // }
  }
}

// 3 карточки
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

/* You can add global styles to this file, and also import other style files */
// общие стили
.app-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto !important;

  @media (max-width: 1440px) {
    width: 96%;
    margin: 0 1.5rem !important;
  }

  @media (max-width: 1080px) {
    width: calc(100% - 10rem);
    margin: 0 5rem !important;
  }

  @media (max-width: 576px) {
    width: calc(100% - 2.5rem);
    margin: 0 1.25rem !important;
  }
}

// общие стили
// Блок бизнес с тремя карточками
.section-mb {
  margin: auto auto 5rem auto !important;
}

.card-business-holder {
  .p-element {
    width: 65%;
  }

  .three-cards-header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .card {
    min-height: 100%;
    padding-left: 24px;
    background-color: rgba(218, 218, 218, 0.15);
  }

  .wrapper-businness {
    display: flex;
  }

  .card-business {
    min-height: 335px;
    display: flex;
    flex-wrap: wrap;

    padding: 0;
  }

  .card-business-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h5 {
    max-width: 78%;
    min-height: 58px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 21px;
    color: #2c2c2c;
  }

  .business-text {
    font-size: 0.7rem;
    height: 122px;
  }

  .btn-dark {
    align-items: flex-end;
    width: 10rem;
    height: 53px;
    padding: 10px;
    background: #1f75fe;
  }

  .p-card-body {
    padding: 0 !important;
  }

  .image-business-content {
    min-width: 30%;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: rgba(218, 218, 218, 0.15);
  }
  @media only screen and (min-device-width: 981px) and (max-device-width: 1024px) {
  
    /* Styles */
    .three-cards-header {
      font-size: 1rem !important;
      line-height: 0.9rem;
    }
  
    .card-business-holder {
      .p-element {
        width: 77%;
      }
    }
  
    .image-business-content {
      display: none;
  
      img {
        display: none;
      }
    }
  }
  
  @media only screen and (min-device-width: 720px) and (max-device-width: 980px) {
    .three-cards-header {
      font-size: 1rem;
    }
  
    .image-business-content {
      display: none;
  
      img {
        display: none;
      }
    }
  
    .business-text {
      margin-bottom: 20pxpx;
      height: 110px;
    }
    .quick-search {
      flex-direction: column;
    }
    .card-business-content {
      padding-top: 15px;
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .p-element {
      width: 80%;
    }
  
    .card-business {
      .three-cards-header {
        font-size: 0.9rem;
      }
    }
  
    h5 {
      max-width: 99%;
    }
  
    .wrapper-business {
      height: 305px;
    }
  
    .card {
      padding-left: 10px;
    }
  
    .p-card-content {
      padding: 15px 0 8px !important;
    }
  
    .business-text {
      margin-bottom: 50px;
      height: 110px;
    }
  }
  .secondary {
    max-width: 100%;
  }
  }
  
  @media only screen and (min-device-width: 720px) and (max-device-width: 980px) {
    .card-business-holder {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        width: 50%;
      }
    }
  }
:host {
  @media only screen and (min-device-width: 720px) and (max-device-width: 980px) {
    .row .section-mb {
      display: flex;
    }
  }
}