<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="d-flex garant">
  <!-- Блок с каруселью. -->
<div class="col-lg-8">
  <p-carousel [value]="products" [numVisible]="2" [numScroll]="2" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h5>Недавно приобрели</h5>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3">
                    <!-- <img src="" class="product-image" /> -->
                    <img src="../../../assets/images/Rectangle 20.png" class="product-image">
                </div>
                <div>
                  <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
                    [style]="{width: '300px'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                      <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
                    </ng-template>
                    <strong>Сумма сделки: 12 500 000 ₽</strong>
                    <ng-template pTemplate="footer">
                      <!-- <p-button label="Save" icon="pi pi-check"></p-button>
                          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
                    </ng-template>
                  </p-card>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
</div>

<div class="col-lg-4">
  <h5>Покупка бизнеса с гарантиями</h5> 
  <p-card header="Покупка бизнеса любого размера онлайн с гарантиями" subheader="" [style]="{width: '300px'}" styleClass="card">
    <ng-template pTemplate="header">
      <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      <!-- <h5>Покупка бизнеса любого размера онлайн с гарантиями</h5> -->
    </ng-template>
    <p>Первый в мире сервис с функцией приобретитения франшизы или готового бизнеса онлайн и без опасений
    </p>
    <ng-template pTemplate="footer">
      <!-- <p-button label="Подробнее" icon="" styleClass="p-button-dark"></p-button> -->
      <button class="btn btn-dark">Подробнее</button>
      <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
      </p-button> -->
    </ng-template>
  </p-card>
</div>
</div>

<!-- Область с 3 карточками. -->
<div class="d-flex three-cards">
  <div class="col-lg-4 card-business">
    <p-card header="Подберите подходящий бизнес" subheader="Получите подборку подходящих бизнесов" [style]="{width: '300px'}" styleClass="card">
      <ng-template pTemplate="header">
        <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      </ng-template>
      <p>Пройдите краткий опрос, на основе вашего опыта, навыков и знаний мы предложим вам подходящий бизнес в форме готового бизнеса или франшиз.
      </p>
      <ng-template pTemplate="footer">
        <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
        <button class="btn btn-dark">Начать</button>
        <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
        </p-button> -->
      </ng-template>
    </p-card>
  </div>

  <div class="col-lg-4 card-business">
    <p-card header="Продайте свой бизнес" subheader="Вы можете продать свой бизнес" [style]="{width: '300px'}" styleClass="card">
      <ng-template pTemplate="header">
        <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      </ng-template>
      <p>Все что вам нужно - выложить объявление в нашем каталоге, после проверки модераторами мы выложим его в общий доступ.
      </p>
      <ng-template pTemplate="footer">
        <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
        <button class="btn btn-dark">Продать</button>
        <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
        </p-button> -->
      </ng-template>
    </p-card>
  </div>

  <div class="col-lg-4 card-business">
    <p-card header="Создайте свою франшизу" subheader="Закажите упаковку франшизы у нас" [style]="{width: '300px'}" styleClass="card">
      <ng-template pTemplate="header">
        <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
      </ng-template>
      <p>Если ваш готовый бизнес уже имеет открытые филиалы или вы собираетесь заводить таковые, то вы с уверенностью можете оставлять заявку.
      </p>
      <ng-template pTemplate="footer">
        <!-- <p-button label="Save" icon="pi pi-check"></p-button> -->
        <button class="btn btn-dark">Упаковать</button>
        <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}">
        </p-button> -->
      </ng-template>
    </p-card>
  </div>
</div>

<div class="col-lg-12 col-xs-12 garant card-line">
  <p-card class="">
    <ng-template pTemplate="header">
        <strong>Вы можете приобрести бизнес с гарантиями</strong>
    </ng-template>
    <p>
      Воспользовавшись нашим сервисом вы сможете провести безопасную сделку через интернет, провести все средства онлайн и стать полноправным владельцем бизнеса уже сегодня.
    </p>
    <ng-template pTemplate="footer">
      <div class="d-flex">
        <div>
          <button class="btn btn-secondary">Не интересно</button>
        </div>
        
        <div class="ml-1">
          <button class="btn btn-dark">Подробнее</button>
        </div>
      </div>
    </ng-template>
</p-card>
</div>

<!-- Секция быстрого поиска. -->
<div class="gray">
  <div class="col-lg-12 col-xs-12 garant">
    <h5>Быстрый поиск</h5>
    <p-card class="">
      <ng-template pTemplate="header">
          
      </ng-template>
  
      <div class="d-flex">
        <div>
          <strong>Вид бизнеса</strong><br>
          <p-dropdown placeholder="Готовый бизнес" [showClear]="true"></p-dropdown>
        </div>
    
        <div class="control-quick-search">
          <strong>Категория</strong><br>
          <p-dropdown placeholder="Медицинский центр" [showClear]="true"></p-dropdown>
        </div>
    
        <div class="control-quick-search">
          <strong>Город</strong><br>
          <p-dropdown placeholder="Москва" [showClear]="true"></p-dropdown>
        </div>
    
       <div class="d-flex">
        <div class="control-quick-search">
          <strong>Стоимость</strong><br>
          <input type="text" pInputText placeholder="от 100 000 ₽" />
        </div>
  
        <div class="">      
          <strong></strong><br>
          <input type="text" pInputText placeholder="до 100 000 000 ₽" />
        </div>
  
        <!-- <p-slider [(ngModel)]="rangeNumber"></p-slider> -->
        <!-- <p-slider [(ngModel)]="rangeNumber" [min]="0" [max]="100"></p-slider> -->
       </div>
  
        <div class="control-quick-search">      
          <strong>Покупка через гарант</strong><br>
          <p-inputSwitch [(ngModel)]="isGarant"></p-inputSwitch>
        </div>
      </div>
  
      <ng-template pTemplate="footer">
        
      </ng-template>
  </p-card>

  <div class="col-lg-12 col-xs-12 d-flex">
    <div class="col-lg-3">
      <div class="card-demo-list">
        <p-card class="">
          <ng-template pTemplate="header">
              <strong>Вы можете приобрести бизнес с гарантиями</strong>
          </ng-template>
          <p>
            Воспользовавшись нашим сервисом вы сможете провести безопасную сделку через интернет, провести все средства онлайн и стать полноправным владельцем бизнеса уже сегодня.
          </p>
          <ng-template pTemplate="footer">
            <div class="d-flex">                 
              <div class="ml-1">
                <button class="btn btn-dark">Подробнее</button>
              </div>
            </div>
          </ng-template>
      </p-card>
      </div>
    </div>
  
    <div class="col-lg-3">
      <div class="card-demo-list">
        <p-card class="">
          <ng-template pTemplate="header">
              <strong>Вы можете приобрести бизнес с гарантиями</strong>
          </ng-template>
          <p>
            Воспользовавшись нашим сервисом вы сможете провести безопасную сделку через интернет, провести все средства онлайн и стать полноправным владельцем бизнеса уже сегодня.
          </p>
          <ng-template pTemplate="footer">
            <div class="d-flex">                 
              <div class="ml-1">
                <button class="btn btn-dark">Подробнее</button>
              </div>
            </div>
          </ng-template>
      </p-card>
      </div>
    </div>
  
    <div class="col-lg-3">
      <div class="card-demo-list">
        <p-card class="">
          <ng-template pTemplate="header">
              <strong>Вы можете приобрести бизнес с гарантиями</strong>
          </ng-template>
          <p>
            Воспользовавшись нашим сервисом вы сможете провести безопасную сделку через интернет, провести все средства онлайн и стать полноправным владельцем бизнеса уже сегодня.
          </p>
          <ng-template pTemplate="footer">
            <div class="d-flex">                 
              <div class="ml-1">
                <button class="btn btn-dark">Подробнее</button>
              </div>
            </div>
          </ng-template>
      </p-card>
      </div>
    </div>
  
    <div class="col-lg-3">
      <div class="card-demo-list">
        <p-card class="">
          <ng-template pTemplate="header">
              <strong>Вы можете приобрести бизнес с гарантиями</strong>
          </ng-template>
          <p>
            Воспользовавшись нашим сервисом вы сможете провести безопасную сделку через интернет, провести все средства онлайн и стать полноправным владельцем бизнеса уже сегодня.
          </p>
          <ng-template pTemplate="footer">
            <div class="d-flex">                 
              <div class="ml-1">
                <button class="btn btn-dark">Подробнее</button>
              </div>
            </div>
          </ng-template>
      </p-card>
      </div>
    </div>
  </div>
  </div>

  <div class="col-lg-12 col-xs-12 d-flex justify-content-center card-demo-list">
    <button class="btn btn-default text-center btn-show-more">Показать ещё</button>
  </div>
</div>

<!-- Область с банерами (2 картинки). -->
<div class="d-flex block-baner garant">
  <img class="baner" src="../../../assets/images/Rectangle 13.png">
  <img class="baner" src="../../../assets/images/Rectangle 14.png">
</div>

<!-- Популярные франшизы. -->
<h5 class="garant">Популярные франшизы</h5>
<div class="d-flex popular-list">
  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>
</div>

<!-- Новые объявления готового бизнеса. -->
<h5 class="garant">Новые объявления готового бизнеса</h5>
<div class="d-flex popular-list">
  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader="Готовый бизнес 24 дня на портале"
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <strong>Сумма сделки: 12 500 000 ₽</strong>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>
</div>

<!-- Бизнес блог. -->
<h5 class="garant">Бизнес блог</h5>
<div class="d-flex popular-list">
  <div class="">
    <p-card header="Название готового бизнеса" subheader=""
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <!-- <strong>Сумма сделки: 12 500 000 ₽</strong> -->
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader=""
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <!-- <strong>Сумма сделки: 12 500 000 ₽</strong> -->
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Название готового бизнеса" subheader=""
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <img src="../../../assets/images/Rectangle 20.png">
    </ng-template>
    <!-- <strong>Сумма сделки: 12 500 000 ₽</strong> -->
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>

  <div class="">
    <p-card header="Больше статей" subheader=""
    [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
      <!-- <img src="../../../assets/images/Rectangle 20.png"> -->
    </ng-template>
    <!-- <strong>Сумма сделки: 12 500 000 ₽</strong> -->
    <div class="d-flex">
      <p>Перейдите в наш блог и найдите
        там массу полезной информации.</p>
        <img src="../../../assets/images/Frame 66.png" height="32">
    </div>
    <ng-template pTemplate="footer">
      
    </ng-template>
  </p-card>
  </div>
</div>

<!-- Новости делового мира. -->
<h5 class="garant">Новости делового мира</h5>
<div class="d-flex">
  <div>
    <img src="../../../assets/images/Frame 31.png">
  </div>

  <div>
    <div class="news-item space-left-item">
      <img src="../../../assets/images/fire.png">
      <strong class="title-news">Открывается новая франшиза кофеен при поддержке СберБанка.</strong>
      <div class="bottom-line">
        <small>12:51</small>
        <img class="ellipse" src="../../../assets/images/Ellipse 13.png">
        <small>Сегодня</small>
        <img class="ellipse" src="../../../assets/images/Ellipse 13.png">
        <small>франчайзинг</small>
      </div>
    </div>

    <div class="news-item space-left-item space-top">
      <img src="../../../assets/images/fire.png">
      <strong class="title-news">Открывается новая франшиза кофеен при поддержке СберБанка.</strong>
      <div class="bottom-line">
        <small>12:51</small>
        <img class="ellipse" src="../../../assets/images/Ellipse 13.png">
        <small>Сегодня</small>
        <img class="ellipse" src="../../../assets/images/Ellipse 13.png">
        <small>франчайзинг</small>
      </div>
    </div>
  </div>
</div>

<!-- Категории готового бизнеса. -->
<div>
  <div class="d-flex">
    <div class="col-lg-3 col-xs-12">
      <h5 class="garant">Новости делового мира</h5>
     <div class="category-block-first">
      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/search-engine 1.png">
        <span>Биржа сайтов и доменов</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>     
     </div>
    </div>

    <!-- 2 столбец -->
    <div class="col-lg-3">
      <div class="garant">&nbsp;</div>
      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>
    </div>

    <!-- 3 cnjk,tw -->
    <div class="col-lg-3 col-xs-12">
      <h5 class="garant">Категории франшиз</h5>
     <div class="category-block-second">
      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/car 1.png">
        <span>Авто</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/search-engine 1.png">
        <span>Биржа сайтов и доменов</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>
     </div>
    </div>

    <!-- 4 столбец -->
    <div class="col-lg-3">
      <div class="garant">&nbsp;</div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>

      <div class="category-item">
        <img class="space-right-image-category" src="../../../assets/images/medical-insurance 1.png">
        <span>Здоровье и красота</span>
        <img class="space-right-image-category space-arrow-category" src="../../../assets/images/Arrow 1.png">
      </div>
    </div>
  </div>
</div>
</body>

</html>