<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="footer">
    <div class="container d-flex justify-content-between before">
      <div>
        <img src="../../../assets/images/search_logo.svg">
      </div>

      <div>
        <img src="../../../assets/images/telega.svg">
        <img class="space-intgr" src="../../../assets/images/facebook.svg">
        <img class="space-intgr" src="../../../assets/images/SocialMedia.svg">
        <img class="space-intgr" src="../../../assets/images/youtube.svg">
      </div>
    </div>

    <!-- Пункты футера. -->
    <div class="container d-flex justify-content-between">
      <div>
        <div class="block-col-footer">
          <div *ngFor="let el of aFooterColumn1">
            <h4 class="big-title">{{el.title}}</h4>
            <a href="#" class="footer-link">{{el.name}}</a>
          </div>
        </div>
      </div>

      <!-- Проекты. -->
      <div>
        <div class="block-col-footer">
          <div *ngFor="let el of aFooterColumn2">
            <h4 class="big-title">{{el.title}}</h4>
            <a href="#" class="footer-link">{{el.name}}</a>
          </div>
        </div>
      </div>

      <!-- GoBizy. -->
      <div>
        <div class="block-col-footer">
          <div *ngFor="let el of aFooterColumn3">
            <h4 class="big-title">{{el.title}}</h4>
            <a href="#" class="footer-link">{{el.name}}</a>
          </div>
        </div>
      </div>

      <!-- Политика. -->
      <div>
        <div class="block-col-footer">
          <div *ngFor="let el of aFooterColumn4">
            <h4 class="big-title">{{el.title}}</h4>
            <a href="#" class="footer-link">{{el.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
