<div class="footer">
  <div class="app-container">
    <div class="footer-main">
      <a href="#" class="footer-logo">
        <gar-icon class="footer-logo-pic" name="search_logo"></gar-icon>
      </a>

      <div class="footer-social">
        <div *ngFor="let item of socialItems" class="footer-social-item" [ngClass]="'footer-social-item_' + item.name" itemscope itemtype="http://schema.org/Organization">
          <link itemprop="url" href="{{ item.link }}">
          <gar-icon class="footer-social-item-icon" name="{{item.name}}"></gar-icon>
          <a href="{{ item.link }}" class="footer-social-link" itemprop="sameAs"></a>
        </div>
      </div>

      <nav class="footer-nav">
        <details class="footer-nav-col" [open]="!isMobile" *ngFor="let col of aFooter">
          <ng-container *ngFor="let el of col; let first = first">
            <summary class="footer-nav-item-title" *ngIf="first">
              {{el.title}}

              <gar-icon class="footer-nav-item-arrow" name="arrow-right"></gar-icon>
            </summary>

            <div class="footer-nav-item-link">
              <a href="#" *ngIf="!el.isPlace" [ngClass]="{'target-place':el.isPlace}">{{el.name}}</a>
            </div>
          </ng-container>
        </details>
      </nav>

      <div class="footer-add">
        <a [routerLink]="['/ad/create']" class="footer-add-link">Разместить объявление</a>
      </div>
    </div>
  </div>
</div>
