@import 'design';

.footer {
    background-color: $clrFooter;
    padding: 24px 0;

    @include tablet {
        padding: 32px 0;
    }

    @include desktop {
        padding: 64px 0;
    }

    &-main {
        @include tablet-small {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "logo social" "nav nav";
        }
    }

    &-logo {
        $logoWidth: 128px;
        $logoHeight: 48px;

        grid-area: logo;
        display: block;
        width: $logoWidth;
        height: $logoHeight;

        &-pic {
            width: $logoWidth;
            height: $logoHeight;
        }
    }

    &-social {
        grid-area: social;

        display: flex;
        justify-content: space-between;

        margin-top: 12px;

        @include tablet-small {
            gap: 24px;
            justify-content: flex-end;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            width: 40px;
            height: 40px;
            fill: $clrMidGray;

            &_telegram {
                &:hover {
                    fill: $clrTelegram;
                }
            }

            &_facebook {
                &:hover {
                    fill: $clrFacebook;
                }
            }

            &_instagram {
                &:hover {
                    fill: $clrInstagram;
                }
            }

            &_youtube {
                &:hover {
                    fill: $clrYoutube;
                }
            }

            &-icon {
                width: 100%;
                height: 100%;
            }
        }

        &-link {
            position: absolute;
            inset: 0;
        }
    }

    &-nav {
        grid-area: nav;

        @include tablet-small {
            display: grid;
            grid-template-columns: repeat(4, minmax(92px, 212px));
            justify-content: space-between;
            margin-top: 30px;
        }

        @include tablet {
            margin-top: 40px;
        }

        @include desktop {
            margin-top: 64px;
        }

        &-col {
            border-bottom: 1px solid rgba($clrMidGray, .55);

            @include tablet-small {
                border-bottom: none;
            }
        }

        &-item {
            &-title {
                @include typo('regular-bold');

                position: relative;
                padding: 16px 0;
                list-style: none;

                &::marker,
                &::-webkit-details-marker {
                    display: none;
                }

                @include tablet-small {
                    padding: 0;
                    cursor: default;
                    pointer-events: none;
                }

                @include tablet {
                    @include typo('texthead-bold');
                }
            }

            &-link {
                @include tablet-small {
                    margin: 24px 0;
                }

                &:last-child {
                    margin-bottom: 16px;
                }

                a {
                    @include typo('description');

                    color: $clrDarkGray;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include tablet {
                        @include typo('secondary');
                    }
                }
            }

            &-arrow {
                position: absolute;
                top: 50%;
                right: 0;

                width: 9px;
                height: 16px;

                background-color: $clrMidGray;
                transform: translateY(-50%);

                @include tablet-small {
                    display: none;
                }

                &-pic {
                    width: 9px;
                    height: 16px;
                }
            }
        }
    }

    &-add {
        margin-top: 24px;

        @include tablet-small {
            margin-top: 0;
        }

        &-link {
            @include typo('secondary');

            color: $clrBlue;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
